Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

add Interdependencies word (#1859)
  .github/styles/Vocab/FluxNinja/accept.txt
Due: none

update vale dict (#1863)
  .github/styles/Vocab/FluxNinja/accept.txt
  .github/workflows/languagetool.yaml
  .github/workflows/openai-review.yml
  .github/workflows/vale.yml
Due: none

Fixed broken links in README (#1866)
  README.md
Due: none

replace word `bot` with `crawler` (#1868)
  .github/styles/Vocab/FluxNinja/reject.txt
  .vscode/ltex.hiddenFalsePositives.en-US.txt
  docs/content/concepts/flow-control/flow-label.md
  docs/content/get-started/playground/playground.md
  playground/scenarios/auto_scaling/load_generator/test.js
  playground/scenarios/feature_rollout/load_generator/test.js
  playground/scenarios/rate_limiting_escalation/load_generator/test.js
  playground/scenarios/rate_limiting_escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation/policies/service1-demo-app.yaml
  playground/scenarios/rate_limiting_escalation_kong/load_generator/test.js
  playground/scenarios/rate_limiting_escalation_kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_kong/policies/service1-demo-app.yaml
  playground/scenarios/rate_limiting_escalation_nginx/load_generator/test.js
  playground/scenarios/rate_limiting_escalation_nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_nginx/policies/service1-demo-app.yaml
Due: updated-aperture-docs

Make Control Point Name mandatory in all Java SDK flavors (#1827)
  docs/content/get-started/integrations/flow-control/sdk/java/armeria.md
  docs/content/get-started/integrations/flow-control/sdk/java/auto-instrumentation.md
  docs/content/get-started/integrations/flow-control/sdk/java/netty.md
  sdks/aperture-java/dockerfiles/javaagent/armeria/Dockerfile
  sdks/aperture-java/dockerfiles/javaagent/netty/Dockerfile
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/SpringBootApp.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/controller/AppController.java
  sdks/aperture-java/examples/tomcat-example/src/main/webapp/WEB-INF/web.xml
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClientBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPServiceBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClientBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCServiceBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/version.gradle.kts
Due: updated-aperture-docs

Enable removing aperture agent connection timeout in java SDK (#1865)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
Due: none

Refactor overload confirmation (#1867)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/adaptiveloadschedulerins.libsonnet
  blueprints/policies/service-protection/base/policy.libsonnet
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/graph.mmd
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/graph.mmd.md5sum
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/graph.mmd.svg
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/policy.yaml
  docs/content/applying-policies/rate-limiting/graphql-rate-limiting.md
  docs/content/applying-policies/service-protection/assets/basic-service-protection/graph.mmd
  docs/content/applying-policies/service-protection/assets/basic-service-protection/graph.mmd.md5sum
  docs/content/applying-policies/service-protection/assets/basic-service-protection/graph.mmd.svg
  docs/content/applying-policies/service-protection/assets/basic-service-protection/policy.yaml
  docs/content/applying-policies/service-protection/assets/workload-prioritization/graph.mmd
  docs/content/applying-policies/service-protection/assets/workload-prioritization/graph.mmd.md5sum
  docs/content/applying-policies/service-protection/assets/workload-prioritization/graph.mmd.svg
  docs/content/applying-policies/service-protection/assets/workload-prioritization/policy.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/policies/controlplane/components/flowcontrol/loadscheduler/adaptive-load-scheduler.go
  playground/scenarios/auto_scaling/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/basic_service_protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/rate_limiting_escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload_prioritization/policies/workload-prioritization-cr.yaml
Due: updated-aperture, updated-aperture-docs

Update GitHub workflows (#1870)
  .github/workflows/languagetool.yaml
  .github/workflows/openai-review.yml
  .github/workflows/vale.yml
Due: none

Weighted scenario (#1874)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/label_matcher.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/otelcollector/consts/consts.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  playground/resources/demo-app/app/app.go
  playground/scenarios/demo-app-fan-in/dashboards/main.jsonnet
  playground/scenarios/demo-app-fan-in/load_generator/test.js
  playground/scenarios/demo-app-fan-in/metadata.json
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection.yaml
Due: updated-aperture, updated-aperture-docs

Changed the CR file generation for scenarios (#1878)
  playground/scenarios/auto_scaling/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/basic_service_protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/feature_rollout/policies/feature-rollout-cr.yaml
  playground/scenarios/graphql_query_static_rate_limiting/policies/graphql-static-rate-limiting-cr.yaml
  playground/scenarios/rabbitmq_queue_buildup/policies/service1-demoapp-rabbitmq-queue-buildup-cr.yaml
  playground/scenarios/rate_limiting_escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/static_rate_limiting/policies/static-rate-limiting-cr.yaml
  playground/scenarios/workload_prioritization/policies/workload-prioritization-cr.yaml
  playground/scripts/render-policy.sh
  scripts/precommit/generate_playground_policies.sh
Due: none

Playground: Prometheus scenario with workload prioritization policy (#1872)
  .pre-commit-config.yaml
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
  pkg/policies/flowcontrol/service/envoy/authz-labels.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  playground/Tiltfile
  playground/resources/demo-app/app/app.go
  playground/resources/demo-app/app/counter.go
  playground/resources/demo-app/go.mod
  playground/resources/demo-app/go.sum
  playground/scenarios/auto_scaling/values.yaml
  playground/scenarios/prometheus_workload_prioritization/dashboards/main.jsonnet
  playground/scenarios/prometheus_workload_prioritization/load_generator/test.js
  playground/scenarios/prometheus_workload_prioritization/metadata.json
  playground/scenarios/prometheus_workload_prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/prometheus_workload_prioritization/policies/prometheus-workload-prioritization.yaml
  playground/scenarios/prometheus_workload_prioritization/values.yaml
  playground/scenarios/rabbitmq_queue_buildup/metadata.json
  playground/scenarios/rabbitmq_queue_buildup/values.yaml
  playground/scenarios/rate_limiting_escalation_kong/metadata.json
  playground/scenarios/rate_limiting_escalation_kong/values.yaml
  playground/scenarios/rate_limiting_escalation_nginx/metadata.json
  playground/scenarios/rate_limiting_escalation_nginx/values.yaml
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
  playground/tanka/apps/demo-app/mixins.libsonnet
  playground/tanka/apps/istio/mixins.libsonnet
  playground/tanka/apps/single-service-app/mixins.libsonnet
  playground/tanka/charts/demo-app/templates/deployment.yaml
  playground/tanka/charts/demo-app/values.yaml
  scripts/precommit/check_tanka_show.sh
Due: updated-aperture

update url to product (#1879)
  docs/content/arc/arc.md
Due: updated-aperture-docs

Added nil check for omitempty fields in AdaptiveLoadScheduler (#1880)
  pkg/policies/controlplane/components/flowcontrol/loadscheduler/adaptive-load-scheduler.go
Due: updated-aperture

Corrected metrics name in feature_rollout scenario dashboard (#1881)
  blueprints/policies/feature-rollout/base/dashboard.libsonnet
Due: none

make parameters and alerter required fields in AdaptiveLoadScheduler (#1882)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/flowcontrol/loadscheduler/adaptive-load-scheduler.go
Due: updated-aperture, updated-aperture-docs

use cached aperturectl (#1883)
  .circleci/continue-workflows.yml
  docs/tools/aperturectl/validate_all.sh
  docs/tools/jsonnet/generate_jsonnet.sh
  docs/tools/mermaid/generate_mermaid.sh
  scripts/build_aperturectl.sh
  scripts/generate_blueprints.sh
  scripts/go_build.sh
  scripts/go_build_plugins.sh
  scripts/go_generate.sh
  scripts/go_generate_swagger.sh
  scripts/go_mod_tidy.sh
  scripts/precommit/generate_playground_policies.sh
  scripts/precommit/install_tools.sh
Due: updated-aperture-docs

refactor various precommit and install tools steps (#1884)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .circleci/scripts/asdf_install.sh
  .pre-commit-config.yaml
  .tool-versions
  Makefile
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  docs/Makefile
  docs/content/get-started/playground/playground.md
  docs/tools/jsonnet/generate_jsonnet.sh
  docs/tools/mermaid/generate_mermaid.sh
  docs/tools/swagger/generate_config_markdown.sh
  manifests/charts/Makefile
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  playground/scripts/install_tools.sh
  scripts/generate_blueprints.sh
  scripts/install_asdf_tools.sh
  scripts/install_go_tools.sh
  scripts/install_node_tools.sh
  scripts/install_python_tools.sh
  scripts/manage_go_tools.sh
  scripts/manage_python_tools.sh
  scripts/manage_tools.sh
  scripts/precommit/install_tools.sh
  sdks/aperture-go/Dockerfile
Due: updated-aperture, updated-aperture-docs

Reshim (#1886)
  .circleci/continue-workflows.yml
Due: none

circleci: move cache paths around (#1887)
  .circleci/continue-workflows.yml
  scripts/install_asdf_tools.sh
  scripts/install_go_tools.sh
  scripts/invalidate_asdf_ci_cache.sh
Due: none

remove latency_baseliner from promql SP blueprint (#1891)
  blueprints/policies/service-protection/promql/config.libsonnet
  blueprints/policies/service-protection/promql/gen/definitions.json
  blueprints/policies/service-protection/promql/gen/values-required.yaml
  blueprints/policies/service-protection/promql/gen/values.yaml
  blueprints/policies/service-protection/promql/policy.libsonnet
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection/promql.md
  playground/scenarios/rabbitmq_queue_buildup/policies/rabbitmq-queue-buildup.yaml
  scripts/build_aperturectl.sh
Due: updated-aperture, updated-aperture-docs

fix signals dashboard (#1894)
  blueprints/dashboards/signals/config.libsonnet
  blueprints/dashboards/signals/dashboard.libsonnet
  blueprints/dashboards/signals/gen/definitions.json
  blueprints/dashboards/signals/gen/values-required.yaml
  blueprints/dashboards/signals/gen/values.yaml
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
Due: updated-aperture-docs

Java SDK: Make fail-open behavior configurable (#1877)
  docs/content/get-started/integrations/flow-control/sdk/java/auto-instrumentation.md
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/SpringBootApp.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/controller/AppController.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/tomcat-example/src/main/webapp/WEB-INF/web.xml
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/ApertureSDKWrapper.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaClientAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaServerAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/netty/NettyServerAdvice.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClientBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPServiceBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClientBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCServiceBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/FlowResult.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/version.gradle.kts
Due: updated-aperture-docs

rephrase introduction doc and fix broken link (#1897)
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/introduction.md
Due: updated-aperture-docs

telemetry resource: update etcd path to use policy name (#1901)
  cmd/aperture-agent/agent/otel-config.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/controlplane/resources/telemetry-collectors/telemetry-collectors.go
  pkg/policies/paths/paths.go
Due: updated-aperture

always build aperturectl (#1903)
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  scripts/build_aperturectl.sh
  scripts/install_go_tools.sh
Due: updated-aperture

shutdown process when otel config is incorrect (#1904)
  cmd/aperture-agent/agent/otel-config.go
  pkg/distcache/provider.go
  pkg/etcd/client/client.go
  pkg/etcd/election/election.go
  pkg/net/grpc/server.go
  pkg/net/http/server.go
  pkg/otelcollector/otelcollector.go
  pkg/utils/helpers.go
Due: updated-aperture

do not panic on shutdown errors (#1905)
  pkg/utils/helpers.go
Due: updated-aperture

Add gradle clean to dockerfiles to prevent cache errors (#1906)
  sdks/aperture-java/dockerfiles/aperture-java-all/Dockerfile
  sdks/aperture-java/dockerfiles/example/Dockerfile
Due: none

Update Blueprints Dashboards (#1907)
  blueprints/policies/feature-rollout/average-latency/config.libsonnet
  blueprints/policies/feature-rollout/base/policy.libsonnet
  blueprints/policies/service-protection/average-latency/average-latency.libsonnet
  blueprints/policies/service-protection/average-latency/config.libsonnet
  blueprints/policies/service-protection/average-latency/dashboard.libsonnet
  blueprints/policies/service-protection/average-latency/gen/definitions.json
  blueprints/policies/service-protection/average-latency/gen/values.yaml
  blueprints/policies/service-protection/average-latency/metadata.yaml
  blueprints/policies/service-protection/base/config-defaults.libsonnet
  blueprints/policies/service-protection/base/dashboard.libsonnet
  blueprints/policies/service-protection/base/policy.libsonnet
  blueprints/policies/service-protection/promql/config.libsonnet
  blueprints/policies/service-protection/promql/dashboard.libsonnet
  blueprints/policies/service-protection/promql/metadata.yaml
  blueprints/policies/service-protection/promql/promql.libsonnet
  blueprints/policies/static-rate-limiting/policy.libsonnet
  docs/content/reference/policies/bundled-blueprints/policies/service-protection/average-latency.md
Due: updated-aperture-docs

Bump gmux (#1908)
  go.mod
  go.sum
Due: updated-aperture

Java Demo App (#1572)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .opsninja.yaml
  playground/Tiltfile
  playground/resources/java-demo-app/.dockerignore
  playground/resources/java-demo-app/.gitignore
  playground/resources/java-demo-app/Dockerfile
  playground/resources/java-demo-app/README.md
  playground/resources/java-demo-app/build.gradle.kts
  playground/resources/java-demo-app/gradle/wrapper/gradle-wrapper.jar
  playground/resources/java-demo-app/gradle/wrapper/gradle-wrapper.properties
  playground/resources/java-demo-app/gradlew
  playground/resources/java-demo-app/gradlew.bat
  playground/resources/java-demo-app/settings.gradle.kts
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/ApertureFeatureFilter.java
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/JavaDemoAppApplication.java
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/Request.java
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/RequestController.java
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/ServletInitializer.java
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/Subrequest.java
  playground/resources/java-demo-app/src/main/resources/application.properties
  playground/scenarios/java_rate_limiting_escalation/dashboards/main.jsonnet
  playground/scenarios/java_rate_limiting_escalation/load_generator/test.js
  playground/scenarios/java_rate_limiting_escalation/metadata.json
  playground/scenarios/java_rate_limiting_escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/java_rate_limiting_escalation/policies/service1-demo-app.yaml
  playground/tanka/apps/demo-app/mixins.libsonnet
  playground/tanka/apps/java-demo-app/main.jsonnet
  playground/tanka/apps/java-demo-app/mixins.libsonnet
  playground/tanka/apps/single-service-app/mixins.libsonnet
  playground/tanka/charts/java-demo-app/.helmignore
  playground/tanka/charts/java-demo-app/Chart.yaml
  playground/tanka/charts/java-demo-app/templates/_helpers.tpl
  playground/tanka/charts/java-demo-app/templates/deployment.yaml
  playground/tanka/charts/java-demo-app/templates/service.yaml
  playground/tanka/charts/java-demo-app/templates/serviceaccount.yaml
  playground/tanka/charts/java-demo-app/values.yaml
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
Due: none

Remove unused endpoints from java demo app (#1912)
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/RequestController.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
Due: none

Re-generate java code from .proto files (#1913)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/ClassifierInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FluxMeterInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/DeniedHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/OkHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/SocketAddress.java
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
Due: none

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
