Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Update SDK Diagram and add gRPC deadline explanation (#3065)
  docs/content/guides/api-quota-management.md
  docs/content/guides/openai.md
  docs/content/introduction.md
  docs/content/sdk/assets/sdks-dark.svg
  docs/content/sdk/assets/sdks-light.svg
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
Due: updated-aperture-docs

Cache Concept Doc (#3052)
  docs/content/concepts/advanced/advanced.md
  docs/content/concepts/cache.md
  docs/content/guides/caching.md
Due: updated-aperture-docs

Update buf.lock with new commit and digest values (#3067)
  api/buf.lock
Due: none

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Due: none

Update SDKs section in sdk.md (#3068)
  docs/content/sdk/sdk.md
Due: updated-aperture-docs

Add object storage persistence to dist-cache (#3057)
  .github/styles/Vocab/FluxNinja/accept.txt
  cmd/aperture-agent/agent.go
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  go.mod
  go.sum
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  pkg/config/duration.go
  pkg/config/timestamp.go
  pkg/dist-cache/dist-cache-metrics.go
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
  pkg/metrics/schema.go
  pkg/objectstorage/config/config.go
  pkg/objectstorage/config/zz_generated.deepcopy.go
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/persistent-dmap.go
  pkg/objectstorage/persistent-entry.go
  pkg/objectstorage/provide.go
  pkg/policies/flowcontrol/cache.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture, updated-aperture-docs

Use tagged Olric version (#3071)
  go.mod
  go.sum
Due: updated-aperture

Update agents in latest-saas cluster on merge to main (#3073)
  .circleci/continue-workflows.yml
Due: none

Fix pre-commit buf version (#3074)
  .circleci/continue-workflows.yml
  .tool-versions
Due: none

Fix token rate update (#3076)
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  sdks/aperture-js/example/concurrency_scheduler.ts
Due: updated-aperture

Fix crash with disabled object storage (#3078)
  cmd/aperture-agent/agent.go
  pkg/objectstorage/provide.go
Due: updated-aperture

Update caching section in README (#3079)
  README.md
Due: none

Fix default check response status (#3081)
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/flowcontrol/engine.go
Due: updated-aperture

Add concurrency limiter tests (#3083)
  pkg/dmap-funcs/concurrency-limiter/concurrency-limiter_test.go
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  pkg/dmap-funcs/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/dmap-funcs/rate-limiter/rate-limiter_test.go
  pkg/policies/flowcontrol/provide.go
  test/readiness_test.go
Due: updated-aperture

Update olric version to v0.5.4-fn.patch.18 (#3084)
  go.mod
  go.sum
Due: updated-aperture

Add code snippets for concurrency scheduler and limiter (#3082)
  docs/content/code-snippets.json
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-js/example/concurrency_limit.ts
  sdks/aperture-js/example/concurrency_scheduler.ts
Due: updated-aperture-docs

Overhaul concept docs (#3087)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/advanced/agent-group.md
  docs/content/concepts/assets/img/scheduler-dark.svg
  docs/content/concepts/assets/img/scheduler-light.svg
  docs/content/concepts/cache.md
  docs/content/concepts/concurrency-limiter.md
  docs/content/concepts/control-point.md
  docs/content/concepts/flow-label.md
  docs/content/concepts/flow-lifecycle.md
  docs/content/concepts/rate-limiter.md
  docs/content/concepts/request-prioritization/concurrency-scheduler.md
  docs/content/concepts/request-prioritization/load-scheduler.md
  docs/content/concepts/request-prioritization/quota-scheduler.md
  docs/content/concepts/request-prioritization/request-prioritization.md
  docs/content/concepts/scheduler.md
  docs/content/concepts/scheduler/assets/img/load-scheduler-dark.svg
  docs/content/concepts/scheduler/assets/img/load-scheduler-light.svg
  docs/content/concepts/scheduler/assets/img/quota-scheduler-dark.svg
  docs/content/concepts/scheduler/assets/img/quota-scheduler-light.svg
  docs/content/concepts/scheduler/scheduler.md
  docs/content/concepts/selector.md
  docs/content/faq.md
  docs/content/introduction.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/configuration/spec.md
  docs/content/reference/observability/prometheus-metrics/agent.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/service/check/metrics.go
Due: updated-aperture, updated-aperture-docs

Ksohi/concurrency limiting guide (#3080)
  concurrency-limiting-test.yaml
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd.md5sum
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd.svg
  docs/content/guides/assets/concurrency-scheduling/graph.mmd
  docs/content/guides/assets/concurrency-scheduling/graph.mmd.md5sum
  docs/content/guides/assets/concurrency-scheduling/graph.mmd.svg
  docs/content/guides/assets/concurrency-scheduling/policy.yaml
  docs/content/guides/assets/concurrency-scheduling/queue.png
  docs/content/guides/assets/concurrency-scheduling/request-metrics.png
  docs/content/guides/assets/concurrency-scheduling/validate.sh
  docs/content/guides/assets/concurrency-scheduling/values.yaml
  docs/content/guides/assets/concurrency-scheduling/workloads.png
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiter-graph1.png
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiter-graph2.png
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiting.mmd
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiting.mmd.md5sum
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiting.mmd.svg
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd.md5sum
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-concurrency-limiting/policy.yaml
  docs/content/guides/assets/per-user-concurrency-limiting/validate.sh
  docs/content/guides/assets/per-user-concurrency-limiting/values.yaml
  docs/content/guides/concurrency-scheduling.md
  docs/content/guides/per-user-concurrency-limiting.md
  sdks/aperture-js/example/concurrency_limit.ts
  sdks/aperture-js/example/concurrency_scheduler.ts
  sdks/aperture-js/example/package-lock.json
Due: updated-aperture-docs

Add missing imports for docs (#3088)
  docs/content/sdk/python/manual.md
Due: updated-aperture-docs

Ksohi/new snippets and docs rework (#3090)
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/assets/concurrency-quota-management/concurrency-scheduling.mmd
  docs/content/guides/assets/concurrency-quota-management/concurrency-scheduling.mmd.md5sum
  docs/content/guides/assets/concurrency-quota-management/concurrency-scheduling.mmd.svg
  docs/content/guides/assets/concurrency-quota-management/graph.mmd
  docs/content/guides/assets/concurrency-quota-management/graph.mmd.md5sum
  docs/content/guides/assets/concurrency-quota-management/graph.mmd.svg
  docs/content/guides/assets/concurrency-quota-management/policy.yaml
  docs/content/guides/assets/concurrency-quota-management/queue.png
  docs/content/guides/assets/concurrency-quota-management/request-metrics.png
  docs/content/guides/assets/concurrency-quota-management/validate.sh
  docs/content/guides/assets/concurrency-quota-management/values.yaml
  docs/content/guides/assets/concurrency-quota-management/workloads.png
  docs/content/guides/concurrency-quota-management.md
  docs/content/guides/openai.md
  docs/content/guides/per-user-concurrency-limiting.md
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-js/example/concurrency_limit.ts
  sdks/aperture-js/example/ui_snippets.ts
Due: updated-aperture-docs

Typo fix (#3091)
  sdks/aperture-js/example/ui_snippets.ts
Due: none

Drop deprecated module and fix tests (#3114)
  cmd/aperturectl/cmd/tui/radio-button.go
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/deployment.go
  operator/controllers/agent/deployment_test.go
  operator/controllers/agent/mutating_webhook_configuration.go
  operator/controllers/agent/mutating_webhook_configuration_test.go
  operator/controllers/agent/secrets_test.go
  operator/controllers/agent/serviceaccount_test.go
  operator/controllers/agent/services_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/secrets_test.go
  operator/controllers/controller/serviceaccount_test.go
  operator/controllers/controller/services_test.go
  operator/controllers/controller/validating_webhook_configuration.go
  operator/controllers/controller/validating_webhook_configuration_test.go
  operator/controllers/mutate_func_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  operator/controllers/mutatingwebhook/mutating_webhook_configuration.go
  operator/controllers/mutatingwebhook/mutating_webhook_configuration_test.go
  operator/controllers/mutatingwebhook/reconciler_test.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
Due: updated-aperture

Update buf (#3115)
  api/buf.lock
Due: none

change concurrency scheduling title to concurrency quota management (#3092)
  docs/content/guides/concurrency-quota-management.md
Due: updated-aperture-docs

Update code snippets for UI docs (#3116)
  docs/content/code-snippets.json
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-js/example/concurrency_scheduler.ts
  sdks/aperture-js/example/ui_snippets.ts
Due: updated-aperture-docs

update code snippets with limit_key instead of user_id (#3117)
  docs/content/code-snippets.json
  sdks/aperture-js/example/basic_usage.ts
Due: updated-aperture-docs

Update vuStages in load-generator test.js (#3119)
  playground/scenarios/concurrency-scheduler/load-generator/test.js
Due: none

Re-order execution of components in engine (#3118)
  api/buf.lock
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.md5sum
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.svg
  docs/content/concepts/concurrency-limiter.md
  docs/content/concepts/request-prioritization/concurrency-scheduler.md
  docs/content/reference/observability/prometheus-metrics/agent.md
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/cache.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/engine_test.go
  pkg/policies/flowcontrol/iface/cache.go
Due: updated-aperture, updated-aperture-docs

Fix wait time based deadline calculation (#3120)
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
Due: updated-aperture

Fix schedulers not getting executed when cache key is not set (#3121)
  pkg/policies/flowcontrol/cache.go
  playground/Tiltfile
Due: updated-aperture

Fix unregisters (#3122)
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/flowcontrol/actuators/concurrency-limiter/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
Due: updated-aperture

Deinit on failed start (#3124)
  pkg/notifiers/fx-driver.go
  pkg/policies/flowcontrol/engine.go
Due: updated-aperture

Update buf version (#3126)
  api/buf.lock
Due: none

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
