Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Fix unmarshalling in getPolicyResponse (#2766)
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

logging: add log when new token buckets are instantiated (#2769)
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture

Handle policy with no circuit (#2765)
  blueprints/grafana/creator.libsonnet
Due: none

add text to install aperturecli doc (#2763)
  docs/content/get-started/installation/aperture-cli/aperture-cli.md
Due: updated-aperture-docs

Python SDK updates (#2758)
  docs/content/integrations/sdk/python/manual.md
  sdks/aperture-py/README.md
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/pyproject.toml
Due: updated-aperture-docs

Add inframeter to missing receiver dashboard queries (#2773)
  blueprints/grafana/panels/elasticsearch/es_time_series.libsonnet
  blueprints/grafana/panels/pgsql/pgsql_static.libsonnet
  blueprints/grafana/panels/pgsql/pgsql_time_series.libsonnet
  blueprints/grafana/panels/rabbitmq/rmq_static.libsonnet
  blueprints/grafana/panels/rabbitmq/rmq_time_series.libsonnet
Due: none

Add support for personal api-key in tilt (#2776)
  playground/Tiltfile
  playground/scripts/render-policy.sh
Due: none

grpc: add server keepalive parameters (#2777)
  pkg/net/grpc/server.go
Due: updated-aperture

etcd based rpc (#2756)
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  pkg/agent-functions/agents/agents.go
  pkg/agent-functions/flowcontrol-controlpoints.go
  pkg/agent-functions/preview.go
  pkg/agent-functions/provide.go
  pkg/cmd/controller.go
  pkg/discovery/entities/entities-service.go
  pkg/etcd/transport/client.go
  pkg/etcd/transport/paths.go
  pkg/etcd/transport/server.go
  pkg/policies/autoscale/kubernetes/service/controlpoints/control-points.go
Due: updated-aperture

Add policy hash to UpsertPolicy response (#2755)
  api/aperture/cloud/v1/policy.proto
  api/aperture/cmd/v1/cmd.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/cloud/v1/policy.pb.go
  api/gen/proto/go/aperture/cloud/v1/policy_grpc.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy_vtproto.pb.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/cloud/apply/policy.go
  cmd/aperturectl/cmd/utils/controller-client.go
  cmd/aperturectl/cmd/utils/policies.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/cmd/controller.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/policy.go
  pkg/utils/grpc_fieldmask.go
Due: updated-aperture, updated-aperture-docs

PyPI publish CI workflow (#2779)
  sdks/aperture-py/.circleci/config.yml
  sdks/aperture-py/.circleci/continue-workflows.yml
  sdks/aperture-py/pyproject.toml
Due: none

Update introduction (#2775)
  README.md
  docs/content/introduction.md
Due: updated-aperture-docs

Add setup flag to aperture-py circleci config (#2782)
  sdks/aperture-py/.circleci/config.yml
Due: none

Upload images to dockerhub for dev changes (#2784)
  .circleci/continue-workflows.yml
Due: none

fix architecture mermaid diagram (#2785)
  docs/content/get-started/self-hosting/architecture.md
Due: updated-aperture-docs

add consul integration docs (#2621)
  docs/content/get-started/installation/supported-platforms.md
  docs/content/integrations/consul/assets/consul-dark.svg
  docs/content/integrations/consul/assets/consul-light.svg
  docs/content/integrations/consul/consul.md
  docs/content/integrations/istio/istio.md
  pkg/policies/flowcontrol/service/envoy/authz.go
Due: updated-aperture, updated-aperture-docs

Enable introspection client for cloud (#2786)
  cmd/aperturectl/cmd/cloud/autoscale/control-points.go
  cmd/aperturectl/cmd/cloud/utils/controller.go
Due: updated-aperture

Fixes in policy deserialization and hashing (#2787)
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/provider.go
Due: updated-aperture

update architecture image (#2774)
  docs/content/assets/img/aperture-architecture-dark.svg
  docs/content/assets/img/aperture-architecture-light.svg
Due: updated-aperture-docs

remove rpc package (#2789)
  api/aperture/rpc/v1/rpc.proto
  api/buf.lock
  api/gen/proto/go/aperture/rpc/v1/rpc.pb.go
  api/gen/proto/go/aperture/rpc/v1/rpc.pb.json.go
  api/gen/proto/go/aperture/rpc/v1/rpc.pb.validate.go
  api/gen/proto/go/aperture/rpc/v1/rpc_grpc.pb.go
  api/gen/proto/go/aperture/rpc/v1/rpc_vtproto.pb.go
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/agent-functions/agents/agents.go
  pkg/agent-functions/provide.go
  pkg/discovery/entities/entities-service.go
  pkg/rpc/clients.go
  pkg/rpc/doc.go
  pkg/rpc/handlers.go
  pkg/rpc/provide.go
  pkg/rpc/transport.go
Due: updated-aperture, updated-aperture-docs

grpc: update keep alive settings (#2792)
  pkg/net/grpc/server.go
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-py/aperture_sdk/client.py
Due: updated-aperture

Bump OTel to v0.87.0 (#2797)
  extensions/integrations/otel/datadogprocessor/datadogprocessor.go
  extensions/integrations/otel/prometheusexecreceiver/prometheusexecreceiver.go
  go.mod
  go.sum
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture

aperture-js: expose grpc call and channel options (#2798)
  sdks/aperture-js/Dockerfile
  sdks/aperture-js/example/example.ts
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: none

Correct bump of OTel to v0.87.0 (#2800)
  go.mod
  go.sum
Due: updated-aperture

Made version mandatory for aperturectl install and uninstall (#2802)
  cmd/aperturectl/cmd/installation/install.go
  cmd/aperturectl/cmd/installation/uninstall.go
  docs/content/reference/aperturectl/install/agent/agent.md
  docs/content/reference/aperturectl/install/controller/controller.md
  docs/content/reference/aperturectl/install/install.md
  docs/content/reference/aperturectl/install/istioconfig/istioconfig.md
  docs/content/reference/aperturectl/uninstall/agent/agent.md
  docs/content/reference/aperturectl/uninstall/controller/controller.md
  docs/content/reference/aperturectl/uninstall/istioconfig/istioconfig.md
  docs/content/reference/aperturectl/uninstall/uninstall.md
Due: updated-aperture, updated-aperture-docs

Delete policy as Custom Resource when on kube (#2803)
  cmd/aperturectl/cmd/policy/delete.go
Due: updated-aperture

aperture-js: do not keep alive by default (#2806)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: none

peers: fix peer deletion issue (#2807)
  pkg/dist-cache/service-discovery.go
  pkg/net/grpc/server.go
  pkg/peers/peers.go
Due: updated-aperture

peers: fix peer deletion issue (#2808)
  pkg/peers/peers.go
  pkg/peers/peers_test.go
Due: updated-aperture

Add PyPI package link to python SDK docs (#2809)
  docs/content/integrations/sdk/python/manual.md
Due: updated-aperture-docs

dynamic-config get and delete (#2804)
  api/aperture/cmd/v1/cmd.proto
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy_vtproto.pb.go
  cmd/aperturectl/cmd/dynamicconfig/delete.go
  cmd/aperturectl/cmd/dynamicconfig/get.go
  cmd/aperturectl/cmd/dynamicconfig/root.go
  cmd/aperturectl/cmd/utils/controller-client.go
  cmd/aperturectl/cmd/utils/dynamic-config.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/aperturectl/dynamic-config/delete/delete.md
  docs/content/reference/aperturectl/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/dynamic-config/get/get.md
  pkg/cmd/controller.go
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture, updated-aperture-docs

Use grafana/k6 image (#2812)
  playground/resources/wavepool-generator/apps-v1.Deployment-wavepool-graphql-generator.yaml
Due: none

Docs: Update intro and other misc improvements (#2811)
  README.md
  docs/content/architecture/architecture.md
  docs/content/assets/img/unified-load-management-dark.svg
  docs/content/assets/img/unified-load-management-light.svg
  docs/content/concepts/scheduler/scheduler.md
  docs/content/get-started/aperture-cloud/agent-api-keys.md
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/self-hosting/agent.md
  docs/content/integrations/sdk/sdk.md
  docs/content/introduction.md
  docs/content/reference/fluxninja.md
Due: updated-aperture-docs

Dark mode for unified load management (#2813)
  README.md
Due: none

Update incoming tokens metric before queuing (#2816)
  .github/styles/Vocab/FluxNinja/accept.txt
  pkg/metrics/schema.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
Due: updated-aperture

Fix Bar Chart Panel & Update Grafana Version (#2805)
  blueprints/grafana/panels/request_queue_duration_bar.libsonnet
  blueprints/grafana/utils/bar_chart_panel.libsonnet
  blueprints/grafana/utils/time_series_panel.libsonnet
  blueprints/jsonnetfile.json
  blueprints/jsonnetfile.lock.json
  playground/tanka/jsonnetfile.json
  playground/tanka/jsonnetfile.lock.json
Due: none

Add Rejected Tokens To Accepted Token Panel, Add Legend and Rename Panel (#2817)
  blueprints/grafana/panels/accepted_token_rate.libsonnet
  blueprints/grafana/panels/accepted_vs_rejected_token_rate.libsonnet
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
Due: none
