Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Fixed incorrect agent group in playground with cloud controller (#2471)
  playground/Tiltfile
Due: none

Fixed the error during the namespace scoped installation (#2473)
  manifests/charts/aperture-agent/templates/agent-deployment.yaml
Due: none

Make ETCD Client log level configurable (#2474)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/controller/config_test.tpl
  pkg/etcd/client/client.go
  pkg/etcd/config.go
Due: updated-aperture, updated-aperture-docs

Update Get Started and subsections (#2476)
  docs/content/get-started/get-started.md
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/installation.md
  docs/content/get-started/policies/policies.md
  docs/content/get-started/set-up-application/manual-control-points.md
  docs/content/get-started/set-up-application/middleware-insertions.md
  docs/content/get-started/set-up-application/service-mesh-and-gateways.md
  docs/content/get-started/set-up-application/set-up-application.md
  docs/content/introduction.md
Due: updated-aperture-docs

cloud-controller tilt changes (#2475)
  playground/scripts/render-policy.sh
Due: none

Update documentation to mention grpc/http2 endpoint address (#2479)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/aperturectl.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/fluxninja.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture-docs

Fix temp directory in blueprint generate apply (#2480)
  cmd/aperturectl/cmd/blueprints/common.go
  cmd/aperturectl/cmd/blueprints/generate.go
Due: updated-aperture

docs: Fix links to Aperture Controller section (#2482)
  docs/content/architecture/architecture.md
Due: updated-aperture-docs

Agent install docs: fix text about what needs to be set in values.yaml (#2483)
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
Due: updated-aperture-docs

docs: Update branding in images (#2485)
  docs/content/assets/img/aperture-architecture-dark.svg
  docs/content/assets/img/aperture-architecture-light.svg
  docs/content/assets/img/oaadark.png
  docs/content/assets/img/oaadark.svg
  docs/content/assets/img/oaalight.png
  docs/content/assets/img/oaalight.svg
  docs/content/introduction.md
Due: updated-aperture-docs

docs: Remove accidental usage of shortcut-style links (#2484)
  docs/content/reference/fluxninja.md
  docs/content/reference/observability/flow-metrics/flow-metrics.md
Due: updated-aperture-docs

Silence the 'lease keepalive response queue is full' warning (#2487)
  pkg/etcd/client/client.go
Due: updated-aperture

Add repo/branch parameters to update env script (#2489)
  .circleci/scripts/update_environment.sh
Due: none

[update docs] rename FluxNinja Extension to FluxNinja Aperture Cloud Extension (#2486)
  docs/content/reference/fluxninja.md
Due: updated-aperture-docs

Elasticseach setup and client to generate the load (#2478)
  blueprints/load-scheduling/average-latency/gen/definitions.json
  blueprints/load-scheduling/common/config-defaults.libsonnet
  blueprints/load-scheduling/common/policy.libsonnet
  blueprints/load-scheduling/common/utils.libsonnet
  blueprints/load-scheduling/elasticsearch/README.md
  blueprints/load-scheduling/elasticsearch/bundle.libsonnet
  blueprints/load-scheduling/elasticsearch/config.libsonnet
  blueprints/load-scheduling/elasticsearch/dynamic-config.libsonnet
  blueprints/load-scheduling/elasticsearch/elasticsearch.libsonnet
  blueprints/load-scheduling/elasticsearch/gen/definitions.json
  blueprints/load-scheduling/elasticsearch/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/elasticsearch/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/elasticsearch/gen/values.yaml
  blueprints/load-scheduling/elasticsearch/metadata.yaml
  blueprints/load-scheduling/elasticsearch/policy.libsonnet
  blueprints/load-scheduling/promql/gen/definitions.json
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/elasticsearch.md
  docs/content/reference/blueprints/load-scheduling/promql.md
  playground/Tiltfile
  playground/resources/demo-app/app/app.go
  playground/resources/demo-app/go.mod
  playground/resources/demo-app/go.sum
  playground/resources/demo-app/main.go
  playground/scenarios/elasticsearch-overload/dashboards/main.jsonnet
  playground/scenarios/elasticsearch-overload/load-generator/test.js
  playground/scenarios/elasticsearch-overload/metadata.json
  playground/scenarios/elasticsearch-overload/policies/elasticsearch-overload.yaml
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
  playground/scenarios/elasticsearch-overload/values.yaml
  playground/tanka/apps/elasticsearch/main.jsonnet
  playground/tanka/apps/elasticsearch/mixins.libsonnet
  playground/tanka/chartfile.yaml
  playground/tanka/charts/.gitignore
  playground/tanka/charts/demo-app/templates/deployment.yaml
  playground/tanka/charts/demo-app/values.yaml
  playground/tanka/lib/apps/elasticsearch/main.libsonnet
Due: updated-aperture-docs

docs: Use quotes for endpoint value (#2490)
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/reference/fluxninja.md
  docs/content/self-hosting/agent.md
Due: updated-aperture-docs

Updated aperture-js for release (#2491)
  sdks/aperture-java/README.md
  sdks/aperture-js/README.md
  sdks/aperture-js/package.json
Due: none

Added CI for aperture-js release (#2492)
  sdks/aperture-js/.circleci/config.yml
  sdks/aperture-js/.circleci/continue-workflows.yml
  sdks/aperture-js/.circleci/scripts/asdf_install.sh
  sdks/aperture-js/.tool-versions
  sdks/aperture-js/README.md
  sdks/aperture-js/scripts/install_asdf_tools.sh
Due: none

Update OTEL to v0.82.0 (#2488)
  go.mod
  go.sum
Due: updated-aperture

Update koanf to v2 (#2493)
  go.mod
  go.sum
  pkg/config/koanf-unmarshaller.go
Due: updated-aperture

Export parsing group status function (#2494)
  cmd/aperturectl/cmd/status/root.go
  pkg/status/status.go
Due: updated-aperture

Add logger for http server ErrorLogs (#2495)
  pkg/net/http/server.go
Due: updated-aperture

update docs with cloud workflows (#2497)
  docs/content/get-started/aperture-cloud/_category_.yml
  docs/content/get-started/aperture-cloud/api-keys.md
  docs/content/get-started/aperture-cloud/assets/api-keys.gif
  docs/content/get-started/aperture-cloud/assets/console-view.png
  docs/content/get-started/aperture-cloud/assets/create-organization.png
  docs/content/get-started/aperture-cloud/assets/final-step.png
  docs/content/get-started/aperture-cloud/assets/get-started.png
  docs/content/get-started/aperture-cloud/assets/install-aperture.png
  docs/content/get-started/aperture-cloud/assets/invite-members.png
  docs/content/get-started/aperture-cloud/assets/project-name.png
  docs/content/get-started/aperture-cloud/assets/select-subscription.png
  docs/content/get-started/aperture-cloud/assets/sign-up.png
  docs/content/get-started/aperture-cloud/assets/subscription-plan.png
  docs/content/get-started/aperture-cloud/assets/subscription-started.png
  docs/content/get-started/aperture-cloud/assets/thats-all.png
  docs/content/get-started/aperture-cloud/assets/usergroups.png
  docs/content/get-started/aperture-cloud/sign-up.md
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/configure-cli.md
  docs/content/get-started/installation/supported-platforms.md
Due: updated-aperture-docs

vocab additions (#2503)
  .github/styles/Vocab/FluxNinja/accept.txt
Due: none

fix pre-commit (#2504)
  api/buf.lock
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
Due: none

fix pre-commit hook (#2505)
  .tool-versions
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/OkHttpResponse.java
Due: none

Switched to non-root user in aperture docker images (#2501)
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/daemonset_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
Due: updated-aperture

Actually restart etcd watcher after its cancellation (#2502)
  pkg/etcd/client/client.go
  pkg/etcd/watcher/provider.go
  pkg/etcd/watcher/watcher.go
Due: updated-aperture

Changed default branch for latest environment on argo-manifests (#2506)
  .circleci/continue-workflows.yml
Due: none

Add --skip-pull-request flag conditionally (#2507)
  .circleci/continue-workflows.yml
  .circleci/scripts/update_environment.sh
Due: none

add srecon video to readme (#2508)
  README.md
Due: none

Updated configuration requirements for bare metal installation (#2511)
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .circleci/scripts/nfpm_package.sh
  docs/content/get-started/installation/agent/bare-metal.md
  packaging/agent/aperture-agent.yaml
  packaging/agent/nfpm.yaml
Due: updated-aperture-docs

Removed the duplicate name of the manifests repo ref and base branch (#2512)
  .circleci/scripts/update_environment.sh
Due: none

Fixed helm template and config parsing issues (#2513)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  manifests/charts/aperture-agent/templates/agent-cr.yaml
  manifests/charts/aperture-controller/templates/controller-cr.yaml
  pkg/config/log.go
  pkg/etcd/config.go
  pkg/net/listener/listener.go
Due: updated-aperture, updated-aperture-docs

Fixed aperturectl upload to GCP (#2514)
  packaging/cli/nfpm.yaml
Due: none

Changed default etcd log level to error (#2515)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/controller/config_test.tpl
  pkg/etcd/config.go
Due: updated-aperture, updated-aperture-docs

Add ability to add tags for kubectl images in pre-delete and post-install hooks (#2516)
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/operator-pre-delete-hook.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/operator-pre-delete-hook.yaml
  manifests/charts/aperture-controller/templates/post-install-hook.yaml
  manifests/charts/aperture-controller/values.yaml
Due: none

Patched the aperture-js SDK version (#2517)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
Due: none
