Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Autogenerate sidebar for docs (#177)
  docs/content/Concepts/Flow-Control/Actuators/scheduler.md
  docs/content/Concepts/Flow-Control/flows.md
  docs/content/Developers/cla.md
  docs/content/introduction.md
  docs/content/sidebars.json
Due: updated-aperture-docs

Added support to upload images on DockerHub (#168)
  .circleci/continue-workflows.yml
Due: none

Update code for aperture-mixin repo rename (#181)
  .circleci/continue-workflows.yml
  manifests/k8s/tanka/jsonnetfile.json
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

Bump OTEL to 0.58.0 (#184)
  go.mod
  go.sum
  pkg/otelcollector/config.go
  pkg/otelcollector/enrichmentprocessor/factory.go
  pkg/otelcollector/loggingexporter/factory.go
  pkg/otelcollector/loggingexporter/logging_exporter.go
  pkg/otelcollector/loggingexporter/logging_exporter_test.go
  pkg/otelcollector/metricsprocessor/factory.go
Due: updated-aperture

Extract policy compiler (#179)
  cmd/aperture-controller/controller/provider.go
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-stack-factory.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture

Status code labels in FluxMeter (#162)
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
Due: updated-aperture

Some fixes to aperture grafana deployment (#191)
  manifests/k8s/tanka/jsonnetfile.json
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

replace all instances of agent-prometheus with aperture-prometheus (#192)
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/environments/tilt/apps/aperture-grafana/dashboards/json-example.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  operator/controllers/configmaps_test.go
  operator/controllers/controller_config_with_fluxninja_plugin_test.tpl
  operator/controllers/controller_config_without_fluxninja_plugin_test.tpl
Due: none

Expand doc comments for policies (#160)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/swagger.md
Due: updated-aperture-docs

Remove sidebar.json (#195)
  docs/content/sidebars.json
Due: updated-aperture-docs

Lowercase dirnames in docs and other tweaks (#199)
  docs/content/concepts/_category_.yml
  docs/content/concepts/actuators/actuators.md
  docs/content/concepts/actuators/scheduler.md
  docs/content/concepts/flow-control.md
  docs/content/developers/_category_.yml
  docs/content/developers/cla.md
  docs/content/faq.md
  docs/content/introduction.md
  docs/content/reference/_category_.yml
  docs/content/reference/configuration/_category_.yml
Due: updated-aperture-docs

Flow is not flow control (#201)
  docs/content/concepts/flow.md
Due: updated-aperture-docs

Fix Controller OTEL pipelines (#200)
  pkg/otel/components.go
  pkg/otel/config.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Fix markdown glitches in generated classifiers documentation (#204)
  api/aperture/classification/v1/extractor.proto
  api/aperture/classification/v1/ruleset.proto
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/classification/v1/extractor.pb.go
  api/gen/proto/go/aperture/classification/v1/ruleset.pb.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  docs/gen/classification/swagger.md
  docs/gen/policies/swagger.md
Due: updated-aperture-docs

add sidebars.json (#207)
  docs/content/sidebars.json
Due: updated-aperture-docs

Faq (#208)
  docs/content/faq.md
  docs/content/feedback.md
  docs/content/introduction.md
  docs/content/setup.md
Due: updated-aperture-docs

Policy Blueprints Documentation (#205)
  docs/content/concepts/policies/policy-blueprints.md
Due: updated-aperture-docs

Revert "Faq (#208)" (#209)
  docs/content/faq.md
  docs/content/feedback.md
  docs/content/introduction.md
  docs/content/setup.md
Due: updated-aperture-docs

Start flow control section (#210)
  docs/content/concepts/flow-control/actuators/actuators.md
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/flow.md
  docs/content/concepts/policies/policies.md
  docs/content/faq.md
  docs/content/sidebars.json
Due: updated-aperture-docs

Add metrics names to common schema (#212)
  pkg/flowcontrol/metrics.go
  pkg/jobs/job-metrics.go
  pkg/metrics/schema.go
  pkg/policies/dataplane/actuator/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuator/concurrency/scheduler/wfq_test.go
Due: updated-aperture

Move around some files (#214)
  .circleci/continue-workflows.yml
  .circleci/scripts/asdf_install.sh
  .pre-commit-config.yaml
  Makefile
  manifests/k8s/Tiltfile
  pkg/tools/tools.go
  scripts/install_go_tools.sh
  scripts/manage_tools.sh
  scripts/precommit/check_tanka_show.sh
  scripts/precommit/generate_api.sh
  scripts/precommit/generate_docs.sh
  tools/demo_app/README.md
  tools/demo_app/app/app.go
  tools/demo_app/cmd/demo_app/main.go
  tools/demo_app/tools/tools.go
  tools/githooks/install_go_tools.sh
  tools/load_generator/scenarios/demoapp-stress-test-cr.yaml
  tools/load_generator/scenarios/stress_test.js
Due: updated-aperture

precommit fix (#216)
  .pre-commit-config.yaml
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

improve python tools install (#217)
  .github/dependabot.yml
  .pre-commit-config.yaml
  Makefile
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/languagev1ratelimiter.libsonnet
  libsonnet/1.0/_gen/v1/ratelimiterlazysync.libsonnet
  libsonnet/1.0/_gen/v1/ratelimiteroverride.libsonnet
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  requirements.txt
  scripts/manage_tools.sh
  scripts/precommit/generate_docs.sh
  scripts/precommit/generate_libsonnet.sh
Due: updated-aperture, updated-aperture-docs

fix tools install (#234)
  scripts/manage_tools.sh
Due: none

Expose k8s client HTTP client config (#194)
  cmd/aperture-agent/agent.go
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  pkg/k8s/provide.go
Due: updated-aperture, updated-aperture-docs

Fixed DockerHub latest tag issue (#238)
  .circleci/continue-workflows.yml
Due: none

combine pip PRs (#242)
  .github/workflows/combine-prs.yml
Due: none

Fix combine PRs script (#244)
  .github/workflows/combine-prs.yml
Due: none

Improve blueprint docs (#248)
  docs/content/concepts/policies/policy-blueprints.md
Due: updated-aperture-docs

Enhance Policy Compiler for Circuit Graph creation (#235)
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-stack-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture

De-couple FluxMeters from Policy, make them global (#241)
  api/aperture/common/config/v1/config_properties_wrapper.proto
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  libsonnet/Makefile
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/paths/paths.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
Due: updated-aperture

Expose batch configuration (#159)
  manifests/charts/agent/files/aperture-agent-config.yaml
  manifests/charts/agent/values.yaml
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/configmaps_test.go
  pkg/otel/config.go
Due: updated-aperture

Add comment why histogram might already exists in metricsprocessor (#250)
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

Updated K6 CRD (#239)
  manifests/k8s/tanka/lib/apps/k6-operator/k6/crd/bases/k6.io_k6s.yaml
Due: none

Removed Istio dependency from chart and added policy configmap and grafana dashboard (#249)
  Makefile
  manifests/charts/agent/Chart.lock
  manifests/charts/agent/Chart.yaml
  manifests/charts/agent/README.md
  manifests/charts/agent/templates/envoy_filter.yaml
  manifests/charts/agent/values.yaml
  manifests/charts/aperture-operator/Chart.lock
  manifests/charts/aperture-operator/Chart.yaml
  manifests/charts/aperture-operator/README.md
  manifests/charts/aperture-operator/values.yaml
  manifests/charts/istioconfig/.helmignore
  manifests/charts/istioconfig/Chart.yaml
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/chartfile.yaml
  manifests/k8s/tanka/charts/.gitignore
  manifests/k8s/tanka/charts/istioconfig
  manifests/k8s/tanka/environments/tilt/apps/aperture-grafana/dashboards/json-example.json
  manifests/k8s/tanka/environments/tilt/apps/aperture-operator/mixins.libsonnet
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  manifests/k8s/tanka/environments/tilt/apps/istio/main.jsonnet
  manifests/k8s/tanka/environments/tilt/apps/istio/mixins.libsonnet
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  manifests/k8s/tanka/lib/apps/istio/main.libsonnet
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_reconciler.go
  operator/controllers/controller_reconciler.go
Due: none

Fix CLA rendering and improve aperture-operator handling (#251)
  docs/content/developers/cla.md
  manifests/charts/aperture-operator/templates/_helpers.tpl
  manifests/charts/aperture-operator/values.yaml
  manifests/k8s/README.md
  manifests/k8s/Tiltfile
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
