Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Add diagrams for each use case (#2090)
  api/buf.lock
  docs/content/introduction.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection/average-latency.md
  docs/content/use-cases/alerting/alerting.md
  docs/content/use-cases/alerting/detecting-overload.md
  docs/content/use-cases/assets/alerting.mmd
  docs/content/use-cases/assets/alerting.mmd.md5sum
  docs/content/use-cases/assets/alerting.mmd.svg
  docs/content/use-cases/assets/auto-scaling.mmd
  docs/content/use-cases/assets/auto-scaling.mmd.md5sum
  docs/content/use-cases/assets/auto-scaling.mmd.svg
  docs/content/use-cases/assets/feature-rollout.mmd
  docs/content/use-cases/assets/feature-rollout.mmd.md5sum
  docs/content/use-cases/assets/feature-rollout.mmd.svg
  docs/content/use-cases/assets/quota-scheduler.mmd
  docs/content/use-cases/assets/quota-scheduler.mmd.md5sum
  docs/content/use-cases/assets/quota-scheduler.mmd.svg
  docs/content/use-cases/assets/rate-limiting.mmd
  docs/content/use-cases/assets/rate-limiting.mmd.md5sum
  docs/content/use-cases/assets/rate-limiting.mmd.svg
  docs/content/use-cases/assets/service-protection.mmd
  docs/content/use-cases/assets/service-protection.mmd.md5sum
  docs/content/use-cases/assets/service-protection.mmd.svg
  docs/content/use-cases/auto-scale/auto-scale.md
  docs/content/use-cases/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
  docs/content/use-cases/feature-rollout/assets/with-average-latency-feedback/policy.yaml
  docs/content/use-cases/feature-rollout/assets/with-average-latency-feedback/values.yaml
  docs/content/use-cases/feature-rollout/feature-rollout.md
  docs/content/use-cases/feature-rollout/with-average-latency-feedback.md
  docs/content/use-cases/quota-scheduler/external-rate-limiting.md
  docs/content/use-cases/quota-scheduler/quota-scheduler.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/rate-limiting/rate-limiting.md
  docs/content/use-cases/rate-limiting/static-rate-limiting.md
  docs/content/use-cases/service-protection/prioritization.md
  docs/content/use-cases/service-protection/protection.md
  docs/content/use-cases/service-protection/service-protection.md
Due: updated-aperture-docs

Refactor and rename in documentation side menu (#2115)
  docs/content/get-started/get-started.md
  docs/content/integrations/integrations.md
  docs/content/use-cases/auto-scale/auto-scale.md
  docs/content/use-cases/use-cases.md
Due: updated-aperture-docs

Fixed pre-commit on main (#2116)
  api/buf.lock
Due: none

Fixed auto scaling with service protection blueprints for use in jsonnet (#2117)
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/README.md
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/average-latency.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/README.md
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/promql.libsonnet
Due: none

Fix blueprint defaults for maps (#2118)
  blueprints/blueprint-assets-generator.py
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/policies/feature-rollout/average-latency/gen/values.yaml
  blueprints/policies/feature-rollout/base/gen/values-required.yaml
  blueprints/policies/feature-rollout/base/gen/values.yaml
  blueprints/policies/feature-rollout/ema-latency/gen/values.yaml
  blueprints/policies/feature-rollout/percentile-latency/gen/values.yaml
  blueprints/policies/feature-rollout/promql/gen/values.yaml
  blueprints/policies/quota-scheduler/gen/values-required.yaml
  blueprints/policies/quota-scheduler/gen/values.yaml
  blueprints/policies/rate-limiting/gen/values.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/gen/values.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/gen/values.yaml
  blueprints/policies/service-protection/average-latency/gen/values.yaml
  blueprints/policies/service-protection/jmx/gen/values.yaml
  blueprints/policies/service-protection/promql/gen/values.yaml
  docs/content/get-started/policies/assets/raw_values.yaml
Due: updated-aperture-docs

remove top level flow control hierarchy (#2121)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/resources/classifier.md
  docs/content/get-started/get-started.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/setting-up-application/manual-control-points.md
  docs/content/get-started/setting-up-application/middleware-insertions.md
  docs/content/get-started/setting-up-application/service-mesh-and-gateways.md
  docs/content/integrations/auto-scale/auto-scale.md
  docs/content/integrations/envoy/envoy.md
  docs/content/integrations/envoy/istio.md
  docs/content/integrations/flow-control/flow-control.md
  docs/content/integrations/gateway/gateway.md
  docs/content/integrations/gateway/kong.md
  docs/content/integrations/gateway/nginx.md
  docs/content/integrations/metrics/metrics.md
  docs/content/integrations/sdk/go/go.md
  docs/content/integrations/sdk/go/manual.md
  docs/content/integrations/sdk/java/armeria.md
  docs/content/integrations/sdk/java/auto-instrumentation.md
  docs/content/integrations/sdk/java/java.md
  docs/content/integrations/sdk/java/manual.md
  docs/content/integrations/sdk/java/netty.md
  docs/content/integrations/sdk/java/springboot.md
  docs/content/integrations/sdk/java/tomcat.md
  docs/content/integrations/sdk/javascript/javascript.md
  docs/content/integrations/sdk/javascript/manual.md
  docs/content/integrations/sdk/python/manual.md
  docs/content/integrations/sdk/python/python.md
  docs/content/integrations/sdk/sdk.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  docs/markdown.md
  playground/README.md
Due: updated-aperture-docs

Fixed the destination service name issue in gateways integration (#2125)
  api/buf.lock
  docs/content/concepts/flow-control/selector.md
  docs/content/integrations/gateway/gateway.md
  docs/content/integrations/gateway/nginx.md
  gateways/lua/aperture-plugin/access.lua
  gateways/lua/aperture-plugin/headers.lua
  gateways/lua/aperture-plugin/log.lua
  gateways/lua/kong/handler.lua
  gateways/lua/kong/schema.lua
  playground/resources/kong/kong.yaml
  playground/resources/nginx/nginx_config.conf
  playground/scenarios/service-protection-rl-escalation-kong/load-generator/test.js
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app.yaml
Due: updated-aperture-docs

Added FAQ for Aperture Agent on non-containerized environment (#2126)
  docs/content/faq.md
Due: updated-aperture-docs

rename envoy category to istio (#2124)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/resources/classifier.md
  docs/content/get-started/get-started.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/setting-up-application/service-mesh-and-gateways.md
  docs/content/integrations/envoy/envoy.md
  docs/content/integrations/istio/istio.md
  docs/content/integrations/sdk/sdk.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  docs/markdown.md
Due: updated-aperture-docs

Remove `--keep-spec-order` and update deps (#2123)
  api/Makefile
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/gen/policy/policy.yaml
  docs/tools/swagger/generate_config_markdown.sh
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture, updated-aperture-docs

Improve introduction (#2128)
  README.md
  docs/content/introduction.md
Due: updated-aperture-docs

Improve introduction and readme (#2129)
  README.md
  docs/content/introduction.md
Due: updated-aperture-docs

Optimize pre-commit execution time on CI for faster PR validation (#2113)
  api/buf.lock
  docs/tools/aperturectl/validate_all.sh
  docs/tools/jsonnet/generate_jsonnet.sh
  docs/tools/mermaid/generate_all.sh
  docs/tools/otel_collectors/generate_otel_docs.sh
  scripts/generate_blueprints.sh
  scripts/go_generate_swagger.sh
  scripts/install_go_tools.sh
  scripts/limit_jobs.sh
  scripts/precommit/generate_playground_policies.sh
Due: updated-aperture-docs

level up in hierarchy supported platforms page (#2130)
  docs/content/faq.md
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/agent/bare_metal.md
  docs/content/get-started/installation/supported-platforms.md
  docs/content/integrations/istio/istio.md
Due: updated-aperture-docs

Fix Java SDK logging imports (#2133)
  sdks/aperture-java/examples/armeria-example/build.gradle.kts
  sdks/aperture-java/examples/netty-example/build.gradle.kts
  sdks/aperture-java/examples/spring-example/build.gradle.kts
  sdks/aperture-java/examples/standalone-example/build.gradle.kts
  sdks/aperture-java/examples/standalone-traffic-flow-example/build.gradle.kts
  sdks/aperture-java/examples/tomcat-example/build.gradle.kts
  sdks/aperture-java/javaagent/agent/build.gradle.kts
  sdks/aperture-java/lib/core/build.gradle.kts
Due: none

Update OTEL to v0.79.0 (#2131)
  go.mod
  go.sum
Due: updated-aperture

Use ApertureFilter from aperture SDK in java demoapp (#2139)
  playground/resources/java-demo-app/build.gradle.kts
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/ApertureFeatureFilter.java
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/RequestController.java
Due: none

Make flow.end() argumentless and exception-free (#2134)
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/standalone-traffic-flow-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/RpcUtils.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKException.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
  sdks/aperture-java/version.gradle.kts
Due: none

Normalized priorities (#2127)
  pkg/metrics/schema.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/actuator.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/global-token-bucket.go
  pkg/scheduler/load-multiplier-token-bucket.go
  pkg/scheduler/request.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/token-bucket.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
  pkg/scheduler/windowed-counter.go
  playground/scenarios/basic-service-protection/load_generator
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
Due: updated-aperture

fix: update java demo app image version (#2145)
  playground/resources/java-demo-app/Dockerfile
Due: none

add agent/controller version on tilt (#2150)
  playground/Tiltfile
Due: none

Remove default kubelet scraper (#2151)
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/config/types.go
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/otelcollector/infra-meter/infra-meter.go
Due: updated-aperture, updated-aperture-docs

Simplify scheduler priority and remove fairness key (#2142)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/schedulerworkloadparameters.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/flow-control/components/load-scheduler.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/request.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
  pkg/utils/math.go
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization.yaml
Due: updated-aperture, updated-aperture-docs

Update Go, JS, Py SDKs to match new SDK API (#2154)
  docs/content/get-started/setting-up-application/manual-control-points.md
  docs/content/integrations/sdk/go/manual.md
  docs/content/integrations/sdk/java/manual.md
  docs/content/integrations/sdk/javascript/manual.md
  docs/content/integrations/sdk/python/manual.md
  sdks/aperture-go/README.md
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow-decision-string.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/flowdecision.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middlewares/grpc.go
  sdks/aperture-go/sdk/middlewares/http.go
  sdks/aperture-js/example/routes/use_aperture.js
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.js
  sdks/aperture-js/sdk/flow.js
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/const.py
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/pyproject.toml
Due: updated-aperture-docs

Add Retry-After header when Rate Limiter rejects flow (#2156)
  api/aperture/flowcontrol/check/v1/check.proto
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.validate.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/limiter.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  pkg/policies/mocks/mock_limiter.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/rate-limiter/iface.go
  pkg/rate-limiter/lazy-sync/lazy-sync.go
  pkg/rate-limiter/test/rate-limiter_test.go
  pkg/scheduler/global-token-bucket.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.validate.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
Due: updated-aperture, updated-aperture-docs

Filter out high cardinality platform metrics (#2159)
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/config/types.go
  cmd/aperture-controller/config/types.go
  cmd/aperture-controller/controller/otel-component.go
  cmd/aperture-controller/controller/otel-config.go
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/config_test.tpl
  operator/controllers/controller/configmaps_test.go
  pkg/otelcollector/config/builtin_config.go
  pkg/otelcollector/consts/consts.go
Due: updated-aperture, updated-aperture-docs

Fixed pre-commit on main (#2161)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: none

Update helm dependencies in aperture-controller chart (#2163)
  manifests/charts/aperture-controller/Chart.lock
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/aperture-controller/values.yaml
Due: none

Don't install go tools in a background loop (#2167)
  scripts/install_go_tools.sh
Due: none

Added dashboard panels for overload confirmation signals (#2165)
  blueprints/dashboards/flow-control/adaptive-load-scheduler/dashboard.libsonnet
  playground/scripts/deps_install.sh
Due: none

Remove ApertureSDKException (#2164)
  docs/content/get-started/setting-up-application/manual-control-points.md
  docs/content/integrations/sdk/java/manual.md
  docs/content/integrations/sdk/java/netty.md
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/RequestController.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/standalone-traffic-flow-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKException.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/version.gradle.kts
Due: updated-aperture-docs

Add QuotaScheduler processing to CheckResponse label adding (#2169)
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
Due: updated-aperture

Revert "Update helm dependencies in aperture-controller chart (#2163)" (#2174)
  manifests/charts/aperture-controller/Chart.lock
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/aperture-controller/values.yaml
Due: none
