Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

add app and helm chart version (#253)
  manifests/charts/agent/Chart.yaml
  manifests/charts/aperture-operator/Chart.yaml
Due: none

Added installation steps in docs (#237)
  .gitignore
  docs/content/setup/_category_.yml
  docs/content/setup/installation/_category_.yml
  docs/content/setup/installation/agent/_category_.yml
  docs/content/setup/installation/agent/agent.md
  docs/content/setup/installation/agent/daemonset.md
  docs/content/setup/installation/agent/sidecar.md
  docs/content/setup/installation/controller.md
  docs/content/setup/installation/installation.md
  docs/content/setup/istio.md
  docs/content/setup/supported-platforms.md
Due: updated-aperture-docs

Content (#246)
  docs/content/concepts/flow-control/actuators/actuators.md
  docs/content/concepts/flow-control/actuators/rate-limiter.md
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/selector.md
Due: updated-aperture-docs

Expand proto-level documentation on Scheduler (#256)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/concepts/flow-control/flow-control.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
Due: updated-aperture-docs

Add FluxNinja Cloud section to docs (#252)
  docs/content/cloud/_category_.yml
  docs/content/cloud/plugin.md
Due: updated-aperture-docs

Single demoapp depoyment per worker node (#240)
  manifests/charts/demo-app/templates/deployment.yaml
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
Due: none

Added null checks for values in chart (#258)
  manifests/charts/aperture-operator/templates/_helpers.tpl
  manifests/charts/aperture-operator/templates/agent.yaml
  manifests/charts/aperture-operator/templates/controller.yaml
  manifests/charts/aperture-operator/templates/pre-delete-hook.yaml
Due: none

Add nil ptr check for registry.Get() (#257)
  pkg/jobs/job-tracker.go
  pkg/jobs/jobs_test.go
  pkg/status/registry_test.go
Due: updated-aperture

Add Kind cluster configuration file (#259)
  manifests/k8s/README.md
  manifests/k8s/kind-config.yaml
Due: none

Remove batchMetricsFast processor (#260)
  manifests/charts/agent/files/aperture-agent-config.yaml
  manifests/charts/agent/values.yaml
  manifests/charts/aperture-operator/README.md
  manifests/charts/aperture-operator/templates/agent.yaml
  manifests/charts/aperture-operator/values.yaml
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/controllers/agent_config.tpl
  operator/controllers/agent_config_with_fluxninja_plugin_test.tpl
  operator/controllers/configmaps.go
  operator/controllers/configmaps_test.go
  pkg/otel/config.go
Due: updated-aperture

Update README.md (#262)
  README.md
  docs/content/assets/img/aperture_logo.png
Due: updated-aperture-docs

rename entity cache messages (#269)
  api/aperture/common/entitycache/v1/entitycache.proto
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.gw.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_grpc.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  cmd/aperture-agent/Dockerfile
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/Dockerfile
  docs/gen/policies/gen.yaml
  manifests/charts/agent/files/aperture-agent-config.yaml
  pkg/entitycache/entity_cache.go
  pkg/platform/platform.go
  pkg/status/provide.go
  pkg/status/status-service.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
Due: updated-aperture, updated-aperture-docs

Update aperture-agent-config.yaml (#270)
  manifests/charts/agent/files/aperture-agent-config.yaml
Due: none

Expand rate limiter docs + misc doc tweaks (#263)
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/actuators/rate-limiter.md
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
Due: updated-aperture-docs

pprof tweaks (#272)
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/config-swagger.yaml
  docs/gen/config/aperture-controller/swagger.md
  pkg/net/http/server.go
  pkg/profilers/profilers.go
Due: updated-aperture, updated-aperture-docs

Make demoapp latency configurable (#273)
  tools/demo_app/README.md
  tools/demo_app/app/app.go
  tools/demo_app/cmd/demo_app/main.go
Due: updated-aperture

Add files via upload
  docs/content/assets/img/oaa.jpg
Due: updated-aperture-docs

Update README.md
  README.md
Due: none

Add files via upload
  docs/content/assets/img/oaa.png
Due: updated-aperture-docs

Fix distcache memberlist (#285)
  pkg/distcache/provider.go
  tools/demo_app/app/app.go
Due: updated-aperture

Pod anti affinity constraint for demo app is now preferred instead of required. Demo app comes up successfully on one node cluster after this change (#286)
  manifests/charts/demo-app/templates/deployment.yaml
Due: none

Refactor OTEL config (#287)
  api/aperture/common/info/v1/info.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/info/v1/info.pb.go
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/config-swagger.yaml
  docs/gen/config/aperture-controller/swagger.md
  pkg/info/info.go
  pkg/net/listener/gmux.go
  pkg/net/listener/provider.go
  pkg/otel/config.go
  pkg/policies/controlplane/circuit-factory.go
  tools/load_generator/scenarios/load_test.js
Due: updated-aperture, updated-aperture-docs

Add wrapper around olric log (#289)
  pkg/distcache/olric-logwriter.go
  pkg/distcache/provider.go
  pkg/jobs/job-group.go
  pkg/policies/dataplane/actuators/rate/ratetracker/rate-tracker_test.go
Due: updated-aperture

Workaround kubectl port-forward connectivity issues (#293)
  manifests/k8s/Tiltfile
  manifests/k8s/tilt/portforward.sh
Due: none

rename demo app services (#298)
  docs/content/concepts/policies/policy-blueprints.md
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  manifests/k8s/tanka/lib/apps/demoapp/main.libsonnet
  manifests/k8s/tilt/portforward.sh
  pkg/flowcontrol/envoy/authz_test.go
  pkg/policies/controlplane/validator_test.go
  tools/load_generator/scenarios/load_test.js
Due: updated-aperture, updated-aperture-docs

Improve panels in the playground grafana (#299)
  manifests/charts/istioconfig/values.yaml
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  pkg/flowcontrol/common/metrics.go
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
  tools/load_generator/scenarios/load_test.js
Due: updated-aperture

auto timeouts (#300)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  libsonnet/1.0/_gen/v1/scheduler.libsonnet
  libsonnet/1.0/_gen/v1/schedulerworkload.libsonnet
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  tools/load_generator/scenarios/load_test.js
Due: updated-aperture, updated-aperture-docs

update blueprint jsonnet (#301)
  manifests/k8s/tanka/jsonnetfile.lock.json
Due: none

update blueprint (#302)
  manifests/k8s/tanka/jsonnetfile.lock.json
Due: none

Updated CircleCi to release docker hub images from main only (#303)
  .circleci/continue-workflows.yml
Due: none

Add basic agent packaging flow (#295)
  .circleci/config.yml
  .gitignore
  manifests/k8s/tilt/portforward.sh
  nfpm.yaml
  packaging/aperture-agent.yaml
Due: none

Add Flow Label to concepts in docs (#294)
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/fluxmeter.md
  docs/content/concepts/flow-control/label/classifier.md
  docs/content/concepts/flow-control/label/label.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/flow-control/service.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
Due: updated-aperture-docs

Fix libsonnet python scripts (#309)
  libsonnet/1.0/_gen/v1/languagev1ratelimiter.libsonnet
  libsonnet/scripts/jsonnet-lib-gen.py
Due: none

Rename rate tracker files (#312)
  pkg/distcache/logwriter.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/actuators/rate/ratetracker/distcache-rate-tracker.go
  pkg/policies/dataplane/actuators/rate/ratetracker/rate-tracker_test.go
Due: updated-aperture

add tilt to tools (#313)
  .tool-versions
  manifests/k8s/tanka/jsonnetfile.lock.json
Due: none

Update Playground docs and its link in README (#315)
  README.md
  playground/README.md
Due: none
