Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Allow limiting custom metrics pipeline to "once per agent group" (#1681)
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/config/types.go
  docs/content/get-started/integrations/metrics/metrics.md
  docs/content/get-started/integrations/metrics/rabbitmq.md
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/etcd/election/election.go
  pkg/otelcollector/leaderonlyreceiver/helpers.go
  pkg/otelcollector/leaderonlyreceiver/receiver.go
  pkg/policies/autoscale/kubernetes/discovery/autoscale-discovery.go
Due: updated-aperture, updated-aperture-docs

Fix panic in leader-only receiver Shutdown (#1687)
  pkg/otelcollector/leaderonlyreceiver/receiver.go
Due: updated-aperture

Add control point type (#1634)
  .circleci/continue-workflows.yml
  Makefile
  api/aperture/flowcontrol/controlpoints/v1/controlpoints.proto
  api/gen/proto/go/aperture/flowcontrol/controlpoints/v1/controlpoints.pb.go
  api/gen/proto/go/aperture/flowcontrol/controlpoints/v1/controlpoints.pb.validate.go
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperturectl/cmd/build/build.go
  cmd/aperturectl/cmd/flowcontrol/control-points.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  extensions/fluxninja/extconfig/zz_generated.deepcopy.go
  extensions/fluxninja/heartbeats/heartbeats.go
  extensions/fluxninja/heartbeats/provide.go
  pkg/agentfunctions/flowcontrol-controlpoints.go
  pkg/cmd/controller.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/flowcontrol/selectors/control-point-id.go
  pkg/policies/flowcontrol/service/controlpoints/controlpoints.go
  test/aperture_suite_test.go
Due: updated-aperture, updated-aperture-docs

Bump OTEL to v0.75.0 (#1693)
  go.mod
  go.sum
Due: updated-aperture

Make aperturectl compile on macos by removing unused dependency on gosigar (#1689)
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/api/common/common_types.go
  pkg/watchdog/cgroup_linux.go
  pkg/watchdog/config/config.go
  pkg/watchdog/config/policy.go
  pkg/watchdog/config/zz_generated.deepcopy.go
  pkg/watchdog/policy.go
  pkg/watchdog/watchdog.go
Due: updated-aperture, updated-aperture-docs

Blueprint docs refs (#1691)
  api/buf.lock
  blueprints/blueprint-assets-generator.py
  blueprints/dashboards/signals/config.libsonnet
  blueprints/dashboards/signals/gen/definitions.json
  blueprints/dashboards/signals/gen/dynamic-config-definitions.json
  blueprints/dashboards/signals/metadata.yaml
  blueprints/policies/kubernetes-auto-scaler/config.libsonnet
  blueprints/policies/kubernetes-auto-scaler/gen/definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/dynamic-config-definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/values-required.yaml
  blueprints/policies/kubernetes-auto-scaler/gen/values.yaml
  blueprints/policies/kubernetes-auto-scaler/metadata.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/dynamic-config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/dynamic-config-definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/metadata.yaml
  blueprints/policies/static-rate-limiting/config.libsonnet
  blueprints/policies/static-rate-limiting/dynamic-config.libsonnet
  blueprints/policies/static-rate-limiting/gen/definitions.json
  blueprints/policies/static-rate-limiting/gen/dynamic-config-definitions.json
  blueprints/policies/static-rate-limiting/metadata.yaml
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/list.go
  docs/content/.markdownlintrc
  docs/content/parameterComponents.js
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/kubernetes-auto-scaler.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  requirements.txt
  scripts/blueprint-assets-generator.py
  scripts/generate_blueprints.sh
Due: updated-aperture, updated-aperture-docs

blueprints: fix rendering of array objects (#1697)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .tool-versions
  blueprints/blueprint-assets-generator.py
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  scripts/invalidate_asdf_ci_cache.sh
  sdks/aperture-go/Dockerfile
Due: updated-aperture

Shrink aperturectl and aperture-operator by splitting some packages (#1700)
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/common/common_types.go
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/controller_suite_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  operator/controllers/namespace/namespace_suite_test.go
  operator/controllers/suite_test.go
  pkg/agentfunctions/config/config.go
  pkg/agentfunctions/config/zz_generated.deepcopy.go
  pkg/agentfunctions/preview.go
  pkg/agentfunctions/provide.go
  pkg/alertmanager/client/client.go
  pkg/alertmanager/config/config.go
  pkg/alertmanager/config/zz_generated.deepcopy.go
  pkg/discovery/kubernetes/config/config.go
  pkg/discovery/kubernetes/config/zz_generated.deepcopy.go
  pkg/discovery/kubernetes/provide.go
  pkg/distcache/config/config.go
  pkg/distcache/config/zz_generated.deepcopy.go
  pkg/distcache/provider.go
  pkg/etcd/client/client.go
  pkg/etcd/config.go
  pkg/etcd/zz_generated.deepcopy.go
  pkg/peers/config/config.go
  pkg/peers/config/zz_generated.deepcopy.go
  pkg/peers/peers.go
  pkg/policies/flowcontrol/service/preview/config/config.go
  pkg/policies/flowcontrol/service/preview/config/zz_generated.deepcopy.go
  pkg/policies/flowcontrol/service/preview/provide.go
Due: updated-aperture, updated-aperture-docs

blueprints: revert k8s auto scaler (#1701)
  blueprints/blueprint-assets-generator.py
  blueprints/policies/kubernetes-auto-scaler/README.md
  blueprints/policies/kubernetes-auto-scaler/bundle.libsonnet
  blueprints/policies/kubernetes-auto-scaler/config.libsonnet
  blueprints/policies/kubernetes-auto-scaler/dashboard.libsonnet
  blueprints/policies/kubernetes-auto-scaler/gen/definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/dynamic-config-definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/dynamic-config-values-required.yaml
  blueprints/policies/kubernetes-auto-scaler/gen/dynamic-config-values.yaml
  blueprints/policies/kubernetes-auto-scaler/gen/values-required.yaml
  blueprints/policies/kubernetes-auto-scaler/gen/values.yaml
  blueprints/policies/kubernetes-auto-scaler/kubernetes-auto-scaler.libsonnet
  blueprints/policies/kubernetes-auto-scaler/metadata.yaml
  blueprints/policies/kubernetes-auto-scaler/policy.libsonnet
  docs/content/reference/policies/bundled-blueprints/bundled-blueprints.md
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/kubernetes-auto-scaler.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/metadata
Due: updated-aperture-docs

update reviewer to use gpt-4 (#1703)
  .github/workflows/openai-review.yml
Due: none

Fix rabbitmq-queue-buildup doc (#1702)
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
  playground/scenarios/graphql_query_static_rate_limiting/load_generator/test.js
Due: updated-aperture-docs

Documented ways to use environment variables in rabbitmq OTEL receiver (#1706)
  cmd/aperture-agent/config/types.go
  docs/content/get-started/integrations/metrics/rabbitmq.md
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  extensions/integrations/otel/rabbitmqreceiver/rabbitmqreceiver.go
  manifests/charts/aperture-agent/templates/agent.yaml
  manifests/charts/aperture-controller/templates/controller.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
Due: updated-aperture, updated-aperture-docs

feat: add aperturectl binaries for multiple targets (#1644)
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .circleci/scripts/compile.sh
  .circleci/scripts/create_tarball_file.sh
  packaging/cli/nfpm.yaml
  scripts/build_aperturectl.sh
Due: none

fix: add check for darwin to upload packages (#1707)
  .circleci/continue-workflows.yml
Due: none

add docs on filtering liveness and health probes flows (#1705)
  docs/content/concepts/flow-control/flow-selector.md
Due: updated-aperture-docs

Fix (#1709)
  pkg/otelcollector/alertsreceiver/receiver.go
  playground/scenarios/graphql_query_static_rate_limiting/load_generator/test.js
Due: updated-aperture

Handle multiple definitions of FluxMeter with same name (#1713)
  pkg/policies/controlplane/validator.go
Due: updated-aperture

Revert "Handle multiple definitions of FluxMeter with same name" (#1714)
  pkg/policies/controlplane/validator.go
Due: updated-aperture

Fixed aperturectl help and blueprints uri issue (#1715)
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/root.go
Due: updated-aperture

feat: aperturectl direct binaries for sepcific os and arch (#1708)
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  docs/content/get-started/aperture-cli/aperture-cli.md
Due: updated-aperture-docs

Add information on path ignoring to SDK libraries documentation (#1719)
  docs/content/get-started/integrations/flow-control/sdk/java/armeria.md
  docs/content/get-started/integrations/flow-control/sdk/java/auto-instrumentation.md
  docs/content/get-started/integrations/flow-control/sdk/java/netty.md
  docs/content/get-started/integrations/flow-control/sdk/java/springboot.md
  docs/content/get-started/integrations/flow-control/sdk/java/tomcat.md
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
Due: updated-aperture-docs

Add control point name configurability to servlet filters and netty (#1720)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/NettyUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
  sdks/aperture-java/version.gradle.kts
Due: none

Export metrics with pod count (#1655)
  .circleci/continue-workflows.yml
  .pre-commit-config.yaml
  pkg/metrics/schema.go
  pkg/policies/autoscale/kubernetes/discovery/autoscale-control-points.go
  pkg/policies/autoscale/kubernetes/discovery/provide.go
Due: updated-aperture

Demoapp cpu load (#1724)
  playground/Tiltfile
  playground/resources/demo-app/app/app.go
  playground/resources/demo-app/main.go
  playground/scenarios/auto_scaling/metadata.json
  playground/tanka/apps/demo-app/mixins.libsonnet
  playground/tanka/charts/demo-app/templates/deployment.yaml
  playground/tanka/charts/demo-app/values.yaml
  scripts/precommit/check_tanka_show.sh
Due: none

Fix typo (#1725)
  playground/tanka/apps/aperture-grafana/dashboards/json-example.json
Due: none

Update circleci/gcp-gcr orb to v0.15.1 (#1726)
  .circleci/continue-workflows.yml
Due: none

Invalidate caches (#1727)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
Due: none

Cleanup (#1728)
  api/buf.lock
  api/gen/proto/go/google/api/annotations.pb.go
  api/gen/proto/go/google/api/annotations.pb.validate.go
  api/gen/proto/go/google/api/annotations_deepcopy.gen.go
  api/gen/proto/go/google/api/http.pb.go
  api/gen/proto/go/google/api/http.pb.json.go
  api/gen/proto/go/google/api/http.pb.validate.go
  api/gen/proto/go/google/api/http_deepcopy.gen.go
  api/gen/proto/go/google/rpc/status.pb.go
  api/gen/proto/go/google/rpc/status.pb.json.go
  api/gen/proto/go/google/rpc/status.pb.validate.go
  api/gen/proto/go/google/rpc/status_deepcopy.gen.go
  api/gen/proto/go/protoc-gen-openapiv2/options/annotations.pb.go
  api/gen/proto/go/protoc-gen-openapiv2/options/annotations.pb.validate.go
  api/gen/proto/go/protoc-gen-openapiv2/options/annotations_deepcopy.gen.go
  api/gen/proto/go/protoc-gen-openapiv2/options/openapiv2.pb.go
  api/gen/proto/go/protoc-gen-openapiv2/options/openapiv2.pb.json.go
  api/gen/proto/go/protoc-gen-openapiv2/options/openapiv2.pb.validate.go
  api/gen/proto/go/protoc-gen-openapiv2/options/openapiv2_deepcopy.gen.go
  api/gen/proto/go/validate/validate.pb.go
  api/gen/proto/go/validate/validate.pb.json.go
  api/gen/proto/go/validate/validate.pb.validate.go
  api/gen/proto/go/validate/validate_deepcopy.gen.go
Due: none

Update value in demo-app chart (#1729)
  playground/tanka/apps/demo-app/mixins.libsonnet
  playground/tanka/charts/demo-app/templates/deployment.yaml
  playground/tanka/charts/demo-app/values.yaml
Due: none

blueprints: deprecation tooling (#1730)
  blueprints/blueprint-assets-generator.py
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/list.go
  cmd/aperturectl/cmd/blueprints/values.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/utils/globals.go
  cmd/aperturectl/cmd/utils/utils.go
  scripts/jsonnet-lib-gen.py
Due: updated-aperture

Add docs for receivers that support metrics type (#1731)
  docs/content/get-started/integrations/metrics/aerospike.md
  docs/content/get-started/integrations/metrics/apache-web-server.md
  docs/content/get-started/integrations/metrics/chrony.md
  docs/content/get-started/integrations/metrics/couchdb.md
  docs/content/get-started/integrations/metrics/expvar.md
  docs/content/get-started/integrations/metrics/f5-bigip.md
  docs/content/get-started/integrations/metrics/haproxy.md
  docs/content/get-started/integrations/metrics/httpcheck.md
  docs/content/get-started/integrations/metrics/memcached.md
  docs/content/get-started/integrations/metrics/microsoft-sql-server.md
  docs/content/get-started/integrations/metrics/mongodb.md
  docs/content/get-started/integrations/metrics/mysql.md
  docs/content/get-started/integrations/metrics/nginx.md
  docs/content/get-started/integrations/metrics/nsxt.md
  docs/content/get-started/integrations/metrics/oracledb.md
  docs/content/get-started/integrations/metrics/postgresql.md
  docs/content/get-started/integrations/metrics/rabbitmq.md
  docs/content/get-started/integrations/metrics/redis.md
  docs/content/get-started/integrations/metrics/riak.md
  docs/content/get-started/integrations/metrics/sap-hana.md
  docs/content/get-started/integrations/metrics/snowflake.md
  docs/content/get-started/integrations/metrics/sshcheck.md
  docs/content/get-started/integrations/metrics/vcenter.md
  docs/content/get-started/integrations/metrics/zookeeper.md
  docs/content/reference/aperturectl/build/agent/agent.md
  docs/content/reference/aperturectl/build/controller/controller.md
Due: updated-aperture-docs

unify cspell and ltex dictionary (#1732)
  .codespellignore
  .gitignore
  .pre-commit-config.yaml
  .vscode/ltex.dictionary.en-US.txt
  .vscode/ltex.hiddenFalsePositives.en-US.txt
Due: none

ltex: remove current false postives list (#1733)
  .vscode/ltex.hiddenFalsePositives.en-US.txt
Due: none

codespell: ignore words (#1734)
  .vscode/ltex.dictionary.en-US.txt
  operator/main.go
Due: none

scheduler: replace audit logic with timeout context (#1735)
  pkg/policies/flowcontrol/actuators/concurrency/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency/load-actuator.go
  pkg/policies/flowcontrol/actuators/concurrency/scheduler/wfq.go
  pkg/policies/flowcontrol/scheduler/scheduler.go
  pkg/policies/flowcontrol/scheduler/token-bucket-load-multiplier.go
  pkg/policies/flowcontrol/scheduler/token-bucket.go
  pkg/policies/flowcontrol/scheduler/wfq.go
  pkg/policies/flowcontrol/scheduler/wfq_test.go
  pkg/policies/flowcontrol/scheduler/windowed-counter.go
Due: updated-aperture

Shrink aperture-operator more by splitting some packages (#1722)
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/config/extensions/sentry/extension-swagger.yaml
  extensions/fluxninja/otel/otel_test.go
  extensions/sentry/config/config.go
  extensions/sentry/config/zz_generated.deepcopy.go
  extensions/sentry/provide.go
  operator/api/common/common_types.go
  operator/api/controller/v1alpha1/controller_types.go
  operator/controllers/agent/agent_suite_test.go
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/controller_suite_test.go
  operator/controllers/namespace/namespace_suite_test.go
  operator/controllers/suite_test.go
  operator/controllers/testutils/testutils.go
  operator/controllers/utils.go
  pkg/discovery/static/config/config.go
  pkg/discovery/static/config/zz_generated.deepcopy.go
  pkg/discovery/static/provide.go
  pkg/discovery/static/static_discovery.go
  pkg/discovery/static/static_discovery_test.go
  pkg/jobs/config/config.go
  pkg/jobs/config/zz_generated.deepcopy.go
  pkg/jobs/job-group.go
  pkg/jobs/job.go
  pkg/jobs/multi-job.go
  pkg/otelcollector/config/config.go
  pkg/prometheus/client.go
  pkg/prometheus/config/config.go
  pkg/prometheus/config/zz_generated.deepcopy.go
  pkg/watchdog/config/config.go
Due: updated-aperture, updated-aperture-docs

Improve RequestToInput performance in Check call (#1712)
  go.mod
  go.sum
  pkg/policies/flowcontrol/resources/classifier/classification-engine.go
  pkg/policies/flowcontrol/resources/classifier/classifier_test.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  pkg/policies/flowcontrol/service/checkhttp/request-to-input_test.go
  pkg/policies/flowcontrol/service/envoy/authz.go
Due: updated-aperture
