Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Added pre-commit step to generate playground policies (#1413)
  .pre-commit-config.yaml
  playground/scenarios/demo-app/policies/service1-demo-app-cr.yaml
  playground/scenarios/graphql-example-1/policies/graphql-static-rate-limiting-cr.yaml
  playground/scenarios/graphql-example-1/policies/graphql-static-rate-limiting.yaml
  playground/scripts/render-policy.sh
  playground/tanka/apps/policy/main.jsonnet
  playground/tanka/apps/policy/mixins.libsonnet
  scripts/precommit/generate_playground_policies.sh
Due: none

fix pre-commit (#1420)
  api/buf.lock
Due: none

fix: race flag failing of aperture tilt playground (#1414)
  pkg/info/build.sh
  pkg/plugins/build.sh
Due: updated-aperture

playground: add yaml ls schema to values.yaml (#1421)
  playground/scenarios/demo-app/policies/service1-demo-app-cr.yaml
  playground/scenarios/demo-app/policies/service1-demo-app.yaml
  playground/scenarios/graphql-example-1/policies/graphql-static-rate-limiting.yaml
Due: none

Use Tristate bool readings in all components that deal with and/or logic (#1356)
  pkg/policies/controlplane/components/alerter.go
  pkg/policies/controlplane/components/integrator.go
  pkg/policies/controlplane/components/logical.go
  pkg/policies/controlplane/components/switcher.go
  pkg/policies/controlplane/runtime/circuit_test.go
  pkg/policies/controlplane/runtime/tristate/tristate.go
Due: updated-aperture

gen: enrich api swagger with gotags extensions automatically (#1422)
  api/Makefile
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/label_matcher.proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/selector.proto
  api/enrich-api-swagger.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/config/aperture-plugin-sentry/plugin-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/policy/policy.yaml
  docs/tools/swagger/swagger-templates/config.gotmpl
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture, updated-aperture-docs

Start wavepool generator by default (#1425)
  playground/scenarios/wavepool-generator/apps-v1.Deployment-wavepool-graphql-generator.yaml
Due: none

Use forked jsonnet-bundler (#1427)
  go.mod
  go.sum
Due: updated-aperture

fix: make confimap test more robust (#1428)
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/configmaps_test.go
Due: none

aperturectl: Take KUBECONFIG env var into account (#1426)
  cmd/aperturectl/cmd/apply/root.go
  cmd/aperturectl/cmd/utils/utils.go
  docs/content/reference/aperturectl/apply/apply.md
Due: updated-aperture, updated-aperture-docs

latency aimd blueprint: make alert name optinal parameter (#1429)
  api/buf.lock
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.jsonnet
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/values.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.jsonnet
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/values.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/values.yaml
  playground/scenarios/demo-app/policies/service1-demo-app-cr.yaml
  playground/scenarios/demo-app/policies/service1-demo-app.yaml
Due: updated-aperture-docs

translate go defaults to swagger defaults (#1430)
  blueprints/dashboards/signals-dashboard/gen/definitions.json
  blueprints/gen/jsonschema/_definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/dynamic-config-definitions.json
  blueprints/policies/static-rate-limiting/gen/definitions.json
  blueprints/policies/static-rate-limiting/gen/dynamic-config-definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/spec.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/config/aperture-plugin-sentry/plugin-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/policy/policy.yaml
  docs/tools/swagger/process-go-tags.go
  docs/tools/swagger/swagger-templates/config.gotmpl
  scripts/blueprint-assets-generator.py
Due: updated-aperture-docs

translate go validates we use to swagger constraints (#1431)
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/spec.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/policy/policy.yaml
  docs/tools/swagger/process-go-tags.go
  docs/tools/swagger/swagger-templates/config.gotmpl
  scripts/jsonnet-lib-gen.py
Due: updated-aperture-docs

Enabled auto-reload of tilt for changes in scenarios (#1432)
  playground/.tiltignore
  playground/Tiltfile
Due: none

Enable cloud plugin using API key (#1412)
  playground/Tiltfile
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
  scripts/precommit/check_tanka_show.sh
Due: none

docs: replace pattern with human readable patterns (#1433)
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/spec.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/policy/policy.yaml
  docs/tools/swagger/process-go-tags.go
  docs/tools/swagger/swagger-templates/config.gotmpl
Due: updated-aperture-docs

Made map comparison order safe in ConfigMap tests (#1435)
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/utils.go
Due: none

speed up CI by resetting cache and parallel jsonnet validation (#1434)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  docs/Makefile
  docs/content/concepts/integrations/flow-control/assets/gen/flow-control/flow-control.md_0.mmd
  docs/content/concepts/integrations/flow-control/assets/gen/flow-control/flow-control.md_0.mmd.md5sum
  docs/content/concepts/integrations/flow-control/assets/gen/flow-control/flow-control.md_0.mmd.svg
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_0.mmd
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_0.mmd.md5sum
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_0.mmd.svg
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_1.mmd
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_1.mmd.md5sum
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_1.mmd.svg
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_2.mmd
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_2.mmd.md5sum
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_2.mmd.svg
  docs/tools/jsonnet/generate_jsonnet.sh
  docs/tools/mermaid/generate_mermaid.sh
  docs/tools/swagger/generate_config_markdown.sh
  scripts/generate_blueprints.sh
  scripts/go_generate.sh
  scripts/go_generate_swagger.sh
  scripts/precommit/generate_doc_assets.sh
  scripts/precommit/generate_playground_policies.sh
Due: updated-aperture-docs

circleci: add jsonnet vendor to daily cache (#1436)
  .circleci/continue-workflows.yml
Due: none

Fixed issue with sentry processing logs (#1438)
  pkg/config/log.go
Due: updated-aperture

Removed map sorting from ConfigMap tests (#1439)
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/utils.go
Due: none

Fixed pre-commit failures on main (#1440)
  scripts/precommit/generate_playground_policies.sh
Due: none

Fixed format issues of installation pages (#1441)
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller/controller.md
Due: updated-aperture-docs

Read IP addresses from `source` and `destination` attributes in authz (#1383)
  api/aperture/flowcontrol/entitycache/v1/entitycache.proto
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/discovery/kubernetes/service-discovery.go
  pkg/entitycache/entity_cache.go
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
  pkg/otelcollector/otelcollector.go
  pkg/policies/flowcontrol/service/envoy/authz-labels.go
  pkg/policies/flowcontrol/service/envoy/authz-labels_test.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  pkg/policies/flowcontrol/service/envoy/authz_test.go
  pkg/policies/flowcontrol/service/envoy/provide.go
  pkg/policies/flowcontrol/servicegetter/metrics.go
  pkg/policies/flowcontrol/servicegetter/servicegetter.go
Due: updated-aperture, updated-aperture-docs

Bump Golang to 1.20 (#1372)
  .circleci/continue-workflows.yml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  operator/Dockerfile
  playground/scenarios/demo-app/application/Dockerfile
  playground/scenarios/demo-app/application/go.mod
  playground/scenarios/graphql-example-1/application/graphql_demo_app/Dockerfile
  playground/scenarios/graphql-example-1/application/graphql_demo_app/go.mod
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  tools/go/go.mod
Due: updated-aperture

api docs: remove gotags in the title in addition to description (#1442)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .gitignore
  api/aperture/flowcontrol/preview/v1/preview.proto
  api/aperture/policy/language/v1/policy.proto
  api/enrich-api-swagger.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/CONTRIBUTING.md
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/get-started/policies/assets/validate.sh
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  docs/tools/aperturectl/validate_all.sh
  docs/tools/aperturectl/validate_common.sh
  docs/tools/jsonnet/generate_jsonnet.sh
  scripts/build_aperturectl.sh
  scripts/precommit/generate_playground_policies.sh
Due: updated-aperture-docs

fix playground and build plugins on builder base (#1443)
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  playground/Tiltfile
Due: updated-aperture

Revert "Bump Golang to 1.20 (#1372)" (#1446)
  .circleci/continue-workflows.yml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  operator/Dockerfile
  playground/scenarios/demo-app/application/Dockerfile
  playground/scenarios/demo-app/application/go.mod
  playground/scenarios/graphql-example-1/application/graphql_demo_app/Dockerfile
  playground/scenarios/graphql-example-1/application/graphql_demo_app/go.mod
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  tools/go/go.mod
Due: updated-aperture

Increased default no output timeout for CircleCI image build (#1449)
  .circleci/continue-workflows.yml
Due: none

Fixed limit_reset_interval not getting added in values.yaml (#1450)
  blueprints/policies/static-rate-limiting/config.libsonnet
  blueprints/policies/static-rate-limiting/gen/definitions.json
  blueprints/policies/static-rate-limiting/gen/values-required.yaml
  blueprints/policies/static-rate-limiting/gen/values.yaml
  docs/content/get-started/policies/assets/raw_values.yaml
  docs/content/get-started/policies/assets/validate.sh
  docs/content/get-started/policies/policies.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
Due: updated-aperture-docs

Prepare for 0.25.x (#1451)
  cmd/aperturectl/cmd/apply/policy.go
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture

Bump go to 1.20.1 and otel to 0.72.0 (#1452)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  Makefile
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  pkg/info/build.sh
  pkg/plugins/build.sh
  pkg/utils/goleak.go
  playground/scenarios/demo-app/application/go.mod
  playground/scenarios/graphql-example-1/application/graphql_demo_app/go.mod
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  tools/go/go.mod
  tools/go/go.sum
  tools/go/tools.go
Due: updated-aperture

Script to update go version everywhere (#1454)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  operator/Dockerfile
  playground/scenarios/demo-app/application/Dockerfile
  playground/scenarios/demo-app/application/go.mod
  playground/scenarios/graphql-example-1/application/graphql_demo_app/Dockerfile
  playground/scenarios/graphql-example-1/application/graphql_demo_app/go.mod
  scripts/go_mod_tidy.sh
  scripts/invalidate_asdf_ci_cache.sh
  scripts/update_go_version.sh
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  tools/go/go.mod
Due: updated-aperture

Added nil check for using provided writers in logger (#1458)
  pkg/config/log.go
Due: updated-aperture

Fixed docker build and sentry plugin issues (#1459)
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  plugins/service/aperture-plugin-sentry/main.go
  plugins/service/aperture-plugin-sentry/sentry/sentry.go
Due: updated-aperture

Fixed demo-app chart location (#1462)
  .opsninja.yaml
Due: none

Fix config with missing agent_functions.endpoints not applying (#1463)
  docs/gen/config/agent/config-swagger.yaml
  pkg/agentfunctions/provide.go
Due: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
