Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Stop using dummy hash (#2861)
  pkg/policies/controlplane/policy.go
Due: updated-aperture

Docs: Replace installation with setup CLI section (#2864)
  .vscode/ltex.hiddenFalsePositives.en-US.txt
  docs/content/concepts/classifier.md
  docs/content/get-started/aperture-cloud/personal-api-keys.md
  docs/content/get-started/get-started.md
  docs/content/get-started/policies/policies.md
  docs/content/get-started/self-hosting/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/self-hosting/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/self-hosting/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/self-hosting/controller/kubernetes/kubernetes.md
  docs/content/get-started/set-up-application/manual-control-points.md
  docs/content/get-started/set-up-application/middleware-insertions.md
  docs/content/get-started/set-up-application/service-mesh-and-gateways.md
  docs/content/get-started/setup-cli/configure-cli.md
  docs/content/get-started/setup-cli/install-cli.md
  docs/content/get-started/setup-cli/setup-cli.md
  docs/content/guides/api-quota-management/openai.md
  docs/content/integrations/istio/istio.md
  docs/content/introduction.md
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/configuration/aperturectl.md
  docs/tools/aperturectl/generate-docs/generate-docs.go
Due: updated-aperture-docs

Fix pre-commit (#2866)
  api/buf.lock
  docs/tools/aperturectl/generate-docs/generate-docs.go
Due: updated-aperture-docs

Add missing imports in docs (#2868)
  docs/content/guides/api-quota-management/api-quota-management.md
  docs/content/guides/api-quota-management/inter-service-rate-limiting.md
  docs/content/guides/api-quota-management/openai.md
  docs/content/guides/classifying-workloads/graphql-rate-limiting.md
  docs/content/guides/database-load-management/postgresql.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/guides/service-load-management/average-latency-feedback.md
  docs/content/guides/service-load-management/service-load-management.md
Due: updated-aperture-docs

Fix import in docs (#2869)
  docs/content/concepts/advanced/policy.md
Due: updated-aperture-docs

blueprints --dir flag (#2867)
  cmd/aperturectl/cmd/cloud/blueprints/apply.go
  cmd/aperturectl/cmd/cloud/blueprints/globals.go
  docs/content/reference/aperturectl/cloud/blueprints/apply/apply.md
Due: updated-aperture, updated-aperture-docs

Add link to Agent API Key creation from SDK docs (#2891)
  docs/content/get-started/aperture-cloud/agent-api-keys.md
  docs/content/integrations/sdk/go/manual.md
  docs/content/integrations/sdk/java/armeria.md
  docs/content/integrations/sdk/java/auto-instrumentation.md
  docs/content/integrations/sdk/java/manual.md
  docs/content/integrations/sdk/java/netty.md
  docs/content/integrations/sdk/java/springboot.md
  docs/content/integrations/sdk/java/tomcat.md
  docs/content/integrations/sdk/javascript/manual.md
  docs/content/integrations/sdk/python/manual.md
Due: updated-aperture-docs

GracefulJS Demo UI (#2892)
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/hooks/use-request-to-endpoint.ts
  playground/scenarios/graceful-js/load-generator/test.js
Due: none

Add promql query used in the adaptive load scheduling blueprint docs (#2893)
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/elasticsearch.md
  docs/content/reference/blueprints/load-scheduling/java-gc-generic.md
  docs/content/reference/blueprints/load-scheduling/java-gc-k8s.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
Due: updated-aperture-docs

Add new blueprints for overload protection (#2862)
  blueprints/load-scheduling/cpu-overload-protection-k8s/bundle.libsonnet
  blueprints/load-scheduling/cpu-overload-protection-k8s/config.libsonnet
  blueprints/load-scheduling/cpu-overload-protection-k8s/cpu-overload-protection.libsonnet
  blueprints/load-scheduling/cpu-overload-protection-k8s/dynamic-config.libsonnet
  blueprints/load-scheduling/cpu-overload-protection-k8s/gen/definitions.json
  blueprints/load-scheduling/cpu-overload-protection-k8s/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/cpu-overload-protection-k8s/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/cpu-overload-protection-k8s/gen/values.yaml
  blueprints/load-scheduling/cpu-overload-protection-k8s/metadata.yaml
  blueprints/load-scheduling/cpu-overload-protection-k8s/policy.libsonnet
  docs/content/reference/blueprints/load-scheduling/cpu-overload-protection-k8s.md
  playground/scenarios/cpu-overload-protection/load-generator/test.js
  playground/scenarios/cpu-overload-protection/metadata.json
  playground/scenarios/cpu-overload-protection/policies/cpu-overload-protection-cr.yaml
  playground/scenarios/cpu-overload-protection/policies/cpu-overload-protection.yaml
  playground/scenarios/cpu-overload-protection/values.yaml
  playground/tanka/charts/demo-app/templates/deployment.yaml
  playground/tanka/charts/demo-app/values.yaml
Due: updated-aperture-docs

use x-api-key header instead of apiKey header (#2895)
  extensions/fluxninja/extconfig/extconfig.go
  extensions/fluxninja/heartbeats/heartbeats.go
  playground/tanka/lib/apps/aperture-sdk-example/aperture-sdk-example.libsonnet
  sdks/aperture-go/example/main.go
  sdks/aperture-go/sdk/client.go
  sdks/aperture-java/dockerfiles/javaagent/armeria/Dockerfile
  sdks/aperture-java/dockerfiles/javaagent/netty/Dockerfile
  sdks/aperture-java/dockerfiles/middlewares/armeria-tls/Dockerfile
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/SpringBootApp.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/controller/AppController.java
  sdks/aperture-java/examples/spring-example/src/main/resources/application.properties
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/standalone-traffic-flow-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/javaagent/test-services/armeria-test-service/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/javaagent/test-services/netty-test-service/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-js/example/example.ts
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/consts.ts
  sdks/aperture-js/updateVersion.mjs
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/example/Dockerfile
  sdks/aperture-py/poetry.lock
  sdks/aperture-py/pyproject.toml
Due: none

Fix process Go tags (#2894)
  blueprints/gen/jsonschema/_definitions.json
  blueprints/load-scheduling/common-aiad/config-defaults.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/guides/database-load-management/assets/postgresql/values.yaml
  docs/content/guides/service-load-management/assets/average-latency-feedback/values.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  docs/tools/swagger/process-go-tags.go
  playground/scenarios/basic-service-protection/policies/basic-service-protection.yaml
  playground/scenarios/cpu-overload-protection/policies/cpu-overload-protection.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection.yaml
  playground/scenarios/elasticsearch-overload/policies/elasticsearch-overload.yaml
  playground/scenarios/graceful-js/policies/postgres-connections.yaml
  playground/scenarios/java-gc-service-protection/policies/java-gc-service-protection.yaml
  playground/scenarios/java-service-protection/policies/service-protection.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization.yaml
  playground/scenarios/rabbitmq-queue-buildup/policies/rabbitmq-queue-buildup.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization.yaml
Due: updated-aperture-docs

Add support for secret manager in inframeter config update (#2896)
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/otel-config.go
  go.mod
  go.sum
  operator/controllers/agent/agent_suite_test.go
  operator/controllers/mutate_func.go
  pkg/otelcollector/infra-meter/infra-meter.go
  pkg/secretmanager/provide.go
Due: updated-aperture

Fix omitempty validation for string types (#2898)
  docs/tools/swagger/process-go-tags.go
Due: updated-aperture-docs

Pin protocolbuffers version as latest causes issues in SDKs (#2900)
  api/buf.gen.aperture-langs.yaml
  api/buf.lock
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
Due: none

Add nil check for InstallationModeConfig (#2901)
  pkg/secretmanager/provide.go
Due: updated-aperture

Add nil check for InstallationModeConfig (#2902)
  cmd/aperture-agent/agent/otel-config.go
Due: updated-aperture

fix pre-commit issues (#2903)
  cmd/aperturectl/cmd/blueprints/generate.go
  docs/content/reference/aperture-cli/aperturectl/aperturectl.md
  docs/content/reference/aperture-cli/aperturectl/completion/bash/bash.md
  docs/content/reference/aperture-cli/aperturectl/completion/fish/fish.md
  docs/content/reference/aperture-cli/aperturectl/completion/zsh/zsh.md
Due: updated-aperture, updated-aperture-docs

Update aperturectl config docs (#2906)
  docs/content/reference/aperture-cli/configure-cli.md
  docs/content/reference/configuration/aperturectl.md
Due: updated-aperture-docs

docs fixes (#2907)
  docs/content/concepts/advanced/auto-scale.md
  docs/content/concepts/advanced/circuit.md
  docs/content/concepts/advanced/classifier.md
  docs/content/concepts/advanced/dynamic-configuration.md
  docs/content/concepts/advanced/flux-meter.md
  docs/content/concepts/advanced/infra-meter.md
  docs/content/concepts/advanced/load-ramp.md
  docs/content/concepts/advanced/policy.md
  docs/content/concepts/advanced/service.md
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.md5sum
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.svg
  docs/content/concepts/flow-lifecycle.md
  docs/content/faq.md
  docs/content/introduction.md
Due: updated-aperture-docs

add words and fix docs (#2908)
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/self-hosting/self-hosting.md
Due: updated-aperture-docs

Update openai.md (#2909)
  docs/content/guides/api-quota-management/openai.md
Due: updated-aperture-docs

Fix pre-commit and proto gen for java (#2911)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/ClassifierInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/ClassifierInfoOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FluxMeterInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FluxMeterInfoOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecisionOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/StatusCode.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckhttpProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/DeniedHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/DeniedHttpResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/OkHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/OkHttpResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/SocketAddress.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/SocketAddressOrBuilder.java
Due: none

Updated aperture-go sdk docs (#2912)
  docs/content/sdk/go/manual.md
  sdks/aperture-go/README.md
  sdks/aperture-go/example/main.go
Due: updated-aperture-docs

Upgraded OTEL to v0.88.0 (#2915)
  go.mod
  go.sum
Due: updated-aperture

Fix query for ACCEPT_PERCENTAGE signal (#2917)
  pkg/policies/controlplane/components/flowcontrol/rate-limiter/rate-limiter.go
Due: updated-aperture

Add required policy labels for ACCEPT_PERCENTAGE (#2919)
  pkg/policies/controlplane/components/flowcontrol/rate-limiter/rate-limiter.go
Due: updated-aperture

update get started doc and architecture image placement (#2913)
  docs/content/assets/img/saas-dark.svg
  docs/content/assets/img/saas-light.svg
  docs/content/get-started/assets/architecture/saas-dark.svg
  docs/content/get-started/assets/architecture/saas-light.svg
  docs/content/get-started/get-started.md
  docs/content/self-hosting/architecture.md
Due: updated-aperture-docs

Prevent reconcile loop on deployment replica count changes for agent and controller (#2920)
  operator/controllers/agent/deployment.go
Due: none

agent group label for flowcontrol_decisions_total metric (#2921)
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/check/metrics.go
Due: updated-aperture

update docs & links (#2922)
  docs/content/get-started/set-up-application/_category_.yml
  docs/content/get-started/set-up-application/manual-control-points.md
  docs/content/get-started/set-up-application/middleware-insertions.md
  docs/content/get-started/set-up-application/set-up-application.md
  docs/content/self-hosting/agent/agent.md
  docs/content/self-hosting/architecture.md
  docs/content/self-hosting/self-hosting.md
Due: updated-aperture-docs

Update go to v1.21.4 (#2923)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  sdks/aperture-go/Dockerfile
Due: updated-aperture

Add support for Alerter in Quota Scheduler (#2926)
  .tool-versions
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/private/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/quotascheduler.libsonnet
  blueprints/gen/v1/quotaschedulerouts.libsonnet
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/policy.libsonnet
  dashboards/grafana/dashboards/summary/quota-scheduler/rows.libsonnet
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.md5sum
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.svg
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/values.yaml
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/circuitfactory/flow-control-components.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/config-sync.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/private.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/quota-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/rate-limiter/private.go
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
Due: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
