Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Update README.md (#308)
  README.md
Due: none

Update README.md
  playground/README.md
Due: none

Fix paths in buttons
  playground/Tiltfile
Due: none

Fix tanka pre-commit hook (#317)
  .pre-commit-config.yaml
  playground/Tiltfile
  playground/scripts/portforward.sh
  playground/tanka/charts/.gitignore
  scripts/precommit/check_tanka_show.sh
Due: none

gitignore istio
  playground/tanka/charts/.gitignore
Due: none

use official istio chart instead of getindata istio (#316)
  docs/content/setup/istio.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  playground/Tiltfile
  playground/tanka/chartfile.yaml
  playground/tanka/environments/tilt/apps/istio/mixins.libsonnet
  playground/tanka/lib/apps/istio/main.libsonnet
Due: updated-aperture-docs

Cleanup charts (#319)
  .pre-commit-config.yaml
  Makefile
  manifests/charts/Makefile
  manifests/charts/README.md
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-controller/README.md
  manifests/charts/istioconfig/Chart.yaml
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
  playground/tanka/apps/istio/mixins.libsonnet
  playground/tanka/charts/bookinfo
  playground/tanka/charts/bookinfo/.helmignore
  playground/tanka/charts/bookinfo/Chart.yaml
  playground/tanka/charts/bookinfo/templates/_helpers.tpl
  playground/tanka/charts/bookinfo/templates/deployment.yaml
  playground/tanka/charts/bookinfo/templates/ingress.yaml
  playground/tanka/charts/bookinfo/templates/service.yaml
  playground/tanka/charts/bookinfo/templates/serviceaccount.yaml
  playground/tanka/charts/bookinfo/values.yaml
  playground/tanka/charts/demo-app
  playground/tanka/charts/demo-app/.helmignore
  playground/tanka/charts/demo-app/Chart.yaml
  playground/tanka/charts/demo-app/templates/_helpers.tpl
  playground/tanka/charts/demo-app/templates/deployment.yaml
  playground/tanka/charts/demo-app/templates/service.yaml
  playground/tanka/charts/demo-app/templates/serviceaccount.yaml
  playground/tanka/charts/demo-app/values.yaml
  scripts/precommit/generate_helm_readme.sh
Due: none

Update .helmignore (#320)
  playground/tanka/charts/bookinfo/.helmignore
Due: none

Fix missing helmignore (#321)
  playground/tanka/charts/bookinfo/.helmignore
Due: none

Add SpanStatusCode and Duration to Span attributes (#271)
  docs/content/setup/istio.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  pkg/metrics/schema.go
  pkg/otel/config.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
Due: updated-aperture, updated-aperture-docs

Fixes for envoy filters (#326)
  manifests/charts/istioconfig/templates/envoy_filter.yaml
Due: none

Add systemd service to package (#328)
  .github/CODEOWNERS
  nfpm.yaml
  packaging/aperture-agent.service
  packaging/aperture-agent.yaml
  packaging/post-install.sh
Due: none

Bring back v3 OTLP extension (#332)
  manifests/charts/istioconfig/templates/envoy_filter.yaml
Due: none

Add protoc-gen-go-deepcopy plugin support to buf generate (#331)
  api/buf.gen.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper_deepcopy.gen.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_deepcopy.gen.go
  api/gen/proto/go/aperture/common/info/v1/info_deepcopy.gen.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher_deepcopy.gen.go
  api/gen/proto/go/aperture/common/peers/v1/peers_deepcopy.gen.go
  api/gen/proto/go/aperture/common/selector/v1/selector_deepcopy.gen.go
  api/gen/proto/go/aperture/common/status/v1/status_deepcopy.gen.go
  api/gen/proto/go/aperture/common/watchdog/v1/watchdog_deepcopy.gen.go
  api/gen/proto/go/aperture/flowcontrol/v1/envoy_deepcopy.gen.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol_deepcopy.gen.go
  api/gen/proto/go/aperture/openapiv2/v1/openapiv2_deepcopy.gen.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/decisions/v1/decisions_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/classifier_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  go.mod
Due: updated-aperture

Update flow-control.md
  docs/content/concepts/flow-control/flow-control.md
Due: updated-aperture-docs

Update scheduler.md
  docs/content/concepts/flow-control/actuators/scheduler.md
Due: updated-aperture-docs

Update selector.md
  docs/content/concepts/flow-control/selector.md
Due: updated-aperture-docs

Update label.md
  docs/content/concepts/flow-control/label/label.md
Due: updated-aperture-docs

Update policy-blueprints.md
  docs/content/concepts/policies/policy-blueprints.md
Due: updated-aperture-docs

Update istio.md
  docs/content/setup/istio.md
Due: updated-aperture-docs

Update supported-platforms.md
  docs/content/setup/supported-platforms.md
Due: updated-aperture-docs

Update controller.md
  docs/content/setup/installation/controller.md
Due: updated-aperture-docs

Update agent.md
  docs/content/setup/installation/agent/agent.md
Due: updated-aperture-docs

Update plugin.md
  docs/content/cloud/plugin.md
Due: updated-aperture-docs

Contentjai (#322)
  docs/content/cloud/cloud.md
  docs/content/concepts/flow-control/actuators/actuators.md
  docs/content/concepts/policies/policies.md
Due: updated-aperture-docs

add helm lint in pre-check (#306)
  .pre-commit-config.yaml
  Makefile
  manifests/charts/Makefile
  scripts/precommit/helmlint.sh
Due: none

Fix link in readme
  README.md
Due: none

add pre-commit check for circleci files (#335)
  .pre-commit-config.yaml
Due: none

ci workflow for helm chart release (#327)
  .circleci/config.yml
  .circleci/releases.yaml
  .circleci/scripts/helm_release.sh
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

Fixed pre-commit (#337)
  .pre-commit-config.yaml
  README.md
  operator/README.md
  pkg/otelcollector/loggingexporter/README.md
  pkg/otelcollector/rollupprocessor/README.md
  pkg/policies/dataplane/resources/classifier/extractors/README.md
Due: updated-aperture

Update blueprints documentation with latest changes (#336)
  docs/content/concepts/policies/policy-blueprints.md
Due: updated-aperture-docs

Add files via upload
  docs/content/assets/img/oaadark.png
  docs/content/assets/img/oaalight.png
Due: updated-aperture-docs

Update README.md
  README.md
Due: none

Link to official docs in README.md (#339)
  README.md
  docs/content/assets/img/oaa.jpg
  docs/content/assets/img/oaa.png
  docs/content/assets/img/oaadark.png
Due: updated-aperture-docs

Fix themes in GH mobile app (#340)
  README.md
Due: none

Document Flow Classifier concept (#338)
  docs/Makefile
  docs/content/concepts/flow-control/actuators/rate-limiter.md
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/label/classifier.md
  docs/content/concepts/flow-control/label/label.md
  docs/content/concepts/flow-control/selector.md
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/swagger.md
  docs/gen/policies/policy.md
Due: updated-aperture-docs

pre-commit: install tools (#342)
  .pre-commit-config.yaml
  scripts/precommit/install_tools.sh
Due: none
