Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

update dictionary (#2522)
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/integrations/metrics/collectd.md
Due: updated-aperture-docs

Fixed pre-commit (#2523)
  docs/tools/otel_collectors/metadata.yaml
Due: updated-aperture-docs

Create empty compiledCircuit before returning from compilePolicyWrapper (#2527)
  pkg/policies/controlplane/circuitfactory/circuit.go
  pkg/policies/controlplane/circuitfactory/tree.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/validator.go
Due: updated-aperture

Removed not-in check for StatusCode enum (#2529)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
Due: none

update vale dict (#2530)
  .github/styles/Vocab/FluxNinja/accept.txt
Due: none

Fix aperture-js sdk types (#2528)
  .pre-commit-config.yaml
  docs/content/integrations/sdk/javascript/manual.md
  sdks/aperture-js/.gitignore
  sdks/aperture-js/Dockerfile
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/example/tsconfig.json
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
  sdks/aperture-js/sdk/index.ts
Due: updated-aperture-docs

Bump js sdk version to 1.1.0 (#2532)
  sdks/aperture-js/package.json
Due: none

Add sane default resources to controller init containers (#2534)
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/operator-pre-delete-hook.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/controller-cr.yaml
  manifests/charts/aperture-controller/templates/controller-deployment.yaml
  manifests/charts/aperture-controller/templates/operator-pre-delete-hook.yaml
  manifests/charts/aperture-controller/templates/post-install-hook.yaml
  manifests/charts/aperture-controller/values.yaml
Due: none

Add new optional ChannelCredentials parameter to the JS SDK (#2535)
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: none

Minor corrections in the aperture helm charts (#2536)
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/operator-pre-delete-hook.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/operator-pre-delete-hook.yaml
  manifests/charts/aperture-controller/templates/post-install-hook.yaml
  manifests/charts/aperture-controller/values.yaml
Due: none

Aperture JS SDK: Handle failOpen scenario (#2537)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: none

Add support for printing templated manifest files in aperturectl (#2538)
  cmd/aperturectl/cmd/installation/install.go
  cmd/aperturectl/cmd/installation/utils.go
  docs/content/reference/aperturectl/install/agent/agent.md
  docs/content/reference/aperturectl/install/controller/controller.md
  docs/content/reference/aperturectl/install/install.md
  docs/content/reference/aperturectl/install/istioconfig/istioconfig.md
Due: updated-aperture, updated-aperture-docs

Jmx policy (#2509)
  blueprints/load-scheduling/jmx/README.md
  blueprints/load-scheduling/jmx/bundle.libsonnet
  blueprints/load-scheduling/jmx/config.libsonnet
  blueprints/load-scheduling/jmx/dynamic-config.libsonnet
  blueprints/load-scheduling/jmx/gen/definitions.json
  blueprints/load-scheduling/jmx/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/jmx/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/jmx/gen/values.yaml
  blueprints/load-scheduling/jmx/jmx.libsonnet
  blueprints/load-scheduling/jmx/metadata.yaml
  blueprints/load-scheduling/jmx/policy.libsonnet
  blueprints/load-scheduling/jmx/utils.libsonnet
  docs/content/reference/blueprints/load-scheduling/jmx.md
  playground/scenarios/jmx-service-protection/dashboards/main.jsonnet
  playground/scenarios/jmx-service-protection/load-generator/test.js
  playground/scenarios/jmx-service-protection/metadata.json
  playground/scenarios/jmx-service-protection/policies/jmx-service-protection-cr.yaml
  playground/scenarios/jmx-service-protection/policies/jmx-service-protection.yaml
  playground/scenarios/jmx-service-protection/values.yaml
Due: updated-aperture-docs

Dict update (#2539)
  .github/styles/Vocab/FluxNinja/accept.txt
Due: none

Change elasticsearch blueprint's promql query (#2540)
  blueprints/load-scheduling/elasticsearch/config.libsonnet
  blueprints/load-scheduling/elasticsearch/gen/definitions.json
  docs/content/reference/blueprints/load-scheduling/elasticsearch.md
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
Due: updated-aperture-docs

add rate limiting matrix guide (#2521)
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/guides/assets/adaptive-service-limits.svg
  docs/content/guides/assets/per-user-limits.svg
  docs/content/guides/guides.md
  docs/content/guides/rate-limiting.md
Due: updated-aperture-docs

Waiting room senario graceful js (#2499)
  api/buf.lock
  blueprints/load-scheduling/postgresql/config.libsonnet
  blueprints/load-scheduling/postgresql/gen/definitions.json
  docs/content/reference/blueprints/load-scheduling/postgresql.md
  pkg/config/koanf-unmarshaller.go
  playground/Tiltfile
  playground/resources/demo-app/app/app.go
  playground/resources/demo-app/go.mod
  playground/resources/demo-app/go.sum
  playground/resources/demo-app/main.go
  playground/resources/demo-ui/.eslintrc.json
  playground/resources/demo-ui/package-lock.json
  playground/resources/demo-ui/package.json
  playground/resources/demo-ui/src/app.tsx
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/hooks/tab-change.ts
  playground/resources/demo-ui/src/hooks/use-request-to-endpoint.ts
  playground/resources/demo-ui/src/pages/home.tsx
  playground/scenarios/graceful-js/load-generator/test.js
  playground/scenarios/graceful-js/metadata.json
  playground/scenarios/graceful-js/policies/load-ramping-cr.yaml
  playground/scenarios/graceful-js/policies/postgres-connections-cr.yaml
  playground/scenarios/graceful-js/policies/postgres-connections.yaml
  playground/scenarios/graceful-js/policies/rate-limiting-cr.yaml
  playground/scenarios/graceful-js/values.yaml
  playground/tanka/apps/postgresql/main.jsonnet
  playground/tanka/apps/postgresql/mixins.libsonnet
  playground/tanka/chartfile.yaml
  playground/tanka/charts/.gitignore
  playground/tanka/charts/demo-app/templates/deployment.yaml
  playground/tanka/charts/demo-app/values.yaml
  playground/tanka/jsonnetfile.lock.json
  playground/tanka/lib/apps/postgresql/main.libsonnet
Due: updated-aperture, updated-aperture-docs

Fixed fields getting added as null in helm template (#2541)
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/agent-cr.yaml
  manifests/charts/aperture-agent/templates/agent-deployment.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/controller-cr.yaml
  manifests/charts/aperture-controller/templates/controller-deployment.yaml
  manifests/charts/aperture-controller/values.yaml
Due: none

Fixed CR image parsing in helm (#2544)
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/agent-cr.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/controller-cr.yaml
  manifests/charts/aperture-controller/values.yaml
Due: none

PID Controller (#2543)
  README.md
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/std_components.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_vtproto.pb.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/std_components_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/component.libsonnet
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/pidcontroller.libsonnet
  blueprints/gen/v1/pidcontrollerins.libsonnet
  blueprints/gen/v1/pidcontrollerouts.libsonnet
  blueprints/gen/v1/pidcontrollerparameters.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/components/pid-controller.go
Due: updated-aperture, updated-aperture-docs

Conditional RBAC permissions in operator and Agent Helm Chart (#2545)
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/operator-deployment.yaml
  manifests/charts/aperture-agent/templates/operator-rbac.yaml
  manifests/charts/aperture-agent/values.yaml
  operator/controllers/agent/reconciler.go
  operator/main.go
Due: none

Upgraded go to v1.21.0 (#2568)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/demo-app/go.mod
  playground/resources/demo-app/go.sum
  playground/resources/graphql-demo-app/Dockerfile
  playground/resources/graphql-demo-app/go.mod
  scripts/go_mod_tidy.sh
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture

Downgrade go to 1.20.7 as there are some issues with go 1.21.0 (#2569)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/demo-app/go.mod
  playground/resources/demo-app/go.sum
  playground/resources/graphql-demo-app/Dockerfile
  playground/resources/graphql-demo-app/go.mod
  scripts/go_mod_tidy.sh
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture

Reverted all go upgrades (#2570)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  sdks/aperture-go/Dockerfile
Due: updated-aperture

Revert "Update Go to 1.21" (#2572)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/demo-app/go.mod
  playground/resources/demo-app/go.sum
  playground/resources/graphql-demo-app/Dockerfile
  playground/resources/graphql-demo-app/go.mod
  scripts/go_mod_tidy.sh
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture

Fix aperture-js proto file reference (#2574)
  sdks/aperture-js/Dockerfile
  sdks/aperture-js/example/package.json
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
Due: none

Removed defaults for 'tokens_label_key' and 'priorities_label_key' (#2573)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

Fixed missing additional components in blueprints (#2575)
  blueprints/quota-scheduling/base/policy.libsonnet
  blueprints/rate-limiting/base/policy.libsonnet
Due: none

fix tokens type (int vs string) in the policy spec (#2578)
  api/aperture/policy/language/v1/autoscale.proto
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  cmd/aperture-agent/config/types.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/advanced/policy.md
  docs/content/concepts/flux-meter.md
  docs/content/faq.md
  docs/content/get-started/aperture-cloud/sign-up.md
  docs/content/get-started/installation/aperture-cli/aperture-cli.md
  docs/content/integrations/auto-scale/auto-scale.md
  docs/content/integrations/sdk/java/auto-instrumentation.md
  docs/content/introduction.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/spec.md
  docs/content/use-cases/auto-scaling/auto-scaling.md
  docs/content/use-cases/managing-quotas/managing-quotas.md
  docs/content/use-cases/percentage-rollouts/average-latency-feedback.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/policy/policy.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/otelcollector/config/user_config.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Due: updated-aperture, updated-aperture-docs

pin grafonnet version (#2582)
  blueprints/jsonnetfile.json
  blueprints/jsonnetfile.lock.json
  playground/tanka/jsonnetfile.json
  playground/tanka/jsonnetfile.lock.json
Due: none

Fix aperture-js proto response timestamps not in ISO format (#2580)
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
Due: none

Bump JS SDK version to 2.0.3 (#2583)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
Due: none

Set default tokens in the workload to 1 and switch off auto tokens by default (#2590)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/scheduler/scheduler.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/basic-service-protection/policies/basic-service-protection.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection.yaml
  playground/scenarios/elasticsearch-overload/policies/elasticsearch-overload.yaml
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
  playground/scenarios/graceful-js/policies/postgres-connections-cr.yaml
  playground/scenarios/graceful-js/policies/postgres-connections.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection.yaml
  playground/scenarios/jmx-service-protection/policies/jmx-service-protection-cr.yaml
  playground/scenarios/jmx-service-protection/policies/jmx-service-protection.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization.yaml
  playground/scenarios/rabbitmq-queue-buildup/policies/rabbitmq-queue-buildup.yaml
  playground/scenarios/rabbitmq-queue-buildup/policies/service1-demoapp-rabbitmq-queue-buildup-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization.yaml
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture, updated-aperture-docs

Set integrator eval interval to 10sec in adaptive load scheduler (#2592)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/adaptive-load-scheduler.go
Due: updated-aperture, updated-aperture-docs

Put control points in cache even if service doesn't exist (#2593)
  pkg/otelcollector/metricsprocessor/processor.go
  sdks/aperture-go/README.md
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
Due: updated-aperture

aperture-js: improve failOpen handling (#2594)
  cmd/sdk-validator/main.go
  cmd/sdk-validator/validator/common.go
  sdks/aperture-js/example/routes/connected.ts
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/utils.ts
Due: updated-aperture

aperture-js: bump version (#2595)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
Due: none
