Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Playground docs (#347)
  api/buf.lock
  docs/content/concepts/flow-control/fluxmeter.md
  docs/content/concepts/flow-control/selector.md
  docs/content/setup/_category_.yml
  docs/content/setup/installation/agent/agent.md
  docs/content/setup/istio.md
  docs/content/setup/playground.md
Due: updated-aperture-docs

add back emit_defaults flag (#352)
  api/buf.gen.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.json.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/common/info/v1/info.pb.json.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.json.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.json.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.json.go
  api/gen/proto/go/aperture/common/status/v1/status.pb.json.go
  api/gen/proto/go/aperture/common/watchdog/v1/watchdog.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/envoy.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.json.go
  api/gen/proto/go/aperture/policy/decisions/v1/decisions.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
Due: none

update k8s deployment readme and add kind cluster script (#197)
  playground/README.md
  scripts/aperture_dev_cluster.sh
Due: none

Fixe ratelimiter decision sync (#349)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  go.mod
  pkg/config/koanf-unmarshaller.go
  pkg/flowcontrol/common/flowcontrol.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/iface/limiter.go
  pkg/policies/mocks/mock_limiter.go
Due: updated-aperture, updated-aperture-docs

Fix broken generated controller documentation (#354)
  .circleci/continue-workflows.yml
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/swagger.md
  docs/gen/policies/policy.md
  docs/tools/swagger/swagger-templates/config.gotmpl
Due: updated-aperture-docs

Fix heading ids in generated docs (#356)
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/concepts/flow-control/actuators/rate-limiter.md
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/label/classifier.md
  docs/content/concepts/flow-control/label/label.md
  docs/content/concepts/flow-control/selector.md
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/swagger.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  docs/tools/swagger/swagger-templates/config.gotmpl
Due: updated-aperture-docs

Fixed missing API Key env variable (#358)
  manifests/charts/aperture-agent/templates/agent.yaml
  operator/controllers/utils.go
Due: none

fix: release circleci filters (#361)
  .circleci/config.yml
Due: none

fix: release ci typo (#362)
  .circleci/config.yml
Due: none

Move aperture/helm releases back to setup config (#363)
  .circleci/config.yml
  .circleci/releases.yaml
Due: none

Update telemetry schema with workflows (#351)
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture

Replace tolerance with slope in Gradient Controller (#359)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  libsonnet/1.0/_gen/v1/gradientcontroller.libsonnet
  pkg/policies/controlplane/component-factory_test.go
  pkg/policies/controlplane/components/controller/gradient.go
  pkg/policies/controlplane/validator_test.go
Due: updated-aperture, updated-aperture-docs

Add new simplified architecture diagram (#368)
  docs/diagrams/architecture/aperture-k8s.mmd
  docs/diagrams/architecture/aperture-k8s.mmd.svg
  docs/diagrams/architecture/aperture.mmd
  docs/diagrams/architecture/aperture.mmd.svg
  docs/diagrams/architecture/fluxninja.mmd
  docs/diagrams/architecture/fluxninja.mmd.svg
Due: updated-aperture-docs

Use local IP address instead of hostname for forming olric cluster (#367)
  api/aperture/common/info/v1/info.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/info/v1/info.pb.go
  pkg/distcache/provider.go
  pkg/info/info.go
Due: updated-aperture

fix logger (#370)
  Makefile
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/config-swagger.yaml
  docs/gen/config/aperture-controller/swagger.md
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/config/log.go
  pkg/config/zz_generated.deepcopy.go
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

Add classifiers to flowcontrolv1.CheckResponse (#310)
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/aperture/policy/wrappers/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/wrappers/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/wrappers/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/wrappers/v1/policy_deepcopy.gen.go
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/policylanguagev1classifier.libsonnet
  pkg/flowcontrol/envoy/authz.go
  pkg/metrics/schema.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/iface/classifier.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/provide.go
  pkg/policies/mocks/mock_engine.go
Due: updated-aperture, updated-aperture-docs

Create remote repository tagging and protobuf pushing jobs (#360)
  .circleci/config.yml
  .circleci/post-release.yaml
Due: none

Response duration, FluxMeter attribute key, miscellaneous fixes (#323)
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/wrappers/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/wrappers/v1/policy.pb.go
  docs/content/setup/istio.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  libsonnet/1.0/_gen/v1/policylanguagev1fluxmeter.libsonnet
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/otel/config.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/enrichmentprocessor/enrichmentprocessor_suite_test.go
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/enrichmentprocessor/processor_logs_test.go
  pkg/otelcollector/enrichmentprocessor/processor_metrics_test.go
  pkg/otelcollector/enrichmentprocessor/processor_traces_test.go
  pkg/otelcollector/helpers.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/otelcollector/rollup.go
  pkg/otelcollector/rollupprocessor/config.go
  pkg/otelcollector/rollupprocessor/rollup.go
  pkg/otelcollector/rollupprocessor/rollup_processor.go
  pkg/otelcollector/rollupprocessor/rollup_processor_test.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
  pkg/profilers/profilers.go
  pkg/utils/helpers.go
  playground/README.md
Due: updated-aperture, updated-aperture-docs

Add presentation layer for compiled circuit (#333)
  api/aperture/policy/language/v1/policy_view.proto
  api/gen/proto/go/aperture/policy/language/v1/policy_view.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy_view.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_view_deepcopy.gen.go
  go.mod
  go.sum
  pkg/policies/controlplane/circuit.go
Due: updated-aperture

remove kind setup script (#372)
  scripts/aperture_dev_cluster.sh
Due: none

Refactor otel, webhooks (#371)
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/provider.go
  pkg/net/health/health.go
  pkg/otel/components.go
  pkg/otel/config.go
  pkg/otelcollector/enrichmentprocessor/config.go
  pkg/otelcollector/enrichmentprocessor/factory.go
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/enrichmentprocessor/processor_logs_test.go
  pkg/otelcollector/enrichmentprocessor/processor_metrics_test.go
  pkg/otelcollector/enrichmentprocessor/processor_test.go
  pkg/otelcollector/enrichmentprocessor/processor_traces_test.go
  pkg/otelcollector/otelcollector.go
  pkg/platform/platform.go
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/validator.go
  pkg/policies/controlplane/validator_test.go
  pkg/webhooks/validation/provide.go
  pkg/webhooks/validation/validator.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Fix FN plugin constructor params (#373)
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Corrected some of the links in the docs (#374)
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/get-started/_category_.yml
  docs/content/get-started/installation/_category_.yml
  docs/content/get-started/installation/agent/_category_.yml
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/agent/kubernetes/_category_.yml
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
  docs/content/get-started/istio.md
  docs/content/get-started/playground.md
  docs/content/get-started/supported-platforms.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
Due: updated-aperture-docs

check for the helm chart release tag (#379)
  .circleci/scripts/helm_release.sh
Due: none

Move protobuf publishing to opsninja (#378)
  .circleci/post-release.yaml
Due: none

Fix sleep reference error in load test scenario (#383)
  tools/load_generator/scenarios/load_test.js
Due: updated-aperture

Fix pre-commit issue on main (#384)
  api/buf.lock
  docs/diagrams/architecture/aperture-k8s.mmd.svg
  docs/diagrams/architecture/fluxninja.mmd.svg
  docs/diagrams/ratelimit/ratelimit.mmd.svg
  docs/diagrams/traffic-flow/traffic.mmd.svg
Due: updated-aperture-docs

Expand top-level Flow Control concept (#381)
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/label/classifier.md
  docs/content/concepts/flow-control/label/label.md
Due: updated-aperture-docs

Clarify that pushing baggage to cloud is intended (#377)
  docs/content/concepts/flow-control/label/label.md
Due: updated-aperture-docs

extract compiler to a separate package for classifiers (#385)
  docs/gen/config/aperture-controller/config-swagger.yaml
  docs/gen/config/aperture-controller/swagger.md
  pkg/flowcontrol/envoy/baggage/baggage.go
  pkg/flowcontrol/envoy/baggage/baggage_suite_test.go
  pkg/policies/controlplane/validator.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/resources/classifier/compiler/compiler.go
Due: updated-aperture, updated-aperture-docs

Rename request flow labels according to OTEL semantic conventions (#380)
  docs/content/concepts/flow-control/label/classifier.md
  docs/content/concepts/flow-control/label/label.md
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/controlplane/validator_test.go
  pkg/selectors/labels.go
  pkg/selectors/labels_test.go
  pkg/selectors/selectors_suite_test.go
  playground/tanka/apps/demoapp/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

Fixed dead links in the docs (#382)
  docs/content/cloud/plugin.md
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/playground.md
Due: updated-aperture-docs

Add classifiers to playground (#387)
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/policy.proto
  api/buf.gen.yaml
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/common/info/v1/info.pb.json.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.json.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.json.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.json.go
  api/gen/proto/go/aperture/common/status/v1/status.pb.json.go
  api/gen/proto/go/aperture/common/watchdog/v1/watchdog.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/envoy.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.json.go
  api/gen/proto/go/aperture/policy/decisions/v1/decisions.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_view.pb.json.go
  api/gen/proto/go/aperture/policy/wrappers/v1/decisions.pb.json.go
  api/gen/proto/go/aperture/policy/wrappers/v1/policy.pb.json.go
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  go.mod
  pkg/peers/peers.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/provider.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/resources/classifier/compiler/compiler.go
  pkg/selectors/selector.go
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/jsonnetfile.lock.json
  tools/load_generator/scenarios/load_test.js
Due: updated-aperture, updated-aperture-docs

Bump olric to new release from patch version (#388)
  go.mod
  go.sum
Due: updated-aperture

add filter to auto token queries (#390)
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/jsonnetfile.lock.json
  tools/load_generator/scenarios/load_test.js
Due: updated-aperture

add playground updated content to the docs section (#389)
  docs/content/get-started/playground.md
  playground/README.md
Due: updated-aperture-docs

Fixed YAML rendering issue for lists in charts (#393)
  manifests/charts/aperture-agent/templates/agent.yaml
  manifests/charts/aperture-controller/templates/controller.yaml
Due: none

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
