Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Add more receiver metrics docs (#1737)
  docs/content/get-started/integrations/metrics/active-directory-ds.md
  docs/content/get-started/integrations/metrics/aws-container-insight.md
  docs/content/get-started/integrations/metrics/aws-ecs-container-metrics.md
  docs/content/get-started/integrations/metrics/aws-kinesis-data-firehose.md
  docs/content/get-started/integrations/metrics/azure-event-hub.md
  docs/content/get-started/integrations/metrics/cloud-foundry.md
  docs/content/get-started/integrations/metrics/collectd.md
  docs/content/get-started/integrations/metrics/docker.md
  docs/content/get-started/integrations/metrics/elasticsearch.md
  docs/content/get-started/integrations/metrics/flinkmetrics.md
  docs/content/get-started/integrations/metrics/google-cloud-spanner.md
  docs/content/get-started/integrations/metrics/google-pubsub.md
  docs/content/get-started/integrations/metrics/influxdb.md
  docs/content/get-started/integrations/metrics/jmx.md
  docs/content/get-started/integrations/metrics/kafka.md
  docs/content/get-started/integrations/metrics/kubelet-stats.md
  docs/content/get-started/integrations/metrics/kubernetes-cluster.md
  docs/content/get-started/integrations/metrics/mongodb-atlas.md
  docs/content/get-started/integrations/metrics/opencensus.md
  docs/content/get-started/integrations/metrics/otlp-json-file.md
  docs/content/get-started/integrations/metrics/podman.md
  docs/content/get-started/integrations/metrics/prometheus-simple.md
  docs/content/get-started/integrations/metrics/prometheus.md
  docs/content/get-started/integrations/metrics/pulsar.md
  docs/content/get-started/integrations/metrics/pure-storage-flasharray.md
  docs/content/get-started/integrations/metrics/pure-storage-flashblade.md
  docs/content/get-started/integrations/metrics/signalfx.md
  docs/content/get-started/integrations/metrics/snmp.md
  docs/content/get-started/integrations/metrics/splunk-hec.md
  docs/content/get-started/integrations/metrics/sql-query.md
  docs/content/get-started/integrations/metrics/statsd.md
  docs/content/get-started/integrations/metrics/wavefront.md
Due: updated-aperture-docs

Use new official remote plugins (#1739)
  api/buf.gen.aperture.yaml
  api/buf.gen.envoy.yaml
  api/buf.lock
  sdks/aperture-java/lib/core/build.gradle.kts
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/ClassifierInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FluxMeterInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecisionOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckhttpProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/DeniedHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/DeniedHttpResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/OkHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/OkHttpResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/SocketAddress.java
  sdks/aperture-java/settings.gradle.kts
Due: none

vale/openai: follow up suggestions incorporated (#1740)
  .github/styles/Vocab/FluxNinja/accept.txt
  .tool-versions
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/policy/circuit.md
  docs/content/get-started/installation/agent/bare_metal.md
  docs/content/get-started/integrations/flow-control/sdk/go/manual.md
  docs/content/get-started/integrations/flow-control/sdk/java/armeria.md
  docs/content/get-started/integrations/flow-control/sdk/java/manual.md
  docs/content/get-started/integrations/flow-control/sdk/java/springboot.md
  docs/content/get-started/integrations/flow-control/sdk/java/tomcat.md
  docs/content/get-started/integrations/flow-control/sdk/javascript/manual.md
  docs/content/get-started/integrations/flow-control/sdk/python/manual.md
  docs/content/get-started/integrations/flow-control/sdk/sdk.md
  docs/content/introduction.md
  docs/content/reference/observability/prometheus-metrics/agent.md
  docs/content/reference/observability/prometheus-metrics/common.md
  docs/content/reference/observability/prometheus-metrics/controller.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
  docs/content/reference/policies/mixin.md
  docs/content/reference/policies/monitoring.md
  docs/content/tutorials/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
  docs/content/tutorials/flow-control/concurrency-limiting/basic-concurrency-limiting.md
  docs/content/tutorials/tutorials.md
  pkg/otelcollector/config/config.go
Due: updated-aperture, updated-aperture-docs

languagetool GH action (#1742)
  .github/workflows/languagetool.yaml
Due: none

langaugetool settings (#1743)
  .github/styles/Vocab/FluxNinja/accept.txt
  .github/workflows/languagetool.yaml
Due: none

languagetool: update action (#1744)
  .github/workflows/languagetool.yaml
Due: none

blueprints: tweak doc rendering (#1745)
  blueprints/blueprint-assets-generator.py
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/average-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/base.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/ema-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/percentile-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/promql.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
Due: updated-aperture-docs

playground: downgrade tilt to 0.32.0 (#1746)
  .tool-versions
Due: none

blueprints: improve rendering of arrays (#1747)
  blueprints/blueprint-assets-generator.py
  blueprints/policies/feature-rollout/average-latency/gen/values-required.yaml
  blueprints/policies/feature-rollout/average-latency/gen/values.yaml
  blueprints/policies/feature-rollout/base/gen/values-required.yaml
  blueprints/policies/feature-rollout/base/gen/values.yaml
  blueprints/policies/feature-rollout/ema-latency/gen/values-required.yaml
  blueprints/policies/feature-rollout/ema-latency/gen/values.yaml
  blueprints/policies/feature-rollout/percentile-latency/gen/values-required.yaml
  blueprints/policies/feature-rollout/percentile-latency/gen/values.yaml
  blueprints/policies/feature-rollout/promql/gen/values-required.yaml
  blueprints/policies/feature-rollout/promql/gen/values.yaml
Due: none

blueprints: render default values as yaml in docs (#1748)
  .github/styles/Vocab/FluxNinja/accept.txt
  blueprints/blueprint-assets-generator.py
  docs/content/parameterComponents.js
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/average-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/base.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/ema-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/percentile-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/promql.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
Due: updated-aperture-docs

Use the `community/mitchellh-go-json` remote plugin (#1749)
  api/Makefile
  api/buf.gen.aperture-grpc-ecosystem.yaml
  api/buf.gen.aperture-langs.yaml
Due: none

Count invalid metrics readings in separate metrics (#1736)
  blueprints/dashboards/signals/dashboard.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/dashboard.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/policy.libsonnet
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
  docs/content/tutorials/auto-scale/load-based-auto-scaling/assets/load-based-auto-scale.yaml
  docs/content/tutorials/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.yaml
  docs/content/tutorials/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/flowcontrol/iface/flux-meter.go
  pkg/policies/flowcontrol/resources/fluxmeter/flux-meter.go
  pkg/policies/mocks/mock_flux_meter.go
  playground/scenarios/auto_scaling/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/basic_concurrency_limiting/policies/basic-concurrency-limiting-cr.yaml
  playground/scenarios/rate_limiting_escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload_prioritization/policies/workload-prioritization-cr.yaml
Due: updated-aperture, updated-aperture-docs

actions: target branch to main for some actions (#1755)
  .github/workflows/languagetool.yaml
  .github/workflows/openai-review.yml
  .github/workflows/vale.yml
Due: none

pre_commit: regenerate proto (#1756)
  .tool-versions
  api/buf.lock
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: none

scheduler: rely on client timeouts (#1757)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/schedulerparameters.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/values.yaml
  pkg/policies/flowcontrol/actuators/concurrency/concurrency-limiter.go
  pkg/policies/flowcontrol/scheduler/wfq.go
  playground/scenarios/auto_scaling/load_generator/test.js
  playground/scenarios/demo-app-with-no-policy/load_generator/test.js
  playground/scenarios/feature_rollout/load_generator/test.js
  playground/scenarios/graphql_query_static_rate_limiting/load_generator/test.js
  playground/scenarios/rabbitmq_queue_buildup/load_generator/test.js
  playground/scenarios/rate_limiting_escalation/load_generator/test.js
  playground/scenarios/rate_limiting_escalation_kong/load_generator/test.js
  playground/scenarios/rate_limiting_escalation_nginx/load_generator/test.js
Due: updated-aperture, updated-aperture-docs

Fix metrics (#1759)
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture

playground: add back imports (#1760)
  playground/scenarios/auto_scaling/load_generator/test.js
  playground/scenarios/demo-app-with-no-policy/load_generator/test.js
  playground/scenarios/feature_rollout/load_generator/test.js
  playground/scenarios/graphql_query_static_rate_limiting/load_generator/test.js
  playground/scenarios/rabbitmq_queue_buildup/load_generator/test.js
  playground/scenarios/rate_limiting_escalation/load_generator/test.js
  playground/scenarios/rate_limiting_escalation_kong/load_generator/test.js
  playground/scenarios/rate_limiting_escalation_nginx/load_generator/test.js
Due: none

GRPC -> gRPC (#1762)
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/flow-selector.md
  docs/content/get-started/integrations/flow-control/sdk/sdk.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/observability/prometheus-metrics/common.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  docs/tools/swagger/swagger-templates/config.gotmpl
  extensions/fluxninja/extconfig/extconfig.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/net/grpc/client.go
  pkg/net/grpc/server.go
  pkg/net/grpcgateway/grpcgateway.go
Due: updated-aperture, updated-aperture-docs

fix typo gRPC (#1763)
  cmd/aperture-agent/agent/otel-component.go
  cmd/sdk-validator/README.md
  cmd/sdk-validator/main.go
  cmd/sdk-validator/validator/provide.go
  extensions/fluxninja/extconfig/extconfig.go
  extensions/fluxninja/heartbeats/heartbeats.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/agentfunctions/config/config.go
  pkg/agentfunctions/preview.go
  pkg/net/grpc/client.go
  pkg/net/grpc/server.go
  pkg/policies/flowcontrol/service/check/provide.go
  pkg/policies/flowcontrol/service/checkhttp/provide.go
  pkg/policies/flowcontrol/service/envoy/provide.go
  sdks/aperture-go/README.md
  sdks/aperture-go/example/main.go
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-py/example/main.py
Due: updated-aperture

Fixed an issue with operator failing to set controller cert correctly in agent (#1765)
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/configmaps.go
  operator/controllers/agent/reconciler.go
  operator/controllers/utils.go
Due: none

Update policy and dynamic-config APIs (#1767)
  api/aperture/cmd/v1/cmd.proto
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/cmd/controller.go
  pkg/policies/controlplane/policy-service.go
  pkg/utils/grpc_fieldmask.go
Due: updated-aperture, updated-aperture-docs

reviewer: remove redundant option (#1768)
  .github/workflows/openai-review.yml
Due: none

add accepted words for aperture-tech-docs repo (#1769)
  .github/styles/Vocab/FluxNinja/accept.txt
Due: none

Fixed controller client cert issue in agent sidecar mode (#1771)
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/reconciler.go
  operator/controllers/namespace/reconciler.go
Due: none

Fixed certificate issues on Operator restarts (#1770)
  .circleci/config.yml
  .gitignore
  cmd/aperturectl/cmd/installation/utils.go
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/controller/operator/operator.md
  operator/api/controller/v1alpha1/controller_types.go
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/reconciler.go
  operator/controllers/agent/secrets.go
  operator/controllers/constants.go
  operator/controllers/controller/configmaps.go
  operator/controllers/controller/reconciler.go
  operator/controllers/controller/secrets.go
  operator/controllers/controller/secrets_test.go
  operator/controllers/controller/validating_webhook_configuration_test.go
  operator/controllers/mutate_func.go
  operator/controllers/mutate_func_test.go
  operator/controllers/namespace/reconciler.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
  operator/main.go
Due: updated-aperture, updated-aperture-docs

Corrected the controller service name in certificate generation (#1772)
  cmd/aperturectl/cmd/utils/controller.go
  operator/controllers/utils.go
Due: updated-aperture

Drop circleci token from build status badge to fix it (#1773)
  README.md
Due: none

Don't pass metric deletion error in circuit (#1774)
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture

remove redundant packages from asdf install step (#1781)
  .circleci/scripts/asdf_install.sh
Due: none

disable docker layer caching in base-machine-executor (#1779)
  .circleci/continue-workflows.yml
  .pre-commit-config.yaml
Due: none

Use gradlew instead of gradle command in aperture-java (#1782)
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  sdks/aperture-java/.circleci/config.yml
  sdks/aperture-java/.circleci/continue-workflows.yml
  sdks/aperture-java/dockerfiles/aperture-java-all/Dockerfile
  sdks/aperture-java/dockerfiles/example/Dockerfile
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/version.gradle.kts
Due: none

Change aperture spring example grpc timeout to match other examples (#1778)
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/SpringBootApp.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/controller/AppController.java
Due: none

Handle null checkResponse in feature flow (#1777)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
Due: none

remove redundant para (#1783)
  docs/content/get-started/installation/controller/namespace-scoped/namespace-scoped.md
Due: updated-aperture-docs

Improvemts and fixes in the upgrade process (#1784)
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/get-started/installation/controller/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/controller/operator/operator.md
  manifests/charts/aperture-controller/Chart.lock
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/aperture-controller/templates/operator-pre-delete-hook.yaml
  manifests/charts/aperture-controller/templates/operator-rbac.yaml
  manifests/charts/aperture-controller/templates/post-install-hook.yaml
  manifests/charts/aperture-controller/values.yaml
  playground/Tiltfile
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
