Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Add send_batch_max_size option (#792)
  cmd/aperture-agent/agent/otel-component.go
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/config_test.tpl
  operator/controllers/controller/configmaps_test.go
  pkg/otelcollector/config.go
  pkg/otelcollector/zz_generated.deepcopy.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture, updated-aperture-docs

blueprints: tweak defaults and rename config params and docs (#796)
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/examples/rate-limiter/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/README.md
  blueprints/lib/1.0/blueprints/latency-gradient/config.libsonnet
  blueprints/lib/1.0/blueprints/latency-gradient/policy.libsonnet
  blueprints/lib/1.0/blueprints/rate-limiter/README.md
  blueprints/lib/1.0/blueprints/rate-limiter/config.libsonnet
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
Due: updated-aperture-docs

Java SDK: Accept flow in case of unresponsive agent (#790)
  sdks/aperture-java/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
Due: none

Fix Concurrency Multiplier defaults (#802)
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
Due: updated-aperture

api: fix generator on macOS (#804)
  api/Makefile
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/info/v1/info.pb.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.go
  api/gen/proto/go/aperture/common/status/v1/status.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/CheckRequest.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/CheckRequestOrBuilder.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/CheckResponse.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/CheckResponseOrBuilder.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/ClassifierInfo.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/ClassifierInfoOrBuilder.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/ControlPointInfo.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/ControlPointInfoOrBuilder.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/FlowControlServiceGrpc.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/FlowcontrolProto.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/FluxMeterInfo.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/FluxMeterInfoOrBuilder.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/LimiterDecision.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/LimiterDecisionOrBuilder.java
Due: none

Extrapolation before Load Multiplier input (#803)
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/policy.libsonnet
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
Due: updated-aperture-docs

Docs: Typo and elaborate more about scheduler output signals (#801)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

playground: revert scenario changes (#810)
  playground/load_generator/scenarios/load_test.js
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: none

docs: add scheduler tutorial (#811)
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/README.md
  blueprints/lib/1.0/blueprints/latency-gradient/config.libsonnet
  docs/content/get-started/policies/blueprints.md
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting-playground.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.jsonnet
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization-playground.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.jsonnet
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.yaml
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/workload-prioritization.md
Due: updated-aperture-docs

K8s discovery (#809)
  pkg/discovery/kubernetes/kubernetes_discovery.go
  pkg/notifiers/notifier_test.go
Due: updated-aperture

docs: annotate grafana dashboard image (#813)
  docs/content/assets/img/grafana_dashboard.png
Due: updated-aperture-docs

docs: add dynamic rate limiting tutorial (#815)
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting-playground.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.jsonnet
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.yaml
  docs/content/tutorials/flow-control/dynamic-rate-limiting.md
  docs/content/tutorials/flow-control/workload-prioritization.md
Due: updated-aperture-docs

Fix nil pointer error in runDockerContainer (#818)
  cmd/sdk-validator/main.go
Due: updated-aperture

docs: playground doc updates (#819)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .tool-versions
  README.md
  api/aperture/common/entitycache/v1/entitycache.proto
  api/aperture/common/info/v1/info.proto
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/aperture/common/peers/v1/peers.proto
  api/aperture/common/selector/v1/selector.proto
  api/aperture/common/status/v1/status.proto
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  docs/content/assets/gen/introduction/architecture_simple.mmd
  docs/content/assets/gen/introduction/architecture_simple.mmd.md5sum
  docs/content/assets/gen/introduction/architecture_simple.mmd.png
  docs/content/assets/gen/introduction/architecture_simple.mmd.svg
  docs/content/get-started/assets/playground/playground-app.mmd
  docs/content/get-started/assets/playground/playground-app.mmd.md5sum
  docs/content/get-started/assets/playground/playground-app.mmd.png
  docs/content/get-started/assets/playground/playground-app.mmd.svg
  docs/content/get-started/playground.md
  docs/content/introduction.md
  go.mod
  playground/Tiltfile
  playground/browser/go.mod
  playground/browser/go.sum
  playground/browser/main.go
  playground/demo_app/Dockerfile
  playground/demo_app/README.md
  playground/demo_app/app/app.go
  playground/demo_app/app/app_test.go
  playground/demo_app/go.mod
  playground/demo_app/go.sum
  playground/demo_app/main.go
  playground/tanka/chartfile.yaml
Due: updated-aperture, updated-aperture-docs

Rollup based on metrics (#821)
  pkg/otelcollector/rollupprocessor/processor.go
  pkg/otelcollector/rollupprocessor/processor_test.go
  pkg/otelcollector/rollupprocessor/rollup.go
Due: updated-aperture

docs: FluxMeter --> Flux Meter (#822)
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/assets/diagrams/architecture/aperture.mmd
  docs/content/assets/diagrams/architecture/aperture.mmd.md5sum
  docs/content/assets/diagrams/architecture/aperture.mmd.png
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/policy/resources.md
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/policy.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/policy/policy.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/agentinfo/agent-info.go
Due: updated-aperture, updated-aperture-docs

playground: minor tweaks in Tiltfile (#823)
  playground/Tiltfile
Due: none

Fix tutorials and demo_app (#824)
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/workload-prioritization.md
  playground/demo_app/main.go
Due: updated-aperture-docs

platform: panic handler minor fix (#825)
  pkg/panichandler/panichandler.go
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture

docs: dynamic configuration (#830)
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/policy.libsonnet
  docs/content/get-started/policies/blueprints.md
  docs/content/get-started/policies/dynamic-configuration.md
  docs/content/get-started/policies/monitoring.md
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.yaml
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
Due: updated-aperture-docs

docs: add a note regarding dryrun mode (#833)
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/get-started/policies/blueprints.md
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.jsonnet
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.jsonnet
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.jsonnet
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/static-rate-limiting.md
Due: updated-aperture-docs

Response status in telemetry (#828)
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels_test.go
  pkg/otelcollector/metricsprocessor/internal/envoy_labels.go
  pkg/otelcollector/metricsprocessor/internal/envoy_labels_test.go
  pkg/otelcollector/metricsprocessor/internal/internal_suite_test.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
  pkg/otelcollector/metricsprocessor/internal/sdk_labels.go
  pkg/otelcollector/metricsprocessor/internal/sdk_labels_test.go
  pkg/otelcollector/metricsprocessor/internal/status.go
  pkg/otelcollector/metricsprocessor/internal/status_test.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/policies/mocks/mock_flux_meter.go
Due: updated-aperture

Bump OTEL to 0.63.0 (#834)
  go.mod
  go.sum
  pkg/otelcollector/enrichmentprocessor/enrichmentprocessor_suite_test.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/otelcollector/otelcollector.go
  pkg/otelcollector/rollupprocessor/processor.go
Due: updated-aperture

Move java SDK release job to a workload triggered on semver tags (#812)
  .circleci/config.yml
  .circleci/post-release.yaml
Due: none

Fix telemetry labels propagation (#835)
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels_test.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture

Fix Load Multiplier Panel (#837)
  blueprints/examples/latency-gradient/gen/dashboards/example.json
  blueprints/lib/1.0/blueprints/latency-gradient/dashboard.libsonnet
Due: none

TickInfo in LoadDecision (#836)
  api/aperture/policy/sync/v1/concurrency_limiter.proto
  api/aperture/policy/sync/v1/tick.proto
  api/gen/proto/go/aperture/policy/sync/v1/concurrency_limiter.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/tick.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/tick.pb.json.go
  api/gen/proto/go/aperture/policy/sync/v1/tick_deepcopy.gen.go
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
  pkg/policies/controlplane/runtime/tick-info.go
Due: updated-aperture

charts: bump prometheus and etcd (#838)
  manifests/charts/aperture-agent/Chart.lock
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.lock
  manifests/charts/aperture-controller/Chart.yaml
Due: none

Ignore negative workload latency (#839)
  pkg/otelcollector/metricsprocessor/internal/envoy_labels.go
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

Skip NaN auto-tokens (#840)
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
Due: updated-aperture

Switched to SSH instead of HTTP for GitHub operations (#769)
  .circleci/scripts/helm_release.sh
Due: none

add circleci pre-commit v2 (#663)
  .circleci/continue-workflows.yml
  .pre-commit-config.yaml
  .tool-versions
  scripts/manage_tools.sh
Due: none

circleci pre-commit version change (#845)
  .pre-commit-config.yaml
Due: none

Added R/W keys for Helm chart release (#846)
  .circleci/config.yml
Due: none

Added ssh key usage for helm release (#847)
  .circleci/config.yml
Due: none
