Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Mermaid: switch back to SVGs (#111)
  docs/Makefile
  docs/diagrams/architecture/architecture-simple.mmd.png
  docs/diagrams/architecture/architecture-simple.mmd.svg
  docs/diagrams/architecture/architecture.mmd.png
  docs/diagrams/architecture/architecture.mmd.svg
  docs/diagrams/ratelimit/ratelimit.mmd.png
  docs/diagrams/ratelimit/ratelimit.mmd.svg
  docs/diagrams/traffic-flow/traffic.mmd.png
  docs/diagrams/traffic-flow/traffic.mmd.svg
  docs/tools/mermaid/mermaid-theme.json
Due: updated-aperture-docs

Fixed tilt error when helm cache is not found (#112)
  manifests/k8s/Tiltfile
Due: none

Rename flowcontrol configmap to policies (#105)
  latency-gradient-policy.yaml
  manifests/charts/agent/templates/agent-controller-deployment.yaml
  manifests/k8s/Tiltfile
  pkg/flowcontrol/validator.go
  pkg/webhooks/validation/validator.go
  rate-limit-policy.yaml
Due: updated-aperture

Attach stacktrace to sentry's captured event (#109)
  pkg/panichandler/panichandler.go
  pkg/panichandler/stacktrace.go
  plugins/service/aperture-plugin-sentry/sentry/sentry.go
  plugins/service/aperture-plugin-sentry/sentry/sentrywriter.go
Due: updated-aperture

Rename authz package to envoy (#113)
  cmd/aperture-agent/agent.go
  pkg/classification/provide.go
  pkg/envoy/authz.go
  pkg/envoy/authz_suite_test.go
  pkg/envoy/authz_test.go
  pkg/envoy/baggage/baggage.go
  pkg/envoy/baggage/baggage_suite_test.go
  pkg/envoy/provide.go
  pkg/otelcollector/consts.go
  test/aperture_suite_test.go
Due: updated-aperture

Added CircleCi jobs to sync deployment repo (#79)
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

Proto spec documentation (#20)
  api/aperture/classification/v1/extractor.proto
  api/aperture/classification/v1/ruleset.proto
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/aperture/openapiv2/v1/openapiv2.proto
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/aperture/policy/language/v1/labelmatcher.proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/classification/v1/extractor.pb.go
  api/gen/proto/go/aperture/classification/v1/ruleset.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol_grpc.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  docs/diagrams/architecture/architecture-simple.mmd.svg
  docs/diagrams/architecture/architecture.mmd.svg
  docs/diagrams/ratelimit/ratelimit.mmd.svg
  docs/diagrams/traffic-flow/traffic.mmd.svg
  docs/gen/classification/swagger.md
  docs/gen/policies/swagger.md
Due: updated-aperture-docs

Rename flow_control_policies to policies in Aperture (#123)
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  pkg/selectors/selector.go
Due: updated-aperture

Small proto doc comment tweaks (#119)
  .circleci/continue-workflows.yml
  api/aperture/classification/v1/extractor.proto
  api/aperture/classification/v1/ruleset.proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/classification/v1/extractor.pb.go
  api/gen/proto/go/aperture/classification/v1/ruleset.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  docs/gen/classification/swagger.md
  docs/gen/policies/swagger.md
Due: updated-aperture-docs

Remove flow_ prefix and pseudoheaders (#122)
  api/aperture/policy/language/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  docs/diagrams/architecture/architecture-simple.mmd.svg
  docs/diagrams/architecture/architecture.mmd.svg
  docs/diagrams/ratelimit/ratelimit.mmd.svg
  docs/diagrams/traffic-flow/traffic.mmd.svg
  docs/gen/classification/swagger.md
  docs/gen/policies/swagger.md
  pkg/selectors/labels.go
Due: updated-aperture, updated-aperture-docs

Remove duplicated agent group from heartbeat service proto (#125)
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.json.go
  pkg/entitycache/cache_test.go
  pkg/entitycache/entity_cache.go
Due: updated-aperture

Disable generate-mermaid in pre-commit (#127)
  tools/githooks/generate_docs.sh
Due: updated-aperture

Add k8s pod name extraction to match otelcollector entity name label (#118)
  docs/gen/config/aperture-agent/config-swagger.yaml
  pkg/discovery/common/entity.go
  pkg/discovery/kubernetes/kubernetes_discovery.go
  pkg/discovery/static/provide.go
  pkg/discovery/static/static_discovery.go
  pkg/discovery/static/static_discovery_test.go
  pkg/entitycache/cache_test.go
  pkg/entitycache/entity_cache.go
  pkg/otelcollector/enrichmentprocessor/processor_metrics_test.go
Due: updated-aperture, updated-aperture-docs

Rename sidecarMode config to DiscoveryEnabled (#121)
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  pkg/discovery/kubernetes/provide.go
Due: updated-aperture, updated-aperture-docs

Refactor aperture api (#117)
  api/aperture/classification/v1/ruleset.proto
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/decisions/v1/decisions.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/classification/v1/ruleset.pb.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.json.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.json.go
  api/gen/proto/go/aperture/policy/decisions/v1/decisions.pb.go
  api/gen/proto/go/aperture/policy/decisions/v1/decisions.pb.json.go
  api/gen/proto/go/aperture/policy/decisions/v1/policydecisions.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  docs/diagrams/architecture/architecture-simple.mmd.svg
  docs/diagrams/architecture/architecture.mmd.svg
  docs/diagrams/ratelimit/ratelimit.mmd.svg
  docs/diagrams/traffic-flow/traffic.mmd.svg
  pkg/classification/classifier.go
  pkg/classification/classifier_test.go
  pkg/config/koanf-unmarshaller_test.go
  pkg/envoy/authz_test.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuator/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/iface/limiter.go
  pkg/policies/mocks/mock_flux_meter.go
  pkg/policies/mocks/mock_limiter.go
  pkg/selectors/selector.go
Due: updated-aperture, updated-aperture-docs

Explicitely mention coverage file for covdecov/upload step (#133)
  .circleci/continue-workflows.yml
  Makefile
  pkg/status/provide.go
Due: updated-aperture

Enable discovery by default (#138)
  docs/gen/config/aperture-agent/config-swagger.yaml
  pkg/discovery/kubernetes/provide.go
Due: updated-aperture, updated-aperture-docs

Use inline KaTeX for math in policy proto docs. (#128)
  .pre-commit-config.yaml
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/classification/swagger.md
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/policies/swagger.md
Due: updated-aperture-docs

Small fixes to math snippets in proto docs (#139)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/swagger.md
Due: updated-aperture-docs

Migrated agent installation from chart to operator in tilt (#124)
  .gitignore
  manifests/k8s/README.md
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/charts/agent
  manifests/k8s/tanka/charts/aperture-operator
  manifests/k8s/tanka/environments/tilt/apps/agent/mixins.libsonnet
  manifests/k8s/tanka/environments/tilt/apps/aperture-operator/main.jsonnet
  manifests/k8s/tanka/environments/tilt/apps/aperture-operator/mixins.libsonnet
  manifests/k8s/tanka/lib/apps/aperture-operator/main.libsonnet
Due: none

Fix duplicate logs for stderr/stdout files (#130)
  pkg/config/log.go
Due: updated-aperture

Start descending into map values when setting defaults (#144)
  pkg/config/defaults.go
  pkg/config/defaults_test.go
Due: updated-aperture

Add missing gomega suite files (#145)
  pkg/policies/controlplane/component/component_suite_test.go
  pkg/policies/controlplane/controlplane_suite_test.go
Due: updated-aperture

Change FluxMeter spec to a map (#140)
  api/aperture/common/config/v1/config_properties_wrapper.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/swagger.md
  latency-gradient-policy.yaml
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/controlplane/policy.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Due: updated-aperture, updated-aperture-docs

Refer all metric names and labels from pkg/metrics/schema.go (#141)
  pkg/metrics/schema.go
  pkg/net/http/server.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Due: updated-aperture

Bump gocron for datarace fix in runCount (#108)
  go.mod
  go.sum
Due: updated-aperture

Re-enable race detection flag (#149)
  .circleci/continue-workflows.yml
  go.mod
  go.sum
Due: updated-aperture

Component Factory Cleanup (#150)
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-factory_test.go
  pkg/policies/controlplane/component-stack-factory.go
Due: updated-aperture

Create CODE_OF_CONDUCT.md (#152)
  CODE_OF_CONDUCT.md
  README.md
Due: none

Add join Slack badge (#154)
  README.md
Due: none

Capture FlowLabelKeys (#146)
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  go.mod
  go.sum
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/dataplane/engine.go
Due: updated-aperture

Add docs for static discovery (#163)
  .github/CODEOWNERS
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  pkg/discovery/config-operations.go
  pkg/discovery/kubernetes/kubernetes_discovery.go
  pkg/discovery/static/provide.go
  pkg/discovery/static/static_discovery.go
  pkg/discovery/static/static_discovery_test.go
Due: updated-aperture, updated-aperture-docs

Update README.md (#164)
  examples/demo_app/README.md
Due: none

Add other metrics into common schema (#174)
  pkg/metrics/schema.go
  pkg/policies/controlplane/component/actuator/concurrency/scheduler.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
Due: updated-aperture

Check nil pointer on returned value from registry (#166)
  pkg/jobs/job-tracker.go
Due: updated-aperture

Fix image urls in intro doc (#176)
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/flows.md
  docs/content/developers/cla.md
  docs/content/faq.md
  docs/content/index.md
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
