Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Revamp Selector and Service concepts in documentation (#394)
  api/aperture/common/selector/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/label/label.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/flow-control/service.md
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/agentinfo/agent-info.go
Due: updated-aperture, updated-aperture-docs

Fail classifier compilation on invalid flow label names (#391)
  docs/content/concepts/flow-control/label/classifier.md
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/resources/classifier/compiler/compiler.go
  pkg/policies/dataplane/resources/classifier/extractors/compile.go
  playground/tanka/apps/demoapp/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

Updated installation docs, playground docs and pullPolicy in charts (#392)
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
  docs/content/get-started/playground.md
  docs/content/get-started/supported-platforms.md
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/values.yaml
Due: updated-aperture-docs

Added check in the operator for defaults when webhook is not called (#395)
  operator/README.md
  operator/controllers/agent_hook.go
  operator/controllers/agent_reconciler.go
  operator/controllers/agent_reconciler_test.go
  operator/controllers/constants.go
  operator/controllers/controller_hook.go
  operator/controllers/controller_reconciler.go
  operator/controllers/controller_reconciler_test.go
  operator/controllers/suite_test.go
  operator/main.go
Due: none

Removed agent and controller port forwards from tilt (#397)
  docs/content/get-started/playground.md
  playground/Tiltfile
  playground/scripts/check-controller-service.sh
Due: updated-aperture-docs

Update Tilt config and blueprints (#399)
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  playground/Tiltfile
  playground/browser/go.mod
  playground/browser/go.sum
  playground/browser/main.go
  playground/tanka/jsonnetfile.lock.json
  tools/load_generator/scenarios/load_test.js
Due: updated-aperture

Document Actuators (#400)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/concepts/flow-control/actuators/actuators.md
  docs/content/concepts/flow-control/actuators/concurrency-limiter.md
  docs/content/concepts/flow-control/actuators/rate-limiter.md
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/label/label.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
Due: updated-aperture-docs

move generated config docs and mermaid to docs/content (#401)
  .pre-commit-config.yaml
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  docs/Makefile
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/policies.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/agent/metadata
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/config/controller/metadata
  docs/gen/policies/config-swagger.yaml
  docs/gen/policies/gen.yaml
  docs/gen/policies/metadata
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/values.yaml
Due: updated-aperture, updated-aperture-docs

Update README.md (#398)
  README.md
Due: none

update docusaurus and add gh dark theme css (#402)
  docs/content/assets/img/active-flow-control-dark.png
  docs/content/assets/img/active-flow-control.jpg
  docs/content/assets/img/active-flow-control.png
  docs/content/assets/img/architecture.png
  docs/content/assets/img/control-loop.svg
  docs/content/assets/img/flowchart.png
  docs/content/assets/img/no-flow-control-dark.png
  docs/content/assets/img/no-flow-control.jpg
  docs/content/assets/img/no-flow-control.png
  docs/content/introduction.md
Due: updated-aperture-docs

Revamp concepts layout (#403)
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/actuators/actuators.md
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/concepts/flow-control/selector/flow-label.md
  docs/content/concepts/flow-control/selector/selector.md
  docs/content/concepts/flow-control/selector/service.md
  docs/content/concepts/policy/circuit/actuators.md
  docs/content/concepts/policy/circuit/circuit.md
  docs/content/concepts/policy/circuit/controllers.md
  docs/content/concepts/policy/circuit/signal-processors.md
  docs/content/concepts/policy/circuit/sources.md
  docs/content/concepts/policy/policy.md
  docs/content/concepts/policy/resources.md
  docs/content/get-started/blueprints.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/policies.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/policies/gen.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/agentinfo/agent-info.go
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture, updated-aperture-docs

small doc edits (#405)
  docs/content/cloud/cloud.md
  docs/content/developers/_category_.yml
  docs/content/developers/cla.md
  docs/content/sidebars.json
Due: updated-aperture-docs

Added pointer to install policy using blueprints under get started (#406)
  docs/content/get-started/installation/controller.md
Due: updated-aperture-docs

change the chart version (#408)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
Due: none

Add screenshot and a few doc changes (#407)
  CONTRIBUTING.md
  README.md
  docs/content/assets/img/grafana_dashboard.png
  docs/content/get-started/playground.md
Due: updated-aperture-docs

Move screenshot to playground (#409)
  README.md
Due: none

PR template added (#411)
  .github/pull_request_template.md
Due: none

update grafana dashboard image (#412)
  docs/content/assets/img/grafana_dashboard.png
Due: updated-aperture-docs

Updated policy link to the first page of policy section (#413)
  docs/content/get-started/installation/controller.md
Due: updated-aperture-docs

Fix policy compiler (#396)
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/circuit.go
Due: updated-aperture

Fixed controller installation issues and updated docs (#415)
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
  operator/controllers/agent_reconciler.go
  operator/controllers/controller_reconciler.go
Due: updated-aperture-docs

Concept Docs (#410)
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/selector/flow-label.md
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/circuit/actuators.md
  docs/content/concepts/policy/circuit/circuit.md
  docs/content/concepts/policy/circuit/controllers.md
  docs/content/concepts/policy/circuit/signal-processors.md
  docs/content/concepts/policy/circuit/sources.md
  docs/content/concepts/policy/policy.md
  docs/content/concepts/policy/resources.md
  docs/content/get-started/blueprints.md
  docs/content/get-started/installation/agent/envoy/_category_.yml
  docs/content/get-started/installation/agent/envoy/istio.md
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/playground.md
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
  manifests/charts/istioconfig/templates/envoy_filter.yaml
Due: updated-aperture-docs

Update Flow Control docs (#414)
  .prettierrc
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/Makefile
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/concepts/flow-control/selector/selector.md
  docs/content/concepts/flow-control/selector/service.md
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
  pkg/selectors/labels.go
Due: updated-aperture, updated-aperture-docs

add icon for charts.yaml file (#416)
  docs/content/assets/img/FluxNinja--main--logo--ICON.svg
Due: updated-aperture-docs

Fix typos and add backlinks to Policy concept docs (#417)
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/selector/selector.md
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/resources.md
  docs/content/get-started/blueprints.md
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
Due: updated-aperture-docs

add icon field in charts.yaml file (#418)
  docs/content/assets/img/FluxNinja--main--logo--ICON.svg
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-docs

Fix float parse warning (#419)
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

first helm version release chart changes (#421)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

make k6 start after controller has started (#424)
  .github/pull_request_template.md
  playground/Tiltfile
Due: none

Update README.md (#426)
  README.md
Due: none

Documentation Fixes (#425)
  api/aperture/common/selector/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/service.md
  docs/content/get-started/playground.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/policies.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/policies/gen.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/agentinfo/agent-info.go
Due: updated-aperture, updated-aperture-docs

Fix typos in docs (#428)
  README.md
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/service.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/policies.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/policies/gen.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/net/listener/listener.go
Due: updated-aperture, updated-aperture-docs

Fix typos (#429)
  docs/content/get-started/blueprints.md
  pkg/config/koanf-unmarshaller_test.go
Due: updated-aperture, updated-aperture-docs

add pre-commit hook for codespell (#427)
  .pre-commit-config.yaml
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
Due: updated-aperture-docs

fix typos suggested by codespell (#431)
  .pre-commit-config.yaml
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd
  docs/content/assets/diagrams/traffic-flow/traffic.mmd
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
  libsonnet/README.md
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/values.yaml
  operator/README.md
  operator/api/v1alpha1/common_types.go
  operator/controllers/agent_hook.go
  operator/controllers/agent_hook_test.go
  operator/controllers/controller_hook.go
  operator/controllers/controller_hook_test.go
  operator/controllers/mutating_webhook_handler.go
  operator/controllers/utils_test.go
  pkg/config/defaults.go
  pkg/config/fxlogger.go
  pkg/config/koanf-unmarshaller.go
  pkg/filesystem/fileinfo.go
  pkg/multimatcher/multimatcher.go
  pkg/otelcollector/loggingexporter/factory_test.go
  pkg/otelcollector/rollupprocessor/rollup.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/wfq.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/resources/classifier/extractors/helpers.go
  pkg/selectors/selector.go
  playground/Tiltfile
  tools/demo_app/README.md
Due: updated-aperture, updated-aperture-docs

Doc edits (#430)
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/controller.md
Due: updated-aperture-docs

generate new mermaid diagrams (#432)
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
Due: updated-aperture-docs

fix typos suggested by codespell (#433)
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  pkg/otelcollector/rollup.go
Due: updated-aperture, updated-aperture-docs

Use markdown syntax to display playground image in README.md(#435)
  README.md
Due: none

Update blueprints.md
  docs/content/get-started/blueprints.md
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
