Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

add overview of tutorials instead of blank page. (#1211)
  docs/content/tutorials/_category_.yml
  docs/content/tutorials/tutorials.md
Due: updated-aperture-docs

Update java agent jar link in documentation (#1219)
  docs/content/get-started/integrations/flow-control/sdk/java/auto-instrumentation.md
Due: updated-aperture-docs

Collect basic kubelet metrics (#1227
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-agent/agent/otel-config.go
  docs/content/references/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/otelcollector/config/builtin_config.go
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/enrichmentprocessor/config.go
  pkg/otelcollector/enrichmentprocessor/enrichmentprocessor_suite_test.go
  pkg/otelcollector/enrichmentprocessor/factory.go
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/enrichmentprocessor/processor_metrics_test.go
  pkg/otelcollector/enrichmentprocessor/processor_test.go
  pkg/otelcollector/helpers.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture, updated-aperture-docs

Do not overwrite OTEL extensions in FN plugin (#1252
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Update K8s attr processor config (#1254
  cmd/aperture-agent/agent/otel-config.go
Due: updated-aperture

Add alerter to status registry (#1226)
  cmd/sdk-validator/main.go
  pkg/jobs/jobs_test.go
  pkg/policies/controlplane/sim/circuit.go
  pkg/policies/controlplane/validator.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/rate-tracker_test.go
  pkg/policies/flowcontrol/resources/classifier/classifier_test.go
  pkg/policies/flowcontrol/service/envoy/authz_test.go
  pkg/status/provide.go
  pkg/status/registry.go
  pkg/status/status_test.go
Due: updated-aperture

Add `aperturectl` CLI tool (#1217)
  blueprints/CONTRIBUTING.md
  blueprints/examples/latency-aimd-concurrency-limiting/example.yaml
  blueprints/examples/static-rate-limiting/example.yaml
  blueprints/scripts/generate_all.sh
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/list.go
  cmd/aperturectl/cmd/blueprints/pull.go
  cmd/aperturectl/cmd/blueprints/remove.go
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/compile.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/utils/utils.go
  cmd/aperturectl/cmd/version.go
  cmd/aperturectl/main.go
  cmd/circuit-compiler/main.go
  docs/tools/jsonnet/generate_jsonnet.sh
  go.mod
  go.sum
Due: updated-aperture, updated-aperture-docs

Bump Golang to 1.20 (#1260
  .circleci/continue-workflows.yml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  operator/Dockerfile
  playground/demo_app/Dockerfile
  playground/demo_app/go.mod
  playground/graphql_demo_app/Dockerfile
  playground/graphql_demo_app/go.mod
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  tools/go/go.mod
Due: updated-aperture

Bump golanci-lint to 1.51.0 (#1265)
  .tool-versions
Due: none

Add missing root certs to images (#1266
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  pkg/policies/controlplane/circuitfactory/graph.go
  playground/demo_app/Dockerfile
  playground/graphql_demo_app/Dockerfile
  sdks/aperture-go/Dockerfile
Due: updated-aperture

Create children in status registry with key-value pairs (#1257)
  operator/controllers/agent/daemonset_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
  pkg/alerts/alerter.go
  pkg/distcache/provider.go
  pkg/jobs/basic-job.go
  pkg/jobs/http-job.go
  pkg/jobs/job-group.go
  pkg/jobs/job-tracker.go
  pkg/jobs/job.go
  pkg/jobs/jobs_suite_test.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/jobs/provide.go
  pkg/notifiers/fx-driver.go
  pkg/platform/platform.go
  pkg/policies/controlplane/components/promql/promql.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/flowcontrol/actuators/concurrency/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency/load-actuator.go
  pkg/policies/flowcontrol/actuators/rate/rate-limiter.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/lazy-sync-rate-tracker.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/rate-tracker_test.go
  pkg/policies/flowcontrol/resources/classifier/provide.go
  pkg/policies/flowcontrol/resources/fluxmeter/flux-meter.go
  pkg/policies/infra/actuators/horizontalpodscaler/horizontal-pod-scaler.go
  pkg/status/registry.go
  pkg/status/status-service.go
  pkg/status/status_test.go
  pkg/watchdog/watchdog.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
Due: updated-aperture

Add Control Point Type to OLAP telemetry (#1213)
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/envoy/authz.go
Due: updated-aperture

Fix race condition when returning extra tokens (#1268)
  pkg/policies/flowcontrol/engine.go
Due: updated-aperture

Added support for applying policy on Kubernetes conditionally via aperturectl and use of custom blueprints (#1264)
  blueprints/examples/latency-aimd-concurrency-limiting/gen/graph/graph.dot
  blueprints/examples/latency-aimd-concurrency-limiting/gen/graph/graph.svg
  blueprints/examples/static-rate-limiting/gen/graph/graph.svg
  cmd/aperturectl/cmd/blueprints/generate.go
  go.mod
  go.sum
Due: updated-aperture

Separate main binary and plugin caches (#1272)
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
Due: updated-aperture

Update policies page in Getting Started and aperturectl docs (#1269)
  .pre-commit-config.yaml
  blueprints/scripts/generate_all.sh
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/list.go
  cmd/aperturectl/cmd/blueprints/pull.go
  cmd/aperturectl/cmd/blueprints/remove.go
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/compile.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/version.go
  cmd/aperturectl/gen-docs/generate-docs.go
  docs/content/concepts/policy/policy.md
  docs/content/get-started/aperture-cli/_category_.yml
  docs/content/get-started/aperture-cli/aperture-cli.md
  docs/content/get-started/aperture-cli/aperturectl.md
  docs/content/get-started/aperture-cli/aperturectl_blueprints.md
  docs/content/get-started/aperture-cli/aperturectl_blueprints_generate.md
  docs/content/get-started/aperture-cli/aperturectl_blueprints_list.md
  docs/content/get-started/aperture-cli/aperturectl_blueprints_pull.md
  docs/content/get-started/aperture-cli/aperturectl_blueprints_remove.md
  docs/content/get-started/aperture-cli/aperturectl_compile.md
  docs/content/get-started/aperture-cli/aperturectl_completion.md
  docs/content/get-started/aperture-cli/aperturectl_completion_bash.md
  docs/content/get-started/aperture-cli/aperturectl_completion_fish.md
  docs/content/get-started/aperture-cli/aperturectl_completion_powershell.md
  docs/content/get-started/aperture-cli/aperturectl_completion_zsh.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/get-started/playground/playground.md
  docs/content/get-started/policies/_category_.yml
  docs/content/get-started/policies/blueprints/blueprints.md
  docs/content/get-started/policies/get-started-with-policy.md
  docs/content/get-started/policies/policies.md
  docs/content/reference/policies/bundled-blueprints/_category_.yaml
  docs/content/reference/policies/bundled-blueprints/bundled-blueprints.md
  go.mod
  go.sum
  scripts/precommit/generate_cli_docs.sh
Due: updated-aperture, updated-aperture-docs

Changes for release v0.22.x (#1273)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

Minor changes in format and wordings (#1275)
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/compile.go
  docs/content/get-started/aperture-cli/aperture-cli.md
  docs/content/get-started/aperture-cli/aperturectl.md
  docs/content/get-started/aperture-cli/aperturectl_blueprints.md
  docs/content/get-started/aperture-cli/aperturectl_compile.md
Due: updated-aperture, updated-aperture-docs

Add aperturectl packaging (#1271)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .circleci/scripts/compile.sh
  .circleci/scripts/install_nfpm.sh
  .circleci/scripts/nfpm_package.sh
  .pre-commit-config.yaml
  packaging/agent/aperture-agent.service
  packaging/agent/aperture-agent.yaml
  packaging/agent/nfpm.yaml
  packaging/agent/post-install.sh
  packaging/cli/nfpm.yaml
  pkg/info/build.sh
  pkg/plugins/build.sh
Due: updated-aperture

Updated installation steps for CLI (#1278)
  cmd/aperturectl/cmd/root.go
  docs/content/get-started/aperture-cli/aperture-cli.md
  docs/content/get-started/installation/agent/bare_metal.md
Due: updated-aperture, updated-aperture-docs

Resolve latest blueprints version to latest stable release (#1263)
  cmd/aperturectl/cmd/blueprints/pull.go
  cmd/aperturectl/cmd/blueprints/root.go
  docs/content/get-started/aperture-cli/aperturectl_blueprints.md
  docs/content/get-started/aperture-cli/aperturectl_blueprints_generate.md
  docs/content/get-started/aperture-cli/aperturectl_blueprints_list.md
  docs/content/get-started/aperture-cli/aperturectl_blueprints_pull.md
  docs/content/get-started/aperture-cli/aperturectl_blueprints_remove.md
  go.mod
  go.sum
Due: updated-aperture, updated-aperture-docs

Moved generated CLI docs under reference section (#1279)
  .pre-commit-config.yaml
  cmd/aperturectl/gen-docs/generate-docs.go
  docs/content/get-started/aperture-cli/aperture-cli.md
  docs/content/get-started/policies/policies.md
  docs/content/reference/aperture-cli/_category_.yml
  docs/content/reference/aperture-cli/aperturectl.md
  docs/content/reference/aperture-cli/aperturectl_blueprints.md
  docs/content/reference/aperture-cli/aperturectl_blueprints_generate.md
  docs/content/reference/aperture-cli/aperturectl_blueprints_list.md
  docs/content/reference/aperture-cli/aperturectl_blueprints_pull.md
  docs/content/reference/aperture-cli/aperturectl_blueprints_remove.md
  docs/content/reference/aperture-cli/aperturectl_compile.md
  docs/content/reference/aperture-cli/aperturectl_completion.md
  docs/content/reference/aperture-cli/aperturectl_completion_bash.md
  docs/content/reference/aperture-cli/aperturectl_completion_fish.md
  docs/content/reference/aperture-cli/aperturectl_completion_powershell.md
  docs/content/reference/aperture-cli/aperturectl_completion_zsh.md
  docs/content/reference/api/_category_.yml
  docs/content/reference/observability/_category_.yaml
  scripts/precommit/generate_cli_docs.sh
Due: updated-aperture, updated-aperture-docs

Rework how we render blueprints documentation (#1253)
  blueprints/examples/latency-aimd-concurrency-limiting/gen/graph/graph.dot
  blueprints/examples/latency-aimd-concurrency-limiting/gen/graph/graph.svg
  blueprints/lib/1.0/dashboards/signals-dashboard/README.md
  blueprints/lib/1.0/policies/latency-aimd-concurrency-limiting/README.md
  blueprints/lib/1.0/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/lib/1.0/policies/static-rate-limiting/README.md
  blueprints/scripts/blueprint-readme-generator.py
  blueprints/scripts/header.latency.txt
  docs/content/reference/policies/bundled-blueprints/dashboards/signals-dashboard.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
Due: updated-aperture-docs

Update package licenses (#1280)
  packaging/agent/nfpm.yaml
  packaging/cli/nfpm.yaml
Due: none

Fix watchdog job name and harness tests (#1276)
  pkg/jobs/http-job.go
  pkg/watchdog/watchdog.go
  test/aperture_suite_test.go
Due: updated-aperture

Get back to Go 1.19 (#1281)
  .circleci/continue-workflows.yml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  cmd/aperturectl/cmd/blueprints/pull.go
  go.mod
  operator/Dockerfile
  playground/demo_app/Dockerfile
  playground/demo_app/go.mod
  playground/graphql_demo_app/Dockerfile
  playground/graphql_demo_app/go.mod
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  tools/go/go.mod
Due: updated-aperture

Handle crash when providing incorrect status path (#1282)
  pkg/status/status-service.go
Due: updated-aperture

docs: reorg aperturectl gen docs (#1284
  .pre-commit-config.yaml
  Makefile
  api/buf.lock
  blueprints/scripts/header.latency.txt
  cmd/aperturectl/gen-docs/generate-docs.go
  docs/Makefile
  docs/content/get-started/aperture-cli/_category_.yml
  docs/content/get-started/aperture-cli/aperture-cli.md
  docs/content/get-started/policies/policies.md
  docs/content/reference/aperture-cli/_category_.yml
  docs/content/reference/aperture-cli/aperturectl.md
  docs/content/reference/aperture-cli/aperturectl_blueprints.md
  docs/content/reference/aperture-cli/aperturectl_completion.md
  docs/content/reference/aperturectl/_category_.yml
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/blueprints/blueprints.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/blueprints/list/list.md
  docs/content/reference/aperturectl/blueprints/pull/pull.md
  docs/content/reference/aperturectl/blueprints/remove/remove.md
  docs/content/reference/aperturectl/compile/compile.md
  docs/content/reference/aperturectl/completion/bash/bash.md
  docs/content/reference/aperturectl/completion/completion.md
  docs/content/reference/aperturectl/completion/fish/fish.md
  docs/content/reference/aperturectl/completion/powershell/powershell.md
  docs/content/reference/aperturectl/completion/zsh/zsh.md
  docs/tools/aperturectl/generate-docs.go
  scripts/precommit/generate_aperturectl_docs.sh
  scripts/precommit/generate_cli_docs.sh
Due: updated-aperture, updated-aperture-docs

Use generic command in build.sh for linux and macos (#1287)
  pkg/info/build.sh
Due: updated-aperture

autogenerate blueprint value samples (#1288)
  blueprints/dashboards/signals-dashboard/values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/values.yaml
  blueprints/policies/static-rate-limiting/values.yaml
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/globals.go
  cmd/aperturectl/cmd/blueprints/list.go
  cmd/aperturectl/cmd/blueprints/remove.go
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/blueprints/values.go
  docs/content/reference/aperturectl/blueprints/blueprints.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/blueprints/values/values.md
  scripts/blueprint-readme-generator.py
  scripts/generate_blueprints_docs.sh
Due: updated-aperture, updated-aperture-docs

blueprints: also maintain values_required.yaml (#1289)
  blueprints/dashboards/signals-dashboard/README.md
  blueprints/dashboards/signals-dashboard/values_required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/README.md
  blueprints/policies/latency-aimd-concurrency-limiting/values_required.yaml
  blueprints/policies/static-rate-limiting/README.md
  blueprints/policies/static-rate-limiting/values_required.yaml
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/globals.go
  cmd/aperturectl/cmd/blueprints/list.go
  cmd/aperturectl/cmd/blueprints/pull.go
  cmd/aperturectl/cmd/blueprints/remove.go
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/blueprints/values.go
  docs/content/reference/aperturectl/blueprints/blueprints.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/blueprints/list/list.md
  docs/content/reference/aperturectl/blueprints/pull/pull.md
  docs/content/reference/aperturectl/blueprints/remove/remove.md
  docs/content/reference/aperturectl/blueprints/values/values.md
  docs/content/reference/policies/bundled-blueprints/dashboards/signals-dashboard.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/validate.sh
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/validate.sh
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/dynamic-rate-limiting/validate.sh
  docs/tools/aperturectl/validate_all.sh
  docs/tools/aperturectl/validate_common.sh
  scripts/blueprint-readme-generator.py
  scripts/generate_blueprints_docs.sh
Due: updated-aperture, updated-aperture-docs

blueprints: fix default value in generated docs (#1290)
  docs/content/reference/policies/bundled-blueprints/dashboards/signals-dashboard.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  scripts/blueprint-readme-generator.py
Due: updated-aperture-docs

blueprints: update getting-started (#1291)
  .circleci/continue-workflows.yml
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/root.go
  docs/content/get-started/policies/assets/raw_values.yaml
  docs/content/get-started/policies/assets/validate.sh
  docs/content/get-started/policies/assets/values.yaml
  docs/content/get-started/policies/policies.md
  docs/content/reference/aperturectl/blueprints/blueprints.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/blueprints/list/list.md
  docs/content/reference/aperturectl/blueprints/pull/pull.md
  docs/content/reference/aperturectl/blueprints/remove/remove.md
  docs/content/reference/aperturectl/blueprints/values/values.md
  docs/content/reference/policies/bundled-blueprints/dashboards/signals-dashboard.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
Due: updated-aperture, updated-aperture-docs

blueprints: add mermaid diagram in getting started (#1293
  docs/content/get-started/policies/assets/blueprints.mmd
  docs/content/get-started/policies/assets/blueprints.mmd.md5sum
  docs/content/get-started/policies/assets/blueprints.mmd.svg
  docs/content/get-started/policies/policies.md
  docs/content/tutorials/signal-processing/_category_.yml
  docs/content/tutorials/signal-processing/signal-processing.md
Due: updated-aperture-docs

Explicit Catch All Service (#1292)
  .pre-commit-config.yaml
  Makefile
  api/aperture/flowcontrol/preview/v1/preview.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/values_required.yaml
  blueprints/policies/static-rate-limiting/config.libsonnet
  blueprints/policies/static-rate-limiting/values.yaml
  blueprints/policies/static-rate-limiting/values_required.yaml
  docs/Makefile
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/integrations/flow-control/flow-selector.md
  docs/content/get-started/policies/assets/raw_values.yaml
  docs/content/get-started/policies/assets/values.yaml
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/consts/consts.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/resources/classifier/classification-engine.go
  scripts/precommit/generate_aperturectl_docs.sh
  scripts/precommit/generate_doc_assets.sh
Due: updated-aperture, updated-aperture-docs

docs: update tutorials (#1294)
  api/aperture/policy/language/v1/selector.proto
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/integrations/flow-control/service.md
  docs/content/get-started/playground/playground.md
  docs/content/get-started/policies/policies.md
  docs/content/reference/policies/spec.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation-playground.png
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.jsonnet
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/validate.sh
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/values.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/basic-concurrency-limiting.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/rate-limiting-escalation.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/workload-prioritization.md
  docs/content/tutorials/signal-processing/signal-processing.md
  docs/content/tutorials/tutorials.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

docs: fix admonitions (#1295)
  api/aperture/policy/language/v1/selector.proto
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

docs: update architecture
  docs/content/assets/diagrams/architecture/architecture_simple.mmd
  docs/content/assets/diagrams/architecture/architecture_simple.mmd.md5sum
  docs/content/assets/diagrams/architecture/architecture_simple.mmd.svg
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
