Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Add image and description to Introduction page (#1049)
  docs/content/introduction.md
Due: updated-aperture-docs

Changes for release v0.16.x (#1050)
  docs/content/introduction.md
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-docs

Improve deb packaging (#1048)
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  nfpm.yaml
  packaging/aperture-agent.service
  packaging/aperture-agent.yaml
  packaging/post-install.sh
  pkg/config/config.go
Due: updated-aperture

Added steps for exposing the etcd and prometheus outside of the cluster (#1051)
  docs/content/get-started/installation/controller.md
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/_helpers.tpl
  manifests/charts/aperture-controller/templates/ingress.yaml
  manifests/charts/aperture-controller/values.yaml
Due: updated-aperture-docs

Added CI steps to upload deb packages (#1052)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/scripts/setup_gcloud.sh
Due: none

Baremetal/VM agent package installation documentation (#1053)
  docs/content/get-started/installation/agent/baremetal.md
  docs/content/get-started/installation/agent/envoy/_category_.yml
  docs/content/get-started/installation/agent/supported-platforms.md
Due: updated-aperture-docs

Added support for generating rpm packages (#1055)
  .circleci/continue-workflows.yml
  nfpm.yaml
Due: none

Corrected package path in cloud artifacts upload (#1056)
  .circleci/continue-workflows.yml
  nfpm.yaml
Due: none

Fixed the hyphen issue in rpm package name (#1057)
  .circleci/continue-workflows.yml
  packaging/aperture-agent.yaml
Due: none

Added supported versions and minor docs changes for bare metal (#1061)
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/agent/bare_metal.md
  docs/content/get-started/installation/agent/supported-platforms.md
Due: updated-aperture-docs

Changes required for release v0.17.x (#1062)
  docs/content/introduction.md
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-docs

Fix baremetal package building (#1063)
  .circleci/continue-workflows.yml
Due: none

Moved release bare metal packages to post-release pipeline (#1064)
  .circleci/post-release.yaml
Due: none

Update OTEL to v0.68.0 (#1060)
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-controller/controller/otel-component.go
  go.mod
  go.sum
  pkg/otelcollector/alertsexporter/config.go
  pkg/otelcollector/alertsexporter/factory.go
  pkg/otelcollector/alertsreceiver/config.go
  pkg/otelcollector/alertsreceiver/factory.go
  pkg/otelcollector/enrichmentprocessor/config.go
  pkg/otelcollector/enrichmentprocessor/factory.go
  pkg/otelcollector/enrichmentprocessor/processor_test.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/otelcollector.go
  pkg/otelcollector/rollupprocessor/config.go
  pkg/otelcollector/rollupprocessor/factory.go
  pkg/otelcollector/rollupprocessor/processor.go
  pkg/otelcollector/tracestologsprocessor/config.go
  pkg/otelcollector/tracestologsprocessor/factory.go
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture

Kubernetes Discovery: Cluster Domain (#1054)
  pkg/discovery/kubernetes/kubernetes_discovery.go
Due: updated-aperture

Generic Cache for Control Points and other objects in the future (#1046)
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-controller/controller.go
  pkg/cache/cache.go
  pkg/controlpointcache/control_point_cache.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/flowcontrol/selectors/control-point-id.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
  test/aperture_suite_test.go
Due: updated-aperture

Fixed the separator issue in bare metal installation docs and replaced ghr with gh CLI (#1065)
  .circleci/post-release.yaml
  docs/content/get-started/installation/agent/bare_metal.md
Due: updated-aperture-docs

Fix providing control point cache (#1068)
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-controller/controller.go
Due: updated-aperture

flowcontrol: preview api (#1070)
  api/Makefile
  api/aperture/flowcontrol/preview/v1/preview.proto
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.gw.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview_deepcopy.gen.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview_grpc.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/net/grpc/server.go
  pkg/net/grpc/validator.go
  pkg/policies/flowcontrol/config-operations.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/classifier.go
  pkg/policies/flowcontrol/iface/engine.go
  pkg/policies/flowcontrol/iface/label-preview.go
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/envoy/provide.go
  pkg/policies/flowcontrol/service/preview/label-preview.go
  pkg/policies/flowcontrol/service/preview/provide.go
  pkg/policies/flowcontrol/service/preview/zz_generated.deepcopy.go
  pkg/policies/flowcontrol/service/provide.go
  pkg/policies/mocks/mock_engine.go
  pkg/watchdog/policy.go
  pkg/watchdog/watchdog.go
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-js/sdk/consts.js
Due: updated-aperture, updated-aperture-docs

docs: flow label preview api (#1085)
  README.md
  docs/content/cloud/cloud.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/tutorials/flow-control/graphql-rate-limiting.md
  docs/content/tutorials/flow-control/workload-prioritization.md
Due: updated-aperture-docs

Update ci executor (#1092)
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

Remove spammy debug log (#1094)
  pkg/config/validator.go
Due: updated-aperture

Update GraphQL query rate limiting example (#1091)
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.jsonnet
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.mmd
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.mmd.md5sum
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.mmd.png
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.mmd.svg
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.yaml
  playground/graphql_demo_app/go.mod
  playground/graphql_demo_app/go.sum
  playground/graphql_demo_app/graph/generated/generated.go
  playground/graphql_demo_app/graph/model/models_gen.go
  playground/graphql_demo_app/graph/schema.graphqls
  playground/graphql_demo_app/graph/schema.resolvers.go
  playground/graphql_demo_app/server.go
  playground/load_generator/scenarios/graphql_load_test.js
Due: updated-aperture-docs

Fix pre-commit error in graphql_demo_app (#1096)
  playground/graphql_demo_app/graph/schema.resolvers.go
Due: none

update remote-docker-version in CI (#1097)
  .circleci/continue-workflows.yml
Due: none

Changes for release v0.18.x (#1098)
  docs/content/introduction.md
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-docs

Exposed the buf build username in environment variables (#1099)
  .circleci/post-release.yaml
Due: none

Remove ControlPointCache dependency in Controller (#1104)
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-controller/controller.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
Due: updated-aperture

Updated SSH Keys for other repos (#1101)
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

Tutorials: Re-order YAML and Jsonnet tabs (#1106)
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/dynamic-rate-limiting.md
  docs/content/tutorials/flow-control/graphql-rate-limiting.md
  docs/content/tutorials/flow-control/static-rate-limiting.md
  docs/content/tutorials/flow-control/workload-prioritization.md
  docs/content/tutorials/signal-processing/detecting-overload.md
Due: updated-aperture-docs

Docs: Applying Policies section (#1107)
  docs/content/assets/scripts/version-code.js
  docs/content/get-started/policies/applying-policies.md
  docs/content/get-started/policies/blueprints.md
  docs/content/get-started/policies/dynamic-configuration.md
  docs/content/get-started/policies/monitoring.md
Due: updated-aperture-docs

Update aperture on customer demo cluster when changes merged to main (#1103)
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .circleci/scripts/update_environment.sh
  .opsninja.yaml
Due: none

Cleaned up RBAC permissions in operator for agent and controller (#1088)
  manifests/charts/aperture-agent/templates/rbac.yaml
  manifests/charts/aperture-controller/templates/rbac.yaml
  operator/config/rbac/role.yaml
  operator/controllers/agent/clusterrole.go
  operator/controllers/agent/clusterrole_test.go
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/reconciler.go
  operator/controllers/agent/reconciler_test.go
  operator/controllers/controller/clusterrole.go
  operator/controllers/controller/clusterrole_test.go
  operator/controllers/controller/reconciler.go
  operator/controllers/controller/reconciler_test.go
Due: none

Add Differentiator component (#1058)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/lib/1.0/_gen/v1/component.libsonnet
  blueprints/lib/1.0/_gen/v1/differentiator.libsonnet
  blueprints/lib/1.0/_gen/v1/differentiatorins.libsonnet
  blueprints/lib/1.0/_gen/v1/differentiatorouts.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/components/differentiator.go
  pkg/utils/helpers.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

Corrected static rate limiting policy on docs (#1108)
  docs/content/get-started/policies/applying-policies.md
  docs/content/tutorials/flow-control/assets/static-rate-limiting/static-rate-limiting.jsonnet
  docs/content/tutorials/flow-control/assets/static-rate-limiting/static-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/static-rate-limiting/static-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/static-rate-limiting/static-rate-limiting.yaml
Due: updated-aperture-docs

Docs: Update Applying Policies section (#1110)
  docs/content/get-started/policies/applying-policies.md
Due: updated-aperture-docs

Updated apply policy section on controller installation page (#1111)
  docs/content/get-started/installation/controller.md
  docs/content/get-started/policies/applying-policies.md
Due: updated-aperture-docs

Fixed the reconciler errors in operator due to ClusterRole name change (#1114)
  operator/controllers/agent/reconciler.go
  operator/controllers/controller/reconciler.go
Due: none

Updated deprecated methods in operator (#1115)
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/mutating_webhook_configuration_test.go
  operator/controllers/agent/secrets_test.go
  operator/controllers/agent/serviceaccount_test.go
  operator/controllers/agent/services_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/secrets_test.go
  operator/controllers/controller/serviceaccount_test.go
  operator/controllers/controller/services_test.go
  operator/controllers/controller/validating_webhook_configuration_test.go
  operator/controllers/mutate_func_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  operator/controllers/mutatingwebhook/mutating_webhook_configuration_test.go
  operator/controllers/mutatingwebhook/reconciler_test.go
  operator/controllers/utils_test.go
Due: none

Add 'Flow Control' section under 'Getting Started' in docs (#1109)
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/get-started/flow-control/_category_.yaml
  docs/content/get-started/flow-control/envoy/_category_.yaml
  docs/content/get-started/flow-control/envoy/istio.md
  docs/content/get-started/flow-control/sdk/_category_.yaml
  docs/content/get-started/flow-control/sdk/aperture-java.md
  docs/content/get-started/flow-control/sdk/aperture-js.md
  docs/content/get-started/flow-control/sdk/apeture-go.md
  docs/content/get-started/installation/agent/envoy/_category_.yml
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/policies/_category_.yml
  docs/content/references/configuration/policy.md
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting-counter.png
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting-demo.png
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.jsonnet
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.yaml
  docs/content/tutorials/flow-control/graphql-rate-limiting.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs
