Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Fixed typos in the installation docs (#525)
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
Due: updated-aperture-docs

change chart version to v0.2.1 (#523)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

Change tool installation script directory (#524)
  .circleci/scripts/asdf_install.sh
  Makefile
  docs/content/get-started/playground.md
  playground/scripts/manage_tools.sh
Due: updated-aperture-docs

position change for installation and playground (#526)
  docs/content/get-started/installation/_category_.yml
  docs/content/get-started/playground.md
Due: updated-aperture-docs

Fix Prometheus scrape config in OTEL (#528)
  go.mod
  pkg/otel/config.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Remove "aperture-" prefix from Tilt resources (#509)
  playground/Tiltfile
Due: none

mermaid: generate pngs in addition to svgs (#531)
  .pre-commit-config.yaml
  docs/Makefile
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.png
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.png
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.png
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.png
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.png
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd.png
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd.png
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.mmd.png
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_1.mmd.png
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_2.mmd.png
  docs/content/assets/gen/service.md_2.mmd.svg
  docs/tools/mermaid/mermaid.css
  playground/tanka/chartfile.yaml
Due: updated-aperture-docs

revert istio chart changes (#532)
  playground/tanka/chartfile.yaml
Due: none

fix demo policy classifier rule (#533)
  playground/tanka/apps/demoapp/mixins.libsonnet
Due: none

Etcd Client Auth and TLS Params (#489)
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  go.mod
  go.sum
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_config_test.tpl
  operator/controllers/controller_config_test.tpl
  pkg/etcd/client/client.go
  pkg/etcd/client/zz_generated.deepcopy.go
  test/aperture_suite_test.go
  test/harness/etcd.go
Due: updated-aperture, updated-aperture-docs

helm chart version change for v0.2.2 (#543)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

add missing git commit hash and git branch in the script (#547)
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  pkg/info/build.sh
  pkg/plugins/build.sh
Due: updated-aperture

add check for the git repo (#549)
  pkg/info/build.sh
Due: updated-aperture

revere #547 PR as aperture playground is failing (#550)
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  pkg/info/build.sh
  pkg/plugins/build.sh
Due: updated-aperture

Update resources.md (#553)
  docs/content/concepts/policy/resources.md
Due: updated-aperture-docs

Small grammar fix (#554)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Due: updated-aperture-docs

Added Init containers for Etcd and Prometheus in controller (#551)
  manifests/charts/aperture-controller/templates/controller.yaml
Due: none

Servers monitoring update (#548)
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_config_test.tpl
  operator/controllers/controller_config_test.tpl
  pkg/metrics/schema.go
  pkg/net/grpc/server.go
  pkg/net/grpc/zz_generated.deepcopy.go
  pkg/net/http/server.go
  pkg/net/http/zz_generated.deepcopy.go
Due: updated-aperture, updated-aperture-docs

add pullPolicy for aperture-operator image (#557)
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: none

add git branch and git commit hash for docker build (#556)
  .circleci/continue-workflows.yml
  .circleci/scripts/docker_build.sh
Due: none

Fix etcd harness tls setup (#562)
  test/aperture_suite_test.go
  test/harness/etcd.go
Due: none

Add ResponseMetricsAPI (#297)
  go.mod
  go.sum
  pkg/otel/components.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/iface/metrics-registry.go
  pkg/policies/dataplane/provide.go
  pkg/policies/dataplane/response-metrics-registry.go
  pkg/policies/mocks/mock_metrics-registry.go
  test/aperture_suite_test.go
Due: updated-aperture

move paths pkg to policies/common (#563)
  .circleci/config.yml
  cmd/circuit-compiler/main.go
  cmd/circuit-generator/main.go
  pkg/config/log.go
  pkg/log/log.go
  pkg/policies/common/common.go
  pkg/policies/common/paths.go
  pkg/policies/controlplane/components/actuators/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/components/actuators/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/dataplane/actuators/concurrency/auto-tokens.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/resources/classifier/provide.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
Due: updated-aperture

update blueprint (#565)
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/jsonnetfile.lock.json
Due: none

Eliminate proto message name conflicts. This should help get rid of scoped object names in libsonnet (#567)
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/buf.lock
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol_deepcopy.gen.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/classifier.libsonnet
  libsonnet/1.0/_gen/v1/concurrencylimiter.libsonnet
  libsonnet/1.0/_gen/v1/controlpoint.libsonnet
  libsonnet/1.0/_gen/v1/fluxmeter.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/ratelimiter.libsonnet
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/envoy/authz.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/selectors/control-point.go
Due: updated-aperture, updated-aperture-docs

Remove custom defs from libsonnet (#568)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/concepts/policy/circuit.md
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/custom/circuit.libsonnet
  libsonnet/1.0/custom/constant.libsonnet
  libsonnet/1.0/custom/languagev1concurrencylimiter.libsonnet
  libsonnet/1.0/custom/languagev1ratelimiter.libsonnet
  libsonnet/1.0/custom/policylanguagev1fluxmeter.libsonnet
  libsonnet/1.0/custom/port.libsonnet
  libsonnet/1.0/custom/schedulerworkloadandlabelmatcher.libsonnet
  libsonnet/1.0/main.libsonnet
Due: updated-aperture-docs

Set up GitHub Action to sync Issues to Notion (#569)
  .github/workflows/issues-notion-sync.yml
Due: none

update playground policy file (#570)
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/jsonnetfile.lock.json
Due: none

add dir change typo for ctlptl command (#558)
  docs/content/get-started/playground.md
Due: updated-aperture-docs

Update Notion Github Action to point to a more recent version (#575)
  .github/workflows/issues-notion-sync.yml
Due: none

Import policies from aperture-blueprints repository (#574)
  .circleci/post-release.yaml
  .gitignore
  blueprints/CONTRIBUTING.md
  blueprints/README.md
  blueprints/blueprints/latency-gradient/README.md
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/blueprints/latency-gradient/graph.dot
  blueprints/blueprints/latency-gradient/graph.svg
  blueprints/blueprints/latency-gradient/main.libsonnet
  blueprints/blueprints/latency-gradient/metadata.yaml
  blueprints/blueprints/rate-limiter/README.md
  blueprints/blueprints/rate-limiter/config.libsonnet
  blueprints/blueprints/rate-limiter/graph.dot
  blueprints/blueprints/rate-limiter/graph.svg
  blueprints/blueprints/rate-limiter/main.libsonnet
  blueprints/blueprints/rate-limiter/metadata.yaml
  blueprints/dev-requirements.txt
  blueprints/examples/demo1-rate-limit.jsonnet
  blueprints/examples/demoapp-latency-gradient.jsonnet
  blueprints/examples/demoapp-rate-limiter.jsonnet
  blueprints/jsonnetfile.json
  blueprints/jsonnetfile.lock.json
  blueprints/lib/1.0/dashboards/latency-gradient.libsonnet
  blueprints/lib/1.0/grafana/aperture.libsonnet
  blueprints/lib/1.0/grafana/panels/timeseries_panel.libsonnet
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
  blueprints/lib/1.0/policies/rate-limiter.libsonnet
  blueprints/scripts/aperture-generate.py
  blueprints/scripts/blueprint-readme-generator.py
  blueprints/scripts/generate_all.sh
  docs/content/get-started/blueprints.md
  playground/Tiltfile
  playground/scripts/jb_install.sh
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/jsonnetfile.json
  playground/tanka/jsonnetfile.lock.json
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: updated-aperture-docs

Add Fluxmeter histogram buckets (#473)
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter_deepcopy.gen.go
  blueprints/blueprints/latency-gradient/README.md
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/blueprints/latency-gradient/example/example.jsonnet
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/fluxmeter.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/fluxmeterexponentialbuckets.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/fluxmeterexponentialbucketsrange.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/fluxmeterlinearbuckets.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/fluxmeterstaticbuckets.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/gen.libsonnet
  blueprints/libsonnet/README.md
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  playground/tanka/apps/demoapp/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

helm chart version change to v0.3.0-rc.1 (#582)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

Updated example in the blueprints docs (#583)
  docs/content/get-started/blueprints.md
Due: updated-aperture-docs

Remove non-used imports from Tanka apps (#584)
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
  playground/tanka/apps/demoapp/mixins.libsonnet
Due: none
