Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Add aperturectl cloud cache sub-commands (#2978)
  cmd/aperturectl/cmd/cloud/globalcache/delete.go
  cmd/aperturectl/cmd/cloud/globalcache/get.go
  cmd/aperturectl/cmd/cloud/globalcache/root.go
  cmd/aperturectl/cmd/cloud/globalcache/set.go
  cmd/aperturectl/cmd/cloud/resultcache/delete.go
  cmd/aperturectl/cmd/cloud/resultcache/get.go
  cmd/aperturectl/cmd/cloud/resultcache/root.go
  cmd/aperturectl/cmd/cloud/resultcache/set.go
  cmd/aperturectl/cmd/cloud/root.go
  docs/content/reference/aperture-cli/aperturectl/cloud/cloud.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/delete/delete.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/get/get.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/global-cache.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/delete/delete.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/get/get.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/result-cache.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/set/set.md
Due: updated-aperture, updated-aperture-docs

Update python SDK cache support and exception handling (#2979)
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
Due: none

Use same version as other deprecations (#2983)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/code-snippets.json
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/quota-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/rate-limiter/rate-limiter.go
Due: updated-aperture, updated-aperture-docs

aperture-js add grpc call options (#2984)
  sdks/aperture-js/docs/classes/ApertureClient.md
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
Due: none

aperture-js: fix cache upsert (#2985)
  sdks/aperture-js/sdk/flow.ts
Due: none

Aperture js version bump (#2986)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
Due: none

Rework Serverless Image (#2987)
  docs/content/get-started/assets/architecture/saas-dark.svg
  docs/content/get-started/assets/architecture/saas-light.svg
Due: updated-aperture-docs

Upgrade OTEL to v0.90.0 (#2989)
  cmd/aperturectl/cmd/utils/autoscale.go
  cmd/aperturectl/cmd/utils/flowcontrol.go
  go.mod
  go.sum
  pkg/net/grpc/client.go
  pkg/net/grpc/server.go
  pkg/otelcollector/otelcollector.go
  pkg/otelcollector/rollupprocessor/key.go
Due: updated-aperture

Python SDK: clear top-level __init__.py file (#2992)
  sdks/aperture-py/aperture_sdk/__init__.py
  sdks/aperture-py/docs/all-documents.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlService.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceServicer.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceStub.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.html
  sdks/aperture-py/docs/aperture_sdk._gen.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyDeleteResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyLookupResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyUpsertResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.LookupStatus.html
  sdks/aperture-py/docs/aperture_sdk.cache.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureClient.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureCloudAuthMetadataPlugin.html
  sdks/aperture-py/docs/aperture_sdk.client.FlowParams.html
  sdks/aperture-py/docs/aperture_sdk.client.html
  sdks/aperture-py/docs/aperture_sdk.const.html
  sdks/aperture-py/docs/aperture_sdk.flow.Flow.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowDecision.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowStatus.html
  sdks/aperture-py/docs/aperture_sdk.flow.html
  sdks/aperture-py/docs/aperture_sdk.utils.html
  sdks/aperture-py/docs/classIndex.html
  sdks/aperture-py/docs/fullsearchindex.json
  sdks/aperture-py/docs/index.html
  sdks/aperture-py/docs/moduleIndex.html
  sdks/aperture-py/docs/nameIndex.html
  sdks/aperture-py/docs/objects.inv
  sdks/aperture-py/docs/searchindex.json
  sdks/aperture-py/docs/undoccedSummary.html
  sdks/aperture-py/example/main.py
  sdks/aperture-py/example/manual_flow.py
  sdks/aperture-py/pyproject.toml
Due: none

Update images with minor improvement (#2988)
  docs/content/assets/img/unified-load-management-dark.svg
  docs/content/assets/img/unified-load-management-light.svg
Due: updated-aperture-docs

Separate counter to track inf signals (#2993)
  docs/content/reference/observability/prometheus-metrics/controller.md
  pkg/metrics/schema.go
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture, updated-aperture-docs

add accepted word (#3004)
  .github/styles/Vocab/FluxNinja/accept.txt
Due: none

etcd transport rename (#2991)
  api/buf.lock
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/code-snippets.json
  pkg/agent-functions/cache.go
  pkg/agent-functions/flowcontrol-controlpoints.go
  pkg/agent-functions/preview.go
  pkg/agent-functions/provide.go
  pkg/cmd/agents/agents.go
  pkg/cmd/controller.go
  pkg/discovery/entities/entities-service.go
  pkg/etcd/transport/client.go
  pkg/etcd/transport/server.go
  pkg/policies/autoscale/kubernetes/service/controlpoints/control-points.go
Due: updated-aperture, updated-aperture-docs

Use api module in sdk (#3007)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/scripts/update_api_go_sdk.sh
  api/Makefile
  api/gen/openapiv2/aperture.swagger.yaml
  scripts/precommit/generate_api.sh
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.json.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_grpc.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_vtproto.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.gw.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.json.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp_grpc.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp_vtproto.pb.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/cache.go
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
Due: none

Use pipeline variable to get commit sha (#3008)
  .circleci/continue-workflows.yml
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Due: none

add category, instead of bare folder (#3005)
  docs/content/reference/cloud-ui/policies/_category_.yml
  docs/content/reference/cloud-ui/policies/policy-creation.md
Due: updated-aperture-docs

update code snippets (#2973)
  docs/content/code-snippets.json
  docs/content/codeSnippet.js
  docs/content/get-started/get-started.md
  docs/content/guides/api-quota-management/openai.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/armeria.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/java/netty.md
  docs/content/sdk/javascript/manual.md
  docs/tools/sdk/generate-code-snippets.go
  sdks/aperture-csharp/Examples/Program.cs
  sdks/aperture-csharp/Examples/README.md
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/examples/manual_flow/main.go
  sdks/aperture-go/examples/middleware/main.go
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-py/example/main.py
Due: updated-aperture-docs

Generate dashboards directory location (#3011)
  cmd/aperturectl/cmd/dashboard.go
Due: updated-aperture

Improve FAQs (#3010)
  docs/content/faq.md
Due: updated-aperture-docs

Run scheduling while global cache lookup is in progress (#3012)
  pkg/policies/flowcontrol/cache.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/cache.go
Due: updated-aperture

Update buf lock (#3013)
  api/buf.lock
Due: none

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Due: none

Fix docs broken link (#3015)
  docs/content/sdk/go/manual.md
Due: updated-aperture-docs

Upgraded OTEL to v0.90.0-fn.patch.2 (#3016)
  go.mod
  go.sum
  playground/scripts/render-dashboards.sh
Due: updated-aperture

Fix panic observed during blueprints generate --apply (#3017)
  cmd/aperturectl/cmd/blueprints/generate.go
Due: updated-aperture

Use dummy commit version for api module (#3018)
  go.mod
Due: updated-aperture

Partition metrics for Olric (#3019)
  pkg/dist-cache/dist-cache-metrics.go
  pkg/dist-cache/dist-cache.go
  pkg/metrics/schema.go
Due: updated-aperture

flow methods for response code and wait (#3009)
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-js/docs/interfaces/Flow.md
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-py/aperture_sdk/flow.py
Due: none

Update OpenAI Guide (#3020)
  docs/content/guides/api-quota-management/assets/openai/quota-scheduler-blueprint.png
  docs/content/guides/api-quota-management/openai.md
Due: updated-aperture-docs

Improve field names in label matcher (#3014)
  api/aperture/policy/language/v1/label_matcher.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/equalsexpression.libsonnet
  blueprints/gen/v1/expression.libsonnet
  blueprints/gen/v1/expressionlist.libsonnet
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/labelmatcher.libsonnet
  blueprints/gen/v1/matchesexpression.libsonnet
  blueprints/gen/v1/matchrequirement.libsonnet
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/selector.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/selectors/selector.go
Due: updated-aperture, updated-aperture-docs

Add python docs generation to precommit (#3021)
  .pre-commit-config.yaml
  requirements.txt
  scripts/precommit/generate_aperturepy_docs.sh
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/docs/all-documents.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlService.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceServicer.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceStub.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.html
  sdks/aperture-py/docs/aperture_sdk._gen.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyDeleteResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyLookupResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyUpsertResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.LookupStatus.html
  sdks/aperture-py/docs/aperture_sdk.cache.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureClient.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureCloudAuthMetadataPlugin.html
  sdks/aperture-py/docs/aperture_sdk.client.FlowParams.html
  sdks/aperture-py/docs/aperture_sdk.client.html
  sdks/aperture-py/docs/aperture_sdk.const.html
  sdks/aperture-py/docs/aperture_sdk.flow.Flow.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowDecision.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowStatus.html
  sdks/aperture-py/docs/aperture_sdk.flow.html
  sdks/aperture-py/docs/aperture_sdk.utils.html
  sdks/aperture-py/docs/classIndex.html
  sdks/aperture-py/docs/fullsearchindex.json
  sdks/aperture-py/docs/index.html
  sdks/aperture-py/docs/moduleIndex.html
  sdks/aperture-py/docs/nameIndex.html
  sdks/aperture-py/docs/objects.inv
  sdks/aperture-py/docs/searchindex.json
  sdks/aperture-py/docs/undoccedSummary.html
  sdks/aperture-py/pyproject.toml
Due: none

Fix docs (#3022)
  .circleci/continue-workflows.yml
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/label_matcher.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

Update Termination Grace Period Seconds from operator (#3024)
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/deployment.go
  operator/controllers/controller/deployment.go
Due: none

Change TTL in aperturectl to be seconds instead of millis (#3027)
  cmd/aperturectl/cmd/cloud/globalcache/set.go
  cmd/aperturectl/cmd/cloud/resultcache/set.go
  cmd/aperturectl/cmd/globalcache/set.go
  cmd/aperturectl/cmd/resultcache/set.go
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/global-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/result-cache/set/set.md
Due: updated-aperture, updated-aperture-docs

Add event based Olric metrics (#3025)
  pkg/dist-cache/dist-cache-metrics.go
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
  pkg/metrics/schema.go
Due: updated-aperture

Support caching in java sdk (#3030)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/FeatureFlowParameters.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/KeyDeleteResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/KeyLookupResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/KeyUpsertResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/LookupStatus.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/Utils.java
Due: none
