Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Make logs less noisy (#1000)
  pkg/distcache/logwriter.go
  pkg/log/samplers.go
Due: updated-aperture

Bump Aperture Java SDK to 0.13.0 (#1001)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/version.gradle.kts
Due: none

Update Java SDK badge (#1003)
  sdks/aperture-java/README.md
Due: none

Remove alertmanagers test config (#1004)
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: none

Load actuator alerter (#993)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/lib/1.0/_gen/v1/alerter.libsonnet
  blueprints/lib/1.0/_gen/v1/alerterconfig.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  blueprints/lib/1.0/_gen/v1/loadactuator.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/component-factory_test.go
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
  pkg/policies/controlplane/components/alerter.go
Due: updated-aperture, updated-aperture-docs

Garbage collector in ETCD (#992)
  manifests/charts/aperture-controller/values.yaml
Due: none

Mark alert logs in otel with resource attribute (#1007)
  pkg/alerts/alert.go
  pkg/otelcollector/alertsreceiver/receiver.go
  pkg/otelcollector/consts.go
Due: updated-aperture

Fix alert tests (#1008)
  pkg/alerts/alert_test.go
Due: updated-aperture

Add default configuration for Load Actuator Alerter (#1006)
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
Due: updated-aperture, updated-aperture-docs

Misc Circuit and Components refactors (#1005)
  cmd/circuit-compiler/main.go
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/circuitcompiler/compiler.go
  pkg/policies/controlplane/circuitcompiler/graph.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/controlplane/components/alerter.go
  pkg/policies/controlplane/components/arithmetic-combinator.go
  pkg/policies/controlplane/components/component-factory.go
  pkg/policies/controlplane/components/component-factory_test.go
  pkg/policies/controlplane/components/component-stack-factory.go
  pkg/policies/controlplane/components/constant.go
  pkg/policies/controlplane/components/controller/controller-component.go
  pkg/policies/controlplane/components/controller/gradient.go
  pkg/policies/controlplane/components/decider.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/controlplane/components/extrapolator.go
  pkg/policies/controlplane/components/first-valid.go
  pkg/policies/controlplane/components/max.go
  pkg/policies/controlplane/components/min.go
  pkg/policies/controlplane/components/promql/promql.go
  pkg/policies/controlplane/components/sink.go
  pkg/policies/controlplane/components/sqrt.go
  pkg/policies/controlplane/components/switcher.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/runtime/component.go
  pkg/policies/controlplane/runtime/ports.go
  pkg/policies/controlplane/validator.go
Due: updated-aperture

Add GeneratorURL methods to alert (#1009)
  pkg/alerts/alert.go
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
  pkg/policies/controlplane/components/alerter.go
Due: updated-aperture

Changes for release v0.14.x (#1010)
  docs/content/introduction.md
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-docs

Added images which were directly committed to aperture-tech-docs (#1011)
  docs/content/assets/img/adaptive-concurrency-limits/Signals-Dashboard.png
  docs/content/assets/img/adaptive-concurrency-limits/When-Aperture-is-protecting-service.png
  docs/content/assets/img/adaptive-concurrency-limits/concurrency-limits-dark.png
  docs/content/assets/img/adaptive-concurrency-limits/concurrency-limits-light.png
  docs/content/assets/img/adaptive-concurrency-limits/demo-application.png
  docs/content/assets/img/adaptive-concurrency-limits/no-protection-setup.png
  docs/content/assets/img/adaptive-concurrency-limits/overall-view-grafana-dashboard.png
  docs/content/assets/img/adaptive-concurrency-limits/service-topology-dark.png
  docs/content/assets/img/adaptive-concurrency-limits/service-topology-example-dark.png
  docs/content/assets/img/adaptive-concurrency-limits/service-topology-example-light.png
  docs/content/assets/img/adaptive-concurrency-limits/service-topology-light.png
Due: updated-aperture-docs

Alerts improvements (#1015)
  pkg/alertmanager/client/client.go
  pkg/alerts/alert.go
  pkg/otelcollector/alertsexporter/exporter.go
Due: updated-aperture

Add channel and severity helpers to alerts (#1018)
  pkg/alerts/alert.go
  pkg/alerts/alert_test.go
  pkg/otelcollector/consts.go
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
  pkg/policies/controlplane/components/alerter.go
Due: updated-aperture

Make alertmanager base path configurable (#1016)
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/alertmanager/client/client.go
Due: updated-aperture, updated-aperture-docs

Fix parameter type in latency gradient blueprints doc (#1021)
  blueprints/lib/1.0/blueprints/latency-gradient/README.md
  blueprints/lib/1.0/blueprints/latency-gradient/config.libsonnet
Due: none

jobs: publish liveness error on timeout (#1020)
  api/aperture/status/v1/status.proto
  api/gen/proto/go/aperture/status/v1/status.pb.go
  api/gen/proto/go/aperture/status/v1/status.pb.json.go
  api/gen/proto/go/aperture/status/v1/status_deepcopy.gen.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
  pkg/status/registry.go
  pkg/status/status-service.go
  pkg/status/status.go
Due: updated-aperture, updated-aperture-docs

Fix Alerts Receiver (#1023)
  pkg/otelcollector/alertsreceiver/alertsreceiver_suite_test.go
  pkg/otelcollector/alertsreceiver/factory.go
  pkg/otelcollector/alertsreceiver/receiver.go
  pkg/otelcollector/alertsreceiver/receiver_test.go
Due: updated-aperture

refactor: Split circuit compilation and misc refactors (#1017)
  cmd/circuit-compiler/main.go
  pkg/mapstruct/mapstruct.go
  pkg/policies/controlplane/circuitcompiler/compiler.go
  pkg/policies/controlplane/circuitfactory/circuitfactory_suite_test.go
  pkg/policies/controlplane/circuitfactory/compile.go
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/circuitfactory/component-factory_test.go
  pkg/policies/controlplane/circuitfactory/component-stack-factory.go
  pkg/policies/controlplane/circuitfactory/graph.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/runtime/compile.go
  pkg/policies/controlplane/runtime/component.go
  pkg/policies/controlplane/runtime/ports.go
  pkg/policies/controlplane/validator.go
Due: updated-aperture

Add basic unit-test framework for testing circuits (#1019)
  pkg/policies/controlplane/components/constant.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/runtime/circuit_test.go
  pkg/policies/controlplane/sim/circuit.go
  pkg/policies/controlplane/sim/circuit_test.go
  pkg/policies/controlplane/sim/components.go
  pkg/policies/controlplane/sim/helpers.go
  pkg/policies/controlplane/sim/sim_suite_test.go
Due: updated-aperture

Improve OLAP telemetry rollup (#1027)
  cmd/aperture-agent/agent/otel-component.go
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  pkg/metrics/schema.go
  pkg/otelcollector/config.go
  pkg/otelcollector/rollupprocessor/config.go
  pkg/otelcollector/rollupprocessor/factory.go
  pkg/otelcollector/rollupprocessor/processor.go
  pkg/otelcollector/rollupprocessor/processor_test.go
  pkg/otelcollector/rollupprocessor/rollupprocessor_suite_test.go
  pkg/policies/flowcontrol/engine.go
Due: updated-aperture, updated-aperture-docs

tests: Correctly handle invalid readings (NaN) in tests (#1028)
  pkg/policies/controlplane/runtime/circuit_test.go
  pkg/policies/controlplane/sim/circuit.go
  pkg/policies/controlplane/sim/circuit_test.go
  pkg/policies/controlplane/sim/components.go
  pkg/policies/controlplane/sim/helpers.go
  pkg/policies/controlplane/sim/reading.go
Due: updated-aperture

refactor: Clean up rollup types initialization (#1029)
  pkg/otelcollector/rollupprocessor/processor.go
  pkg/otelcollector/rollupprocessor/rollup.go
Due: updated-aperture

Alerting tweaks (#1026)
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/policy.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.yaml
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.yaml
  docs/gen/policy/policy.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/otelcollector/alertsreceiver/receiver.go
  pkg/otelcollector/config.go
  pkg/otelcollector/consts.go
Due: updated-aperture, updated-aperture-docs

Fix PromQL component type to be Source (#1032)
  pkg/policies/controlplane/components/promql/promql.go
Due: updated-aperture

add images for FluxNinja kubernetes Pune recap blog (#1035)
  docs/content/assets/img/fluxninja-at-kubernetes-pune/fluxninja-at-kubernetes-pune.png
Due: updated-aperture-docs

Fix alerts channel marshall & add resolve timeout helpers (#1034)
  blueprints/examples/latency-gradient/example.jsonnet
  pkg/alerts/alert.go
  pkg/alerts/alert_test.go
  pkg/otelcollector/alertsexporter/exporter.go
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
  pkg/policies/controlplane/components/alerter.go
Due: updated-aperture

Update OTEL to v0.67.0 (#1031)
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-controller/controller/otel-component.go
  go.mod
  go.sum
  pkg/otelcollector/alertsexporter/config.go
  pkg/otelcollector/alertsexporter/factory.go
  pkg/otelcollector/alertsreceiver/config.go
  pkg/otelcollector/alertsreceiver/factory.go
  pkg/otelcollector/enrichmentprocessor/enrichmentprocessor_suite_test.go
  pkg/otelcollector/enrichmentprocessor/factory.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/rollupprocessor/config.go
  pkg/otelcollector/rollupprocessor/factory.go
  pkg/otelcollector/tracestologsprocessor/config.go
  pkg/otelcollector/tracestologsprocessor/factory.go
  pkg/otelcollector/tracestologsprocessor/processor.go
Due: updated-aperture

rollupprocessor: Speed up key calculation (#1036)
  pkg/otelcollector/rollupprocessor/key.go
  pkg/otelcollector/rollupprocessor/key_test.go
  pkg/otelcollector/rollupprocessor/processor.go
  pkg/policies/flowcontrol/engine.go
Due: updated-aperture

Scrape otel metrics alongside aperture self scrape (#1037)
  pkg/otelcollector/config.go
Due: updated-aperture

docs: remove blog assets (#1038)
  docs/content/assets/img/adaptive-concurrency-limits/Signals-Dashboard.png
  docs/content/assets/img/adaptive-concurrency-limits/When-Aperture-is-protecting-service.png
  docs/content/assets/img/adaptive-concurrency-limits/concurrency-limits-dark.png
  docs/content/assets/img/adaptive-concurrency-limits/concurrency-limits-light.png
  docs/content/assets/img/adaptive-concurrency-limits/demo-application.png
  docs/content/assets/img/adaptive-concurrency-limits/no-protection-setup.png
  docs/content/assets/img/adaptive-concurrency-limits/overall-view-grafana-dashboard.png
  docs/content/assets/img/adaptive-concurrency-limits/service-topology-dark.png
  docs/content/assets/img/adaptive-concurrency-limits/service-topology-example-dark.png
  docs/content/assets/img/adaptive-concurrency-limits/service-topology-example-light.png
  docs/content/assets/img/adaptive-concurrency-limits/service-topology-light.png
  docs/content/assets/img/fluxninja-at-kubernetes-pune/fluxninja-at-kubernetes-pune.png
Due: updated-aperture-docs

Fix linker in `make go-test` (#1039)
  Makefile
Due: none

Changes for release 0.15.x (#1040)
  docs/content/introduction.md
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-docs

Leader election per agent group (#1030)
  pkg/etcd/client/client.go
  pkg/etcd/client/zz_generated.deepcopy.go
  pkg/etcd/election/election.go
Due: updated-aperture

License faq (#1043)
  README.md
  docs/content/license-faq.md
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/dynamic-rate-limiting.md
  docs/content/tutorials/flow-control/graphql-rate-limiting.md
  docs/content/tutorials/flow-control/workload-prioritization.md
Due: updated-aperture-docs

Change license to GPLv3 (#1047)
  LICENSE
  README.md
  docs/content/license-faq.md
  docs/content/licensing-faq.md
  nfpm.yaml
  sdks/aperture-go/LICENSE.txt
  sdks/aperture-js/LICENSE.txt
Due: updated-aperture-docs

Handle error from fx.VisualizeError (#1044)
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
Due: updated-aperture

Add Integrator component (#1042)
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/lib/1.0/_gen/v1/component.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  blueprints/lib/1.0/_gen/v1/integrator.libsonnet
  blueprints/lib/1.0/_gen/v1/integratorins.libsonnet
  blueprints/lib/1.0/_gen/v1/integratorouts.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/components/integrator.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
