Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Manual mode for controller and other fixes (#732)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/lib/1.0/_gen/v1/controllerdynamicconfig.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  blueprints/lib/1.0/_gen/v1/gradientcontroller.libsonnet
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/controlplane/components/controller/controller-component.go
  pkg/policies/controlplane/components/controller/gradient.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/validator.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/token-bucket-load-shed.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/wfq_test.go
  pkg/policies/dataplane/iface/classification-engine.go
  pkg/policies/dataplane/resources/classifier/classification-engine.go
  pkg/policies/mocks/mock_classification_engine.go
Due: updated-aperture, updated-aperture-docs

docs: generate swagger specs for agent and controller apis (#733)
  .gitignore
  .pre-commit-config.yaml
  api/Makefile
  api/aperture/common/entitycache/v1/entitycache.proto
  api/aperture/common/info/v1/info.proto
  api/aperture/common/peers/v1/peers.proto
  api/aperture/common/status/v1/status.proto
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/aperture/policy/language/v1/policy.proto
  api/buf.gen.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/info/v1/info.pb.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.go
  api/gen/proto/go/aperture/common/status/v1/status.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol_grpc.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/references/api/_category_.yml
  docs/content/references/api/agent/_category_.yml
  docs/content/references/api/agent/entity-cache-service-get-entity-by-ip-address.api.mdx
  docs/content/references/api/agent/entity-cache-service-get-entity-by-name.api.mdx
  docs/content/references/api/agent/entity-cache-service-get-entity-cache.api.mdx
  docs/content/references/api/agent/info-service-host.api.mdx
  docs/content/references/api/agent/info-service-process.api.mdx
  docs/content/references/api/agent/info-service-version.api.mdx
  docs/content/references/api/agent/peer-discovery-service-get-peer.api.mdx
  docs/content/references/api/agent/peer-discovery-service-get-peers.api.mdx
  docs/content/references/api/agent/status-service-get-group-status.api.mdx
  docs/content/references/api/controller/_category_.yml
  docs/content/references/api/controller/info-service-host.api.mdx
  docs/content/references/api/controller/info-service-process.api.mdx
  docs/content/references/api/controller/info-service-version.api.mdx
  docs/content/references/api/controller/policy-service-get-policies.api.mdx
  docs/content/references/api/controller/status-service-get-group-status.api.mdx
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture, updated-aperture-docs

fix: http_helpers.Get error message on body reading (#734)
  pkg/utils/http_helpers.go
Due: updated-aperture

Fix missing policy factory pointer for agent (#738)
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
Due: updated-aperture

Send policy wrappers (#739)
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/aperture/policy/wrappers/v1/policy.proto
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/policy/wrappers/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/wrappers/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/wrappers/v1/policy_deepcopy.gen.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
Due: updated-aperture, updated-aperture-docs

docs: regenerate api docs (#740)
  api/Makefile
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/policies/blueprints.md
  docs/content/references/api/agent/entity-cache-service-get-entity-by-ip-address.api.mdx
  docs/content/references/api/agent/entity-cache-service-get-entity-by-name.api.mdx
  docs/content/references/api/agent/entity-cache-service-get-entity-cache.api.mdx
  docs/content/references/api/agent/info-service-host.api.mdx
  docs/content/references/api/agent/info-service-process.api.mdx
  docs/content/references/api/agent/info-service-version.api.mdx
  docs/content/references/api/agent/peer-discovery-service-get-peer.api.mdx
  docs/content/references/api/agent/peer-discovery-service-get-peers.api.mdx
  docs/content/references/api/agent/status-service-get-group-status.api.mdx
  docs/content/references/api/controller/info-service-host.api.mdx
  docs/content/references/api/controller/info-service-process.api.mdx
  docs/content/references/api/controller/info-service-version.api.mdx
  docs/content/references/api/controller/policy-service-get-policies.api.mdx
  docs/content/references/api/controller/status-service-get-group-status.api.mdx
  go.mod
  go.sum
Due: updated-aperture, updated-aperture-docs

precommit: update go-swagger (#742)
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: updated-aperture

Bump Golang deps (#662)
  go.mod
  go.sum
  pkg/otelcollector/enrichmentprocessor/enrichmentprocessor_suite_test.go
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/enrichmentprocessor/processor_metrics_test.go
  pkg/otelcollector/helpers.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/otelcollector/rollupprocessor/processor.go
  pkg/otelcollector/rollupprocessor/processor_test.go
Due: updated-aperture

Save signals metrics to status on tick (#729)
  api/aperture/policy/language/v1/signal_metrics.proto
  api/gen/proto/go/aperture/policy/language/v1/signal_metrics.pb.go
  api/gen/proto/go/aperture/policy/language/v1/signal_metrics.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/signal_metrics_deepcopy.gen.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture

Add .dockerignore and use caching in operator Dockerfile (#744)
  .circleci/config.yml
  .dockerignore
  operator/Dockerfile
  playground/Tiltfile
Due: none

tools: isolate tools.go to separate go.mod (#746)
  .pre-commit-config.yaml
  Makefile
  go.mod
  go.sum
  scripts/install_go_tools.sh
  tools/go/go.mod
  tools/go/go.sum
  tools/go/tools.go
Due: updated-aperture

scheduler: default to non continuousTracking lsf/tokens (#747)
  pkg/policies/dataplane/actuators/concurrency/auto-tokens.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/token-bucket-load-shed.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/token-bucket.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/wfq_test.go
Due: updated-aperture

swagger: tweaks and remove generated api mdx files (#748)
  .circleci/continue-workflows.yml
  Makefile
  api/Makefile
  blueprints/Makefile
  blueprints/lib/README.md
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  docs/Makefile
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/policy.md
  docs/content/concepts/policy/resources.md
  docs/content/references/api/_category_.yml
  docs/content/references/api/agent/entity-cache-service-get-entity-by-ip-address.api.mdx
  docs/content/references/api/agent/entity-cache-service-get-entity-by-name.api.mdx
  docs/content/references/api/agent/entity-cache-service-get-entity-cache.api.mdx
  docs/content/references/api/agent/info-service-host.api.mdx
  docs/content/references/api/agent/info-service-process.api.mdx
  docs/content/references/api/agent/info-service-version.api.mdx
  docs/content/references/api/agent/peer-discovery-service-get-peer.api.mdx
  docs/content/references/api/agent/peer-discovery-service-get-peers.api.mdx
  docs/content/references/api/agent/status-service-get-group-status.api.mdx
  docs/content/references/api/controller/info-service-host.api.mdx
  docs/content/references/api/controller/info-service-process.api.mdx
  docs/content/references/api/controller/info-service-version.api.mdx
  docs/content/references/api/controller/policy-service-get-policies.api.mdx
  docs/content/references/api/controller/status-service-get-group-status.api.mdx
  docs/content/references/configuration/policy.md
  docs/gen/policy/config-swagger.yaml
  docs/gen/policy/metadata
  docs/gen/policy/policy.yaml
  operator/Dockerfile
Due: updated-aperture, updated-aperture-docs

Add signals grafana dashboard (#716)
  blueprints/blueprints/latency-gradient/example/gen/dashboards/example.json
  blueprints/lib/1.0/dashboards/dashboards.libsonnet
  blueprints/lib/1.0/dashboards/latency-gradient/latency-gradient.libsonnet
  blueprints/lib/1.0/dashboards/signals/signals.libsonnet
  blueprints/lib/1.0/grafana/aperture.libsonnet
  blueprints/lib/1.0/grafana/aperture/timeseries.libsonnet
  blueprints/lib/1.0/grafana/panels/timeseries_panel.libsonnet
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

blueprints: add policy name filter to signals dashboard (#749)
  blueprints/blueprints/latency-gradient/README.md
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/blueprints/latency-gradient/example/example.jsonnet
  blueprints/blueprints/latency-gradient/example/gen/dashboards/example-signals.json
  blueprints/blueprints/latency-gradient/main.libsonnet
  blueprints/blueprints/latency-gradient/metadata.yaml
  blueprints/lib/1.0/dashboards/signals/signals.libsonnet
  blueprints/scripts/blueprint-readme-generator.py
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

SDK Validation Harness (#673)
  cmd/sdk-validator/main.go
  cmd/sdk-validator/validator/flowcontrol.go
  cmd/sdk-validator/validator/provide.go
  cmd/sdk-validator/validator/trace.go
  go.mod
  playground/Tiltfile
  test/aperture_suite_test.go
  test/info_test.go
Due: updated-aperture

Return error in status service (#736)
  pkg/status/status-service.go
Due: updated-aperture

Start checking for plugin build errors in Dockerfiles 🙃 (#753)
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  playground/Tiltfile
Due: updated-aperture

Stop watching code directly from Tiltfile (#755)
  playground/Tiltfile
Due: none

JobMetrics for job framework (#665)
  pkg/distcache/provider.go
  pkg/jobs/basic-job.go
  pkg/jobs/http-job.go
  pkg/jobs/job-group.go
  pkg/jobs/job-metrics.go
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/jobs/provide.go
  pkg/metrics/schema.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/policy.go
  pkg/policies/dataplane/actuators/rate/ratetracker/lazy-sync-rate-tracker.go
  pkg/watchdog/watchdog.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
Due: updated-aperture

Revert distache metrics code (datarace) (#759)
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  pkg/distcache/distcache-metrics.go
  pkg/distcache/provider.go
  pkg/policies/controlplane/circuit-graph.go
Due: updated-aperture, updated-aperture-docs

Revert "JobMetrics for job framework" (#762)
  pkg/jobs/basic-job.go
  pkg/jobs/http-job.go
  pkg/jobs/job-group.go
  pkg/jobs/job-metrics.go
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/jobs/provide.go
  pkg/metrics/schema.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/policy.go
  pkg/policies/dataplane/actuators/rate/ratetracker/lazy-sync-rate-tracker.go
  pkg/watchdog/watchdog.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
Due: updated-aperture

compiler: re-add signalname labels to dot graphs (#763)
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/rate-limiter/example/gen/graph/graph.svg
  pkg/policies/controlplane/circuit-graph.go
Due: updated-aperture

First valid (#765)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/lib/1.0/_gen/v1/component.libsonnet
  blueprints/lib/1.0/_gen/v1/firstvalid.libsonnet
  blueprints/lib/1.0/_gen/v1/firstvalidins.libsonnet
  blueprints/lib/1.0/_gen/v1/firstvalidouts.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  blueprints/lib/1.0/policies/latency-gradient/latency-gradient.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/components/first-valid.go
Due: updated-aperture, updated-aperture-docs

Use UTC time in telemetry logs (#770)
  pkg/otelcollector/rollupprocessor/processor.go
Due: updated-aperture

Bump Olric to v0.4.8 with data race fix (#771)
  go.mod
  go.sum
Due: updated-aperture

Readd Distcache metrics (#772)
  pkg/distcache/distcache-metrics.go
  pkg/distcache/provider.go
Due: updated-aperture

blueprints: unify LATENCY_OVERLOAD and LATENCY_SETPOINT (#773)
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/lib/1.0/policies/latency-gradient/latency-gradient.libsonnet
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/policies/controlplane/components/ema.go
  pkg/status/registry.go
Due: updated-aperture, updated-aperture-docs

platform: check nil when detaching registry (#774)
  pkg/status/registry.go
Due: updated-aperture

Refactor scalarResultBroker and taggedResultBroker (#775)
  blueprints/blueprints/latency-gradient/example/gen/dashboards/example-signals.json
  blueprints/lib/1.0/dashboards/signals/signals.libsonnet
  pkg/policies/controlplane/components/promql.go
  pkg/prometheus/prom-query.go
  pkg/prometheus/scalar-query.go
Due: updated-aperture

Bump OTEL to 0.62.1 (#777)
  cmd/aperture-agent/agent/otel-component.go
  go.mod
  go.sum
  pkg/otelcollector/enrichmentprocessor/enrichmentprocessor_suite_test.go
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

Cap request timeout in scheduler by grpc client timeout (#779)
  pkg/flowcontrol/common/flowcontrol.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/wfq.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/wfq_test.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/limiter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_limiter.go
Due: updated-aperture

scheduler: adjust client deadline and fix metric gauges (#780)
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/wfq.go
Due: updated-aperture, updated-aperture-docs

Add tutorial for signal processing (#784)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/blueprints/latency-gradient/main.libsonnet
  blueprints/lib/1.0/_gen/v1/component.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  blueprints/lib/1.0/_gen/v1/sink.libsonnet
  blueprints/lib/1.0/_gen/v1/sinkins.libsonnet
  blueprints/lib/1.0/dashboards/signals/signals.libsonnet
  blueprints/scripts/aperture-generate.py
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/policies/blueprints.md
  docs/content/policies/tutorial/assets/signal-processing/is_overload_switch.png
  docs/content/policies/tutorial/assets/signal-processing/latency.png
  docs/content/policies/tutorial/assets/signal-processing/latency_ema.png
  docs/content/policies/tutorial/assets/signal-processing/latency_setpoint.png
  docs/content/policies/tutorial/assets/signal-processing/signal-processing.jsonnet
  docs/content/policies/tutorial/assets/signal-processing/signal-processing.mmd
  docs/content/policies/tutorial/assets/signal-processing/signal-processing.mmd.md5sum
  docs/content/policies/tutorial/assets/signal-processing/signal-processing.mmd.png
  docs/content/policies/tutorial/assets/signal-processing/signal-processing.mmd.svg
  docs/content/policies/tutorial/assets/signal-processing/signal-processing.yaml
  docs/content/policies/tutorial/assets/signal-processing/signals-dashboard.json
  docs/content/policies/tutorial/assets/signal-processing/signals-dashboard.jsonnet
  docs/content/policies/tutorial/assets/static-rate-limiting/static-rate-limiting.jsonnet
  docs/content/policies/tutorial/assets/static-rate-limiting/static-rate-limiting.yaml
  docs/content/policies/tutorial/signal-processing.md
  docs/content/policies/tutorial/static-rate-limiting.md
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  docs/tools/jsonnet/generate_jsonnet.sh
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/components/sink.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/wfq_test.go
Due: updated-aperture, updated-aperture-docs

Run jb install also in generate-doc-assets hook (#785)
  docs/tools/jsonnet/generate_jsonnet.sh
Due: updated-aperture-docs

rollupprocessor: Apply per-batch attribute cardinality limit (#782)
  cmd/aperture-agent/agent/otel-component.go
  docs/content/concepts/flow-control/flow-label.md
  pkg/otelcollector/rollupprocessor/config.go
  pkg/otelcollector/rollupprocessor/factory.go
  pkg/otelcollector/rollupprocessor/processor.go
  pkg/otelcollector/rollupprocessor/processor_test.go
Due: updated-aperture, updated-aperture-docs

Add jobs for building aperture-java (#787)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .pre-commit-config.yaml
  sdks/aperture-java/src/main/java/com/fluxninja/aperture/example/App.java
Due: none

Update protoc-gen-go-deepcopy and copy go stubs to sdks/aperture-go (#789)
  api/Makefile
  api/buf.gen.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_deepcopy.gen.go
  api/gen/proto/go/aperture/common/info/v1/info_deepcopy.gen.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher_deepcopy.gen.go
  api/gen/proto/go/aperture/common/peers/v1/peers_deepcopy.gen.go
  api/gen/proto/go/aperture/common/selector/v1/selector_deepcopy.gen.go
  api/gen/proto/go/aperture/common/status/v1/status_deepcopy.gen.go
  api/gen/proto/go/aperture/common/watchdog/v1/watchdog_deepcopy.gen.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/decisions/v1/decisions_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/classifier_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy_view_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/signal_metrics_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/wrappers/v1/common_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/wrappers/v1/config_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/wrappers/v1/decisions_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/wrappers/v1/policy_deepcopy.gen.go
  go.mod
  sdks/aperture-go/gen/proto/flowcontrol/v1/flowcontrol.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/v1/flowcontrol.pb.json.go
  sdks/aperture-go/gen/proto/flowcontrol/v1/flowcontrol_deepcopy.gen.go
  sdks/aperture-go/gen/proto/flowcontrol/v1/flowcontrol_grpc.pb.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
Due: updated-aperture

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
