Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Fix git build env vars (#1593)
  .circleci/scripts/docker_build.sh
Due: none

remove build.sh script (#1594)
  pkg/info/build.sh
Due: updated-aperture

Fix packaging releases (#1595)
  .circleci/post-release.yaml
  .circleci/scripts/compile.sh
Due: none

update openai action (#1599)
  .github/workflows/openai-review.yml
  pkg/config/koanf-unmarshaller.go
Due: updated-aperture

Hide and link circuit diagrams in tutorials (#1598)
  docs/content/tutorials/integrations/auto-scale/load-based-auto-scaling.md
  docs/content/tutorials/integrations/flow-control/classification/graphql-rate-limiting.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/basic-concurrency-limiting.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/rate-limiting-escalation.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/workload-prioritization.md
  docs/content/tutorials/integrations/flow-control/rate-limiting/static-rate-limiting.md
Due: updated-aperture-docs

Changes for release v1.0.x (#1603)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

Minor changes for installation docs (#1607)
  api/buf.lock
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/get-started/policies/assets/values.yaml
Due: updated-aperture-docs

Format python scripts (#1608)
  scripts/blueprint-assets-generator.py
  scripts/jsonnet-lib-gen.py
Due: none

Make sure to track newly created branch on homebrew update (#1610)
  .circleci/post-release.yaml
Due: none

Fixed an issue of builds not getting commit and branch (#1611)
  .dockerignore
  cmd/aperturectl/cmd/build/build.go
Due: updated-aperture

update review job name (#1613)
  .github/workflows/openai-review.yml
Due: none

Minor fixes in auto-scale docs (#1615)
  README.md
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/integrations/auto-scale/auto-scale.md
  docs/content/concepts/integrations/auto-scale/components/auto-scaler.md
  docs/content/concepts/integrations/auto-scale/components/pod-scaler.md
  docs/content/concepts/integrations/auto-scale/kubernetes-object-selector.md
  docs/content/concepts/policy/policy.md
  docs/content/get-started/integrations/auto-scale/auto-scale.md
  docs/content/get-started/integrations/auto-scale/kubernetes/kubernetes.md
  docs/content/get-started/playground/playground.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  docs/content/reference/policies/spec.md
  docs/content/tutorials/integrations/auto-scale/auto-scale.md
  docs/content/tutorials/integrations/auto-scale/load-based-auto-scaling.md
  docs/gen/policy/policy.yaml
  scripts/blueprint-assets-generator.py
Due: updated-aperture-docs

README: Remove video thumbnails (#1616)
  README.md
Due: none

Updated versions of SDKs in docs (#1606)
  docs/content/get-started/integrations/flow-control/sdk/go/manual.md
  docs/content/get-started/integrations/flow-control/sdk/java/armeria.md
  docs/content/get-started/integrations/flow-control/sdk/java/auto-instrumentation.md
  docs/content/get-started/integrations/flow-control/sdk/java/manual.md
  docs/content/get-started/integrations/flow-control/sdk/java/netty.md
  docs/content/get-started/integrations/flow-control/sdk/java/springboot.md
  docs/content/get-started/integrations/flow-control/sdk/java/tomcat.md
  docs/content/get-started/integrations/flow-control/sdk/javascript/manual.md
Due: updated-aperture-docs

Update AgentOTELConfig docs (#1614)
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/config/types.go
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/otelcollector/consts/consts.go
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture, updated-aperture-docs

Added quotes around image tag in agent and controller CR (#1622)
  manifests/charts/aperture-agent/templates/agent.yaml
  manifests/charts/aperture-controller/templates/controller.yaml
Due: none

Fixes in aperture lua module installation docs (#1623)
  .circleci/post-release.yaml
  docs/content/get-started/integrations/flow-control/gateway/kong.md
  docs/content/get-started/integrations/flow-control/gateway/nginx.md
Due: updated-aperture-docs

Minor corrections in Lua module installation docs (#1625)
  .circleci/post-release.yaml
  docs/content/get-started/integrations/flow-control/gateway/kong.md
  docs/content/get-started/integrations/flow-control/gateway/nginx.md
Due: updated-aperture-docs

Moved control-point as CheckHTTPRequest field instead of header (#1626)
  api/aperture/flowcontrol/checkhttp/v1/checkhttp.proto
  api/buf.lock
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  gateways/lua/aperture-plugin/access.lua
  pkg/net/grpcgateway/grpcgateway.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp_test.go
  playground/resources/kong/Dockerfile
  playground/resources/nginx/Dockerfile
Due: updated-aperture, updated-aperture-docs

Refactor installation mode (#1621)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  extensions/fluxninja/heartbeats/heartbeats.go
  extensions/fluxninja/heartbeats/provide.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/hook.go
  operator/controllers/agent/hook_sidecar_test.tpl
  operator/controllers/agent/hook_test.go
  operator/controllers/agent/reconciler.go
  operator/controllers/agent/reconciler_test.go
  operator/controllers/controller/config_test.tpl
Due: updated-aperture-docs

use gpt-4 for code reviews (#1636)
  .github/workflows/openai-review.yml
Due: none

Fixed passing local settings to tilt (#1637)
  playground/Tiltfile
Due: none

Switch to buf for python grpc generation (#1638)
  .pre-commit-config.yaml
  api/Makefile
  api/buf.gen.aperture.yaml
  scripts/generate_proto.sh
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2_grpc.pyi
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/example/main.py
  sdks/aperture-py/poetry.lock
  sdks/aperture-py/pyproject.toml
Due: none

Log received signal before stopping app (#1639)
  pkg/platform/platform.go
Due: updated-aperture

Fix Go SDK responses (#1643)
  sdks/aperture-go/sdk/client.go
Due: none

Add Source and Destination IP Addresses to checkRequest in Java SDK (#1629)
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Utils.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/NettyUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
Due: none

Deprecated warnings/errors in aperturectl and docs (#1656)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/compile.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/utils/utils.go
  cmd/aperturectl/main.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  docs/tools/swagger/process-go-tags.go
  docs/tools/swagger/swagger-templates/config.gotmpl
  pkg/config/validator.go
  pkg/policies/controlplane/validator.go
  pkg/policies/controlplane/validator_test.go
  pkg/webhooks/policyvalidator/validator.go
Due: updated-aperture, updated-aperture-docs

remove generate policy graphs script (#1657)
  Makefile
  docs/Makefile
  docs/content/tutorials/integrations/auto-scale/assets/graph_config.yaml
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.md5sum
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.svg
  docs/tools/aperturectl/generate-policy-graphs/generate-policy-graphs.go
  docs/tools/jsonnet/generate_jsonnet.sh
Due: updated-aperture-docs

deterministic graph output (#1658)
  cmd/aperturectl/cmd/compile.go
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.md5sum
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.svg
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.mmd
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting.mmd
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting.mmd.svg
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.md5sum
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.svg
  docs/tools/jsonnet/generate_jsonnet.sh
  pkg/policies/controlplane/circuitfactory/tree.go
Due: updated-aperture, updated-aperture-docs

Add TLS configurability to Java SDK (#1630)
  cmd/sdk-validator/main.go
  sdks/aperture-java/dockerfiles/javaagent/armeria/Dockerfile
  sdks/aperture-java/dockerfiles/javaagent/netty/Dockerfile
  sdks/aperture-java/dockerfiles/middlewares/armeria-tls/Dockerfile
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/SpringBootApp.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/controller/AppController.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/version.gradle.kts
Due: updated-aperture

fix: upgrade circleci cli and add check for know errors (#1683)
  .pre-commit-config.yaml
  .tool-versions
Due: none

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
