Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Made asdf, go and python tools installation separate in CI (#1785)
  .circleci/continue-workflows.yml
  .circleci/scripts/asdf_install.sh
  Makefile
  docs/content/get-started/playground/playground.md
  scripts/manage_asdf_tools.sh
  scripts/manage_go_tools.sh
  scripts/manage_python_tools.sh
  scripts/manage_tools.sh
Due: updated-aperture-docs

Use python CircleCI executor where python is used (#1786)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
Due: none

SMA Component (#1775)
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/std_components.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/std_components_deepcopy.gen.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/component.libsonnet
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/sma.libsonnet
  blueprints/gen/v1/smains.libsonnet
  blueprints/gen/v1/smaouts.libsonnet
  blueprints/gen/v1/smaparameters.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  docs/tools/swagger/generate_config_markdown.sh
  docs/tools/swagger/swagger-templates/config.gotmpl
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/controlplane/components/logical_test.go
  pkg/policies/controlplane/components/sma.go
  pkg/policies/controlplane/components/sma_test.go
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture, updated-aperture-docs

support defaults on maps (#1790)
  pkg/config/defaults.go
  pkg/config/defaults_test.go
  pkg/config/duration.go
  pkg/config/timestamp.go
Due: updated-aperture

Update gcp-gcr CircleCI org for Python 3.11 compatibility (#1791)
  .circleci/post-release.yaml
Due: none

Minor changes in installation docs (#1793)
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/controller/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/controller/operator/operator.md
  manifests/charts/aperture-agent/templates/agent-cm.yaml
Due: updated-aperture-docs

Export platform logger constructor so it can be used outside of Fx (#1699)
  pkg/config/log.go
  pkg/log/log.go
Due: updated-aperture

Fixed broken links in docs (#1796)
  docs/content/get-started/integrations/auto-scale/kubernetes/kubernetes.md
Due: updated-aperture-docs

Corrected error messages for namespace scoped installation (#1797)
  cmd/aperturectl/cmd/installation/utils.go
Due: updated-aperture

Fix SMA behaviour (#1788)
  pkg/policies/controlplane/components/sma.go
  pkg/policies/controlplane/components/sma_test.go
Due: updated-aperture

Added replicaCount flag for namespace scoped installation (#1798)
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/agent-deployment.yaml
  manifests/charts/aperture-agent/values.yaml
Due: none

Add agent group label to metrics (#1800)
  pkg/metrics/schema.go
  pkg/policies/autoscale/kubernetes/discovery/autoscale-control-points.go
  pkg/policies/autoscale/kubernetes/discovery/provide.go
Due: updated-aperture

Fix feature-rollout dashboards, policy (#1801)
  api/buf.lock
  blueprints/dashboards/signals/dashboard.libsonnet
  blueprints/policies/feature-rollout/base/dashboard.libsonnet
  blueprints/policies/feature-rollout/base/policy.libsonnet
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
  docs/content/tutorials/flow-control/feature-rollout/assets/with-average-latency-feedback/policy.yaml
  playground/scenarios/feature_rollout/policies/feature-rollout-cr.yaml
  playground/scenarios/feature_rollout/policies/feature-rollout.yaml
Due: updated-aperture-docs

Respect request context (#1802)
  .circleci/continue-workflows.yml
  sdks/aperture-go/example/main.go
  sdks/aperture-go/sdk/client.go
Due: none

Refactor context handling in `StartFlow` (#1808)
  sdks/aperture-go/example/main.go
  sdks/aperture-go/sdk/client.go
Due: none

Remove default timeout in aperture-go (#1809)
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/const.go
Due: none

Playground delete prometheus pvc on tilt down (#1811)
  playground/Tiltfile
Due: none

Limit workload latency observations to accepted flows (#1814)
  api/buf.lock
  blueprints/dashboards/signals/dashboard.libsonnet
  docs/Makefile
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/observability/prometheus-metrics/agent.md
  docs/content/reference/observability/prometheus-metrics/controller.md
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/tools/jsonnet/generate_jsonnet.sh
  docs/tools/swagger/generate_config_markdown.sh
  manifests/charts/Makefile
  operator/controllers/agent/config_test.tpl
  operator/controllers/controller/config_test.tpl
  pkg/net/grpcgateway/grpcgateway.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/controlplane/components/flowcontrol/concurrency/scheduler.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/flowcontrol/iface/flux-meter.go
  pkg/policies/flowcontrol/resources/fluxmeter/flux-meter.go
  pkg/policies/mocks/mock_flux_meter.go
  scripts/generate_blueprints.sh
Due: updated-aperture, updated-aperture-docs

Changed HTTP library in Gateways integration (#1815)
  gateways/lua/aperture-kong-plugin-0.1.0-1.rockspec
  gateways/lua/aperture-nginx-plugin-0.1.0-1.rockspec
  gateways/lua/aperture-plugin/access.lua
Due: none

Update go-swagger (#1813)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/resources.libsonnet
  blueprints/gen/v1/rule.libsonnet
  blueprints/gen/v1/rulerego.libsonnet
  blueprints/gen/v1/schedulerparameters.libsonnet
  cmd/aperture-agent/config/types.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/feature-rollout.md
  docs/content/reference/policies/spec.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  docs/gen/policy/policy.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/net/grpc/client.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/validator.go
  pkg/policies/controlplane/validator_test.go
  pkg/policies/flowcontrol/resources/classifier/classification-engine.go
  pkg/policies/flowcontrol/resources/classifier/classifier_test.go
  pkg/policies/flowcontrol/resources/classifier/compiler/compiler.go
  pkg/policies/flowcontrol/selectors/control-point-id.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp_test.go
  pkg/policies/flowcontrol/service/envoy/authz_test.go
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture, updated-aperture-docs

Backward compatibility helper and other improvements (#1818)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/policies/feature-rollout/base/dynamic-config.libsonnet
  blueprints/policies/feature-rollout/base/gen/dynamic-config-definitions.json
  blueprints/policies/feature-rollout/base/gen/dynamic-config-values-required.yaml
  blueprints/policies/feature-rollout/base/gen/dynamic-config-values.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/observability/flow-metrics/flow-metrics.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/base.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/circuitfactory/field-convertion.go
  pkg/policies/controlplane/circuitfactory/flow-control-components.go
  pkg/policies/flowcontrol/engine_test.go
Due: updated-aperture, updated-aperture-docs

Added docker in SDK pipelines (#1819)
  .circleci/continue-workflows.yml
Due: none

Made the gateway address change backward compatible (#1821)
  go.mod
  operator/controllers/agent/hook.go
  operator/controllers/controller/hook.go
  pkg/net/grpcgateway/grpcgateway.go
  pkg/policies/controlplane/circuitfactory/flow-control-components.go
Due: updated-aperture

Use connector to direct traces to logs (#1807)
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-agent/agent/otel-config.go
  pkg/otelcollector/adapterconnector/README.md
  pkg/otelcollector/adapterconnector/adapter.go
  pkg/otelcollector/adapterconnector/adapter_test.go
  pkg/otelcollector/adapterconnector/adapterconnector_suite_test.go
  pkg/otelcollector/adapterconnector/doc.go
  pkg/otelcollector/config/config.go
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/tracestologsprocessor/config.go
  pkg/otelcollector/tracestologsprocessor/factory.go
  pkg/otelcollector/tracestologsprocessor/processor.go
Due: updated-aperture

Made the control point configurable in gateways integration (#1823)
  docs/content/get-started/integrations/flow-control/gateway/kong.md
  docs/content/get-started/integrations/flow-control/gateway/nginx.md
  gateways/lua/aperture-plugin/access.lua
  gateways/lua/kong/handler.lua
  gateways/lua/kong/schema.lua
  playground/resources/kong/kong.yaml
  playground/resources/nginx/nginx_config.conf
  playground/scenarios/rate_limiting_escalation_kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_kong/policies/service1-demo-app.yaml
  playground/scenarios/rate_limiting_escalation_nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_nginx/policies/service1-demo-app.yaml
Due: updated-aperture-docs

Made control point configurable and added workload selector in Istio EnvoyFilter (#1824)
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
  playground/tanka/apps/istio/mixins.libsonnet
Due: none

fix remark validate link issues (#1853)
  .github/styles/Vocab/FluxNinja/accept.txt
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  cmd/aperture-agent/config/types.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/auto-scale/kubernetes-object-selector.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/resources/classifier.md
  docs/content/concepts/policy/circuit.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/agent/supported-platforms.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/get-started/integrations/auto-scale/auto-scale.md
  docs/content/get-started/integrations/auto-scale/kubernetes/kubernetes.md
  docs/content/get-started/integrations/flow-control/envoy/istio.md
  docs/content/get-started/integrations/flow-control/gateway/kong.md
  docs/content/get-started/integrations/flow-control/gateway/nginx.md
  docs/content/get-started/playground/playground.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/observability/prometheus-metrics/common.md
  docs/content/reference/policies/spec.md
  docs/content/tutorials/auto-scale/auto-scale.md
  docs/content/tutorials/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
  docs/content/tutorials/flow-control/classification/graphql-rate-limiting.md
  docs/content/tutorials/flow-control/concurrency-limiting/workload-prioritization.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/agent/metadata
  docs/gen/config/controller/metadata
  docs/gen/policy/policy.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
Due: updated-aperture, updated-aperture-docs

pre-commit: use markdownlint binary (#1854)
  .pre-commit-config.yaml
Due: none

Enable structcheck (#1850)
  .golangci.yaml
Due: none

java sdk: fix links (#1855)
  .github/styles/Vocab/FluxNinja/accept.txt
  .markdownlint.json
  .markdownlintrc
  .pre-commit-config.yaml
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/integrations/flow-control/sdk/java/auto-instrumentation.md
Due: updated-aperture-docs

provide large machine for docs (#1856)
  .circleci/continue-workflows.yml
  docs/content/concepts/policy/policy.md
Due: updated-aperture-docs

re-add languagetool action (#1857)
  .github/workflows/languagetool.yaml
Due: none

Added required pre-requisites to install Python in CI (#1858)
  .circleci/continue-workflows.yml
Due: none
