Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Populate version in build (#614)
  .circleci/scripts/docker_build.sh
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  pkg/info/build.sh
Due: updated-aperture

Fixed controller init container image issue (#659)
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/controller.yaml
  manifests/charts/aperture-controller/values.yaml
Due: none

Updated PR template for blueprint changes (#664)
  .github/pull_request_template.md
Due: none

Fixed the blueprint example (#661)
  docs/content/get-started/blueprints.md
Due: updated-aperture-docs

jsonnet example validator (#672)
  .github/pull_request_template.md
  .pre-commit-config.yaml
  Makefile
  docs/Makefile
  docs/tools/mermaid/md_to_mmd.sh
  docs/tools/scripts/validate_jsonnet.sh
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  operator/config/samples/kustomization.yaml
  operator/hack/create_policy_sample.sh
  scripts/go_build.sh
  scripts/go_build_plugins.sh
  scripts/go_generate.sh
  scripts/go_generate_swagger.sh
  scripts/golangci_lint.sh
  scripts/install_go_tools.sh
  scripts/precommit/check-operator-spec.sh
  scripts/precommit/generate_api.sh
  scripts/precommit/generate_blueprints.sh
  scripts/precommit/generate_config_markdown.sh
  scripts/precommit/generate_helm_readme.sh
  scripts/precommit/generate_mermaid.sh
  scripts/precommit/generate_swagger.sh
  scripts/precommit/helmlint.sh
  scripts/precommit/install_tools.sh
Due: updated-aperture-docs

Bot escalation (#674)
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: none

Added conditional Ext Authz request body buffering (#677)
  docs/content/get-started/installation/agent/envoy/istio.md
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
Due: updated-aperture-docs

Use FN OTEL loggingexporter (#679)
  cmd/aperture-agent/agent/otel-component.go
  go.mod
  go.sum
  pkg/otelcollector/consts.go
  pkg/otelcollector/loggingexporter/README.md
  pkg/otelcollector/loggingexporter/config.go
  pkg/otelcollector/loggingexporter/config_test.go
  pkg/otelcollector/loggingexporter/doc.go
  pkg/otelcollector/loggingexporter/factory.go
  pkg/otelcollector/loggingexporter/factory_test.go
  pkg/otelcollector/loggingexporter/logging_exporter.go
  pkg/otelcollector/loggingexporter/logging_exporter_test.go
  pkg/otelcollector/loggingexporter/otlptext/databuffer.go
  pkg/otelcollector/loggingexporter/otlptext/databuffer_test.go
  pkg/otelcollector/loggingexporter/otlptext/logs.go
  pkg/otelcollector/loggingexporter/otlptext/logs_test.go
  pkg/otelcollector/loggingexporter/otlptext/metrics.go
  pkg/otelcollector/loggingexporter/otlptext/metrics_test.go
  pkg/otelcollector/loggingexporter/otlptext/traces.go
  pkg/otelcollector/loggingexporter/otlptext/traces_test.go
  pkg/otelcollector/loggingexporter/testdata/common.go
  pkg/otelcollector/loggingexporter/testdata/config.yaml
  pkg/otelcollector/loggingexporter/testdata/log.go
  pkg/otelcollector/loggingexporter/testdata/metric.go
  pkg/otelcollector/loggingexporter/testdata/resource.go
  pkg/otelcollector/loggingexporter/testdata/trace.go
Due: updated-aperture

generate mermaid for circuits (#675)
  api/buf.lock
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/rate-limiter/example/gen/graph/graph.dot
  blueprints/blueprints/rate-limiter/example/gen/graph/graph.svg
  blueprints/scripts/generate_all.sh
  cmd/circuit-compiler/main.go
  pkg/policies/controlplane/circuit-graph.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture

Create metrics for RateLimiter (#655)
  go.mod
  go.sum
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/limiter.go
  pkg/policies/dataplane/iface/rate-limiter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_limiter.go
Due: updated-aperture

Classification interfaces (#689)
  pkg/policies/dataplane/iface/classification-engine.go
  pkg/policies/dataplane/iface/classifier.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/resources/classifier/classification-engine.go
Due: updated-aperture

Create ports in-place for better readability (#692)
  blueprints/lib/1.0/policies/latency-gradient/latency-gradient.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: none

Refactor mermaid generator (#691)
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.png
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.png
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.png
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.png
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.png
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd.png
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd.png
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/introduction/architecture_simple.mmd
  docs/content/assets/gen/introduction/architecture_simple.mmd.png
  docs/content/assets/gen/introduction/architecture_simple.mmd.svg
  docs/content/assets/gen/service.md_0.mmd.png
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_1.mmd.png
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_2.mmd.png
  docs/content/assets/gen/service.md_2.mmd.svg
  docs/content/concepts/assets/gen/service/service.md_0.mmd
  docs/content/concepts/assets/gen/service/service.md_0.mmd.png
  docs/content/concepts/assets/gen/service/service.md_0.mmd.svg
  docs/content/concepts/assets/gen/service/service.md_1.mmd
  docs/content/concepts/assets/gen/service/service.md_1.mmd.png
  docs/content/concepts/assets/gen/service/service.md_1.mmd.svg
  docs/content/concepts/assets/gen/service/service.md_2.mmd
  docs/content/concepts/assets/gen/service/service.md_2.mmd.png
  docs/content/concepts/assets/gen/service/service.md_2.mmd.svg
  docs/content/concepts/flow-control/assets/gen/flow-control/flow-control.md_0.mmd
  docs/content/concepts/flow-control/assets/gen/flow-control/flow-control.md_0.mmd.png
  docs/content/concepts/flow-control/assets/gen/flow-control/flow-control.md_0.mmd.svg
  docs/tools/mermaid/md_to_mmd.sh
  docs/tools/scripts/validate_jsonnet.sh
Due: updated-aperture-docs

Split Port into InPort and OutPort (#619)
  .codespellignore
  .pre-commit-config.yaml
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/policy_view.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy_view.pb.go
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/blueprints/rate-limiter/README.md
  blueprints/blueprints/rate-limiter/config.libsonnet
  blueprints/blueprints/rate-limiter/example/example.jsonnet
  blueprints/blueprints/rate-limiter/example/gen/graph/graph.dot
  blueprints/blueprints/rate-limiter/example/gen/graph/graph.svg
  blueprints/blueprints/rate-limiter/example/gen/policies/example.yaml
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  blueprints/lib/1.0/_gen/v1/inport.libsonnet
  blueprints/lib/1.0/_gen/v1/outport.libsonnet
  blueprints/lib/1.0/custom/port.libsonnet
  blueprints/lib/1.0/policies/latency-gradient/latency-gradient.libsonnet
  blueprints/lib/1.0/policies/rate-limiter/rate-limiter.libsonnet
  blueprints/lib/1.0/spec.libsonnet
  blueprints/scripts/generate_all.sh
  docs/content/concepts/assets/gen/service/service.md_1.mmd
  docs/content/concepts/assets/gen/service/service.md_2.mmd
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/circuit-graph.go
  pkg/policies/controlplane/runtime/circuit.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

fix codespell issues (#696)
  docs/content/concepts/flow-control/flow-classifier.md
  pkg/flowcontrol/envoy/baggage/baggage.go
  pkg/otelcollector/config.go
  pkg/policies/controlplane/components/ema.go
Due: updated-aperture, updated-aperture-docs

Fix missing log attributes (#698)
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture

Fix agent_group population in logs (#700)
  cmd/aperture-agent/agent/otel-component.go
Due: updated-aperture

Olric Metrics (#654)
  pkg/distcache/olric-metrics.go
  pkg/distcache/provider.go
  pkg/metrics/schema.go
Due: updated-aperture

fix tanka show pre-commit hook (#708)
  docs/content/policies/blueprints.md
  scripts/precommit/check_tanka_show.sh
Due: updated-aperture-docs

Use term DistCache instead of Olric (#709)
  pkg/distcache/distcache-metrics.go
  pkg/distcache/olric-metrics.go
  pkg/distcache/provider.go
  pkg/metrics/schema.go
Due: updated-aperture

dive into slices for validation (#711)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  go.mod
  go.sum
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/policies/controlplane/validator.go
Due: updated-aperture

Move Selector one level above from Scheduler to ConcurrencyLimiter (#710)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/lib/1.0/_gen/v1/concurrencylimiter.libsonnet
  blueprints/lib/1.0/_gen/v1/scheduler.libsonnet
  blueprints/lib/1.0/policies/latency-gradient/latency-gradient.libsonnet
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.yaml
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/config/validator.go
  pkg/policies/controlplane/components/actuators/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
Due: updated-aperture, updated-aperture-docs

remove logs (#712)
  pkg/config/validator.go
Due: updated-aperture

Replace Configuration with Controller CRD section (#714)
  docs/content/get-started/installation/controller.md
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture-docs

Add Aperture SDK examples (#697)
  playground/Tiltfile
  playground/tanka/apps/aperture-go-example/main.jsonnet
  playground/tanka/apps/aperture-go-example/mixins.libsonnet
  playground/tanka/apps/aperture-java-example/main.jsonnet
  playground/tanka/apps/aperture-java-example/mixins.libsonnet
  playground/tanka/lib/apps/aperture-sdk-example/aperture-sdk-example.libsonnet
  playground/tanka/lib/apps/aperture-sdk-example/main.libsonnet
  playground/tanka/lib/k.libsonnet
Due: none

Use monikers instead of UUID for controllerID (#690)
  go.mod
  go.sum
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
Due: updated-aperture

Update otel collector fork (istio 1.15 compat hack) (#688)
  docs/content/get-started/installation/agent/envoy/istio.md
  docs/content/get-started/installation/agent/supported-platforms.md
  go.mod
  go.sum
Due: updated-aperture, updated-aperture-docs

Prepare branch for v0.5.0 release (#717)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

Create metrics for Classifier (#707)
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/otel-component.go
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/iface/classification-engine.go
  pkg/policies/dataplane/iface/classifier.go
  pkg/policies/dataplane/provide.go
  pkg/policies/dataplane/resources/classifier/classification-engine.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/provide.go
  pkg/policies/mocks/mock_classification_engine.go
  pkg/policies/mocks/mock_classifier.go
  test/aperture_suite_test.go
Due: updated-aperture

bump istio on playground to 1.15.1 (#718)
  playground/tanka/chartfile.yaml
Due: none

add operator dependencies to tools.go (#722)
  .circleci/continue-workflows.yml
  Makefile
  go.mod
  go.sum
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_policies.yaml
  pkg/tools/tools.go
Due: updated-aperture

Policy heartbeats (#721)
  .github/pull_request_template.md
  Makefile
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  docs/gen/policies/gen.yaml
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy-service.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
Due: updated-aperture, updated-aperture-docs

Circuit Compiler - Mermaid improvements (#724)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  api/aperture/policy/language/v1/policy_view.proto
  api/gen/proto/go/aperture/policy/language/v1/policy_view.pb.go
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.jsonnet
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.yaml
  docs/content/policies/blueprints.md
  docs/content/policies/tutorial/assets/static-rate-limiting/static-rate-limiting.jsonnet
  docs/content/policies/tutorial/assets/static-rate-limiting/static-rate-limiting.mmd
  docs/content/policies/tutorial/assets/static-rate-limiting/static-rate-limiting.mmd.md5sum
  docs/content/policies/tutorial/assets/static-rate-limiting/static-rate-limiting.mmd.png
  docs/content/policies/tutorial/assets/static-rate-limiting/static-rate-limiting.mmd.svg
  docs/content/policies/tutorial/assets/static-rate-limiting/static-rate-limiting.yaml
  docs/content/policies/tutorial/static-rate-limiting.md
  docs/tools/jsonnet/generate_jsonnet.sh
  docs/tools/mermaid/mermaid-theme.json
  docs/tools/mermaid/mermaid.css
  pkg/policies/controlplane/circuit-graph.go
Due: updated-aperture, updated-aperture-docs

Stage aperture.swagger.yaml in docs dir (#726)
  .github/pull_request_template.md
  Makefile
  api/Makefile
  blueprints/Makefile
  blueprints/lib/README.md
  docs/Makefile
  docs/content/assets/openapiv2/aperture.swagger.yaml
Due: updated-aperture-docs

circleci: set GOMAXPROCS using enviornment instead of BASH_ENV (#727)
  .circleci/continue-workflows.yml
Due: none

precommit: do not pass filenames to check operator spec step (#728)
  .pre-commit-config.yaml
Due: none

Scheduler and Controller window match fix (#730)
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/lib/1.0/policies/latency-gradient/latency-gradient.libsonnet
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/policies/dataplane/actuators/concurrency/scheduler/token-bucket-load-shed.go
Due: updated-aperture, updated-aperture-docs
