Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

aperture-js: generate types from proto (#2596)
  .pre-commit-config.yaml
  api/Makefile
  api/aperture/flowcontrol/preview/v1/preview.proto
  api/buf.lock
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.validate.go
  cmd/sdk-validator/validator/flowcontrol.go
  pkg/log/log.go
  pkg/policies/flowcontrol/service/preview/http-request-preview.go
  pkg/policies/flowcontrol/service/preview/label-preview.go
  sdks/aperture-go/sdk/client.go
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CheckRequest.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CheckResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/ClassifierInfo.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/FlowControlService.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/FluxMeterInfo.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/LimiterDecision.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/StatusCode.ts
  sdks/aperture-js/sdk/gen/check.ts
  sdks/aperture-js/sdk/gen/google/protobuf/Duration.ts
  sdks/aperture-js/sdk/gen/google/protobuf/Timestamp.ts
  sdks/aperture-js/sdk/index.ts
  sdks/aperture-js/sdk/types.ts
  sdks/aperture-js/sdk/utils.ts
Due: updated-aperture

aperture-js: rename some variables (#2597)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: none

aperture-js: use record type for peroperties (#2598)
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/client.ts
Due: none

aperture-js fixes (#2599)
  api/Makefile
  blueprints/grafana/panel_library.libsonnet
  blueprints/grafana/panels/accepted_concurrency.libsonnet
  blueprints/grafana/panels/accepted_token_rate.libsonnet
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
  blueprints/grafana/panels/incoming_concurrency.libsonnet
  blueprints/grafana/panels/incoming_token_rate.libsonnet
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CheckResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/ClassifierInfo.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/LimiterDecision.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/StatusCode.ts
  sdks/aperture-js/sdk/gen/google/protobuf/Duration.ts
  sdks/aperture-js/sdk/gen/google/protobuf/Timestamp.ts
  sdks/aperture-js/sdk/utils.ts
Due: none

aperture-js: set longs to strings (#2600)
  api/Makefile
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/ClassifierInfo.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/LimiterDecision.ts
  sdks/aperture-js/sdk/gen/google/protobuf/Duration.ts
  sdks/aperture-js/sdk/gen/google/protobuf/Timestamp.ts
  sdks/aperture-js/sdk/utils.ts
Due: none

aperture-js: small refactor (#2601)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
Due: none

flowcontrol: use float64 values for tokens (#2602)
  api/aperture/flowcontrol/check/v1/check.proto
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/sync/v1/load_scheduler.proto
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_vtproto.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/load_scheduler.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/load_scheduler_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/actuator.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/request.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
  pkg/scheduler/windowed-counter.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_vtproto.pb.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/LimiterDecision.ts
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
Due: updated-aperture, updated-aperture-docs

Added milli second support for time based attributes in SDK (#2604)
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/sdk_labels.go
  pkg/otelcollector/metricsprocessor/internal/sdk_labels_test.go
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture

Du-duplicated policies in aperturectl apply (#2605)
  cmd/aperturectl/cmd/apply/policy.go
Due: updated-aperture

Make default GRPC server name not empty (#2589)
  cmd/aperture-agent/agent/otel-component.go
  cmd/sdk-validator/validator/provide.go
  extensions/fluxninja/heartbeats/provide.go
  pkg/cmd/provide.go
  pkg/discovery/entities/entities-service.go
  pkg/dist-cache/provider.go
  pkg/net/grpc/info-service.go
  pkg/net/grpc/server.go
  pkg/net/health/health.go
  pkg/peers/peers-service.go
  pkg/policies/autoscale/kubernetes/service/controlpoints/provide.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/flowcontrol/service/check/provide.go
  pkg/policies/flowcontrol/service/checkhttp/provide.go
  pkg/policies/flowcontrol/service/controlpoints/provide.go
  pkg/policies/flowcontrol/service/envoy/provide.go
  pkg/policies/flowcontrol/service/preview/provide.go
  pkg/rpc/provide.go
  pkg/status/status-service.go
  test/aperture_suite_test.go
Due: updated-aperture

aperturectl: Fail early on unsupported commands with Cloud Controller (#2606)
  cmd/aperturectl/cmd/agents.go
  cmd/aperturectl/cmd/apply/root.go
  cmd/aperturectl/cmd/autoscale/control-points.go
  cmd/aperturectl/cmd/decisions/root.go
  cmd/aperturectl/cmd/delete/root.go
  cmd/aperturectl/cmd/discovery/entities.go
  cmd/aperturectl/cmd/flowcontrol/control-points.go
  cmd/aperturectl/cmd/flowcontrol/preview.go
  cmd/aperturectl/cmd/policies.go
  cmd/aperturectl/cmd/status/root.go
  cmd/aperturectl/cmd/utils/controller-client.go
  cmd/aperturectl/cmd/utils/controller.go
Due: updated-aperture

Add ability to supply explicit labels in http and grpc middleware (#2608)
  sdks/aperture-go/README.md
  sdks/aperture-go/example/main.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow-decision-string.go
  sdks/aperture-go/sdk/flow-status.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/flowdecision.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
  sdks/aperture-go/sdk/middleware/utils.go
Due: none

Spec: rename priority label key (#2611)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/scheduler.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: updated-aperture, updated-aperture-docs

Set log timestamp format to include nanoseconds (#2614)
  pkg/log/log.go
Due: updated-aperture

Revert "Set log timestamp format to include nanoseconds (#2614)" (#2615)
  pkg/log/log.go
Due: updated-aperture

token bucket: allow 0 capacity buckets (#2617)
  cmd/sdk-validator/validator/flowcontrol.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/client.ts
Due: updated-aperture

Make logging in FX apps structured (#2616)
  pkg/notifiers/fx-driver.go
Due: updated-aperture

Added cloud sub-command for policy apply and delete (#2618)
  api/aperture/cloud/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/cloud/v1/policy.pb.go
  api/gen/proto/go/aperture/cloud/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/cloud/v1/policy_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher_vtproto.pb.go
  api/gen/proto/go/aperture/policy/language/v1/ports_vtproto.pb.go
  cmd/aperturectl/cmd/cloud/apply/policy.go
  cmd/aperturectl/cmd/cloud/apply/root.go
  cmd/aperturectl/cmd/cloud/delete/policy.go
  cmd/aperturectl/cmd/cloud/delete/root.go
  cmd/aperturectl/cmd/cloud/root.go
  cmd/aperturectl/cmd/cloud/utils/controller-client.go
  cmd/aperturectl/cmd/cloud/utils/controller.go
  cmd/aperturectl/cmd/cloud/utils/globals.go
  cmd/aperturectl/cmd/delete/policy.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/tui/checkbox.go
  cmd/aperturectl/cmd/utils/render-policies.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/cloud/cloud.md
  docs/content/reference/aperturectl/cloud/policy/policy.md
Due: updated-aperture, updated-aperture-docs

Fixed aperturectl cloud command addition (#2619)
  cmd/aperturectl/cmd/cloud/root.go
  docs/content/reference/aperturectl/cloud/apply/apply.md
  docs/content/reference/aperturectl/cloud/apply/policy/policy.md
  docs/content/reference/aperturectl/cloud/cloud.md
  docs/content/reference/aperturectl/cloud/delete/delete.md
  docs/content/reference/aperturectl/cloud/delete/policy/policy.md
Due: updated-aperture, updated-aperture-docs

Use aperturectl cloud subcommand in playground (#2622)
  .circleci/continue-workflows.yml
  playground/scripts/render-policy.sh
Due: none

Added metrics for Flow Duration (#2625)
  blueprints/grafana/panels/flow_duration.libsonnet
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/iface/limiter.go
  pkg/policies/mocks/mock_limiter.go
Due: updated-aperture

global token bucket: delay filling when bucket has tokens (#2626)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture, updated-aperture-docs

Fixed job name conflict in background scheduler when multiple policies are deployed (#2627)
  pkg/policies/controlplane/runtime/background-scheduler.go
Due: updated-aperture

add priorities to checkresponse (#2629)
  api/aperture/flowcontrol/check/v1/check.proto
  api/buf.lock
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_vtproto.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/LimiterDecision.ts
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
Due: updated-aperture, updated-aperture-docs

rename FN_AGENT_* to APERTURE_AGENT_* (#2630)
  docs/content/integrations/sdk/javascript/manual.md
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/RequestController.java
  playground/tanka/charts/java-demo-app/templates/deployment.yaml
  playground/tanka/lib/apps/aperture-sdk-example/aperture-sdk-example.libsonnet
  sdks/aperture-go/example/main.go
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/SpringBootApp.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/controller/AppController.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/standalone-traffic-flow-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
  sdks/aperture-py/example/main.py
Due: updated-aperture-docs

aperture-js: allow setting timeout per check call (#2631)
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: none

aperture-js: serialize wait time as json correctly (#2632)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-js/sdk/index.ts
Due: none

refactor rate limiter policy spec (#2633)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/ratelimiter.libsonnet
  blueprints/gen/v1/ratelimiterparameters.libsonnet
  blueprints/gen/v1/ratelimiterrequestparameters.libsonnet
  blueprints/rate-limiting/base/config.libsonnet
  blueprints/rate-limiting/base/gen/definitions.json
  blueprints/rate-limiting/base/policy.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/blueprints/rate-limiting/base.md
  docs/content/reference/configuration/spec.md
  docs/content/use-cases/adaptive-service-protection/assets/workload-prioritization/policy.yaml
  docs/content/use-cases/adaptive-service-protection/assets/workload-prioritization/values.yaml
  docs/content/use-cases/percentage-rollouts/assets/average-latency-feedback/values.yaml
  docs/content/use-cases/rate-limiting/assets/graphql-rate-limiting/policy.yaml
  docs/content/use-cases/rate-limiting/assets/static-rate-limiting/policy.yaml
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  playground/scenarios/graphql-rate-limiting/policies/graphql-rate-limiting-cr.yaml
  playground/scenarios/rate-limiting/policies/rate-limiting-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
Due: updated-aperture, updated-aperture-docs

replace limit_jobs with run_parallel script (#2634)
  docs/content/use-cases/percentage-rollouts/assets/average-latency-feedback/graph.mmd
  docs/content/use-cases/percentage-rollouts/assets/average-latency-feedback/graph.mmd.md5sum
  docs/content/use-cases/percentage-rollouts/assets/average-latency-feedback/graph.mmd.svg
  docs/content/use-cases/percentage-rollouts/assets/average-latency-feedback/policy.yaml
  docs/content/use-cases/percentage-rollouts/assets/average-latency-feedback/validate.sh
  docs/tools/aperturectl/validate_all.sh
  docs/tools/jsonnet/generate_jsonnet.sh
  docs/tools/mermaid/generate_all.sh
  scripts/generate_blueprints.sh
  scripts/limit_jobs.sh
  scripts/precommit/generate_playground_policies.sh
  scripts/run_parallel.sh
Due: updated-aperture-docs

Revert "Added metrics for Flow Duration" (#2635)
  blueprints/grafana/panels/flow_duration.libsonnet
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/iface/limiter.go
  pkg/policies/mocks/mock_limiter.go
Due: updated-aperture

aperture-js: add tryConnect flag (#2637)
  playground/scenarios/rate-limiting/load-generator/test.js
  playground/scenarios/rate-limiting/policies/rate-limiting-cr.yaml
  playground/scenarios/rate-limiting/policies/rate-limiting.yaml
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: none

Set log timestamp format to include nanoseconds (#2641)
  pkg/log/log.go
Due: updated-aperture

Always use etcd in GetPolicies (#2639)
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/sync/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/sync/v1/policy_vtproto.pb.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/policies.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/adaptive-load-scheduler.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/provider.go
Due: updated-aperture, updated-aperture-docs

add words related to blog in accepted (#2643)
  .github/styles/Vocab/FluxNinja/accept.txt
Due: none

Enforce single controller per project via leader election (#2644)
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  cmd/aperture-controller/election.go
  pkg/etcd/election/agent/agentelection.go
  pkg/etcd/election/election.go
  pkg/etcd/watcher/watcher.go
  pkg/notifiers/tracker.go
  pkg/otelcollector/leaderonlyreceiver/receiver.go
  pkg/otelcollector/otelcollector.go
  pkg/panic-handler/waitgroup.go
  pkg/policies/autoscale/kubernetes/actuators/podscaler/pod-scaler.go
  pkg/policies/autoscale/kubernetes/discovery/autoscale-control-points.go
  pkg/policies/autoscale/kubernetes/discovery/autoscale-discovery.go
  pkg/policies/autoscale/kubernetes/discovery/provide.go
  pkg/policies/controlplane/crwatcher/watcher.go
Due: updated-aperture

aperture-js: fix json convertion of all duration fields (#2646)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/flow.ts
Due: none

aperture-js: set additional grpc options (#2647)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: none
