Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Downgrade bitnami/common to 1.17.1 (#849)
  manifests/charts/aperture-agent/Chart.lock
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.lock
  manifests/charts/aperture-controller/Chart.yaml
Due: none

Added missing flag in the controller installation steps (#852)
  docs/content/get-started/installation/controller.md
Due: updated-aperture-docs

remove unused panic handler
  pkg/platform/platform.go
Due: updated-aperture

panichandler: process panic handlers in the same go routine (#875)
  pkg/panichandler/panichandler.go
  plugins/service/aperture-plugin-sentry/sentry/sentrywriter.go
Due: updated-aperture

Added support for sidecar mode in istioconfig chart and added installation docs (#873)
  docs/content/get-started/installation/agent/envoy/istio.md
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
Due: updated-aperture-docs

Set minimum interval to 1s for timeseries in Grafana (#872)
  blueprints/examples/latency-gradient/gen/dashboards/example.json
  blueprints/lib/1.0/blueprints/latency-gradient/dashboard.libsonnet
Due: none

Invalid signals telemetry (#876)
  blueprints/examples/latency-gradient/gen/dashboards/example.json
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/dashboard.libsonnet
  blueprints/lib/1.0/blueprints/latency-gradient/policy.libsonnet
  blueprints/lib/1.0/blueprints/signals-dashboard/dashboard.libsonnet
  docs/content/get-started/policies/assets/monitoring/signals-dashboard.json
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.yaml
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
Due: updated-aperture, updated-aperture-docs

Corrected typo in the docs (#877)
  docs/content/get-started/installation/agent/envoy/istio.md
Due: updated-aperture-docs

Removed extra space from `Too many open files "warning"` FAQ section (#851)
  docs/content/get-started/playground.md
Due: updated-aperture-docs

Docs - Tip about applying FluxMeter to a single workload (#887)
  docs/content/tutorials/signal-processing/detecting-overload.md
Due: updated-aperture-docs

docs: add demo video links (#888)
  .github/CODEOWNERS
  README.md
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/workload-prioritization.md
Due: updated-aperture-docs

Fix Wrong link associated in playground docs (#890)
  docs/content/get-started/playground.md
Due: updated-aperture-docs

Prepare for v0.9.0 release (#892)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

Speed up ser/deserialization of CheckResponse in envoy authz (#881)
  pkg/otelcollector/helpers.go
  pkg/policies/flowcontrol/api/envoy/authz.go
  sdks/aperture-java/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
Due: updated-aperture

Document Prometheus metrics and OLAP Flow events (#878)
  README.md
  docs/content/references/flow-events/_category_.yaml
  docs/content/references/flow-events/flow-events.md
  docs/content/references/metrics/_category_.yaml
  docs/content/references/metrics/agent.md
  docs/content/references/metrics/common.md
  docs/content/references/metrics/controller.md
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/rollupprocessor/processor.go
Due: updated-aperture, updated-aperture-docs

Fix metrics docs (#897)
  docs/content/concepts/flow-control/flow-label.md
  docs/content/references/flow-events/_category_.yaml
  docs/content/references/flow-events/flow-events.md
  docs/content/references/metrics/_category_.yaml
  docs/content/references/prometheus-metrics/_category_.yaml
  docs/content/references/prometheus-metrics/agent.md
  docs/content/references/prometheus-metrics/common.md
  docs/content/references/prometheus-metrics/controller.md
Due: updated-aperture-docs

precommit: run go mod tidy
  Makefile
  go.mod
  go.sum
Due: updated-aperture

Alerts pipelines (#893)
  .circleci/continue-workflows.yml
  cmd/aperture-agent/Dockerfile
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-agent/agent/provider.go
  cmd/aperture-controller/Dockerfile
  cmd/aperture-controller/controller/otel-component.go
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  go.mod
  go.sum
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/alerts/alert.go
  pkg/alerts/alert_test.go
  pkg/alerts/alerter.go
  pkg/alerts/alerts_suite_test.go
  pkg/alerts/provide.go
  pkg/alerts/zz_generated.deepcopy.go
  pkg/otelcollector/alertsreceiver/config.go
  pkg/otelcollector/alertsreceiver/factory.go
  pkg/otelcollector/alertsreceiver/processor.go
  pkg/otelcollector/config.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/zz_generated.deepcopy.go
  pkg/platform/platform.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture, updated-aperture-docs

Add authzHandler to sdk-validator's grpc server (#797)
  cmd/sdk-validator/main.go
  cmd/sdk-validator/validator/common.go
  cmd/sdk-validator/validator/flowcontrol.go
  cmd/sdk-validator/validator/trace.go
  sdks/aperture-java/build.gradle.kts
  sdks/aperture-java/src/main/java/com/fluxninja/aperture/example/ArmeriaClient.java
  sdks/aperture-java/src/main/java/com/fluxninja/aperture/example/ArmeriaServer.java
Due: updated-aperture

Aperture SDK for Javascript (#817)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  api/Makefile
  playground/Tiltfile
  playground/tanka/apps/aperture-js-example/main.jsonnet
  playground/tanka/apps/aperture-js-example/mixins.libsonnet
  sdks/aperture-js/.gitignore
  sdks/aperture-js/Dockerfile
  sdks/aperture-js/LICENSE.txt
  sdks/aperture-js/README.md
  sdks/aperture-js/example/example.js
  sdks/aperture-js/example/routes/connected.js
  sdks/aperture-js/example/routes/health.js
  sdks/aperture-js/example/routes/use_aperture.js
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/proto/check/v1/check.proto
  sdks/aperture-js/sdk/client.js
  sdks/aperture-js/sdk/consts.js
  sdks/aperture-js/sdk/flow.js
  sdks/aperture-js/sdk/utils.js
Due: none

Update aperture-js fingerprint (#904)
  .circleci/continue-workflows.yml
  sdks/aperture-js/sdk/client.js
Due: none

Add pprof-related files to .gitignore (#907)
  .gitignore
Due: none

Remove unused CheckResponse.Error (#906)
  api/aperture/flowcontrol/check/v1/check.proto
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/flowcontrol/resources/classifier/classification-engine.go
  pkg/policies/flowcontrol/resources/classifier/classifier_test.go
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/check/metrics.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-js/proto/check/v1/check.proto
Due: updated-aperture, updated-aperture-docs

playground grafana: Set scrape interval in prometheus data source (#908)
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

Add ENV variable for armeria client and server (#913)
  sdks/aperture-java/src/main/java/com/fluxninja/aperture/example/ArmeriaClient.java
  sdks/aperture-java/src/main/java/com/fluxninja/aperture/example/ArmeriaServer.java
Due: none

Dry run docs and link versioning (#914)
  docs/content/get-started/playground.md
  docs/content/get-started/policies/blueprints.md
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
Due: updated-aperture-docs

Update blueprints.md
  docs/content/get-started/policies/blueprints.md
Due: updated-aperture-docs

Fixed deployment sync issue for CRDs (#909)
  .circleci/config.yml
Due: none

Prepare for release 0.10.0 (#916)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

Fixed Helm version check error on release (#917)
  .circleci/scripts/helm_release.sh
Due: none

Docs: Aperture version is self-contained inside docs (#920)
  docs/content/get-started/policies/blueprints.md
  docs/content/introduction.md
Due: updated-aperture-docs

Learning period via EMA warm up window (#921)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/lib/1.0/_gen/v1/ema.libsonnet
  blueprints/lib/1.0/blueprints/latency-gradient/README.md
  blueprints/lib/1.0/blueprints/latency-gradient/config.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.yaml
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.yaml
  docs/gen/policy/policy.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/policies/controlplane/components/ema.go
Due: updated-aperture, updated-aperture-docs

Fixed multiple definition error on build (#923)
  .circleci/config.yml
Due: none

Docs: Fix version used for link templating (#927)
  docs/content/introduction.md
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
Due: updated-aperture-docs

Make gradle generate a JAR file with all dependencies included (#928)
  .circleci/continue-workflows.yml
  sdks/aperture-java/build.gradle.kts
  sdks/aperture-java/gradle/wrapper/gradle-wrapper.jar
  sdks/aperture-java/gradle/wrapper/gradle-wrapper.properties
  sdks/aperture-java/gradlew
  sdks/aperture-java/gradlew.bat
  sdks/aperture-java/settings.gradle.kts
Due: none

Fixed the operator tests getting skipped issue (#930)
  operator/controllers/agent/agent_suite_test.go
  operator/controllers/agent/config_test.tpl
  operator/controllers/controller/config_test.tpl
  operator/controllers/controller/controller_suite_test.go
  operator/controllers/mutatingwebhook/mutatingwebhook_suite_test.go
  operator/controllers/mutatingwebhook/reconciler_test.go
  operator/controllers/namespace/namespace_suite_test.go
  operator/controllers/namespace/reconciler_test.go
Due: none

Make otel debug and healthcheck ports configurable (#910)
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/constants.go
  operator/controllers/controller/config_test.tpl
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/mutatingwebhook/agent_pod.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  pkg/otelcollector/config.go
  pkg/otelcollector/zz_generated.deepcopy.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture, updated-aperture-docs
