Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Update opentelemetry exporter dependency (#932)
  sdks/aperture-java/build.gradle.kts
Due: none

Improve visibility of sampled logs (#929)
  pkg/alerts/alert.go
  pkg/log/log.go
  pkg/log/log_suite_test.go
  pkg/log/samplers.go
  pkg/log/samplers_test.go
  pkg/otelcollector/alertsreceiver/processor.go
  pkg/otelcollector/helpers.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/sdk_labels.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
  pkg/policies/flowcontrol/actuators/concurrency/load-actuator.go
  pkg/policies/flowcontrol/resources/classifier/classification-engine.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  pkg/watchdog/watchdog.go
Due: updated-aperture

Move aperture-java publishing jobs to SDK (#935)
  .circleci/continue-workflows.yml
  sdks/aperture-java/.circleci/config.yml
  sdks/aperture-java/.circleci/continue-workflows.yml
Due: none

Update Java SDK snapshot version to 0.4.0 (#936)
  sdks/aperture-java/version.gradle.kts
Due: none

Fix failing to start flow when passing null labels map (#940)
  sdks/aperture-java/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
Due: none

Downgrade slf4j dependency (#942)
  sdks/aperture-java/build.gradle.kts
Due: none

Relocate all packages when creating a shadow jar (#941)
  sdks/aperture-java/build.gradle.kts
Due: none

Make Gradle build java SDK compatible with JDK 1.8 (#931)
  sdks/aperture-java/build.gradle.kts
Due: none

Start warning on entity lookup failure in authz and flowcontrol (#943)
  pkg/log/log.go
  pkg/log/samplers.go
  pkg/net/grpc/helpers.go
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  pkg/policies/flowcontrol/service/envoy/authz_test.go
Due: updated-aperture

Added the functionality to check for the minimum supported kubernetes version (#933)
  .codespellignore
  operator/controllers/agent/reconciler.go
  operator/controllers/constants.go
  operator/controllers/controller/reconciler.go
  operator/main.go
Due: none

Alerter Component (#939)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/lib/1.0/_gen/v1/alerter.libsonnet
  blueprints/lib/1.0/_gen/v1/alerterins.libsonnet
  blueprints/lib/1.0/_gen/v1/component.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-controller/controller/otel-component.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/alerts/alert.go
  pkg/alerts/alerter.go
  pkg/alerts/provide.go
  pkg/platform/platform.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-factory_test.go
  pkg/policies/controlplane/components/alerter.go
  pkg/policies/controlplane/policy-factory.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
  test/aperture_suite_test.go
Due: updated-aperture, updated-aperture-docs

`git push` retry for Helm-release script (#946)
  .circleci/scripts/helm_release.sh
Due: none

Changes for release 0.11.x (#947)
  docs/content/introduction.md
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-docs

Remove debug log (#953)
  pkg/discovery/kubernetes/kubernetes_discovery.go
  pkg/peers/peers.go
Due: updated-aperture

docs : Fix typo in the reference section for controller (#952)
  docs/content/references/configuration/controller.md
Due: updated-aperture-docs

Fixed pre-commit failure on controller config docs (#954)
  docs/gen/config/controller/metadata
Due: updated-aperture-docs

Avoid discarding whole batch if processing single log record fails (#956)
  .codespellignore
  pkg/otelcollector/helpers.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/rollupprocessor/processor.go
Due: updated-aperture

otelcollector/helpers: Remove unused fallibility from iterate helpers (#958)
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/helpers.go
  pkg/otelcollector/tracestologsprocessor/processor.go
Due: updated-aperture

Changed the cloud beta link from waitlist to sign-in (#959)
  docs/content/cloud/cloud.md
Due: updated-aperture-docs

flowcontrol: Remove spammy "Running limiters with labels" log (#962)
  pkg/policies/flowcontrol/engine.go
Due: updated-aperture

Upgrade OTEL to v0.64.0 (#960)
  go.mod
  go.sum
Due: updated-aperture

Don't use deprecated stuff from OTEL (#967)
  pkg/otelcollector/alertsreceiver/config.go
  pkg/otelcollector/alertsreceiver/factory.go
  pkg/otelcollector/enrichmentprocessor/factory.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/rollupprocessor/config.go
  pkg/otelcollector/rollupprocessor/factory.go
  pkg/otelcollector/tracestologsprocessor/config.go
  pkg/otelcollector/tracestologsprocessor/factory.go
  pkg/otelcollector/tracestologsprocessor/processor.go
Due: updated-aperture

Add control points handling (#964)
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/buf.lock
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.json.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_deepcopy.gen.go
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-controller/controller.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/controlpointcache/control_point_cache.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
  test/aperture_suite_test.go
Due: updated-aperture, updated-aperture-docs

Upgrade OTEL to v0.66.0 (#968)
  go.mod
  go.sum
  pkg/otelcollector/alertsreceiver/factory.go
  pkg/otelcollector/enrichmentprocessor/factory.go
  pkg/otelcollector/enrichmentprocessor/processor_test.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/rollupprocessor/factory.go
  pkg/otelcollector/tracestologsprocessor/factory.go
Due: updated-aperture

Prepare for release v.0.12.x (#971)
  docs/content/introduction.md
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-docs

Update Golang deps (#972)
  go.mod
  go.sum
  operator/controllers/agent/mutating_webhook_configuration.go
  operator/controllers/controller/validating_webhook_configuration.go
  operator/controllers/mutatingwebhook/mutating_webhook_configuration.go
  operator/controllers/utils.go
  pkg/policies/flowcontrol/service/envoy/authz.go
Due: updated-aperture

Update opa to 0.46 and fix Rego cookie example (#975)
  api/aperture/policy/language/v1/classifier.proto
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  go.mod
  go.sum
  pkg/policies/controlplane/validator_test.go
Due: updated-aperture, updated-aperture-docs

Hide postable alert object, add options to alert (#977)
  pkg/alerts/alert.go
  pkg/alerts/alert_test.go
  pkg/policies/controlplane/components/alerter.go
Due: updated-aperture

Increase etcd log level (#981)
  pkg/etcd/client/client.go
Due: updated-aperture

Alertmanager Exporter (#966)
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-controller/controller/otel-component.go
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  go.mod
  go.sum
  operator/api/common/common_types.go
  operator/api/common/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/alertmanager/client/client.go
  pkg/alertmanager/client/zz_generated.deepcopy.go
  pkg/alertmanager/provide.go
  pkg/net/http/client.go
  pkg/otelcollector/alertsexporter/config.go
  pkg/otelcollector/alertsexporter/exporter.go
  pkg/otelcollector/alertsexporter/factory.go
  pkg/otelcollector/config.go
  pkg/otelcollector/consts.go
  pkg/platform/platform.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

demoapp: Improve visibility of sampled logs (#937)
  playground/demo_app/app/app.go
  playground/demo_app/go.mod
  playground/demo_app/go.sum
Due: none

Added details and support for smooth upgrade of aperture (#980)
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/_helpers.tpl
  manifests/charts/aperture-agent/templates/agent.yaml
  manifests/charts/aperture-agent/templates/deployment.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/_helpers.tpl
  manifests/charts/aperture-controller/templates/controller.yaml
  manifests/charts/aperture-controller/templates/deployment.yaml
  manifests/charts/aperture-controller/values.yaml
  operator/controllers/agent/reconciler.go
  operator/controllers/controller/reconciler.go
Due: updated-aperture-docs

keep the policy name consistent throughout the docs (#979)
  docs/content/get-started/playground.md
  docs/content/get-started/policies/dynamic-configuration.md
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
Due: updated-aperture-docs

Prepare for release v0.13.x (#994)
  docs/content/introduction.md
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-docs

Warn on unknown entity (take two) (#991)
  cmd/aperture-agent/agent.go
  cmd/sdk-validator/main.go
  pkg/discovery/kubernetes/kubernetes_discovery.go
  pkg/discovery/kubernetes/provide.go
  pkg/discovery/static/provide.go
  pkg/discovery/static/static_discovery.go
  pkg/discovery/static/static_discovery_test.go
  pkg/entitycache/entity_cache.go
  pkg/mocks/mock-trackers.go
  pkg/notifiers/tracker.go
  pkg/policies/flowcontrol/provide.go
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/check/check_test.go
  pkg/policies/flowcontrol/service/check/provide.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  pkg/policies/flowcontrol/service/envoy/authz_test.go
  pkg/policies/flowcontrol/service/provide.go
  pkg/policies/flowcontrol/servicegetter/servicegetter.go
  test/aperture_suite_test.go
Due: updated-aperture

Add metrics for IP-to-services lookups (#997)
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/provide.go
  pkg/policies/flowcontrol/servicegetter/metrics.go
  pkg/policies/flowcontrol/servicegetter/provide.go
  pkg/policies/flowcontrol/servicegetter/servicegetter.go
Due: updated-aperture

SDK tomcat support and example (#996)
  sdks/aperture-java/Dockerfile
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/tomcat-example/build.gradle.kts
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFilter.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/servlet/ApertureServlet.java
  sdks/aperture-java/examples/tomcat-example/src/main/webapp/WEB-INF/web.xml
  sdks/aperture-java/lib/tomcat7/build.gradle.kts
  sdks/aperture-java/lib/tomcat7/src/main/java/com/fluxninja/aperture/tomcat7/ApertureFilter.java
  sdks/aperture-java/lib/tomcat7/src/main/java/com/fluxninja/aperture/tomcat7/ServletUtils.java
  sdks/aperture-java/settings.gradle.kts
Due: none

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
