Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Blueprint for Auto-scale (#1909)
  blueprints/policies/auto-scaling/base/README.md
  blueprints/policies/auto-scaling/base/config-defaults.libsonnet
  blueprints/policies/auto-scaling/base/dashboard.libsonnet
  blueprints/policies/auto-scaling/base/dynamic-config.libsonnet
  blueprints/policies/auto-scaling/base/policy.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/README.md
  blueprints/policies/auto-scaling/pod-auto-scaler/bundle.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/config.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/dashboard.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/dynamic-config.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/dynamic-config-definitions.json
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/dynamic-config-values-required.yaml
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/dynamic-config-values.yaml
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/values-required.yaml
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/policies/auto-scaling/pod-auto-scaler/metadata.yaml
  blueprints/policies/auto-scaling/pod-auto-scaler/pod-auto-scaler.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/policy.libsonnet
  blueprints/policies/policies.libsonnet
  docs/content/reference/policies/bundled-blueprints/policies/auto-scaling/auto-scaling.md
  docs/content/reference/policies/bundled-blueprints/policies/auto-scaling/pod-auto-scaler.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection/service-protection.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
Due: updated-aperture-docs

Improvements in Java demoapp (#1915)
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/ApertureFeatureFilter.java
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/JavaDemoAppApplication.java
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/RequestController.java
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/Subrequest.java
  playground/scenarios/java_rate_limiting_escalation/load_generator/test.js
Due: none

Add `sub_circuit_id` variable to singals dashboard (#1920)
  blueprints/dashboards/signals/dashboard.libsonnet
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
Due: updated-aperture-docs

Add labels for variables in signals dashboard (#1921)
  blueprints/dashboards/signals/dashboard.libsonnet
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
Due: updated-aperture-docs

Move output ports inside scaling backend (#1922)
  api/aperture/policy/language/v1/autoscale.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.go
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/autoscale_deepcopy.gen.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/autoscaler.libsonnet
  blueprints/gen/v1/autoscalerouts.libsonnet
  blueprints/gen/v1/autoscalerscalingbackendkubernetesreplicas.libsonnet
  blueprints/gen/v1/autoscalerscalingbackendkubernetesreplicasouts.libsonnet
  blueprints/gen/v1/gen.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/autoscale/auto-scaler.go
Due: updated-aperture, updated-aperture-docs

add faq section outline (#1914)
  docs/content/faq.md
Due: updated-aperture-docs

Updated specific gradient libraries in auto-scaling blueprints (#1924)
  blueprints/policies/auto-scaling/base/policy.libsonnet
Due: none

Upgraded grafana in playground and use same panel for all blueprints (#1926)
  blueprints/policies/static-rate-limiting/dashboard.libsonnet
  playground/tanka/chartfile.yaml
Due: none

Stop crashing agent on implicit infra meter pipeline (#1928)
  pkg/otelcollector/infra-meter/infra-meter.go
Due: updated-aperture

Add scale in controller that periodically scales down (#1923)
  api/aperture/policy/language/v1/autoscale.proto
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.go
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/autoscale_deepcopy.gen.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/periodicdecrease.libsonnet
  blueprints/gen/v1/periodicdecreaseparameters.libsonnet
  blueprints/gen/v1/scaleincontrollercontroller.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/auto-scale-components.go
  pkg/policies/controlplane/components/autoscale/auto-scaler.go
Due: updated-aperture, updated-aperture-docs

Update titles in signals dashboard (#1931)
  blueprints/dashboards/signals/dashboard.libsonnet
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
Due: updated-aperture-docs

add gateways in arch diagram (#1939)
  docs/content/assets/diagrams/architecture/architecture_simple.mmd
  docs/content/assets/diagrams/architecture/architecture_simple.mmd.md5sum
  docs/content/assets/diagrams/architecture/architecture_simple.mmd.svg
Due: updated-aperture-docs

Update Aperture SDK deps and bump version to v2 (#1940)
  sdks/aperture-go/example/main.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
Due: none

Implement Alerters defined inside AutoScaler (#1941)
  pkg/policies/controlplane/components/autoscale/auto-scaler.go
  playground/scenarios/auto_scaling/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/auto_scaling/policies/load-based-auto-scale.yaml
Due: updated-aperture

Update README.md (#1936)
  README.md
Due: none

Fixed default alert parameters in auto-scaler blueprint (#1942)
  blueprints/policies/auto-scaling/base/config-defaults.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/values-required.yaml
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/gen/definitions.json
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/gen/values-required.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/gen/values.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/gen/definitions.json
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/gen/values-required.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/gen/values.yaml
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/policy.yaml
  docs/content/reference/policies/bundled-blueprints/policies/auto-scaling/pod-auto-scaler.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql.md
Due: updated-aperture-docs

Update introduction.md (#1934)
  docs/content/introduction.md
Due: updated-aperture-docs

scheduler: pass through when not in overload (#1944)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/std_components.proto
  api/aperture/policy/language/v1/telemetry_collector.proto
  api/aperture/policy/private/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/telemetry_collector.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.validate.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/integrator.libsonnet
  blueprints/gen/v1/loadschedulerins.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/flowcontrol/loadscheduler/actuator.go
  pkg/policies/controlplane/components/flowcontrol/loadscheduler/adaptive-load-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/loadscheduler/load-scheduler.go
  pkg/policies/controlplane/components/integrator.go
  pkg/policies/flowcontrol/actuators/loadscheduler/load-scheduler.go
  pkg/policies/flowcontrol/scheduler/token-bucket-load-multiplier.go
  pkg/policies/flowcontrol/scheduler/token-bucket.go
Due: updated-aperture, updated-aperture-docs

readme: cleanup some sections (#1945)
  .github/workflows/vale.yml
  README.md
  docs/content/faq.md
Due: updated-aperture-docs

Remove envoy authz-based proto files (#1938)
  api/Makefile
  api/buf.gen.envoy.yaml
  api/envoy/service/auth/v3/authz_stripped.proto
  cmd/sdk-validator/main.go
Due: updated-aperture

Add aperture-provided headers to rejected responses (#1937)
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
  sdks/aperture-java/version.gradle.kts
Due: none

Bump OTEL to v0.77.0 (#1929)
  blueprints/policies/feature-rollout/base/dashboard.libsonnet
  blueprints/policies/static-rate-limiting/dashboard.libsonnet
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/policy.yaml
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/values.yaml
  docs/content/reference/observability/prometheus-metrics/agent.md
  extensions/integrations/otel/dotnetdiagnosticsreceiver/dotnetdiagnosticsreceiver.go
  go.mod
  go.sum
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/flowcontrol/actuators/rate/rate-limiter.go
  pkg/policies/flowcontrol/actuators/regulator/regulator.go
  pkg/policies/flowcontrol/resources/classifier/classification-engine.go
  pkg/policies/flowcontrol/resources/classifier/provide.go
  pkg/policies/flowcontrol/resources/fluxmeter/flux-meter.go
  playground/scenarios/auto_scaling/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/auto_scaling/policies/load-based-auto-scale.yaml
Due: updated-aperture, updated-aperture-docs

Add headers from denied_response in actual response headers (#1948)
  docs/content/get-started/integrations/flow-control/gateway/nginx.md
  gateways/lua/aperture-kong-plugin-0.1.0-1.rockspec
  gateways/lua/aperture-nginx-plugin-0.1.0-1.rockspec
  gateways/lua/aperture-plugin/access.lua
  gateways/lua/aperture-plugin/headers.lua
  gateways/lua/kong/handler.lua
  playground/resources/nginx/nginx_config.conf
Due: updated-aperture-docs

Replaced promql based scale in controller with optional periodic scale in controller (#1947)
  blueprints/policies/auto-scaling/base/config-defaults.libsonnet
  blueprints/policies/auto-scaling/base/policy.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/config.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/values-required.yaml
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/config.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/gen/definitions.json
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/gen/values-required.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/gen/values.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/policy.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/config.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/gen/definitions.json
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/gen/values-required.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/gen/values.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/policy.libsonnet
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/graph.mmd
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/graph.mmd.md5sum
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/graph.mmd.svg
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/policy.yaml
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/values.yaml
  docs/content/reference/aperturectl/completion/zsh/zsh.md
  docs/content/reference/policies/bundled-blueprints/policies/auto-scaling/pod-auto-scaler.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql.md
  playground/scenarios/auto_scaling/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/auto_scaling/policies/load-based-auto-scale.yaml
Due: updated-aperture-docs

Auto Scale Refactor (#1962)
  api/aperture/policy/language/v1/autoscale.proto
  api/aperture/policy/private/v1/autoscale.proto
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.go
  api/gen/proto/go/aperture/policy/private/v1/autoscale.pb.go
  api/gen/proto/go/aperture/policy/private/v1/autoscale.pb.json.go
  api/gen/proto/go/aperture/policy/private/v1/autoscale.pb.validate.go
  api/gen/proto/go/aperture/policy/private/v1/autoscale_deepcopy.gen.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/policy.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/policy.libsonnet
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/policy.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/autoscale/auto-scaler.go
  playground/scenarios/auto_scaling/policies/load-based-auto-scale-cr.yaml
Due: updated-aperture, updated-aperture-docs

Disable building Kubernetes Discovery when outside the cluster (#1964)
  pkg/k8s/provide.go
  pkg/policies/autoscale/kubernetes/actuators/podscaler/pod-scaler.go
  pkg/policies/autoscale/kubernetes/discovery/provide.go
Due: updated-aperture

Fixed aperturectl apply when controller address is provided (#1966)
  cmd/aperturectl/cmd/agents.go
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/apply/root.go
  cmd/aperturectl/cmd/autoscale/control-points.go
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/delete/policy.go
  cmd/aperturectl/cmd/delete/root.go
  cmd/aperturectl/cmd/discovery/entities.go
  cmd/aperturectl/cmd/flowcontrol/control-points.go
  cmd/aperturectl/cmd/utils/controller.go
  docs/content/reference/aperturectl/agents/agents.md
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/apply/policy/policy.md
  docs/content/reference/aperturectl/auto-scale/auto-scale.md
  docs/content/reference/aperturectl/auto-scale/control-points/control-points.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/delete/delete.md
  docs/content/reference/aperturectl/delete/policy/policy.md
  docs/content/reference/aperturectl/discovery/discovery.md
  docs/content/reference/aperturectl/discovery/entities/entities.md
  docs/content/reference/aperturectl/flow-control/control-points/control-points.md
  docs/content/reference/aperturectl/flow-control/flow-control.md
  docs/content/reference/aperturectl/flow-control/preview/preview.md
Due: updated-aperture, updated-aperture-docs

Fixed nil pointer error on aperturectl delete (#1968)
  cmd/aperturectl/cmd/delete/policy.go
  cmd/aperturectl/cmd/delete/root.go
Due: updated-aperture

fix playground doc (#1965)
  api/buf.lock
  docs/content/get-started/assets/playground/playground-app.mmd
  docs/content/get-started/assets/playground/playground-app.mmd.md5sum
  docs/content/get-started/assets/playground/playground-app.mmd.svg
  docs/content/get-started/playground/playground.md
  playground/scenarios/java_rate_limiting_escalation/metadata.json
  playground/scenarios/java_rate_limiting_escalation/policies/rate-limit-escalation-cr.yaml
  playground/scenarios/java_rate_limiting_escalation/policies/rate-limit-escalation.yaml
Due: updated-aperture-docs

Re-add FAQ with expanded answers (#1952)
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/faq.md
Due: updated-aperture-docs

Add dynamic-values sub-command (#1963)
  cmd/aperturectl/cmd/blueprints/common.go
  cmd/aperturectl/cmd/blueprints/dynamic-values.go
  cmd/aperturectl/cmd/blueprints/globals.go
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/blueprints/values.go
  docs/content/reference/aperturectl/blueprints/blueprints.md
  docs/content/reference/aperturectl/blueprints/dynamic-values/dynamic-values.md
Due: updated-aperture, updated-aperture-docs

update output: aperturectl blueprint list (#1973)
  docs/content/get-started/policies/policies.md
Due: updated-aperture-docs

Fixed aperturectl install istioconfig (#1974)
  cmd/aperturectl/cmd/installation/utils.go
Due: updated-aperture

Update olric to use fluxninja/olric fork (#1972)
  api/aperture/flowcontrol/check/v1/check.proto
  api/buf.lock
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  go.mod
  go.sum
  pkg/policies/flowcontrol/actuators/rate/rate-limiter.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/basic-limit-checker.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/distcache-rate-tracker.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/lazy-sync-rate-tracker.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/rate-tracker.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/rate-tracker_test.go
  pkg/policies/flowcontrol/iface/limiter.go
  pkg/policies/mocks/mock_limiter.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
Due: updated-aperture, updated-aperture-docs

playground: update rate limit policies (#1976)
  go.mod
  go.sum
  pkg/policies/controlplane/validator_test.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/rate-tracker_test.go
  playground/scenarios/java_rate_limiting_escalation/policies/rate-limit-escalation-cr.yaml
  playground/scenarios/java_rate_limiting_escalation/policies/rate-limit-escalation.yaml
  playground/scenarios/rate_limiting_escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation/policies/service1-demo-app.yaml
  playground/scenarios/rate_limiting_escalation_kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_kong/policies/service1-demo-app.yaml
  playground/scenarios/rate_limiting_escalation_nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_nginx/policies/service1-demo-app.yaml
Due: updated-aperture

update and add gateway section (#1980)
  docs/content/concepts/flow-control/flow-control.md
  docs/content/get-started/integrations/flow-control/flow-control.md
Due: updated-aperture-docs

Rework Docs Architecture page (#1978)
  docs/content/architecture/architecture.md
Due: updated-aperture-docs
