Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Stop sending label values when Telemetry: false (#2222)
  cmd/sdk-validator/validator/common.go
  cmd/sdk-validator/validator/flowcontrol.go
  pkg/labels/labels.go
  pkg/multi-matcher/multi-matcher.go
  pkg/multi-matcher/multimatcher_test.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/engine_test.go
  pkg/policies/flowcontrol/iface/engine.go
  pkg/policies/flowcontrol/iface/limiter.go
  pkg/policies/flowcontrol/label/flow-label.go
  pkg/policies/flowcontrol/resources/classifier/classification-engine.go
  pkg/policies/flowcontrol/resources/classifier/classifier_test.go
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp-labels_test.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  pkg/policies/flowcontrol/service/envoy/authz-labels_test.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  pkg/policies/mocks/mock_limiter.go
Due: updated-aperture

Better FX error handling (#2233)
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
Due: updated-aperture

Fixed missing updates of CRDs in charts (#2234)
  Makefile
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
Due: none

Fix error logs in agent and controller (#2237)
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
Due: updated-aperture

Corrected grafana field names (#2261)
  blueprints/grafana/utils/bar_gauge_panel.libsonnet
  blueprints/grafana/utils/stat_panel.libsonnet
Due: none

Add missing labels to label whitelist (#2265)
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
Due: updated-aperture

Allow previewing decisions via aperturectl (#2264)
  api/aperture/cmd/v1/cmd.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy_vtproto.pb.go
  cmd/aperturectl/cmd/decisions/root.go
  cmd/aperturectl/cmd/root.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/decisions/decisions.md
  pkg/cmd/controller.go
  pkg/etcd/writer/writer.go
  pkg/policies/controlplane/policy-service.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture, updated-aperture-docs

documentation: minor fixes (#2266)
  README.md
  docs/content/introduction.md
  docs/content/use-cases/adaptive-service-protection/assets/average-latency-feedback/values.yaml
Due: updated-aperture-docs

fix broken links (#2267)
  docs/content/concepts/agent-group.md
  docs/content/concepts/flow-label.md
  docs/content/concepts/scheduler/load-scheduler.md
Due: updated-aperture-docs

update blogs accepted words (#2268)
  .github/styles/Vocab/FluxNinja/accept.txt
Due: none

fix check for auto generated docs. (#2158)
  .pre-commit-config.yaml
Due: none

Upgrade OTEL to v0.80.0 (#2269)
  go.mod
  go.sum
  pkg/utils/goleak.go
Due: updated-aperture

update accepted words (#2271)
  .github/styles/Vocab/FluxNinja/accept.txt
Due: none

Upgraded gosnowflake due to vulnerability found in it (#2285)
  go.mod
  go.sum
Due: updated-aperture

Upgraded opentelemetry-collector-contrib to v0.80.0-fn.patch.2 (#2293)
  go.mod
  go.sum
Due: updated-aperture

Upgrade OTEL to v0.80.0-fn.patch.2 (#2294)
  go.mod
  go.sum
Due: updated-aperture

Make controller interactions with etcd and prometheus multi-tenant aware (#2204)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  extensions/fluxninja/otel/provide.go
  go.mod
  go.sum
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/api/common/common_types.go
  operator/api/common/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/controller/config_test.tpl
  pkg/etcd/client/client.go
  pkg/etcd/config.go
  pkg/google/config/config.go
  pkg/google/config/zz_generated.deepcopy.go
  pkg/google/token_source.go
  pkg/otelcollector/config/config.go
  pkg/policies/controlplane/components/query/promql/promql.go
  pkg/policies/controlplane/policy-factory.go
  pkg/prometheus/alert-query.go
  pkg/prometheus/client.go
  pkg/prometheus/config/config.go
  pkg/prometheus/enforcer.go
  pkg/prometheus/prom-query.go
  pkg/prometheus/scalar-query.go
Due: updated-aperture, updated-aperture-docs

Add experimental support for managing multiple controllers (#2199)
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/api/common/security_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/controller/configmaps.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/reconciler.go
  operator/controllers/controller/serviceaccount.go
  operator/controllers/controller/services.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
  operator/main.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: none

Read controller ID from config (#2298)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  extensions/fluxninja/heartbeats/heartbeats.go
  extensions/fluxninja/heartbeats/provide.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/secrets_test.go
  operator/controllers/constants.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/reconciler_test.go
  operator/controllers/controller/secrets_test.go
  operator/controllers/controller/serviceaccount_test.go
  operator/controllers/utils_test.go
Due: updated-aperture-docs

Make oauth in Prom client optional (#2305)
  pkg/prometheus/client.go
Due: updated-aperture

Operator name and unit test fixes (#2306)
  operator/controllers/constants.go
  operator/controllers/controller/clusterrole_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/controller_suite_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/secrets_test.go
  operator/controllers/controller/serviceaccount_test.go
  operator/controllers/controller/services_test.go
  operator/controllers/controller/validating_webhook_configuration_test.go
  operator/controllers/suite_test.go
  operator/controllers/utils_test.go
Due: none

Add `api-key` flag to `aperturectl` (#2307)
  cmd/aperturectl/cmd/utils/controller.go
  docs/content/reference/aperturectl/agents/agents.md
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/apply/policy/policy.md
  docs/content/reference/aperturectl/auto-scale/auto-scale.md
  docs/content/reference/aperturectl/auto-scale/control-points/control-points.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/decisions/decisions.md
  docs/content/reference/aperturectl/delete/delete.md
  docs/content/reference/aperturectl/delete/policy/policy.md
  docs/content/reference/aperturectl/discovery/discovery.md
  docs/content/reference/aperturectl/discovery/entities/entities.md
  docs/content/reference/aperturectl/flow-control/control-points/control-points.md
  docs/content/reference/aperturectl/flow-control/flow-control.md
  docs/content/reference/aperturectl/flow-control/preview/preview.md
Due: updated-aperture, updated-aperture-docs

Add `policies` command to `aperturectl` (#2310)
  api/aperture/cmd/v1/cmd.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  cmd/aperturectl/cmd/agents.go
  cmd/aperturectl/cmd/policies.go
  cmd/aperturectl/cmd/root.go
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/policies/policies.md
  pkg/cmd/controller.go
Due: updated-aperture, updated-aperture-docs

Document duration and other minor fixes (#2312)
  README.md
  api/aperture/policy/language/v1/autoscale.proto
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/label_matcher.proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/query.proto
  api/aperture/policy/language/v1/std_components.proto
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/query.pb.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/load-ramp.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/get-started/installation/controller/kubernetes/kubernetes.md
  docs/content/get-started/policies/policies.md
  docs/content/integrations/auto-scale/auto-scale.md
  docs/content/introduction.md
  docs/content/reference/blueprints/quota-scheduling/quota-scheduling.md
  docs/content/reference/configuration/spec.md
  docs/content/use-cases/adaptive-service-protection/workload-prioritization.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/rate-limiting/rate-limiting.md
  docs/content/use-cases/rate-limiting/static-rate-limiting.md
  docs/gen/policy/policy.yaml
  docs/tools/aperturectl/generate-docs/generate-docs.go
Due: updated-aperture-docs

Generate install note in top-level reference for aperturectl (#2315)
  docs/content/reference/aperturectl/aperturectl.md
  docs/tools/aperturectl/generate-docs/generate-docs.go
Due: updated-aperture-docs

Docs: consistent casing of Aperture Controller & Agent (#2316)
  cmd/aperturectl/cmd/utils/controller.go
  docs/content/architecture/architecture.md
  docs/content/concepts/auto-scale.md
  docs/content/concepts/classifier.md
  docs/content/concepts/flow-lifecycle.md
  docs/content/concepts/infra-meter.md
  docs/content/concepts/rate-limiter.md
  docs/content/concepts/scheduler/scheduler.md
  docs/content/concepts/selector.md
  docs/content/concepts/service.md
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/reference/aperturectl/agents/agents.md
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/apply/policy/policy.md
  docs/content/reference/aperturectl/auto-scale/auto-scale.md
  docs/content/reference/aperturectl/auto-scale/control-points/control-points.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/decisions/decisions.md
  docs/content/reference/aperturectl/delete/delete.md
  docs/content/reference/aperturectl/delete/policy/policy.md
  docs/content/reference/aperturectl/discovery/discovery.md
  docs/content/reference/aperturectl/discovery/entities/entities.md
  docs/content/reference/aperturectl/flow-control/control-points/control-points.md
  docs/content/reference/aperturectl/flow-control/flow-control.md
  docs/content/reference/aperturectl/flow-control/preview/preview.md
  docs/content/reference/aperturectl/policies/policies.md
  docs/content/use-cases/adaptive-service-protection/adaptive-service-protection.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
Due: updated-aperture, updated-aperture-docs

Docs: Fix link from concepts to reference (#2317)
  docs/content/concepts/auto-scale.md
Due: updated-aperture-docs

Fix Aperture Agents case (#2318)
  docs/content/architecture/architecture.md
Due: updated-aperture-docs

Docs: Fix link (#2319)
  docs/content/integrations/auto-scale/auto-scale.md
Due: updated-aperture-docs

Handle digest while controller deployment creation (#2231)
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/hook.go
  operator/controllers/agent/hook_sidecar_test.tpl
  operator/controllers/agent/hook_test.tpl
  operator/controllers/agent/reconciler.go
  operator/controllers/agent/reconciler_test.go
  operator/controllers/constants.go
  operator/controllers/controller/hook.go
  operator/controllers/controller/hook_test.tpl
  operator/controllers/controller/reconciler.go
  operator/controllers/controller/reconciler_test.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
Due: none

Added migration support from the older name to new names in controller operator (#2320)
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  manifests/charts/aperture-controller/templates/controller-cr.yaml
  operator/api/common/security_types.go
  operator/api/controller/v1alpha1/controller_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/secrets_test.go
  operator/controllers/controller/clusterrole.go
  operator/controllers/controller/clusterrole_test.go
  operator/controllers/controller/configmaps.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/controller_suite_test.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/reconciler.go
  operator/controllers/controller/reconciler_test.go
  operator/controllers/controller/secrets_test.go
  operator/controllers/controller/serviceaccount.go
  operator/controllers/controller/serviceaccount_test.go
  operator/controllers/controller/services.go
  operator/controllers/controller/validating_webhook_configuration.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
  operator/main.go
Due: none

Updated jsonnet lock files (#2324)
  blueprints/jsonnetfile.lock.json
  playground/tanka/jsonnetfile.lock.json
Due: none

Handling compiled circuit in dashboard creator (#2325)
  blueprints/grafana/creator.libsonnet
  playground/Tiltfile
Due: none

Add ability to define queue timeout in scheduler workload (#2326)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/schedulerworkloadparameters.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
Due: updated-aperture, updated-aperture-docs

Update aperturectl docs (#2327)
  cmd/aperturectl/cmd/blueprints/dynamic-values.go
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/values.go
  docs/content/get-started/policies/policies.md
  docs/content/reference/aperturectl/blueprints/dynamic-values/dynamic-values.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/blueprints/values/values.md
Due: updated-aperture, updated-aperture-docs

Handle raw json strings as input to creator (#2328)
  blueprints/grafana/creator.libsonnet
Due: none

Fixed certificate and cluster level resources names in operator for controller (#2330)
  operator/controllers/controller/clusterrole.go
  operator/controllers/controller/clusterrole_test.go
  operator/controllers/controller/controller_suite_test.go
  operator/controllers/controller/reconciler.go
  operator/controllers/controller/reconciler_test.go
  operator/controllers/controller/validating_webhook_configuration.go
  operator/controllers/controller/validating_webhook_configuration_test.go
  operator/controllers/utils.go
Due: none

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
