Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Update API Version in Go SDK
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Due: none

remove concurrency-limiting-test.yml (#3165)
  concurrency-limiting-test.yaml
Due: none

Update Rate Limiting Example GRPC Deadline (#3166)
  sdks/aperture-js/example/rate_limit_example.ts
Due: none

Add Sync Async code snippets to Python SDK docs (#3167)
  docs/content/code-snippets.json
  docs/content/sdk/python/manual.md
  sdks/aperture-py/example/main.py
  sdks/aperture-py/example/manual_flow.py
Due: updated-aperture-docs

Remove Caching example from get started page (#3169)
  docs/content/get-started/get-started.md
Due: updated-aperture-docs

Add support for policy alerts (#3168)
  pkg/jobs/job-tracker.go
  pkg/jobs/job.go
  pkg/labelstatus/labelstatus.go
  pkg/notifiers/fx-driver.go
  pkg/otelcollector/otelcollector.go
  pkg/platform/platform.go
  pkg/platform/readiness.go
  pkg/policies/autoscale/kubernetes/actuators/podscaler/pod-scaler.go
  pkg/policies/controlplane/components/alerter.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/flowcontrol/actuators/concurrency-limiter/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/provide.go
  pkg/policies/flowcontrol/resources/fluxmeter/flux-meter.go
  pkg/status/registry.go
  pkg/status/status_test.go
  pkg/watchdog/watchdog.go
  test/aperture_suite_test.go
Due: updated-aperture

Update buf lock (#3170)
  api/buf.lock
Due: none

Refactor Flow End in SDKs (#3171)
  sdks/aperture-csharp/Core/FeatureFlow.cs
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/aperture_sdk/flow_async.py
Due: none

Update each SDK readme with code examples (#3172)
  sdks/aperture-csharp/README.md
  sdks/aperture-go/README.md
  sdks/aperture-java/README.md
  sdks/aperture-js/README.md
  sdks/aperture-py/README.md
Due: none

Fix JS docs (#3173)
  sdks/aperture-js/README.md
Due: none

readme: v1 announcement (#3174)
  README.md
Due: none

Update SDK READMEs for v1 announcement (#3175)
  sdks/aperture-csharp/README.md
  sdks/aperture-go/README.md
  sdks/aperture-java/README.md
  sdks/aperture-js/README.md
  sdks/aperture-py/README.md
Due: none

Making Controller and Agent charts GitOps-friendlier (#3176)
  manifests/charts/aperture-agent/templates/operator-mutatingwebhook.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/templates/operator-mutatingwebhook.yaml
  manifests/charts/aperture-controller/templates/post-install-hook.yaml
  manifests/charts/aperture-controller/values.yaml
Due: none

Add Concurrency Schedulers to OLAP telemetry (#3178)
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels_test.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
Due: updated-aperture

Add release CI for csharp SDK (#3180)
  sdks/aperture-csharp/.circleci/config.yml
  sdks/aperture-csharp/.circleci/continue-workflows.yml
  sdks/aperture-csharp/.github/workflows/create_release.yaml
Due: none

Release csharp with aperture release (#3181)
  .circleci/config.yml
  sdks/aperture-csharp/.circleci/config.yml
Due: none

readme: add use cases section in sdk readme (#3204)
  sdks/aperture-js/README.md
Due: none

Fix pre-commit (#3205)
  api/buf.lock
Due: none

Upgrade otel to v0.93.0 and other upgrades (#3208)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  requirements.txt
  sdks/aperture-go/Dockerfile
Due: updated-aperture

update acquisition notice (#3239)
  README.md
  docs/content/get-started/get-started.md
  docs/content/introduction.md
Due: updated-aperture-docs

circleci: xlarge -> large instances (#3240)
  .circleci/continue-workflows.yml
  docs/content/reference/cloud-ui/sign-up.md
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
