Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

aperture-js: set additional grpc options (#2649)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: none

Upgrade to go v1.21.1 (#2650)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/demo-app/go.mod
  playground/resources/demo-app/go.sum
  playground/resources/graphql-demo-app/Dockerfile
  playground/resources/graphql-demo-app/go.mod
  scripts/go_mod_tidy.sh
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture

macos: fix run_parallel script (#2651)
  scripts/precommit/generate_playground_policies.sh
  scripts/run_parallel.sh
Due: none

Reverted go upgrade (again) due to error in go generate and fixed npfm version (#2652)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .circleci/scripts/install_nfpm.sh
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/demo-app/go.mod
  playground/resources/demo-app/go.sum
  playground/resources/graphql-demo-app/Dockerfile
  playground/resources/graphql-demo-app/go.mod
  scripts/go_mod_tidy.sh
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture

Add more logs when applying/deleting policies (#2653)
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

Added request in queue duration metrics (#2655)
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
  blueprints/grafana/panels/request_in_queue_duration.libsonnet
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
Due: updated-aperture

Fixed name typo on docker installation (#2657)
  docs/content/self-hosting/controller/docker.md
Due: updated-aperture-docs

Added grouped panels for load_scheduler and used it for new load_schedulers (#2658)
  blueprints/grafana/panel_library.libsonnet
  blueprints/grafana/panels/grouped/load_scheduler.libsonnet
Due: none

Fixed incorrect message on policy delete (#2659)
  cmd/aperturectl/cmd/cloud/delete/policy.go
  cmd/aperturectl/cmd/delete/policy.go
Due: updated-aperture

Add PGSQL Dashboard to GracefulJs Scenario (#2609)
  blueprints/auto-scaling/pod-auto-scaler/bundle.libsonnet
  blueprints/grafana/creator.libsonnet
  blueprints/grafana/dashboard_group.libsonnet
  blueprints/grafana/infra_meter_panel_library.libsonnet
  blueprints/grafana/panel_library.libsonnet
  blueprints/grafana/panels/grouped/pgsql.libsonnet
  blueprints/grafana/panels/pgsql/active_connections.libsonnet
  blueprints/grafana/panels/pgsql/cache_hit_idx.libsonnet
  blueprints/grafana/panels/pgsql/cache_hit_table.libsonnet
  blueprints/grafana/panels/pgsql/checkpoint_comparison.libsonnet
  blueprints/grafana/panels/pgsql/commits_vs_rollbacks.libsonnet
  blueprints/grafana/panels/pgsql/db_count.libsonnet
  blueprints/grafana/panels/pgsql/db_size.libsonnet
  blueprints/grafana/panels/pgsql/heap_vs_index.libsonnet
  blueprints/grafana/panels/pgsql/max_connections.libsonnet
  blueprints/grafana/panels/pgsql/operations.libsonnet
  blueprints/grafana/panels/pgsql/table_count.libsonnet
  blueprints/grafana/panels/pgsql/table_size.libsonnet
  blueprints/grafana/panels/pgsql/top_tables_disk.libsonnet
  blueprints/grafana/panels/pgsql/top_tables_rows.libsonnet
  blueprints/grafana/panels/wfq_scheduler_flows.libsonnet
  blueprints/grafana/panels/wfq_scheduler_heap_requests.libsonnet
  blueprints/grafana/utils/bar_gauge_panel.libsonnet
  blueprints/grafana/utils/table_panel.libsonnet
  blueprints/grafana/utils/unwrap_infra_meter_panel.libsonnet
  blueprints/load-ramping/base/bundle.libsonnet
  blueprints/load-scheduling/average-latency/bundle.libsonnet
  blueprints/load-scheduling/elasticsearch/bundle.libsonnet
  blueprints/load-scheduling/jmx/bundle.libsonnet
  blueprints/load-scheduling/postgresql/bundle.libsonnet
  blueprints/load-scheduling/promql/bundle.libsonnet
  blueprints/quota-scheduling/base/bundle.libsonnet
  blueprints/rate-limiting/base/bundle.libsonnet
  cmd/aperturectl/cmd/blueprints/generate.go
  playground/resources/grafana-dashboard/main.libsonnet
  playground/scenarios/graceful-js/load-generator/test.js
Due: updated-aperture

Fix promql query in postgres blueprint (#2661)
  api/buf.lock
  blueprints/load-scheduling/postgresql/policy.libsonnet
  playground/scenarios/graceful-js/policies/postgres-connections-cr.yaml
Due: none

blueprints: use remote yaml schema when uri has github.com (#2664)
  cmd/aperturectl/cmd/blueprints/values-common.go
Due: updated-aperture

Added workload_index label in request_in_queue_duration metrics (#2666)
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
  blueprints/grafana/panels/request_in_queue_duration.libsonnet
  blueprints/grafana/panels/workload_decisions.libsonnet
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
Due: updated-aperture

Replace failOpen with rampMode in go sdk (#2667)
  .tool-versions
  sdks/aperture-go/example/main.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
  sdks/aperture-go/sdk/middleware/utils.go
Due: none

Set workload index as fairness label (#2676)
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/wfq.go
Due: updated-aperture

Add Elasticsearch Dashboard, Bug Fix & Refactors (#2674)
  blueprints/grafana/infra_meter_panel_library.libsonnet
  blueprints/grafana/panels/elasticsearch/es_static.libsonnet
  blueprints/grafana/panels/elasticsearch/es_time_series.libsonnet
  blueprints/grafana/panels/grouped/elasticsearch.libsonnet
  blueprints/grafana/panels/grouped/pgsql.libsonnet
  blueprints/grafana/panels/pgsql/active_connections.libsonnet
  blueprints/grafana/panels/pgsql/cache_hit_idx.libsonnet
  blueprints/grafana/panels/pgsql/cache_hit_table.libsonnet
  blueprints/grafana/panels/pgsql/checkpoint_comparison.libsonnet
  blueprints/grafana/panels/pgsql/commits_vs_rollbacks.libsonnet
  blueprints/grafana/panels/pgsql/db_count.libsonnet
  blueprints/grafana/panels/pgsql/db_size.libsonnet
  blueprints/grafana/panels/pgsql/heap_vs_index.libsonnet
  blueprints/grafana/panels/pgsql/max_connections.libsonnet
  blueprints/grafana/panels/pgsql/operations.libsonnet
  blueprints/grafana/panels/pgsql/pgsql_bar_gauge.libsonnet
  blueprints/grafana/panels/pgsql/pgsql_static.libsonnet
  blueprints/grafana/panels/pgsql/pgsql_time_series.libsonnet
  blueprints/grafana/panels/pgsql/table_count.libsonnet
  blueprints/grafana/panels/pgsql/table_size.libsonnet
  blueprints/grafana/panels/pgsql/top_tables_disk.libsonnet
  blueprints/grafana/panels/pgsql/top_tables_rows.libsonnet
Due: none

Replace fail-open with ramp mode in js SDK (#2671)
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
Due: none

Replace fail-open with ramp mode in python SDK (#2670)
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/pyproject.toml
Due: none

Replace failOpen with rampMode in java SDK (#2668)
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/SpringBootApp.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/controller/AppController.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/tomcat-example/src/main/webapp/WEB-INF/web.xml
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/ApertureSDKWrapper.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaClientAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaServerAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/netty/NettyServerAdvice.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClientBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPServiceBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClientBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCServiceBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/version.gradle.kts
Due: none

aperture-js: bump deps (#2678)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: none

aperture-js: improve error (#2679)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: none

Fixed issue in aperturectl when both uri and version is provided with blueprints generate (#2682)
  cmd/aperturectl/cmd/blueprints/generate.go
Due: updated-aperture

Fixes and improvements on documentation (#2680)
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/delete/policy.go
  cmd/aperturectl/cmd/installation/utils.go
  cmd/aperturectl/cmd/utils/utils.go
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/policies/assets/values.yaml
  docs/content/get-started/policies/policies.md
  docs/content/integrations/istio/istio.md
  docs/content/self-hosting/agent.md
  docs/content/self-hosting/controller/kubernetes/kubernetes.md
  docs/content/self-hosting/controller/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/self-hosting/controller/kubernetes/operator/operator.md
Due: updated-aperture, updated-aperture-docs

Disable auto scale by default and adds its permission only when enabled (#2681)
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/operator-rbac.yaml
  manifests/charts/aperture-agent/values.yaml
  operator/controllers/agent/config_test.tpl
  pkg/policies/autoscale/kubernetes/config/config.go
  playground/scenarios/service-protection-auto-scale-escalation/values.yaml
Due: updated-aperture, updated-aperture-docs

Dropped auto-scaling use-case (#2684)
  docs/content/integrations/auto-scale/auto-scale.md
  docs/content/introduction.md
  docs/content/use-cases/auto-scaling/assets/auto-scaling/auto-scaling.mmd
  docs/content/use-cases/auto-scaling/assets/auto-scaling/auto-scaling.mmd.md5sum
  docs/content/use-cases/auto-scaling/assets/auto-scaling/auto-scaling.mmd.svg
  docs/content/use-cases/auto-scaling/assets/load-based-auto-scaling/dashboard.png
  docs/content/use-cases/auto-scaling/assets/load-based-auto-scaling/graph.mmd
  docs/content/use-cases/auto-scaling/assets/load-based-auto-scaling/graph.mmd.md5sum
  docs/content/use-cases/auto-scaling/assets/load-based-auto-scaling/graph.mmd.svg
  docs/content/use-cases/auto-scaling/assets/load-based-auto-scaling/policy.yaml
  docs/content/use-cases/auto-scaling/assets/load-based-auto-scaling/validate.sh
  docs/content/use-cases/auto-scaling/assets/load-based-auto-scaling/values.yaml
  docs/content/use-cases/auto-scaling/auto-scaling.md
  docs/content/use-cases/auto-scaling/load-based-auto-scaling.md
Due: updated-aperture-docs

Add Static Panels to Load Scheduler Dashboard (#2685)
  blueprints/grafana/panels/elasticsearch/es_time_series.libsonnet
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
  blueprints/grafana/panels/request_queue_duration_bar.libsonnet
  blueprints/grafana/panels/total_accepted_requests.libsonnet
  blueprints/grafana/panels/total_accepted_tokens.libsonnet
  blueprints/grafana/panels/total_incoming_tokens.libsonnet
  blueprints/grafana/panels/total_rejected_requests.libsonnet
  blueprints/grafana/panels/total_rejected_tokens.libsonnet
  blueprints/grafana/panels/total_requests.libsonnet
  blueprints/grafana/utils/bar_chart_panel.libsonnet
  blueprints/grafana/utils/bar_gauge_panel.libsonnet
  blueprints/grafana/utils/stat_panel.libsonnet
Due: none

docs: update usage of aperturectl blueprints generate (#2689)
  docs/content/get-started/policies/policies.md
  docs/content/use-cases/adaptive-service-protection/average-latency-feedback.md
  docs/content/use-cases/adaptive-service-protection/workload-prioritization.md
  docs/content/use-cases/managing-quotas/inter-service-rate-limiting.md
  docs/content/use-cases/percentage-rollouts/average-latency-feedback.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/rate-limiting/static-rate-limiting.md
Due: updated-aperture-docs

Controller fixes (#2690)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/values.yaml
  pkg/etcd/config.go
  pkg/net/grpc/server.go
  pkg/utils/helpers.go
Due: updated-aperture, updated-aperture-docs

refactor: use proto format when writing proto messages to etcd (#2691)
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperturectl/cmd/utils/utils.go
  pkg/discovery/entities/entities.go
  pkg/discovery/kubernetes/service-discovery.go
  pkg/peers/peers.go
  pkg/policies/controlplane/crwatcher/watcher.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/resources/infra-meters/infra-meters.go
  pkg/policies/controlplane/validator.go
Due: updated-aperture

rename panel (#2692)
  blueprints/grafana/panels/request_queue_duration_bar.libsonnet
Due: none

Fixed policy update using API (#2693)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture, updated-aperture-docs

Use cloud-controller component when updating controller (#2694)
  .circleci/continue-workflows.yml
  .opsninja.yaml
Due: none

Made service optional in flow-control preview and other fixes (#2695)
  .circleci/continue-workflows.yml
  cmd/aperturectl/cmd/cloud/apply/dynamic-config.go
  cmd/aperturectl/cmd/cloud/apply/root.go
  cmd/aperturectl/cmd/cloud/flowcontrol/preview.go
  cmd/aperturectl/cmd/cloud/root.go
  cmd/aperturectl/cmd/cloud/status/root.go
  cmd/aperturectl/cmd/flowcontrol/preview.go
  cmd/aperturectl/cmd/utils/policies.go
  docs/content/reference/aperturectl/cloud/apply/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/cloud/auto-scale/auto-scale.md
  docs/content/reference/aperturectl/cloud/auto-scale/control-points/control-points.md
  docs/content/reference/aperturectl/cloud/cloud.md
  docs/content/reference/aperturectl/cloud/decisions/decisions.md
  docs/content/reference/aperturectl/cloud/status/status.md
  docs/content/reference/aperturectl/flow-control/preview/preview.md
Due: updated-aperture, updated-aperture-docs

Backward compatible policy read (#2696)
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/provider.go
Due: updated-aperture

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
