Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Add support for workload_label_key in Scheduler configuration (#2927)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/blueprint-assets-generator.py
  blueprints/common/config-defaults.libsonnet
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/scheduler.libsonnet
  blueprints/load-ramping/base/gen/values.yaml
  blueprints/load-scheduling/average-latency/gen/values.yaml
  blueprints/load-scheduling/cpu-overload-protection-k8s/gen/values.yaml
  blueprints/load-scheduling/elasticsearch/gen/values.yaml
  blueprints/load-scheduling/java-gc-generic/gen/values.yaml
  blueprints/load-scheduling/java-gc-k8s/gen/values.yaml
  blueprints/load-scheduling/postgresql/gen/values.yaml
  blueprints/load-scheduling/promql/gen/values.yaml
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/quota-scheduling/base/policy.libsonnet
  blueprints/rate-limiting/base/config.libsonnet
  blueprints/rate-limiting/base/gen/definitions.json
  blueprints/rate-limiting/base/gen/values.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/values.yaml
  docs/content/reference/aperture-cli/policies/assets/raw_values.yaml
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/blueprints/rate-limiting/base.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
Due: updated-aperture, updated-aperture-docs

Update Sampler label_key to session_label_key (#2929)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/samplerparameters.libsonnet
  blueprints/load-ramping/base/config.libsonnet
  blueprints/load-ramping/base/gen/definitions.json
  blueprints/load-ramping/base/gen/values.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/blueprints/load-ramping/base.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
  playground/scenarios/feature-rollout/policies/load-ramping-cr.yaml
  playground/scenarios/feature-rollout/policies/load-ramping.yaml
Due: updated-aperture, updated-aperture-docs

Add sdk example to per user rate limiting guide (#2932)
  docs/content/guides/per-user-rate-limiting.md
Due: updated-aperture-docs

Blueprints cleanup (#2931)
  blueprints/auto-scaling/common/policy.libsonnet
  blueprints/auto-scaling/pod-auto-scaler/policy.libsonnet
  blueprints/common/config-defaults.libsonnet
  blueprints/load-ramping/base/policy.libsonnet
  blueprints/load-scheduling/average-latency/policy.libsonnet
  blueprints/load-scheduling/common-aiad/policy.libsonnet
  blueprints/load-scheduling/common-aimd/policy.libsonnet
  blueprints/load-scheduling/common-range/policy.libsonnet
  blueprints/load-scheduling/common/policy.libsonnet
  blueprints/load-scheduling/elasticsearch/bundle.libsonnet
  blueprints/load-scheduling/elasticsearch/config.libsonnet
  blueprints/load-scheduling/elasticsearch/gen/definitions.json
  blueprints/load-scheduling/elasticsearch/gen/values.yaml
  blueprints/load-scheduling/postgresql/bundle.libsonnet
  blueprints/load-scheduling/postgresql/config.libsonnet
  blueprints/load-scheduling/postgresql/gen/definitions.json
  blueprints/load-scheduling/postgresql/gen/values.yaml
  blueprints/load-scheduling/promql/policy.libsonnet
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/config.libsonnet
  blueprints/rate-limiting/base/policy.libsonnet
  docs/content/guides/database-load-management/assets/postgresql/values.yaml
  docs/content/reference/blueprints/load-scheduling/elasticsearch.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
  docs/content/reference/blueprints/quota-scheduling/base.md
  playground/scenarios/elasticsearch-overload/metadata.json
  playground/scenarios/elasticsearch-overload/policies/elasticsearch-overload-cr.yaml
  playground/scenarios/elasticsearch-overload/policies/elasticsearch-overload.yaml
  playground/scenarios/graceful-js/policies/postgres-connections.yaml
Due: updated-aperture-docs

Add comment and remove error in sdk example (#2933)
  docs/content/guides/per-user-rate-limiting.md
Due: updated-aperture-docs

aperture_js: provide default credentials (#2938)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/consts.ts
Due: none

js/go sdks: use structs for arguments & remove tryConnect function (#2939)
  sdks/aperture-go/example/main.go
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
  sdks/aperture-go/sdk/middleware/utils.go
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/consts.ts
Due: none

Csharp sdk (#2930)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  api/Makefile
  api/buf.gen.aperture-langs2.yaml
  docs/content/sdk/dotnet/dotnet.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/sdk.md
  sdks/aperture-csharp/.gitignore
  sdks/aperture-csharp/ApertureSDK.csproj
  sdks/aperture-csharp/ApertureSDK.sln
  sdks/aperture-csharp/Core/ApertureSdk.cs
  sdks/aperture-csharp/Core/ApertureSdkBuilder.cs
  sdks/aperture-csharp/Core/Constants.cs
  sdks/aperture-csharp/Core/FeatureFlow.cs
  sdks/aperture-csharp/Core/FeatureFlowParams.cs
  sdks/aperture-csharp/Core/FlowDecision.cs
  sdks/aperture-csharp/Core/FlowStatus.cs
  sdks/aperture-csharp/Core/IApertureSdk.cs
  sdks/aperture-csharp/Core/IFlow.cs
  sdks/aperture-csharp/Core/Utils.cs
  sdks/aperture-csharp/Dockerfile
  sdks/aperture-csharp/Examples/Examples.csproj
  sdks/aperture-csharp/Examples/Program.cs
  sdks/aperture-csharp/Examples/log4net.config
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/Check.cs
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/CheckGrpc.cs
  sdks/aperture-csharp/LICENSE.txt
  sdks/aperture-csharp/README.md
Due: updated-aperture-docs

Improved Code Examples in Docs (#2943)
  docs/content/get-started/define-control-points.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/javascript/manual.md
Due: updated-aperture-docs

Update ssh keys for aperture-csharp (#2945)
  .circleci/continue-workflows.yml
  sdks/aperture-csharp/README.md
Due: none

Add circleci config for aperture-csharp (#2946)
  sdks/aperture-csharp/.circleci/config.yml
  sdks/aperture-csharp/.circleci/continue-workflows.yml
Due: none

Fix playground SDK examples (#2947)
  playground/tanka/lib/apps/aperture-sdk-example/aperture-sdk-example.libsonnet
Due: none

Update docs with caching example and aperture-js sdk example (#2949)
  docs/content/get-started/define-control-points.md
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/cache.ts
  sdks/aperture-js/sdk/index.ts
Due: updated-aperture-docs

Java SDK: Make startFlow argument a struct (#2941)
  docs/content/sdk/java/manual.md
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/FeatureFlowParameters.java
  sdks/aperture-java/version.gradle.kts
Due: updated-aperture-docs

Update Agent API key creation instructions in Dot Net SDK doc (#2948)
  docs/content/sdk/dotnet/manual.md
Due: updated-aperture-docs

update sign-up assets (#2950)
  docs/content/get-started/assets/sign-up/console-view.png
  docs/content/get-started/assets/sign-up/create-organization.png
  docs/content/get-started/assets/sign-up/final-step.png
Due: updated-aperture-docs

Add default value for rate limiter limit_by_label_key in config files (#2951)
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/config.libsonnet
  blueprints/rate-limiting/base/gen/definitions.json
  blueprints/rate-limiting/base/gen/values.yaml
  docs/content/reference/aperture-cli/policies/assets/raw_values.yaml
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/blueprints/rate-limiting/base.md
Due: updated-aperture-docs

Update aperture-js version (#2957)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
  sdks/aperture-js/updateVersion.mjs
Due: none

Add C# SDK package parameters and update docs with NuGet package link (#2953)
  docs/content/sdk/dotnet/manual.md
  sdks/aperture-csharp/ApertureSDK.csproj
  sdks/aperture-csharp/README_SIMPLE.md
Due: updated-aperture-docs

Rework Documentation (#2958)
  docs/content/aperture-for-infra/agent/docker.md
  docs/content/aperture-for-infra/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/daemonset.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/define-control-points.md
  docs/content/get-started/get-started.md
  docs/content/get-started/policies/policies.md
  docs/content/reference/aperture-cli/configure-cli.md
  docs/content/reference/cloud-ui/api-keys.md
  docs/content/reference/cloud-ui/assets/api-keys.gif
  docs/content/reference/cloud-ui/assets/personal-api-keys.gif
  docs/content/reference/cloud-ui/assets/sign-up/console-view.png
  docs/content/reference/cloud-ui/assets/sign-up/create-org.png
  docs/content/reference/cloud-ui/assets/sign-up/get-started.png
  docs/content/reference/cloud-ui/assets/sign-up/install-aperture.png
  docs/content/reference/cloud-ui/assets/sign-up/invite-members.png
  docs/content/reference/cloud-ui/assets/sign-up/project-name.png
  docs/content/reference/cloud-ui/assets/sign-up/select-subscription.png
  docs/content/reference/cloud-ui/assets/sign-up/sign-up.png
  docs/content/reference/cloud-ui/assets/sign-up/subscribe.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-plan.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-started.png
  docs/content/reference/cloud-ui/assets/sign-up/thats-all.png
  docs/content/reference/cloud-ui/assets/sign-up/usergroups.png
  docs/content/reference/cloud-ui/cloud-ui.md
  docs/content/reference/cloud-ui/personal-access-tokens.md
  docs/content/reference/cloud-ui/sign-up.md
  docs/content/reference/configuration/aperturectl.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/armeria.md
  docs/content/sdk/java/auto-instrumentation.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/java/netty.md
  docs/content/sdk/java/springboot.md
  docs/content/sdk/java/tomcat.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
Due: updated-aperture-docs

Fix pod labels and annotations reconciliation in operator (#2959)
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/deployment.go
  operator/controllers/controller/deployment.go
  operator/controllers/utils.go
Due: none

Add aperture-js docs (#2961)
  .pre-commit-config.yaml
  docs/content/sdk/javascript/manual.md
  scripts/precommit/generate_aperturejs_docs.sh
  sdks/aperture-js/README.md
  sdks/aperture-js/docs/README.md
  sdks/aperture-js/docs/classes/ApertureClient.md
  sdks/aperture-js/docs/classes/CachedValueResponse.md
  sdks/aperture-js/docs/classes/DeleteCachedValueResponse.md
  sdks/aperture-js/docs/classes/Flow.md
  sdks/aperture-js/docs/classes/SetCachedValueResponse.md
  sdks/aperture-js/docs/enums/LookupStatus.md
  sdks/aperture-js/docs/enums/OperationStatus.md
  sdks/aperture-js/docs/interfaces/FlowParams.md
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/scripts/docs_to_readme.sh
  sdks/aperture-js/sdk/cache.ts
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/consts.ts
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-js/tsconfig.json
Due: updated-aperture-docs

update ui screenshots (#2962)
  docs/content/get-started/policies/assets/1-create-policy.png
  docs/content/get-started/policies/assets/2-create-policy.png
  docs/content/get-started/policies/assets/2-use-case-select.png
  docs/content/get-started/policies/assets/3-choose-blueprint.png
  docs/content/get-started/policies/assets/3-use-case-selection.png
  docs/content/get-started/policies/assets/4-choose-blueprint.png
  docs/content/get-started/policies/assets/4-customize-blueprint.png
  docs/content/get-started/policies/assets/5-customize-blueprint.png
  docs/content/get-started/policies/assets/5-review-policy.png
  docs/content/get-started/policies/assets/6-policy-applied.png
  docs/content/get-started/policies/assets/7-review-the-draft.png
  docs/content/get-started/policies/assets/8-policy-applied.png
  docs/content/get-started/policies/policies.md
  docs/content/reference/cloud-ui/api-keys.md
  docs/content/reference/cloud-ui/assets/api-keys/api-keys-tab.png
  docs/content/reference/cloud-ui/assets/api-keys/create-api-key.png
  docs/content/reference/cloud-ui/assets/personal-access-keys/new-personal-access-token.png
  docs/content/reference/cloud-ui/assets/personal-access-keys/personal-access-token-tab.png
  docs/content/reference/cloud-ui/assets/personal-access-keys/settings.png
  docs/content/reference/cloud-ui/assets/sign-up/console-view.png
  docs/content/reference/cloud-ui/assets/sign-up/create-org.png
  docs/content/reference/cloud-ui/assets/sign-up/create-project.png
  docs/content/reference/cloud-ui/assets/sign-up/create-usergroup.png
  docs/content/reference/cloud-ui/assets/sign-up/get-started.png
  docs/content/reference/cloud-ui/assets/sign-up/install-aperture.png
  docs/content/reference/cloud-ui/assets/sign-up/invite-members.png
  docs/content/reference/cloud-ui/assets/sign-up/project-name.png
  docs/content/reference/cloud-ui/assets/sign-up/select-subscription.png
  docs/content/reference/cloud-ui/assets/sign-up/sign-up.png
  docs/content/reference/cloud-ui/assets/sign-up/subscribe.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-plan.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-started.png
  docs/content/reference/cloud-ui/assets/sign-up/thats-all.png
  docs/content/reference/cloud-ui/assets/sign-up/usergroups.png
  docs/content/reference/cloud-ui/personal-access-tokens.md
  docs/content/reference/cloud-ui/sign-up.md
Due: updated-aperture-docs

Add GH workflows to release SDKs on aperture release (#2963)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  sdks/aperture-go/.github/workflows/create_release.yaml
  sdks/aperture-java/.github/workflows/create_release.yaml
  sdks/aperture-js/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Due: none

Fix SDK version preparation (#2966)
  docs/content/aperture-for-infra/agent/agent.md
  docs/content/aperture-for-infra/agent/bare-metal.md
  docs/content/aperture-for-infra/agent/docker.md
  docs/content/aperture-for-infra/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/daemonset.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/operator.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/sidecar.md
  docs/content/aperture-for-infra/controller/kubernetes/kubernetes.md
  docs/content/aperture-for-infra/guides/service-load-management/service-load-management.md
  docs/content/aperture-for-infra/k8s-objects.md
  docs/content/concepts/advanced/auto-scale.md
  docs/content/concepts/advanced/circuit.md
  docs/content/concepts/advanced/classifier.md
  docs/content/concepts/advanced/dynamic-configuration.md
  docs/content/concepts/advanced/flux-meter.md
  docs/content/concepts/advanced/policy.md
  docs/content/concepts/advanced/service.md
  docs/content/concepts/control-point.md
  docs/content/concepts/flow-label.md
  docs/content/concepts/flow-lifecycle.md
  docs/content/concepts/rate-limiter.md
  docs/content/concepts/selector.md
  docs/content/get-started/define-control-points.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/armeria.md
  docs/content/sdk/java/auto-instrumentation.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/java/netty.md
  docs/content/sdk/java/springboot.md
  docs/content/sdk/java/tomcat.md
  sdks/aperture-go/.github/workflows/create_release.yaml
  sdks/aperture-java/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Due: updated-aperture-docs

Add GH_TOKEN for gh cli to work (#2967)
  .circleci/config.yml
  sdks/aperture-go/.github/workflows/create_release.yaml
  sdks/aperture-java/.github/workflows/create_release.yaml
  sdks/aperture-js/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Due: none

Add cache attributes to OLAP telemetry (#2968)
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
Due: updated-aperture

Code snippets from examples (#2964)
  Makefile
  docs/Makefile
  docs/content/code-snippets.json
  docs/content/codeSnippet.js
  docs/content/concepts/advanced/dynamic-configuration.md
  docs/content/get-started/define-control-points.md
  docs/content/guides/api-quota-management/api-quota-management.md
  docs/content/guides/caching.md
  docs/content/guides/per-user-rate-limiting.md
  docs/tools/sdk/generate-code-snippets.go
  sdks/aperture-go/example/main.go
  sdks/aperture-js/example/basic_usage.ts
Due: updated-aperture-docs

remove empty and update get started docs (#2970)
  docs/content/get-started/define-control-points.md
  docs/content/guides/caching.md
Due: updated-aperture-docs

Add cache support to python SDK (#2965)
  sdks/aperture-py/aperture_sdk/cache.py
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
Due: none

Fix validator in label matcher operator (#2972)
  api/aperture/policy/language/v1/label_matcher.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/selectors/selector.go
Due: updated-aperture, updated-aperture-docs

Fix field name for alerter in blueprints (#2975)
  blueprints/quota-scheduling/base/policy.libsonnet
  blueprints/rate-limiting/base/policy.libsonnet
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.md5sum
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.svg
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/aperture-for-infra/guides/assets/per-user-rate-limiting/graph.mmd
  docs/content/aperture-for-infra/guides/assets/per-user-rate-limiting/graph.mmd.md5sum
  docs/content/aperture-for-infra/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/aperture-for-infra/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/aperture-for-infra/guides/classifying-workloads/assets/graphql/graph.mmd
  docs/content/aperture-for-infra/guides/classifying-workloads/assets/graphql/graph.mmd.md5sum
  docs/content/aperture-for-infra/guides/classifying-workloads/assets/graphql/graph.mmd.svg
  docs/content/aperture-for-infra/guides/classifying-workloads/assets/graphql/policy.yaml
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.md5sum
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  playground/scenarios/graphql-rate-limiting/policies/graphql-rate-limiting-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/rate-limiting/policies/rate-limiting-cr.yaml
Due: updated-aperture-docs

SDK CI allow empty commit when version is updated via aperture (#2976)
  sdks/aperture-java/.github/workflows/create_release.yaml
  sdks/aperture-js/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Due: none

JS SDK create version using the latest tag (#2977)
  sdks/aperture-js/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Due: none

revamp get started section (#2974)
  docs/content/aperture-for-infra/k8s-objects.md
  docs/content/get-started/assets/rate_limiter_blueprint.png
  docs/content/get-started/define-control-points.md
  docs/content/get-started/get-started.md
  docs/content/reference/cloud-ui/policies/assets/1-create-policy.png
  docs/content/reference/cloud-ui/policies/assets/2-use-case-select.png
  docs/content/reference/cloud-ui/policies/assets/3-choose-blueprint.png
  docs/content/reference/cloud-ui/policies/assets/4-customize-blueprint.png
  docs/content/reference/cloud-ui/policies/assets/5-review-policy.png
  docs/content/reference/cloud-ui/policies/assets/6-policy-applied.png
  docs/content/reference/cloud-ui/policies/policy-creation.md
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
