Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Made the maps write safe in SDK middle-ware helpers (#1358)
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
Due: none

Update OTEL to v0.71.0 (#1343)
  cmd/sdk-validator/main.go
  go.mod
  go.sum
  pkg/otelcollector/rollupprocessor/key.go
Due: updated-aperture

Used zerolog in Go SDK instead of aperture log (#1359)
  api/buf.lock
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
Due: none

Add option to skip building plugins in playground (#1360)
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  playground/Tiltfile
Due: updated-aperture

Support nested components in graph converter (#1344)
  api/aperture/policy/monitoring/v1/policy_view.proto
  api/gen/proto/go/aperture/policy/monitoring/v1/policy_view.pb.go
  api/gen/proto/go/aperture/policy/monitoring/v1/policy_view.pb.json.go
  api/gen/proto/go/aperture/policy/monitoring/v1/policy_view_deepcopy.gen.go
  cmd/aperturectl/cmd/utils/utils.go
  pkg/policies/controlplane/circuitfactory/graph.go
Due: updated-aperture

blueprints: fix readme links (#1362)
  blueprints/README.md
Due: none

Replaced zerolog with logr in Go SDK (#1364)
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
Due: none

Corrected aperturectl brew install command for linux (#1366)
  docs/content/get-started/aperture-cli/aperture-cli.md
Due: updated-aperture-docs

Replaced zerolog with stdr as default logger in SDK (#1367)
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
Due: none

Update buf commit (#1368)
  api/buf.lock
Due: none

blueprints: add jsonschema for blueprints (#1371)
  blueprints/dashboards/signals-dashboard/definitions.json
  blueprints/dashboards/signals-dashboard/dynamic-config-definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/dynamic-config-definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/dynamic-config-values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/dynamic-config-values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/dynamic-config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/values.yaml
  blueprints/policies/static-rate-limiting/definitions.json
  blueprints/policies/static-rate-limiting/dynamic-config-definitions.json
  blueprints/policies/static-rate-limiting/values-required.yaml
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/list.go
  cmd/aperturectl/cmd/blueprints/pull.go
  cmd/aperturectl/cmd/blueprints/remove.go
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/blueprints/values.go
  docs/content/get-started/policies/assets/raw_values.yaml
  docs/content/reference/aperturectl/blueprints/values/values.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  requirements.txt
  scripts/blueprint-readme-generator.py
  scripts/generate_blueprints_docs.sh
Due: updated-aperture, updated-aperture-docs

Avoid data race in cache.GetAll (#1373)
  pkg/cache/cache.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/flowcontrol/service/controlpoints/controlpoints.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
Due: updated-aperture

Fix handling of EDITOR and VISUAL environment variables with spaces (#1376)
  cmd/aperturectl/cmd/blueprints/values.go
Due: updated-aperture

Reduce alert resolve timeout (#1375)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/status/registry.go
Due: updated-aperture, updated-aperture-docs

blueprints: move generated assets to subdirectories (#1377)
  Makefile
  blueprints/CONTRIBUTING.md
  blueprints/dashboards/signals-dashboard/gen/definitions.json
  blueprints/dashboards/signals-dashboard/gen/dynamic-config-definitions.json
  blueprints/dashboards/signals-dashboard/gen/dynamic-config-values-required.yaml
  blueprints/dashboards/signals-dashboard/gen/dynamic-config-values.yaml
  blueprints/dashboards/signals-dashboard/gen/values-required.yaml
  blueprints/dashboards/signals-dashboard/gen/values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/dynamic-config-definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/dynamic-config-values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/dynamic-config-values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  blueprints/policies/static-rate-limiting/gen/definitions.json
  blueprints/policies/static-rate-limiting/gen/dynamic-config-definitions.json
  blueprints/policies/static-rate-limiting/gen/dynamic-config-values-required.yaml
  blueprints/policies/static-rate-limiting/gen/dynamic-config-values.yaml
  blueprints/policies/static-rate-limiting/gen/values-required.yaml
  blueprints/policies/static-rate-limiting/gen/values.yaml
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/blueprints/values.go
  docs/content/get-started/playground/playground.md
  docs/content/get-started/policies/assets/validate.sh
  scripts/blueprint-assets-generator.py
  scripts/generate_blueprints_assets.sh
Due: updated-aperture, updated-aperture-docs

config: disallow unknown fields (#1378)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/api/common/common_types.go
  operator/api/common/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/services.go
  operator/controllers/agent/services_test.go
  operator/controllers/controller/config_test.tpl
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/services.go
  operator/controllers/controller/services_test.go
  operator/controllers/controller/validating_webhook_configuration.go
  operator/controllers/controller/validating_webhook_configuration_test.go
  operator/controllers/mutatingwebhook/agent_pod.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  pkg/config/koanf-unmarshaller.go
  pkg/config/koanf-unmarshaller_test.go
  pkg/net/config-operations.go
  pkg/net/listener/provider.go
  playground/tanka/apps/policy/mixins.libsonnet
  test/aperture_suite_test.go
Due: updated-aperture, updated-aperture-docs

Update latest environment instead of customer-demo on changes from main (#1379)
  .circleci/continue-workflows.yml
Due: none

Backward compatibility for generating values file in aperturectl (#1380)
  cmd/aperturectl/cmd/blueprints/values.go
Due: updated-aperture

Fixed the pre-commit due to new version of helm readme generator (#1381)
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-controller/README.md
Due: none

Changes for release 0.24.x (#1382)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

aimd_concurrency_limiter: use load multiplier as control variable (#1385)
  .pre-commit-config.yaml
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/aimdconcurrencycontroller.libsonnet
  blueprints/gen/v1/aimdconcurrencycontrollerouts.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/policy.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/spec.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.jsonnet
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/values.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.yaml
  docs/gen/policy/policy.yaml
  manifests/charts/Makefile
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-controller/README.md
  manifests/charts/istioconfig/README.md
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/policies/controlplane/circuitfactory/aimd-concurrency-controller.go
  pkg/policies/controlplane/components/arithmetic-combinator.go
  playground/tanka/apps/policy/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

use a separate panel for accepted vs. rejected decisions (#1386)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/dashboard.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

aimd concurrency limiter: use integrator component (#1387)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/integrator.libsonnet
  blueprints/gen/v1/integratorins.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/aimd-concurrency-controller.go
  pkg/policies/controlplane/components/integrator.go
Due: updated-aperture, updated-aperture-docs

integrator: max inport should be optional (#1393)
  docs/content/concepts/integrations/flow-control/components/concurrency-limiter.md
  pkg/policies/controlplane/components/integrator.go
Due: updated-aperture, updated-aperture-docs

aperturectl: validate values and generated policies in generate command (#1392)
  blueprints/dashboards/signals-dashboard/gen/definitions.json
  blueprints/dashboards/signals-dashboard/gen/values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  blueprints/policies/static-rate-limiting/gen/definitions.json
  blueprints/policies/static-rate-limiting/gen/values.yaml
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/globals.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/utils/utils.go
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  go.mod
  scripts/blueprint-assets-generator.py
Due: updated-aperture, updated-aperture-docs

blueprints asset generator: minor fix (#1395)
  scripts/blueprint-assets-generator.py
Due: none

Policy: Rename components and ports for clarity (#1384)
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/sync/v1/pod_autoscaler.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/sync/v1/pod_autoscaler.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/pod_autoscaler.pb.json.go
  api/gen/proto/go/aperture/policy/sync/v1/pod_autoscaler_deepcopy.gen.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/autoscale.libsonnet
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/podscaler.libsonnet
  blueprints/gen/v1/podscalerscaleactuator.libsonnet
  blueprints/gen/v1/podscalerscaleactuatordynamicconfig.libsonnet
  blueprints/gen/v1/podscalerscaleactuatorins.libsonnet
  blueprints/gen/v1/podscalerscalereporter.libsonnet
  blueprints/gen/v1/podscalerscalereporterouts.libsonnet
  blueprints/gen/v1/switcher.libsonnet
  blueprints/gen/v1/switcherins.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.jsonnet
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/values.yaml
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/auto-scale-components.go
  pkg/policies/controlplane/components/actuators/podscaler/pod-scaler.go
  pkg/policies/controlplane/components/actuators/podscaler/scale-actuator.go
  pkg/policies/controlplane/components/actuators/podscaler/scale-reporter.go
  pkg/policies/controlplane/components/switcher.go
  pkg/policies/controlplane/validator_test.go
  pkg/policies/infra/actuators/podscaler/pod-scaler.go
  pkg/policies/infra/actuators/provide.go
  pkg/policies/paths/paths.go
  playground/tanka/apps/policy/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

refactor min/max constraints (#1396)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/dashboards/signals-dashboard/config.libsonnet
  blueprints/dashboards/signals-dashboard/gen/values.yaml
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/integrator.libsonnet
  blueprints/gen/v1/integratorins.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/dashboard.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
  docs/content/reference/policies/bundled-blueprints/dashboards/signals-dashboard.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/controller/controller-component.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/controlplane/components/integrator.go
  pkg/policies/controlplane/constraints/min-max-constraints.go
  pkg/policies/controlplane/constraints/min-max-constraints_suite_test.go
  pkg/policies/controlplane/constraints/min-max-constraints_test.go
  playground/tanka/apps/policy/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

Handled minor change for backward compatibility in aperturectl (#1397)
  cmd/aperturectl/cmd/utils/utils.go
Due: updated-aperture

Added CI config for updating demo on release (#1399)
  .circleci/post-release.yaml
  .circleci/scripts/update_environment.sh
Due: none

Properly handle request to v1/status root (#1400)
  pkg/status/status-service.go
Due: updated-aperture

Added missing asdf command in post-release script (#1402)
  .circleci/post-release.yaml
  .circleci/scripts/update_environment.sh
Due: none

Corrected environment variable name in post-release script (#1405)
  .circleci/post-release.yaml
Due: none

Remove playground app definitions for demoapp, as it's now managed as a scenario (#1407)
  playground/tanka/apps/demoapp/main.jsonnet
  playground/tanka/apps/demoapp/mixins.libsonnet
Due: none

Fixed issues observed in playground (#1409)
  .gitignore
  Makefile
  playground/Tiltfile
  playground/scenarios/graphql-example-1/load_generator/test.js
  playground/scenarios/graphql-example-1/manifests/main.jsonnet
  playground/scenarios/graphql-example-1/manifests/main.libsonnet
  playground/scenarios/graphql-example-1/manifests/mixins.libsonnet
  playground/scenarios/graphql-example-1/metadata.json
  playground/scenarios/graphql-example-1/policies/graphql-static-rate-limiting.yaml
  playground/scenarios/graphql-example-1/policies/policy.jsonnet
Due: none

platform: replace gocron with goquartz (#1408)
  .tool-versions
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  go.mod
  go.sum
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/controller/config_test.tpl
  pkg/jobs/job-group.go
  pkg/jobs/job-tracker.go
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
  pkg/jobs/zz_generated.deepcopy.go
  pkg/log/log.go
  pkg/policies/controlplane/components/promql/promql.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/tick-info.go
  pkg/policies/controlplane/sim/circuit.go
  pkg/policies/flowcontrol/actuators/rate/rate-limiter.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/lazy-sync-rate-tracker.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/rate-tracker_test.go
  pkg/status/registry.go
  pkg/watchdog/watchdog.go
Due: updated-aperture, updated-aperture-docs

Fixed demo-app chart location (#1410)
  .opsninja.yaml
Due: none

Updated demo-app scenario to use mixins (#1411)
  .circleci/config.yml
  playground/scenarios/demo-app/manifests/main.jsonnet
  playground/scenarios/demo-app/manifests/mixins.libsonnet
Due: none

Fixed issue of aperturectl failing on first execution (#1415)
  cmd/aperturectl/cmd/blueprints/root.go
Due: updated-aperture
