Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

aperturectl: remove tempdir when done with apply (#1296
  cmd/aperturectl/cmd/blueprints/generate.go
Due: updated-aperture

Minor fix in aperturectl doc indentation (#1298)
  cmd/aperturectl/cmd/blueprints/values.go
Due: updated-aperture

precommit: bring back aperturectl docs step (#1300)
  .pre-commit-config.yaml
  Makefile
  docs/Makefile
  docs/content/reference/aperturectl/blueprints/values/values.md
  scripts/precommit/generate_aperturectl_docs.sh
Due: updated-aperture-docs

Fixed the rate limit dashboard issue (#1301)
  blueprints/policies/static-rate-limiting/dashboard.libsonnet
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

Updated commands per shell type for auto completion (#1302)
  docs/content/get-started/aperture-cli/aperture-cli.md
Due: updated-aperture-docs

Added validate policy annotation for apply via aperturectl (#1307)
  cmd/aperturectl/cmd/apply/root.go
Due: updated-aperture

Update buf.lock (#1308)
  api/buf.lock
Due: none

Expand env variables in docker image build script (#1229)
  .circleci/scripts/docker_build.sh
Due: none

docs: minor fixes (#1311)
  docs/content/introduction.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
Due: updated-aperture-docs

Add all flavors of Java SDK validations to CI (#1221)
  .circleci/continue-workflows.yml
  playground/Tiltfile
  sdks/aperture-java/Dockerfile
  sdks/aperture-java/dockerfiles/aperture-java-all/Dockerfile
  sdks/aperture-java/dockerfiles/example/Dockerfile
  sdks/aperture-java/dockerfiles/featureflow/Dockerfile
  sdks/aperture-java/dockerfiles/javaagent/armeria/Dockerfile
  sdks/aperture-java/dockerfiles/javaagent/netty/Dockerfile
  sdks/aperture-java/dockerfiles/middlewares/armeria/Dockerfile
  sdks/aperture-java/dockerfiles/middlewares/netty/Dockerfile
  sdks/aperture-java/examples/netty-example/build.gradle.kts
  sdks/aperture-java/examples/standalone-example/build.gradle.kts
  sdks/aperture-java/examples/tomcat-example/build.gradle.kts
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/build.gradle.kts
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/ApertureInstrumentationAgent.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/InstrumentationModule.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/TransformerInstrumentation.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaClientAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaClientInstrumentation.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaInstrumentationModule.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaServerAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaServerInstrumentation.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/netty/NettyInstrumentationModule.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/netty/NettyServerAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/netty/NettyServerInstrumentation.java
  sdks/aperture-java/javaagent/test-services/README.md
  sdks/aperture-java/javaagent/test-services/armeria-test-service/build.gradle.kts
  sdks/aperture-java/javaagent/test-services/armeria-test-service/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/javaagent/test-services/netty-test-service/build.gradle.kts
  sdks/aperture-java/javaagent/test-services/netty-test-service/src/main/java/com/fluxninja/example/HelloWorldHandler.java
  sdks/aperture-java/javaagent/test-services/netty-test-service/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/javaagent/test-services/netty-test-service/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/settings.gradle.kts
  sdks/aperture-java/version.gradle.kts
Due: none

add description on arch page (#1312)
  docs/content/architecture/architecture.md
Due: updated-aperture-docs

tests: Run gomegalint -fix (#1304)
  operator/controllers/agent/agent_suite_test.go
  operator/controllers/agent/reconciler_test.go
  operator/controllers/controller/controller_suite_test.go
  operator/controllers/controller/reconciler_test.go
  operator/controllers/mutatingwebhook/clusterrole_test.go
  operator/controllers/mutatingwebhook/reconciler_test.go
  operator/controllers/namespace/namespace_suite_test.go
  operator/controllers/namespace/reconciler_test.go
  operator/controllers/suite_test.go
  operator/controllers/utils_test.go
  pkg/entitycache/cache_test.go
  pkg/jobs/jobs_test.go
  pkg/policies/flowcontrol/service/envoy/authz_test.go
Due: updated-aperture

Remove not necessary operator build dependencies
  Makefile
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/config/types.go
  cmd/aperture-agent/config/zz_generated.deepcopy.go
  cmd/aperture-controller/config/types.go
  cmd/aperture-controller/config/zz_generated.deepcopy.go
  cmd/aperture-controller/controller/otel-config.go
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/Dockerfile
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/controller/v1alpha1/controller_types.go
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/services_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/services_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
Due: updated-aperture, updated-aperture-docs

Added TUI for aperturectl blueprints generate and values commands (#1305)
  cmd/aperturectl/cmd/apply/root.go
  cmd/aperturectl/cmd/blueprints/values.go
  cmd/aperturectl/cmd/tui/checkbox.go
  go.mod
  go.sum
Due: updated-aperture

Update buf.build commit (#1324)
  api/buf.lock
Due: none

Add link to blog in sidebar (#1326)
  docs/content/sidebars.json
Due: updated-aperture-docs

Remove built-in alerter in LoadActuator, create as normal component (#1325)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/v1/alerterparameters.libsonnet
  blueprints/gen/v1/loadactuator.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/aimd-concurrency-controller.go
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
  pkg/policies/controlplane/components/alerter.go
Due: updated-aperture, updated-aperture-docs

Improved error handling for aperturectl install/uninstall (#1329)
  cmd/aperturectl/cmd/installation/agent.go
  cmd/aperturectl/cmd/installation/controller.go
  cmd/aperturectl/cmd/installation/istioconfig.go
  cmd/aperturectl/cmd/installation/utils.go
Due: updated-aperture

Fixed same job name issue for promql (#1331)
  pkg/policies/controlplane/components/promql/promql.go
Due: updated-aperture

Javaagent advanced configuration (#1321)
  docs/content/get-started/integrations/flow-control/sdk/java/auto-instrumentation.md
  sdks/aperture-java/dockerfiles/javaagent/armeria/Dockerfile
  sdks/aperture-java/dockerfiles/javaagent/netty/Dockerfile
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaClientAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaServerAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/netty/NettyServerAdvice.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/tomcat7/src/main/java/com/fluxninja/aperture/tomcat7/ApertureFilter.java
Due: updated-aperture-docs

Add `policy` and `dynamic-config` sub-commands to `aperturectl apply` (#1309)
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/apply/root.go
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/list.go
  cmd/aperturectl/cmd/blueprints/pull.go
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/blueprints/values.go
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/apply/policy/policy.md
Due: updated-aperture, updated-aperture-docs

Docs: Re-phrase introduction of flow metrics (#1335)
  docs/content/reference/observability/flow-metrics/flow-metrics.md
Due: updated-aperture-docs

Added CI for updating blueprints on customer demo environment (#1332)
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

Added doc for list of kubernetes objects created during installation (#1338)
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/reference/kubernetes-operator/_category_.yml
  docs/content/reference/kubernetes-operator/agent.md
  docs/content/reference/kubernetes-operator/controller.md
  manifests/charts/aperture-agent/templates/_helpers.tpl
  manifests/charts/aperture-controller/templates/_helpers.tpl
Due: updated-aperture-docs

Fixed nil pointer panic in aperturectl generate (#1340)
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/apply/root.go
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/tui/checkbox.go
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/dynamic-config/dynamic-config.md
Due: updated-aperture, updated-aperture-docs

Add `service.name` label to custom metrics (#1341)
  cmd/aperture-agent/agent/otel-config.go
  pkg/otelcollector/consts/consts.go
Due: updated-aperture

Changes for release v0.23.x (#1342)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

add static rate limiting dashboard ss (#1339)
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting-02.png
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting-demo.png
  docs/content/tutorials/integrations/flow-control/rate-limiting/static-rate-limiting.md
Due: updated-aperture-docs

blueprints: fix datasource in signals dashboard (#1346)
  blueprints/dashboards/signals-dashboard/dashboard.libsonnet
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
Due: updated-aperture-docs

Replace all - with _ in alerts label keys (#1334)
  pkg/alerts/alerter.go
Due: updated-aperture

blueprints: fix indentation in values.yaml generator (#1347)
  api/buf.lock
  blueprints/policies/latency-aimd-concurrency-limiting/values.yaml
  scripts/blueprint-readme-generator.py
Due: none

YAML language server jsonschema for policies (#1348)
  .pre-commit-config.yaml
  .tool-versions
  Makefile
  blueprints/CONTRIBUTING.md
  blueprints/gen/jsonschema/_definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/values.yaml
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/globals.go
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/blueprints/values.go
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.yaml
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.md5sum
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.svg
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.yaml
  docs/tools/aperturectl/validate_common.sh
  docs/tools/jsonnet/generate_jsonnet.sh
  docs/tools/jsonnet/json2yaml.go
  go.mod
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  requirements.txt
  scripts/jsonnet-lib-gen.py
Due: updated-aperture, updated-aperture-docs

Propagate `instance` in user defined metrics (#1350)
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/agent/provider.go
Due: updated-aperture

Make gradle assemble javaagent shadowJar (#1349)
  sdks/aperture-java/javaagent/agent/build.gradle.kts
Due: none

Allow additional options to GRPC server (#1354)
  pkg/net/grpc/server.go
Due: updated-aperture

spec: change the naming strategy (#1355)
  api/Makefile
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/selector.proto
  api/buf.gen.aperture.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  api/rewrite-swagger-definitions.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/ratelimiterparameterslazysync.libsonnet
  cmd/aperturectl/cmd/blueprints/generate.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/integrations/flow-control/components/concurrency-limiter.md
  docs/content/concepts/integrations/flow-control/components/rate-limiter.md
  docs/content/concepts/integrations/flow-control/flow-classifier.md
  docs/content/concepts/integrations/flow-control/flow-label.md
  docs/content/concepts/integrations/flow-control/flow-selector.md
  docs/content/concepts/integrations/flow-control/flux-meter.md
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/policy.md
  docs/content/concepts/policy/resources.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/config-swagger.yaml
  docs/gen/policy/metadata
  docs/gen/policy/policy.yaml
  scripts/blueprint-readme-generator.py
  scripts/jsonnet-lib-gen.py
Due: updated-aperture, updated-aperture-docs

Added helpers for middle-ware in Go SDK (#1357)
  sdks/aperture-go/example/main.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
Due: none

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
