Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Fix `nil` pointer when adding `retry-after` header (#2335)
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp_test.go
  pkg/policies/mocks/mock_check.go
Due: updated-aperture

Added client-go auth module in aperturectl (#2334)
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/delete/policy.go
  cmd/aperturectl/cmd/installation/install.go
  cmd/aperturectl/cmd/installation/uninstall.go
  cmd/aperturectl/cmd/installation/utils.go
  cmd/aperturectl/cmd/utils/controller.go
  cmd/aperturectl/cmd/utils/utils.go
Due: updated-aperture

Fix timout behavior when client dealine is not provided (#2336)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Due: updated-aperture, updated-aperture-docs

Docs: Several small fixes and improvements (#2338)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/flowcontrol.libsonnet
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/loadrampseries.libsonnet
  blueprints/gen/v1/loadrampseriesins.libsonnet
  blueprints/gen/v1/loadrampseriesloadrampinstance.libsonnet
  blueprints/gen/v1/loadrampseriesparameters.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/agent-group.md
  docs/content/concepts/classifier.md
  docs/content/concepts/flow-label.md
  docs/content/concepts/flow-lifecycle.md
  docs/content/concepts/selector.md
  docs/content/get-started/policies/policies.md
  docs/content/integrations/auto-scale/kubernetes/kubernetes.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

add diagrams for individual integrations (#2323)
  docs/content/integrations/auto-scale/assets/autoscale-dark.svg
  docs/content/integrations/auto-scale/assets/autoscale-light.svg
  docs/content/integrations/auto-scale/auto-scale.md
  docs/content/integrations/gateway/assets/kong-dark.svg
  docs/content/integrations/gateway/assets/kong-light.svg
  docs/content/integrations/gateway/assets/nginx-dark.svg
  docs/content/integrations/gateway/assets/nginx-light.svg
  docs/content/integrations/gateway/kong.md
  docs/content/integrations/gateway/nginx.md
  docs/content/integrations/istio/assets/istio-dark.svg
  docs/content/integrations/istio/assets/istio-light.svg
  docs/content/integrations/istio/istio.md
  docs/content/integrations/sdk/assets/sdks-dark.svg
  docs/content/integrations/sdk/assets/sdks-light.svg
  docs/content/integrations/sdk/sdk.md
Due: updated-aperture-docs

Add EnableCloudController flag to the fluxninja plugin (#2339)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  extensions/fluxninja/otel/provide.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/controller/config_test.tpl
  pkg/etcd/client/client.go
Due: updated-aperture, updated-aperture-docs

Check if controllerClientCert is not nil before trying to dereference it (#2348)
  operator/controllers/controller/reconciler.go
Due: none

Disable local pipelines on the agent if connecting to the cloud (#2299)
  extensions/fluxninja/otel/provide.go
Due: none

Cast header to string in lua script (#2349)
  gateways/lua/aperture-plugin/access.lua
  gateways/lua/kong/schema.lua
Due: none

Extract signals dashboard field in grouped dashboards (#2350)
  blueprints/grafana/dashboard_group.libsonnet
Due: none

Docs: fixes to type of fields and links (#2351)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/scheduler/scheduler.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Due: updated-aperture, updated-aperture-docs

Docs: Consistent writeup of features in README.md and introduction.md (#2353)
  README.md
  docs/content/introduction.md
Due: updated-aperture-docs

Add policy instructions (#2329)
  docs/content/use-cases/adaptive-service-protection/average-latency-feedback.md
  docs/content/use-cases/adaptive-service-protection/workload-prioritization.md
  docs/content/use-cases/alerting/detecting-overload.md
  docs/content/use-cases/auto-scaling/load-based-auto-scaling.md
  docs/content/use-cases/managing-quotas/client-side-rate-limiting.md
  docs/content/use-cases/percentage-rollouts/average-latency-feedback.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/rate-limiting/static-rate-limiting.md
Due: updated-aperture-docs

De-duplicated receivers and processors of the infra meter OTEL Pipelines (#2355)
  blueprints/utils/utils.libsonnet
  go.mod
  go.sum
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/infra-meter/infra-meter.go
  pkg/otelcollector/otelcollector.go
  playground/scenarios/pod-auto-scale/policies/pod-auto-scaler-cr.yaml
Due: updated-aperture

fix: remove injectDecoder after controller-runtime update to v0.15.0 (#2358)
  operator/controllers/agent/hook.go
  operator/controllers/controller/hook.go
  operator/controllers/mutatingwebhook/mutating_webhook_handler.go
  operator/main.go
Due: none

Fixed volume not found issue in sidecar mode (#2360)
  operator/controllers/agent/reconciler.go
  operator/controllers/namespace/reconciler.go
Due: none

Enable controller TLS in both singleton and multiple-controllers setup (#2362)
  operator/controllers/controller/deployment.go
  operator/controllers/controller/reconciler.go
  operator/controllers/utils.go
Due: none

Support override of controller TLS certificate & keys paths in CR (#2363)
  operator/controllers/controller/reconciler.go
Due: none

Update FAQ with performance numbers (#2364)
  docs/content/faq.md
Due: updated-aperture-docs

Fix operator tests (#2365)
  operator/controllers/controller/deployment_test.go
  operator/controllers/utils_test.go
Due: none

Docs: Fix the path of dry run parameter in use-case (#2366)
  docs/content/use-cases/adaptive-service-protection/average-latency-feedback.md
Due: updated-aperture-docs

Added job to upload policy to latest and Added support to load policy CR in apply and flags to force apply (#2374)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/globals.go
  docs/content/reference/aperturectl/apply/policy/policy.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
Due: updated-aperture, updated-aperture-docs

Added support to get the policy status in the API calls (#2377)
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/telemetry_collector.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_vtproto.pb.go
  api/gen/proto/go/aperture/policy/language/v1/telemetry_collector.pb.go
  blueprints/gen/jsonschema/_definitions.json
  cmd/aperturectl/cmd/policies.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/policy.go
Due: updated-aperture, updated-aperture-docs

Fix OTel ConfiProvider (#2378)
  extensions/fluxninja/otel/otel_test.go
  pkg/otelcollector/config/provider.go
  pkg/otelcollector/config/provider_test.go
  pkg/profilers/profilers.go
Due: updated-aperture

Avoid notifying otel collector of changes multiple times (#2380)
  extensions/fluxninja/otel/otel_test.go
  pkg/otelcollector/config/provider.go
  pkg/otelcollector/config/provider_test.go
Due: updated-aperture

Fixed data race (#2379)
  go.mod
  go.sum
Due: updated-aperture

refactor: Split out Session from etcd/client.Client (#2386)
  extensions/fluxninja/heartbeats/peers-watcher.go
  pkg/etcd/client/client.go
  pkg/etcd/client/with-lease.go
  pkg/etcd/election/election.go
  pkg/etcd/notifier/key.go
  pkg/etcd/notifier/prefix.go
  pkg/etcd/writer/writer.go
  pkg/peers/peers.go
  pkg/peers/peers_test.go
  pkg/policies/autoscale/kubernetes/actuators/podscaler/pod-scaler.go
  pkg/policies/controlplane/components/autoscale/podscaler/config-sync.go
  pkg/policies/controlplane/components/autoscale/podscaler/scale-actuator.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/actuator.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/config-sync.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/quota-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/rate-limiter/rate-limiter.go
  pkg/policies/controlplane/components/flowcontrol/sampler/sampler.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/controlplane/resources/infra-meters/infra-meters.go
  test/etcd_watcher_test.go
Due: updated-aperture

Add initial documentation for ARC Controller configuration (#2387)
  api/buf.lock
  cmd/aperture-agent/agent/otel-config.go
  docs/content/arc/arc.md
  docs/content/arc/extension.md
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-agent/templates/_helpers.tpl
  manifests/charts/aperture-agent/templates/agent-cm.yaml
  manifests/charts/aperture-agent/templates/agent-cr.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/hook.go
  operator/controllers/agent/reconciler.go
  operator/controllers/controller/hook.go
  operator/controllers/controller/reconciler.go
  pkg/etcd/client/client.go
  pkg/etcd/config.go
  pkg/otelcollector/infra-meter/infra-meter.go
  pkg/prometheus/client.go
  pkg/prometheus/config/config.go
  scripts/install_python_tools.sh
Due: updated-aperture, updated-aperture-docs

Always unmarshal etcd client tls config (#2389)
  extensions/fluxninja/extconfig/extconfig.go
  pkg/etcd/client/client.go
Due: updated-aperture

Fixed pre-commit issue (#2393)
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  pkg/prometheus/client.go
Due: updated-aperture, updated-aperture-docs

Documentation: Update descriptions for load scheduling blueprints (#2391)
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
Due: updated-aperture-docs

Fixed sidecar injection corner case (#2394)
  operator/controllers/agent/reconciler.go
Due: none

add words from blog (#2395)
  .github/styles/Vocab/FluxNinja/accept.txt
Due: none

Tweaks in ARC controller docs (#2396)
  docs/content/arc/extension.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture-docs

Allow defining priority label key and reading priority from labels (#2392)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/scheduler.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/scheduler/scheduler.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/request.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
  pkg/utils/math.go
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization-cr.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization.yaml
Due: updated-aperture, updated-aperture-docs

Fix priorities in docs (#2397)
  docs/content/use-cases/adaptive-service-protection/assets/workload-prioritization/policy.yaml
  docs/content/use-cases/adaptive-service-protection/assets/workload-prioritization/values.yaml
  docs/content/use-cases/managing-quotas/assets/client-side-rate-limiting/policy.yaml
  docs/content/use-cases/managing-quotas/assets/client-side-rate-limiting/values.yaml
Due: updated-aperture-docs

aperturectl: Clarify directory merge behavior in warning (#2398)
  cmd/aperturectl/cmd/blueprints/generate.go
Due: updated-aperture

Fix last installation step in docs use-cases (#2399)
  docs/content/use-cases/adaptive-service-protection/average-latency-feedback.md
  docs/content/use-cases/adaptive-service-protection/workload-prioritization.md
  docs/content/use-cases/auto-scaling/load-based-auto-scaling.md
  docs/content/use-cases/managing-quotas/client-side-rate-limiting.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/rate-limiting/static-rate-limiting.md
Due: updated-aperture-docs

Update go version v1.20.6 (#2400)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  scripts/invalidate_asdf_ci_cache.sh
  sdks/aperture-go/Dockerfile
Due: updated-aperture

Improve etcd error reporting and move etcd session startup to background (#2404)
  pkg/etcd/client/client.go
  pkg/etcd/client/session.go
  pkg/etcd/client/with-lease.go
  pkg/etcd/election/election.go
Due: updated-aperture

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
