Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

playground: fix load generator files (#1986)
  docs/content/get-started/playground/playground.md
  playground/Tiltfile
  playground/scenarios/auto-scaling/load-generator/test.js
  playground/scenarios/basic-service-protection/load-generator/test.js
  playground/scenarios/demo-app-fan-in/load-generator/test.js
  playground/scenarios/demo-app-with-no-policy/load-generator/test.js
  playground/scenarios/feature-rollout/dashboards/main.jsonnet
  playground/scenarios/feature-rollout/load-generator/test.js
  playground/scenarios/feature-rollout/metadata.json
  playground/scenarios/feature-rollout/policies/feature-rollout-cr.yaml
  playground/scenarios/feature-rollout/policies/feature-rollout.yaml
  playground/scenarios/graphql-rate-limiting/load-generator/test.js
  playground/scenarios/java-rate-limiting-escalation/load-generator/test.js
  playground/scenarios/prometheus-workload-prioritization/load-generator/test.js
  playground/scenarios/rabbitmq-queue-buildup/load-generator/test.js
  playground/scenarios/rate-limiting-escalation/load-generator/test.js
  playground/scenarios/rate-limiting/load-generator/test.js
  playground/scenarios/rate_limiting-escalation-kong/load-generator/test.js
  playground/scenarios/rate_limiting-escalation-nginx/load-generator/test.js
  playground/scenarios/workload-prioritization/load-generator/test.js
Due: updated-aperture-docs

Add simple method for retrieving reject reason codes to flow classes (#1985)
  sdks/aperture-java/lib/core/build.gradle.kts
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
Due: none

Aperture JS: allow disabling timeout and make fail-open behavior configurable (#1981)
  docs/content/get-started/integrations/flow-control/sdk/javascript/manual.md
  sdks/aperture-js/example/routes/use_aperture.js
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.js
  sdks/aperture-js/sdk/consts.js
  sdks/aperture-js/sdk/flow.js
Due: updated-aperture-docs

Aperture-py: allow disabling timeout and make fail-open behavior configurable (#1946)
  docs/content/get-started/integrations/flow-control/sdk/python/manual.md
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/const.py
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/pyproject.toml
Due: updated-aperture-docs

Removed deprecated types and cleaned up duplicate load generator config (#1991)
  operator/controllers/agent/hook.go
  operator/controllers/controller/hook.go
  pkg/net/grpcgateway/grpcgateway.go
  playground/scenarios/rate-limiting-escalation-kong/dashboards/main.jsonnet
  playground/scenarios/rate-limiting-escalation-kong/load-generator/test.js
  playground/scenarios/rate-limiting-escalation-kong/metadata.json
  playground/scenarios/rate-limiting-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate-limiting-escalation-kong/policies/service1-demo-app.yaml
  playground/scenarios/rate-limiting-escalation-kong/values.yaml
  playground/scenarios/rate-limiting-escalation-nginx/dashboards/main.jsonnet
  playground/scenarios/rate-limiting-escalation-nginx/load-generator/test.js
  playground/scenarios/rate-limiting-escalation-nginx/metadata.json
  playground/scenarios/rate-limiting-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate-limiting-escalation-nginx/policies/service1-demo-app.yaml
  playground/scenarios/rate-limiting-escalation-nginx/values.yaml
  playground/scenarios/rate-limiting-escalation/load_generator/test.js
Due: updated-aperture

Revert "Removed deprecated types and cleaned up duplicate load generator config" (#1992)
  operator/controllers/agent/hook.go
  operator/controllers/controller/hook.go
  pkg/net/grpcgateway/grpcgateway.go
  playground/scenarios/rate-limiting-escalation/load_generator/test.js
  playground/scenarios/rate_limiting-escalation-kong/dashboards/main.jsonnet
  playground/scenarios/rate_limiting-escalation-kong/load-generator/test.js
  playground/scenarios/rate_limiting-escalation-kong/metadata.json
  playground/scenarios/rate_limiting-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting-escalation-kong/policies/service1-demo-app.yaml
  playground/scenarios/rate_limiting-escalation-kong/values.yaml
  playground/scenarios/rate_limiting-escalation-nginx/dashboards/main.jsonnet
  playground/scenarios/rate_limiting-escalation-nginx/load-generator/test.js
  playground/scenarios/rate_limiting-escalation-nginx/metadata.json
  playground/scenarios/rate_limiting-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting-escalation-nginx/policies/service1-demo-app.yaml
  playground/scenarios/rate_limiting-escalation-nginx/values.yaml
Due: updated-aperture

delete DMap when policy is removed (#1994)
  go.mod
  go.sum
  pkg/dist-cache/dist-cache.go
Due: updated-aperture

Increased default replica count of demoapps to 2 (#1993)
  playground/tanka/apps/demo-app/mixins.libsonnet
  playground/tanka/apps/java-demo-app/mixins.libsonnet
Due: none

Use CheckHTTP in Go SDK (#1971)
  .pre-commit-config.yaml
  api/Makefile
  cmd/sdk-validator/main.go
  docs/content/get-started/integrations/flow-control/sdk/go/manual.md
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/example/main.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.gw.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.json.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp_deepcopy.gen.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp_grpc.pb.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/flowstatus.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middlewares/grpc.go
  sdks/aperture-go/sdk/middlewares/http.go
  sdks/aperture-go/sdk/middlewares/utils.go
Due: updated-aperture, updated-aperture-docs

Removed deprecated check for grpcgateway (#1997)
  go.mod
  operator/controllers/agent/hook.go
  operator/controllers/controller/hook.go
  pkg/net/grpcgateway/grpcgateway.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.go
Due: updated-aperture

Fixes in collector reload and shutdown (#1984)
  go.mod
  go.sum
  pkg/otelcollector/config/config-provider.go
Due: updated-aperture

Add prometheus-jmx javaagent to java demo app, expose port (#2003)
  playground/resources/java-demo-app/Dockerfile
  playground/resources/java-demo-app/config.yaml
  playground/scenarios/java-service-protection/metadata.json
  playground/tanka/charts/java-demo-app/templates/deployment.yaml
  playground/tanka/charts/java-demo-app/templates/service.yaml
  playground/tanka/charts/java-demo-app/values.yaml
Due: none

Fix Aperture Controller heading (#2004)
  docs/content/architecture/architecture.md
Due: updated-aperture-docs

Java SDK: Use new flow rejection reason retrieval in libs and examples (#1996)
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/RpcUtils.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
  sdks/aperture-java/version.gradle.kts
Due: none

add quota scheduler and update intro (#2007)
  docs/content/applying-policies/quota-scheduler/assets/with-external-api-calls-prioritization/dashboard.png
  docs/content/applying-policies/quota-scheduler/assets/with-external-api-calls-prioritization/graph.mmd
  docs/content/applying-policies/quota-scheduler/assets/with-external-api-calls-prioritization/graph.mmd.md5sum
  docs/content/applying-policies/quota-scheduler/assets/with-external-api-calls-prioritization/graph.mmd.svg
  docs/content/applying-policies/quota-scheduler/assets/with-external-api-calls-prioritization/policy.yaml
  docs/content/applying-policies/quota-scheduler/assets/with-external-api-calls-prioritization/validate.sh
  docs/content/applying-policies/quota-scheduler/assets/with-external-api-calls-prioritization/values.yaml
  docs/content/applying-policies/quota-scheduler/quota-scheduler.md
  docs/content/applying-policies/quota-scheduler/with-external-api-calls-prioritization.md
  docs/content/introduction.md
Due: updated-aperture-docs

fix broken link (#2008)
  docs/content/applying-policies/quota-scheduler/with-external-api-calls-prioritization.md
Due: updated-aperture-docs

Added util methods for generating CheckHTTPRequest in aperture-go (#2011)
  sdks/aperture-go/sdk/middlewares/grpc.go
  sdks/aperture-go/sdk/middlewares/http.go
  sdks/aperture-go/sdk/middlewares/utils.go
Due: none

Update policies.md (#2012)
  docs/content/get-started/policies/policies.md
Due: updated-aperture-docs

decouple mermaid image generator (#2016)
  docs/Makefile
  docs/content/integrations/flow-control/sdk/java/armeria.md
  docs/content/integrations/flow-control/sdk/java/netty.md
  docs/tools/mermaid/generate_all.sh
  docs/tools/mermaid/generate_mermaid.sh
  docs/tools/otel_collectors/generate_otel_docs.sh
Due: updated-aperture-docs

docs: fix link (#2018)
  docs/content/get-started/setting-up-application/manual-control-points.md
  docs/content/integrations/flow-control/sdk/java/armeria.md
  docs/content/integrations/flow-control/sdk/java/auto-instrumentation.md
  docs/content/integrations/flow-control/sdk/java/netty.md
Due: updated-aperture-docs

New arc diagram (#2014)
  docs/content/assets/diagrams/architecture/architecture_simple.mmd
  docs/content/assets/diagrams/architecture/architecture_simple.mmd.md5sum
  docs/content/assets/diagrams/architecture/architecture_simple.mmd.svg
Due: updated-aperture-docs

Added steps for using workloadSelector in istioconfig chart (#2023)
  docs/content/integrations/flow-control/envoy/istio.md
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/values.yaml
Due: updated-aperture-docs

fix introduction doc (#2024)
  docs/content/introduction.md
Due: updated-aperture-docs

Fix/playground diagrams (#2025)
  docs/content/assets/diagrams/playground/playground-app.mmd
  docs/content/assets/diagrams/playground/playground-app.mmd.md5sum
  docs/content/assets/diagrams/playground/playground-app.mmd.svg
  docs/content/playground/playground.md
Due: updated-aperture-docs

Re org playground (#2026)
  playground/README.md
  playground/assets/dashboard.png
  playground/assets/stop-traffic.png
Due: none

remove playground from doc and update sidebar order (#2027)
  docs/content/applying-policies/alerting/detecting-overload.md
  docs/content/applying-policies/applying-policies.md
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
  docs/content/applying-policies/feature-rollout/with-average-latency-feedback.md
  docs/content/applying-policies/quota-scheduler/with-external-api-calls-prioritization.md
  docs/content/applying-policies/service-protection/basic-service-protection.md
  docs/content/applying-policies/service-protection/workload-prioritization.md
  docs/content/arc/arc.md
  docs/content/architecture/architecture.md
  docs/content/concepts/concepts.md
  docs/content/faq.md
  docs/content/get-started/get-started.md
  docs/content/integrations/integrations.md
  docs/content/playground/playground.md
  docs/content/reference/_category_.yml
Due: updated-aperture-docs

update intro (#2028)
  README.md
Due: none

Added installation docs for Aperture on Docker (#2029)
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/get-started/installation/controller/docker.md
  docs/content/get-started/installation/controller/kubernetes/kubernetes.md
  docs/content/get-started/installation/controller/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/controller/kubernetes/operator/operator.md
Due: updated-aperture-docs

update/add playground link (#2030)
  README.md
Due: none

fix quota scheduler tutorial (#2022)
  docs/content/applying-policies/quota-scheduler/external-rate-limiting.md
  docs/content/applying-policies/quota-scheduler/with-external-api-calls-prioritization.md
Due: updated-aperture-docs

fix broken link (#2032)
  docs/content/applying-policies/quota-scheduler/external-rate-limiting.md
Due: updated-aperture-docs

Remove Jsonnet and fix broken links (#2034)
  docs/content/applying-policies/rate-limiting/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.jsonnet
  docs/content/applying-policies/rate-limiting/assets/static-rate-limiting/static-rate-limiting.jsonnet
  docs/content/applying-policies/rate-limiting/graphql-rate-limiting.md
  docs/content/applying-policies/rate-limiting/static-rate-limiting.md
  docs/content/reference/policies/mixin.md
Due: updated-aperture-docs

Improve README (#2036)
  README.md
Due: none
