Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Set FN exporter `num_consumers` to 1 (#1536)
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Update readiness test in aperture test suite (#1538)
  pkg/status/status-service.go
  test/aperture_suite_test.go
  test/readiness_test.go
Due: updated-aperture

simplify endpoint removal code (#1529)
  pkg/discovery/kubernetes/service-discovery.go
Due: updated-aperture

github action: chatgpt code review (#1539)
  .github/workflows/chatgpt-review.yml
  .github/workflows/openai-issue-labeler.yml
Due: none

github actions: remove issue labeler (#1540)
  .github/workflows/openai-issue-labeler.yml
Due: none

docs: small style issues fixed (#1541)
  docs/content/concepts/integrations/flow-control/components/concurrency-limiter.md
  docs/content/concepts/integrations/flow-control/components/rate-limiter.md
  docs/content/concepts/integrations/flow-control/flow-control.md
  docs/content/concepts/integrations/flow-control/flow-label.md
  docs/content/concepts/integrations/flow-control/flow-selector.md
  docs/content/concepts/integrations/flow-control/resources/classifier.md
  docs/content/concepts/integrations/flow-control/resources/flux-meter.md
  docs/content/concepts/policy/circuit.md
Due: updated-aperture-docs

Reduce metrics batching time (#1542)
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Report Flow Control Points by all Agents (#1543)
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
Due: updated-aperture

chatgpt review: provide file contents before review (#1547)
  .github/workflows/chatgpt-review.yml
  .gitignore
Due: none

Automatically update brew formulas on release (#1283)
  .circleci/post-release.yaml
Due: none

chatgpt reviews: integrated scoring stage (#1557)
  .github/workflows/chatgpt-review.yml
Due: none

Add autoscale command in aperturectl (#1553)
  .github/workflows/chatgpt-review.yml
  .gitignore
  api/aperture/cmd/v1/cmd.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.json.go
  api/gen/proto/go/aperture/cmd/v1/cmd_deepcopy.gen.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  cmd/aperturectl/cmd/autoscale/control-points.go
  cmd/aperturectl/cmd/autoscale/root.go
  cmd/aperturectl/cmd/flowcontrol/control-points.go
  cmd/aperturectl/cmd/flowcontrol/root.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/utils/utils.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/auto-scale/auto-scale.md
  docs/content/reference/aperturectl/auto-scale/control-points/control-points.md
  pkg/agentfunctions/agents/agents.go
  pkg/agentfunctions/flowcontrol-controlpoints.go
  pkg/agentfunctions/provide.go
  pkg/cmd/controller.go
  pkg/policies/autoscale/kubernetes/service/controlpoints/control-points.go
  pkg/policies/autoscale/kubernetes/service/controlpoints/provide.go
  pkg/rpc/clients.go
Due: updated-aperture, updated-aperture-docs

chatgpt review: switch to fluxninja fork (#1558)
  .github/workflows/chatgpt-review.yml
Due: none

chatgpt review: rename repository (#1562)
  .github/workflows/chatgpt-review.yml
Due: none

Fixed only flag not working properly in tilt (#1564)
  playground/Tiltfile
Due: none

Reorder SDK usage docs to better show supported libraries/frameworks (#1560)
  docs/content/get-started/integrations/flow-control/sdk/java/armeria.md
  docs/content/get-started/integrations/flow-control/sdk/java/auto-instrumentation.md
  docs/content/get-started/integrations/flow-control/sdk/java/middleware.md
  docs/content/get-started/integrations/flow-control/sdk/java/netty.md
  docs/content/get-started/integrations/flow-control/sdk/java/springboot.md
  docs/content/get-started/integrations/flow-control/sdk/java/tomcat.md
Due: updated-aperture-docs

Changes for release v0.27.x (#1566)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

Fix brew release flow (#1567)
  .circleci/post-release.yaml
Due: none

Update OTEL to 0.73.0 (#1559)
  go.mod
  go.sum
Due: updated-aperture

Add ability to list discovery entities in aperturectl (#1561)
  .circleci/continue-workflows.yml
  api/aperture/cmd/v1/cmd.proto
  api/buf.lock
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.json.go
  api/gen/proto/go/aperture/cmd/v1/cmd_deepcopy.gen.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  cmd/aperturectl/cmd/autoscale/control-points.go
  cmd/aperturectl/cmd/discovery/entities.go
  cmd/aperturectl/cmd/discovery/root.go
  cmd/aperturectl/cmd/flowcontrol/control-points.go
  cmd/aperturectl/cmd/root.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/discovery/discovery.md
  docs/content/reference/aperturectl/discovery/entities/entities.md
  docs/content/reference/aperturectl/flow-control/control-points/control-points.md
  pkg/agentfunctions/agents/agents.go
  pkg/cmd/controller.go
  pkg/discovery/entities/entities-service.go
  pkg/rpc/clients.go
Due: updated-aperture, updated-aperture-docs

Add source/destination services array in classifier input (#1568)
  pkg/policies/flowcontrol/service/envoy/authz.go
Due: updated-aperture

update github action (#1569)
  .github/workflows/chatgpt-review.yml
Due: none

Update chatgpt-review.yml (#1570)
  .github/workflows/openai-review.yml
Due: none

Fixed the charts render when helm repo is missing (#1577)
  playground/Tiltfile
  playground/scripts/deps_install.sh
Due: none

docs: add js-sdk npm link to docs (#1578)
  docs/content/get-started/integrations/flow-control/sdk/javascript/manual.md
Due: updated-aperture-docs

fix: add race flag to controller build (#1576)
  cmd/aperture-controller/Dockerfile
  playground/Tiltfile
Due: updated-aperture

Update makefile to copy policy CRD (#1579)
  Makefile
Due: none

Use per-cmd build-config.yaml in Dockerfiles (#1580)
  .dockerignore
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
Due: updated-aperture

Restore build.sh in info package (#1581)
  pkg/info/build.sh
Due: updated-aperture

Add nil pointer check in setupSentryWriter (#1582)
  extensions/sentry/provide.go
Due: none

Get back the symlinks for CRDs (#1586)
  Makefile
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_policies.yaml
Due: none

Add extensions list to info (#1584)
  api/aperture/info/v1/info.proto
  api/buf.lock
  api/gen/proto/go/aperture/info/v1/info.pb.go
  cmd/aperture-agent/extensions.go
  cmd/aperture-agent/extensions.go.md5sum
  cmd/aperture-controller/extensions.go
  cmd/aperture-controller/extensions.go.md5sum
  cmd/aperturectl/cmd/build/agent.go
  cmd/aperturectl/cmd/build/build.go
  cmd/aperturectl/cmd/build/controller.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/aperturectl/build/agent/agent.md
  docs/content/reference/aperturectl/build/controller/controller.md
  go.mod
  pkg/info/info.go
  pkg/jobs/http-job.go
  pkg/policies/controlplane/circuitfactory/nested-circuit.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/runtime/ports.go
  pkg/policies/flowcontrol/actuators/concurrency/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency/load-actuator.go
  pkg/policies/flowcontrol/resources/classifier/compiler/compiler.go
  pkg/policies/flowcontrol/resources/classifier/provide.go
Due: updated-aperture, updated-aperture-docs

Export metrics for with pod count (#1588)
  pkg/discovery/kubernetes/provide.go
  pkg/discovery/kubernetes/service-discovery.go
  pkg/metrics/schema.go
Due: updated-aperture

Revert "Export metrics for with pod count" (#1591)
  pkg/discovery/kubernetes/provide.go
  pkg/discovery/kubernetes/service-discovery.go
  pkg/metrics/schema.go
Due: updated-aperture

aperturectl: make build config and output directory optional (#1590)
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  cmd/aperturectl/cmd/build/agent.go
  cmd/aperturectl/cmd/build/build.go
  cmd/aperturectl/cmd/build/controller.go
  docs/content/reference/aperturectl/build/agent/agent.md
  docs/content/reference/aperturectl/build/controller/controller.md
  pkg/config/koanf-unmarshaller.go
Due: updated-aperture, updated-aperture-docs

Go 1.20.2 (#1592)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/demo-app/go.mod
  playground/resources/graphql-demo-app/Dockerfile
  playground/resources/graphql-demo-app/go.mod
  scripts/go_mod_tidy.sh
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  tools/go/go.mod
Due: updated-aperture

Fix Aperture Version build arg (#1587)
  .circleci/scripts/docker_build.sh
  .dockerignore
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  pkg/config/koanf-unmarshaller.go
  pkg/otelcollector/rollupprocessor/processor_test.go
  scripts/build_aperturectl.sh
Due: updated-aperture

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
