Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Added support to load config from environment variables in aperturectl (#2403)
  cmd/aperturectl/cmd/utils/controller.go
  cmd/aperturectl/cmd/utils/globals.go
  docs/content/reference/aperturectl/agents/agents.md
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/apply/policy/policy.md
  docs/content/reference/aperturectl/auto-scale/auto-scale.md
  docs/content/reference/aperturectl/auto-scale/control-points/control-points.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/decisions/decisions.md
  docs/content/reference/aperturectl/delete/delete.md
  docs/content/reference/aperturectl/delete/policy/policy.md
  docs/content/reference/aperturectl/discovery/discovery.md
  docs/content/reference/aperturectl/discovery/entities/entities.md
  docs/content/reference/aperturectl/flow-control/control-points/control-points.md
  docs/content/reference/aperturectl/flow-control/flow-control.md
  docs/content/reference/aperturectl/flow-control/preview/preview.md
  docs/content/reference/aperturectl/policies/policies.md
  go.mod
  go.sum
Due: updated-aperture, updated-aperture-docs

Added documentation of customizing packaged etcd and prometheus installation (#2406)
  docs/content/get-started/installation/controller/kubernetes/kubernetes.md
Due: updated-aperture-docs

Split docs into FluxNinja ARC and Aperture sections (#2407)
  docs/content/arc/arc.md
  docs/content/arc/extension.md
  docs/content/introduction.md
  docs/content/sidebars.json
Due: updated-aperture-docs

Fixed the required fields only in blueprints values (#2401)
  api/buf.lock
  blueprints/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/blueprint-assets-generator.py
  blueprints/load-ramping/base/gen/values.yaml
  blueprints/load-scheduling/average-latency/gen/values.yaml
  blueprints/load-scheduling/postgresql/gen/values.yaml
  blueprints/load-scheduling/promql/gen/values.yaml
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/gen/values.yaml
  docs/content/get-started/policies/assets/raw_values.yaml
Due: updated-aperture-docs

Added missing tags for etcd and prometheus (#2408)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  pkg/etcd/config.go
  pkg/prometheus/config/config.go
Due: updated-aperture, updated-aperture-docs

CI: Update operator when pkg changes (#2409)
  .circleci/config.yml
Due: none

Fixed aperturectl apply policy (#2410)
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/policies.go
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

Corrected tag for etcd and prometheus config (#2411)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  pkg/etcd/config.go
  pkg/prometheus/config/config.go
Due: updated-aperture, updated-aperture-docs

Fixes in agent and controller charts (#2412)
  manifests/charts/aperture-agent/templates/_helpers.tpl
  manifests/charts/aperture-agent/templates/agent-cm.yaml
  manifests/charts/aperture-agent/templates/agent-cr.yaml
  manifests/charts/aperture-agent/templates/agent-deployment.yaml
  manifests/charts/aperture-controller/templates/_helpers.tpl
  manifests/charts/aperture-controller/templates/controller-deployment.yaml
Due: none

Made etcd and prometheus non-mandatory for agent CR (#2413)
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/api/common/common_types.go
  operator/api/common/zz_generated.deepcopy.go
  operator/api/controller/v1alpha1/controller_types.go
  operator/api/controller/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/agent_suite_test.go
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/controller_suite_test.go
  operator/controllers/namespace/namespace_suite_test.go
  operator/controllers/suite_test.go
Due: none

docs: Fix broken category index pages (#2415)
  docs/content/arc/introduction.md
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/integrations/auto-scale/kubernetes/kubernetes.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/observability/flow-metrics/flow-metrics.md
  docs/content/sidebars.json
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture-docs

Tidy go.mod file (#2417)
  go.mod
  go.sum
Due: updated-aperture

docs: Add intro to FluxNinja ARC (#2416)
  docs/content/arc/extension.md
  docs/content/arc/introduction.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/introduction.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture-docs

Fixed sidebar issues and replaced on-premise with self-hosted (#2418)
  docs/content/arc/extension.md
  docs/content/faq.md
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/sidebars.json
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/values.yaml
Due: updated-aperture-docs

docs: Move controller installation to separate Self-Hosting Aperture section (#2419)
  docs/content/arc/introduction.md
  docs/content/faq.md
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/installation.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/self-hosting/controller/controller.md
  docs/content/self-hosting/controller/docker.md
  docs/content/self-hosting/controller/kubernetes/kubernetes.md
  docs/content/self-hosting/controller/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/self-hosting/controller/kubernetes/operator/operator.md
  docs/content/self-hosting/self-hosting.md
  docs/content/sidebars.json
  docs/gen/config/controller/metadata
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture-docs

docs: Showcase aperturectl with cloud controller in Get Started (#2421)
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/aperture-cli/aperture-cli.md
  docs/content/get-started/installation/configure-cli.md
  docs/content/get-started/policies/policies.md
  docs/content/get-started/setting-up-application/setting-up-application.md
Due: updated-aperture-docs

remove finalizers from the CR if operator get deleted first (#2381)
  operator/controllers/agent/reconciler.go
  operator/controllers/controller/reconciler.go
  operator/main.go
Due: none

Fix docs (#2426)
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
Due: updated-aperture-docs

fix spec failing link (#2427)
  blueprints/blueprint-assets-generator.py
  docs/content/reference/blueprints/auto-scaling/pod-auto-scaler.md
  docs/content/reference/blueprints/load-ramping/base.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
  docs/content/reference/blueprints/load-scheduling/promql.md
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/blueprints/rate-limiting/base.md
Due: updated-aperture-docs

add fluxninja architecture diagram (#2428)
  docs/content/assets/img/FluxNinja-arc-dark.svg
  docs/content/assets/img/FluxNinja-arc-light.svg
  docs/content/fluxninja/introduction.md
Due: updated-aperture-docs

Prevent controller-id generation if cloud controller is enabled (#2425)
  extensions/fluxninja/heartbeats/heartbeats.go
  extensions/fluxninja/heartbeats/provide.go
Due: none

Added support to run agent with cloud-controller in playground (#2429)
  cmd/aperturectl/cmd/utils/controller.go
  playground/Tiltfile
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/basic-service-protection/policies/basic-service-protection.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection.yaml
  playground/scenarios/feature-rollout/policies/load-ramping-cr.yaml
  playground/scenarios/feature-rollout/policies/load-ramping.yaml
  playground/scenarios/graceful-js/policies/load-ramping-cr.yaml
  playground/scenarios/graceful-js/policies/load-ramping.yaml
  playground/scenarios/graceful-js/policies/rate-limiting-cr.yaml
  playground/scenarios/graceful-js/policies/rate-limiting.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization-cr.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler.yaml
  playground/scenarios/rate-limiting/policies/rate-limiting-cr.yaml
  playground/scenarios/rate-limiting/policies/rate-limiting.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization.yaml
  playground/scripts/render-policy.sh
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
  scripts/precommit/check_tanka_show.sh
Due: updated-aperture

Update docs (#2432)
  docs/content/fluxninja/introduction.md
  docs/content/introduction.md
Due: updated-aperture-docs

fix pre commmit fail (#2433)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: none

Circuit Viz: Display the original config of components using nested circuit (#2422)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/nestedcircuit.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/auto-scale-components.go
  pkg/policies/controlplane/circuitfactory/circuit.go
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/circuitfactory/flow-control-components.go
  pkg/policies/controlplane/circuitfactory/nested-circuit.go
  pkg/policies/controlplane/circuitfactory/tree.go
  pkg/policies/controlplane/components/autoscale/auto-scaler.go
  pkg/policies/controlplane/components/autoscale/podscaler/pod-scaler.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/adaptive-load-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/load-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/sampler/load-ramp.go
  pkg/policies/controlplane/runtime/compile.go
  pkg/policies/controlplane/runtime/configured-component.go
  pkg/policies/controlplane/sim/circuit.go
Due: updated-aperture, updated-aperture-docs

Provide status of jobs via aperturectl (#2431)
  api/aperture/cmd/v1/cmd.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/status/root.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/status/status.md
  pkg/cmd/controller.go
  pkg/status/provide.go
  pkg/status/status-service.go
Due: updated-aperture, updated-aperture-docs

docs: Move (FluxNinja) Configuration section to Reference (#2435)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/classifier.md
  docs/content/get-started/installation/agent/bare_metal.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/spec.md
  docs/content/reference/fluxninja.md
  docs/content/self-hosting/self-hosting.md
  docs/content/sidebars.json
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  docs/gen/policy/policy.yaml
  extensions/fluxninja/extconfig/extconfig.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture-docs

docs: Remove FluxNinja / Aperture headings from sidebar (#2436)
  docs/content/architecture/architecture.md
  docs/content/get-started/policies/policies.md
  docs/content/integrations/auto-scale/kubernetes/kubernetes.md
  docs/content/introduction.md
  docs/content/reference/fluxninja.md
  docs/content/reference/observability/flow-metrics/flow-metrics.md
  docs/content/self-hosting/agent.md
  docs/content/self-hosting/self-hosting.md
  docs/content/sidebars.json
Due: updated-aperture-docs

update to Setting up your service (#2437)
  docs/content/get-started/get-started.md
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/setting-up-your-service/manual-control-points.md
  docs/content/get-started/setting-up-your-service/middleware-insertions.md
  docs/content/get-started/setting-up-your-service/service-mesh-and-gateways.md
  docs/content/get-started/setting-up-your-service/setting-up-your-service.md
  docs/content/introduction.md
Due: updated-aperture-docs

fix casing (#2438)
  docs/content/get-started/setting-up-your-service/setting-up-your-service.md
Due: updated-aperture-docs

Fixed missing config fields of Prometheus in Controller helm chart (#2462)
  manifests/charts/aperture-controller/templates/controller-cm.yaml
  manifests/charts/aperture-controller/templates/controller-cr.yaml
Due: none

docs: Split Architecture page into Cloud-first and Aperture-only (#2461)
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/architecture/architecture.md
  docs/content/faq.md
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/agent/bare-metal.md
  docs/content/get-started/installation/aperture-cli/aperture-cli.md
  docs/content/introduction.md
  docs/content/reference/fluxninja.md
  docs/content/self-hosting/agent.md
  docs/content/self-hosting/architecture.md
  docs/content/self-hosting/controller/controller.md
  docs/content/self-hosting/k8s-objects.md
Due: updated-aperture-docs

docs: Document .aperturectl/config better (#2463)
  cmd/aperturectl/cmd/utils/controller.go
  docs/content/get-started/installation/configure-cli.md
  docs/content/reference/aperturectl/agents/agents.md
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/apply/policy/policy.md
  docs/content/reference/aperturectl/auto-scale/auto-scale.md
  docs/content/reference/aperturectl/auto-scale/control-points/control-points.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/decisions/decisions.md
  docs/content/reference/aperturectl/delete/delete.md
  docs/content/reference/aperturectl/delete/policy/policy.md
  docs/content/reference/aperturectl/discovery/discovery.md
  docs/content/reference/aperturectl/discovery/entities/entities.md
  docs/content/reference/aperturectl/flow-control/control-points/control-points.md
  docs/content/reference/aperturectl/flow-control/flow-control.md
  docs/content/reference/aperturectl/flow-control/preview/preview.md
  docs/content/reference/aperturectl/policies/policies.md
  docs/content/reference/aperturectl/status/status.md
  docs/content/reference/configuration/aperturectl.md
  docs/tools/aperturectl/generate-docs/generate-docs.go
Due: updated-aperture, updated-aperture-docs

Docs: Rename use-case client-side to inter-service (#2466)
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/dashboard.png
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/graph.mmd
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/graph.mmd.md5sum
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/graph.mmd.svg
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/policy.yaml
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/validate.sh
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/values.yaml
  docs/content/use-cases/managing-quotas/inter-service-rate-limiting.md
Due: updated-aperture-docs

fix pre-commit (#2467)
  api/buf.lock
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: none

Fix: Image Zoom Issue (#2465)
  docs/content/architecture/architecture.md
  docs/content/concepts/auto-scale.md
  docs/content/concepts/flow-label.md
  docs/content/concepts/flow-lifecycle.md
  docs/content/concepts/flux-meter.md
  docs/content/integrations/auto-scale/auto-scale.md
  docs/content/integrations/gateway/gateway.md
  docs/content/integrations/gateway/kong.md
  docs/content/integrations/gateway/nginx.md
  docs/content/integrations/istio/istio.md
  docs/content/integrations/sdk/sdk.md
  docs/content/introduction.md
  docs/content/self-hosting/architecture.md
  docs/content/use-cases/adaptive-service-protection/adaptive-service-protection.md
  docs/content/use-cases/adaptive-service-protection/average-latency-feedback.md
  docs/content/use-cases/adaptive-service-protection/workload-prioritization.md
  docs/content/use-cases/alerting/alerting.md
  docs/content/use-cases/alerting/detecting-overload.md
  docs/content/use-cases/auto-scaling/auto-scaling.md
  docs/content/use-cases/auto-scaling/load-based-auto-scaling.md
  docs/content/use-cases/managing-quotas/managing-quotas.md
  docs/content/use-cases/percentage-rollouts/average-latency-feedback.md
  docs/content/use-cases/percentage-rollouts/percentage-rollouts.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/rate-limiting/rate-limiting.md
  docs/content/use-cases/rate-limiting/static-rate-limiting.md
Due: updated-aperture-docs

Combined PR from dependabot's branch combine-prs-branch-go (#2469)
  go.mod
  go.sum
Due: updated-aperture

Added info labels for cluster-level permissions in installation (#2468)
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/operator.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/self-hosting/controller/kubernetes/kubernetes.md
  docs/content/self-hosting/controller/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/self-hosting/controller/kubernetes/operator/operator.md
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
