Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Fixed jq version (#2697)
  .tool-versions
Due: none

Update architecture images (#2698)
  docs/content/assets/img/aperture-architecture-dark.svg
  docs/content/assets/img/aperture-architecture-light.svg
Due: updated-aperture-docs

global token bucket: improve wait time precision (#2699)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/ratelimiterparameters.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/rate-limiter/test/rate-limiter_test.go
Due: updated-aperture, updated-aperture-docs

reject when req tokens are more than bucketCapacity (#2702)
  cmd/aperturectl/cmd/installation/utils.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture

Fix deadlock in peers shutdown (#2703)
  pkg/peers/peers.go
Due: updated-aperture

Add rabbitmq panels (#2700)
  blueprints/grafana/infra_meter_panel_library.libsonnet
  blueprints/grafana/panels/grouped/rabbitmq.libsonnet
  blueprints/grafana/panels/rabbitmq/rmq_static.libsonnet
  blueprints/grafana/panels/rabbitmq/rmq_time_series.libsonnet
  blueprints/grafana/utils/stat_panel.libsonnet
Due: none

change default for delayedInitialFill (#2706)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture, updated-aperture-docs

Fix data race in Controller shutdown (#2729)
  pkg/notifiers/watcher.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/runtime/background-scheduler.go
Due: updated-aperture

Expose policy hash function (#2730)
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/policy.go
Due: updated-aperture

Upgrade inframeter dashboards (#2705)
  blueprints/grafana/panels/elasticsearch/es_static.libsonnet
  blueprints/grafana/panels/elasticsearch/es_time_series.libsonnet
  blueprints/grafana/panels/grouped/pgsql.libsonnet
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
  blueprints/grafana/panels/pgsql/pgsql_static.libsonnet
  blueprints/grafana/panels/pgsql/pgsql_time_series.libsonnet
  blueprints/grafana/panels/request_queue_duration_bar.libsonnet
  blueprints/grafana/panels/total_accepted_requests.libsonnet
  blueprints/grafana/panels/total_accepted_tokens.libsonnet
  blueprints/grafana/panels/total_incoming_tokens.libsonnet
  blueprints/grafana/panels/total_rejected_requests.libsonnet
  blueprints/grafana/panels/total_rejected_tokens.libsonnet
  blueprints/grafana/panels/total_requests.libsonnet
  blueprints/grafana/utils/bar_gauge_panel.libsonnet
  blueprints/grafana/utils/stat_panel.libsonnet
Due: none

Scheduler preemption metrics (#2731)
  docs/content/reference/observability/prometheus-metrics/agent.md
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/wfq.go
Due: updated-aperture, updated-aperture-docs

use policy name in background circuit job name (#2734)
  pkg/policies/controlplane/runtime/background-scheduler.go
Due: updated-aperture

Minor docs and CI fixes (#2735)
  .circleci/config.yml
  .opsninja.yaml
  docs/content/get-started/self-hosting/agent.md
Due: updated-aperture-docs

Add Preemptive Panels to Scheduler Dashboard (#2740)
  blueprints/grafana/panels/avg_preemption_gauge.libsonnet
  blueprints/grafana/panels/avg_preemption_time_series.libsonnet
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
Due: none

add validation checks for deprecated fields (#2741)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/CONTRIBUTING.md
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

Send policy string in the UpsertPolicy req to validate before putting in etcd (#2739)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_vtproto.pb.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/utils/policies.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/controlplane/crwatcher/watcher.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/validator.go
  pkg/policies/controlplane/validator_test.go
Due: updated-aperture, updated-aperture-docs

Preemption metric fixes (#2743)
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Due: updated-aperture

Add 30s Interval To Missing Panels (#2742)
  blueprints/grafana/panels/avg_preemption_gauge.libsonnet
  blueprints/grafana/panels/avg_preemption_time_series.libsonnet
  blueprints/grafana/panels/request_in_queue_duration.libsonnet
  blueprints/grafana/utils/table_panel.libsonnet
  blueprints/grafana/utils/time_series_panel.libsonnet
Due: none

Handle UNKNOWN service while passing to Check calls (#2738)
  operator/controllers/agent/config_test.tpl
  operator/controllers/testutils/testutils.go
  pkg/policies/flowcontrol/service-getter/service-getter.go
  pkg/policies/flowcontrol/service-getter/service-getter_test.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  pkg/policies/flowcontrol/service/envoy/authz.go
Due: updated-aperture

Remove policy marshalling from aperturectl (#2744)
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/cloud/apply/policy.go
  cmd/aperturectl/cmd/utils/policies.go
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

Update production instead of staging post-release (#2745)
  .circleci/post-release.yaml
  .circleci/scripts/update_environment.sh
Due: none

Make sure Tree.Node is always defined (#2747)
  pkg/policies/controlplane/policy.go
Due: updated-aperture

Merge config and post-release circleci workflows (#2746)
  .circleci/config.yml
  .circleci/post-release.yaml
Due: none

Fix Preemptive Panel (#2749)
  blueprints/grafana/panels/avg_preemption_chart.libsonnet
  blueprints/grafana/panels/avg_preemption_gauge.libsonnet
  blueprints/grafana/panels/avg_preemption_time_series.libsonnet
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
  blueprints/grafana/panels/request_in_queue_duration.libsonnet
  blueprints/grafana/panels/request_queue_duration_bar.libsonnet
  blueprints/grafana/utils/bar_chart_panel.libsonnet
  blueprints/grafana/utils/time_series_panel.libsonnet
Due: none

Add GitHub workflow for triggering releases (#2750)
  .github/workflows/create-release.yaml
Due: none

Update workflow trigger and add concurrency (#2751)
  .github/workflows/create-release.yaml
Due: none

Fixes in the release pipelines (#2752)
  .circleci/config.yml
Due: none

Fix dead link in docs (#2753)
  docs/content/concepts/flow-label.md
Due: updated-aperture-docs

Add Committer identity (#2754)
  .github/workflows/create-release.yaml
Due: none

Check if current aperturectl version is newer than on disk (#2748)
  cmd/aperturectl/cmd/blueprints/list.go
  cmd/aperturectl/cmd/blueprints/pull.go
  cmd/aperturectl/cmd/blueprints/remove.go
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/utils/pull.go
  cmd/aperturectl/cmd/utils/version.go
  docs/content/reference/aperturectl/aperturectl.md
  go.mod
Due: updated-aperture, updated-aperture-docs

Fix pre-commit (#2757)
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
Due: none

Fix checkout depth in workflow (#2759)
  .github/workflows/create-release.yaml
Due: none

Add github token in the workflow (#2760)
  .github/workflows/create-release.yaml
Due: none

Move new chart parameters to the end (#2762)
  blueprints/grafana/utils/bar_chart_panel.libsonnet
  blueprints/grafana/utils/time_series_panel.libsonnet
Due: none

rename guide and framework (#2761)
  docs/content/guides/assets/per-user-rate-limiting/dashboard.png
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.md5sum
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd.md5sum
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd.svg
  docs/content/guides/assets/per-user-rate-limiting/validate.sh
  docs/content/guides/assets/per-user-rate-limiting/values.yaml
  docs/content/guides/assets/rate-limiting-framework/adaptive-service-limits.svg
  docs/content/guides/assets/rate-limiting-framework/per-user-limits.svg
  docs/content/guides/classifying-workloads/classifying-workloads.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/guides/rate-limiting-framework.md
  docs/content/introduction.md
Due: updated-aperture-docs

Simplify newer version behaviour for aperturectl (#2764)
  cmd/aperturectl/cmd/blueprints/pull.go
  cmd/aperturectl/cmd/build/root.go
  cmd/aperturectl/cmd/cloud/utils/controller.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/utils/globals.go
  cmd/aperturectl/cmd/utils/version.go
Due: updated-aperture

Add inframeter in blueprints (#2767)
  blueprints/grafana/creator.libsonnet
  blueprints/load-scheduling/elasticsearch/bundle.libsonnet
  blueprints/load-scheduling/java-gc-generic/bundle.libsonnet
  blueprints/load-scheduling/java-gc-generic/config.libsonnet
  blueprints/load-scheduling/java-gc-generic/dynamic-config.libsonnet
  blueprints/load-scheduling/java-gc-generic/gen/definitions.json
  blueprints/load-scheduling/java-gc-generic/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/java-gc-generic/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/java-gc-generic/gen/values.yaml
  blueprints/load-scheduling/java-gc-generic/java-gc.libsonnet
  blueprints/load-scheduling/java-gc-generic/metadata.yaml
  blueprints/load-scheduling/java-gc-generic/policy.libsonnet
  blueprints/load-scheduling/java-gc-generic/utils.libsonnet
  blueprints/load-scheduling/java-gc-k8s/README.md
  blueprints/load-scheduling/java-gc-k8s/bundle.libsonnet
  blueprints/load-scheduling/java-gc-k8s/config.libsonnet
  blueprints/load-scheduling/java-gc-k8s/dynamic-config.libsonnet
  blueprints/load-scheduling/java-gc-k8s/gen/definitions.json
  blueprints/load-scheduling/java-gc-k8s/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/java-gc-k8s/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/java-gc-k8s/gen/values.yaml
  blueprints/load-scheduling/java-gc-k8s/java-gc.libsonnet
  blueprints/load-scheduling/java-gc-k8s/metadata.yaml
  blueprints/load-scheduling/java-gc-k8s/policy.libsonnet
  blueprints/load-scheduling/java-gc-k8s/utils.libsonnet
  blueprints/load-scheduling/jmx/metadata.yaml
  docs/content/reference/blueprints/load-scheduling/java-gc-generic.md
  docs/content/reference/blueprints/load-scheduling/java-gc-k8s.md
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
  playground/scenarios/java-gc-service-protection/load-generator/test.js
  playground/scenarios/java-gc-service-protection/metadata.json
  playground/scenarios/java-gc-service-protection/policies/java-gc-service-protection-cr.yaml
  playground/scenarios/java-gc-service-protection/policies/java-gc-service-protection.yaml
  playground/scenarios/java-gc-service-protection/values.yaml
Due: updated-aperture-docs

logging: add log when new token buckets are instantiated (#2768)
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
