Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Update YAML Example in Policy API (#1423)
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

Autoscale scenario tuning (#1465)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/autoscaler.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/autoscale/autoscaler.go
  playground/scenarios/autoscaling/policies/load-based-autoscale-service1-cr.yaml
  playground/scenarios/autoscaling/policies/load-based-autoscale-service1.yaml
Due: updated-aperture, updated-aperture-docs

Make feature name configurable in the feature example (#1467)
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
Due: none

Robust scale fetching (#1471)
  api/aperture/policy/sync/v1/pod_scaler.proto
  api/gen/proto/go/aperture/policy/sync/v1/pod_scaler.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/pod_scaler.pb.json.go
  api/gen/proto/go/aperture/policy/sync/v1/pod_scaler_deepcopy.gen.go
  go.mod
  go.sum
  pkg/discovery/kubernetes/control-point-cache.go
  pkg/prometheus/prom-query.go
Due: updated-aperture

Robust scale actuation (#1472)
  pkg/policies/infra/actuators/podscaler/pod-scaler.go
Due: updated-aperture

docs: gen: Tweaks to policy documentation generation (#1475)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/spec.md
  docs/gen/config/agent/metadata
  docs/gen/config/controller/metadata
  docs/gen/policy/metadata
  docs/tools/swagger/swagger-templates/config.gotmpl
Due: updated-aperture-docs

Generate dashboards from blueprints in playground (#1474)
  playground/Tiltfile
  playground/scenarios/autoscaling/dashboards/main.jsonnet
  playground/scenarios/autoscaling/metadata.json
  playground/scenarios/demo-app/dashboards/main.jsonnet
  playground/scenarios/demo-app/metadata.json
  playground/scenarios/graphql-example-1/dashboards/main.jsonnet
  playground/scenarios/graphql-example-1/metadata.json
  playground/scripts/render-dashboard.sh
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

use recursive go mod tidy script in the Makefile (#1477)
  Makefile
Due: none

docs: Show that aperturectl can be used for live-preview (#1499)
  docs/content/concepts/integrations/flow-control/flow-label.md
  docs/content/concepts/integrations/flow-control/flow-selector.md
  docs/content/concepts/integrations/flow-control/resources/classifier.md
Due: updated-aperture-docs

Added support for generating signals dashboard with scenario (#1500)
  playground/Tiltfile
  playground/resources/grafana-dashboard/main.libsonnet
  playground/scenarios/autoscaling/dashboards/main.jsonnet
  playground/scenarios/autoscaling/metadata.json
  playground/scenarios/demo-app/dashboards/main.jsonnet
  playground/scenarios/demo-app/metadata.json
  playground/scenarios/graphql-example-1/dashboards/main.jsonnet
  playground/scenarios/graphql-example-1/metadata.json
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

Add missing `process_uuid` label to custom metrics (#1502)
  cmd/aperture-agent/agent/provider.go
Due: updated-aperture

Add simple epoch-based expiry to cache.Cache (#1504)
  pkg/cache/cache.go
  pkg/cache/cache_suite_test.go
  pkg/cache/cache_test.go
Due: updated-aperture

Fixed the issue of aperturectl not re-pulling for main (#1501)
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/blueprints/pull.go
  playground/Tiltfile
Due: updated-aperture

Replace cenkalti/backoff with cenkalti/backoff/v4 (#1498)
  go.mod
  go.sum
  operator/controllers/agent/configmaps_test.go
  pkg/discovery/kubernetes/control-point-cache.go
  pkg/policies/controlplane/crwatcher/watcher.go
  pkg/policies/infra/actuators/podscaler/pod-scaler.go
  pkg/prometheus/prom-query.go
Due: updated-aperture

Remove synchronous service lookup being done in `updateMappingFromEndpoints` (#1507)
  pkg/discovery/kubernetes/service-discovery.go
Due: updated-aperture

refactor: playground scenarios with same name as what we have in docs tutorials (#1476)
  playground/Tiltfile
  playground/scenarios/basic_concurrency_limiting/dashboards/main.jsonnet
  playground/scenarios/basic_concurrency_limiting/load_generator
  playground/scenarios/basic_concurrency_limiting/metadata.json
  playground/scenarios/basic_concurrency_limiting/policies/basic-concurrency-limiting-cr.yaml
  playground/scenarios/basic_concurrency_limiting/policies/basic-concurrency-limiting.yaml
  playground/scenarios/graphql_query_static_rate_limiting/dashboards/main.jsonnet
  playground/scenarios/graphql_query_static_rate_limiting/load_generator/test.js
  playground/scenarios/graphql_query_static_rate_limiting/metadata.json
  playground/scenarios/graphql_query_static_rate_limiting/policies/graphql-static-rate-limiting-cr.yaml
  playground/scenarios/graphql_query_static_rate_limiting/policies/graphql-static-rate-limiting.yaml
  playground/scenarios/rate_limiting_escalation/dashboards/main.jsonnet
  playground/scenarios/rate_limiting_escalation/load_generator/test.js
  playground/scenarios/rate_limiting_escalation/metadata.json
  playground/scenarios/rate_limiting_escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation/policies/service1-demo-app.yaml
  playground/scenarios/static_rate_limiting/dashboards/main.jsonnet
  playground/scenarios/static_rate_limiting/load_generator
  playground/scenarios/static_rate_limiting/metadata.json
  playground/scenarios/static_rate_limiting/policies/static-rate-limiting-cr.yaml
  playground/scenarios/static_rate_limiting/policies/static-rate-limiting.yaml
  playground/scenarios/workload_prioritization/dashboards/main.jsonnet
  playground/scenarios/workload_prioritization/load_generator
  playground/scenarios/workload_prioritization/metadata.json
  playground/scenarios/workload_prioritization/policies/workload-prioritization-cr.yaml
  playground/scenarios/workload_prioritization/policies/workload-prioritization.yaml
Due: none

docs: add horizontal rule to generator (#1512)
  api/buf.lock
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/spec.md
  docs/gen/config/agent/config-swagger.yaml
  docs/tools/swagger/swagger-templates/config.gotmpl
  pkg/agentinfo/agent-info.go
  pkg/peers/peers.go
Due: updated-aperture, updated-aperture-docs

update tools (#1513)
  .tool-versions
Due: none

Changes for release 0.26.x (#1514)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

Informer (#1508)
  api/aperture/flowcontrol/entitycache/v1/entitycache.proto
  api/buf.lock
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/discovery/kubernetes/provide.go
  pkg/discovery/kubernetes/service-discovery.go
  pkg/entitycache/entity_cache.go
  pkg/mocks/mock-trackers.go
  pkg/notifiers/tracker.go
  pkg/policies/flowcontrol/servicegetter/servicegetter.go
  pkg/utils/cluster.go
  pkg/utils/helpers.go
Due: updated-aperture, updated-aperture-docs

Move entitycache data model outside of flowcontrol (#1515)
  api/aperture/entitycache/v1/entitycache.proto
  api/aperture/flowcontrol/entitycache/v1/entitycache.proto
  api/gen/proto/go/aperture/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/entitycache/v1/entitycache_deepcopy.gen.go
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache_deepcopy.gen.go
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache_grpc.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/discovery/kubernetes/service-discovery.go
  pkg/discovery/static/static_discovery.go
  pkg/discovery/static/static_discovery_test.go
  pkg/entitycache/cache_test.go
  pkg/entitycache/entity_cache-service.go
  pkg/entitycache/entity_cache.go
  pkg/policies/flowcontrol/service/check/check_test.go
  pkg/policies/flowcontrol/service/envoy/authz_test.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/services.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/services_test.go
Due: updated-aperture, updated-aperture-docs

fix: make the symlink path relative in playground scenarios (#1516)
  playground/scenarios/basic_concurrency_limiting/load_generator
  playground/scenarios/static_rate_limiting/load_generator
  playground/scenarios/workload_prioritization/load_generator
Due: none

platform: refactor notifiers a bit (#1518)
  pkg/config/koanf-unmarshaller.go
  pkg/config/protobuf-unmarshaller.go
  pkg/config/unmarshaller.go
  pkg/entitycache/entity_cache.go
  pkg/etcd/notifier/key.go
  pkg/etcd/notifier/prefix.go
  pkg/filesystem/notifier/directory.go
  pkg/filesystem/notifier/file.go
  pkg/jobs/job.go
  pkg/notifiers/basic-notifier.go
  pkg/notifiers/fx-driver.go
  pkg/notifiers/notifier.go
  pkg/notifiers/notifier_test.go
  pkg/notifiers/tracker.go
  pkg/notifiers/unmarshal-notifier.go
  pkg/peers/peers.go
  pkg/policies/controlplane/components/autoscale/podscaler/scale-reporter.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/flowcontrol/actuators/concurrency/auto-tokens.go
  pkg/policies/flowcontrol/actuators/concurrency/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency/load-actuator.go
  pkg/policies/flowcontrol/actuators/rate/rate-limiter.go
  pkg/policies/flowcontrol/resources/classifier/provide.go
  pkg/policies/flowcontrol/resources/fluxmeter/flux-meter.go
  pkg/policies/infra/actuators/podscaler/pod-scaler.go
  test/etcd_watcher_test.go
Due: updated-aperture

update readme (#1521)
  README.md
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

Fixed operator tests (#1522)
  operator/controllers/agent/config_test.tpl
Due: none

Make heartbeats.proto compatible with v0.25.0 again (#1524)
  api/aperture/cmd/v1/cmd.proto
  api/aperture/flowcontrol/controlpoints/v1/controlpoints.proto
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/flowcontrol/controlpoints/v1/controlpoints.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/cmd/controller.go
  pkg/policies/autoscale/kubernetes/discovery/autoscale-control-points.go
  pkg/policies/autoscale/kubernetes/service/controlpoints/control-points.go
  pkg/policies/flowcontrol/service/controlpoints/controlpoints.go
Due: updated-aperture, updated-aperture-docs

Add readiness system in status registry (#1527)
  operator/controllers/agent/daemonset_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
  pkg/jobs/job-group.go
  pkg/jobs/jobs_test.go
  pkg/notifiers/fx-driver.go
  pkg/platform/platform.go
  pkg/platform/readiness.go
  pkg/policies/controlplane/policy-factory.go
  pkg/status/status-service.go
  pkg/watchdog/watchdog.go
  test/readiness_test.go
Due: updated-aperture

add UpdateValue functonality in notifiers (#1528)
  pkg/discovery/kubernetes/provide.go
  pkg/discovery/kubernetes/service-discovery.go
  pkg/mocks/mock-trackers.go
  pkg/notifiers/notifier_test.go
  pkg/notifiers/tracker.go
Due: updated-aperture

Add service informer (#1517)
  api/aperture/discovery/entities/v1/entities.proto
  api/gen/proto/go/aperture/discovery/entities/v1/entities.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/discovery/kubernetes/service-discovery.go
Due: updated-aperture, updated-aperture-docs

Refactor service discovery (#1531)
  api/aperture/discovery/entities/v1/entities.proto
  api/gen/proto/go/aperture/discovery/entities/v1/entities.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/discovery/entities/entities.go
  pkg/discovery/entities/entities_test.go
  pkg/discovery/kubernetes/service-discovery.go
  pkg/discovery/static/provide.go
  pkg/discovery/static/static_discovery.go
  pkg/discovery/static/static_discovery_test.go
  pkg/discovery/static/zz_generated.deepcopy.go
  pkg/policies/flowcontrol/service/check/check_test.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/services_test.go
Due: updated-aperture, updated-aperture-docs

add no policy demo app scenario (#1523)
  playground/scenarios/demo-app-with-no-policy/load_generator/test.js
  playground/scenarios/demo-app-with-no-policy/metadata.json
Due: none

Fixed playground not starting sdk even when we provide tilt up (#1534)
  playground/Tiltfile
Due: none

Plug OTEL state to readiness checks (#1525)
  pkg/otelcollector/otelcollector.go
  pkg/platform/readiness.go
Due: updated-aperture

Add Aperture SDK spring boot middleware support and example (#1533)
  .circleci/continue-workflows.yml
  docs/content/get-started/integrations/flow-control/sdk/java/middleware.md
  sdks/aperture-java/dockerfiles/aperture-java-all/Dockerfile
  sdks/aperture-java/dockerfiles/middlewares/spring/Dockerfile
  sdks/aperture-java/examples/spring-example/build.gradle.kts
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/SpringBootApp.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/controller/AppController.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/spring-example/src/main/resources/application.properties
  sdks/aperture-java/examples/tomcat-example/build.gradle.kts
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/tomcat-example/src/main/webapp/WEB-INF/web.xml
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
  sdks/aperture-java/lib/servlet/build.gradle.kts
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
  sdks/aperture-java/settings.gradle.kts
  sdks/aperture-java/version.gradle.kts
Due: updated-aperture-docs

Downgrade spring example to work with Java 8 (#1535)
  .circleci/continue-workflows.yml
  sdks/aperture-java/examples/spring-example/build.gradle.kts
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/controller/AppController.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
Due: none
