Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

tweak blueprint docs (#436)
  docs/content/get-started/blueprints.md
Due: updated-aperture-docs

More blueprint fixes (#437)
  docs/content/get-started/blueprints.md
Due: updated-aperture-docs

Add FN plugin OTEL tests (#446)
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_suite_test.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Remove the Objects Index from generated docs (#445)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/policies.md
  docs/gen/config/agent/metadata
  docs/gen/config/controller/metadata
  docs/gen/policies/metadata
  docs/tools/swagger/swagger-templates/config.gotmpl
Due: updated-aperture-docs

Update prometheus metrics names (#386)
  pkg/flowcontrol/common/metrics.go
  pkg/metrics/schema.go
  pkg/net/http/server.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
Due: updated-aperture

Tweak Sentry plugin parsing log event and clean up (#420)
  plugins/service/aperture-plugin-sentry/main.go
  plugins/service/aperture-plugin-sentry/sentry/sentry.go
  plugins/service/aperture-plugin-sentry/sentry/sentrywriter.go
Due: updated-aperture

Do not bring up platform in plugin UT (#450)
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
Due: updated-aperture

Update blueprints (#454)
  playground/tanka/jsonnetfile.lock.json
Due: none

Move circuit-generator to cmd directory (#455)
  cmd/circuit-generator/main.go
Due: updated-aperture

Fix typo in LoadShedDecisionWrapper (#453)
  .github/CODEOWNERS
  .github/pull_request_template.md
  README.md
  api/aperture/policy/wrappers/v1/decisions.proto
  api/gen/proto/go/aperture/policy/wrappers/v1/decisions.pb.go
  api/gen/proto/go/aperture/policy/wrappers/v1/decisions.pb.json.go
  api/gen/proto/go/aperture/policy/wrappers/v1/decisions_deepcopy.gen.go
  cmd/circuit-generator/main.go
  docs/content/get-started/playground.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  go.mod
  operator/controllers/agent_hook.go
  operator/controllers/agent_reconciler.go
  operator/controllers/controller_hook.go
  operator/controllers/controller_reconciler.go
  operator/controllers/suite_test.go
  pkg/config/defaults.go
  pkg/config/defaults_test.go
  pkg/config/duration.go
  pkg/config/koanf-unmarshaller.go
  pkg/config/koanf-unmarshaller_test.go
  pkg/config/timestamp.go
  pkg/config/validator.go
  pkg/policies/controlplane/components/actuators/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/validator.go
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/resources/classifier/extractors/extractors_suite_test.go
Due: updated-aperture, updated-aperture-docs

Fix test (#461)
  operator/controllers/suite_test.go
Due: none

Add license scan report and status (#462)
  README.md
Due: none

Fossa circleci (#464)
  .circleci/continue-workflows.yml
  README.md
Due: none

Add peers discovery, entity cache service methods (#365)
  api/aperture/common/entitycache/v1/entitycache.proto
  api/aperture/common/peers/v1/peers.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.gw.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_deepcopy.gen.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_grpc.pb.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.gw.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.json.go
  api/gen/proto/go/aperture/common/peers/v1/peers_deepcopy.gen.go
  api/gen/proto/go/aperture/common/peers/v1/peers_grpc.pb.go
  docs/gen/policies/gen.yaml
  pkg/distcache/service-discovery.go
  pkg/entitycache/cache_test.go
  pkg/entitycache/entity_cache-service.go
  pkg/entitycache/entity_cache.go
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/common/flowcontrol_test.go
  pkg/otelcollector/enrichmentprocessor/enrichmentprocessor_suite_test.go
  pkg/otelcollector/enrichmentprocessor/processor_logs_test.go
  pkg/otelcollector/enrichmentprocessor/processor_metrics_test.go
  pkg/otelcollector/enrichmentprocessor/processor_traces_test.go
  pkg/peers/peers-service.go
  pkg/peers/peers.go
  pkg/peers/peers_suite_test.go
  pkg/peers/peers_test.go
Due: updated-aperture, updated-aperture-docs

Add tests for status pkg (#448)
  pkg/status/status_suite_test.go
  pkg/status/status_test.go
Due: updated-aperture

Unify TLS config (#375)
  pkg/net/tlsconfig/server.go
  pkg/otel/config.go
Due: updated-aperture

Fix TLS config (#465)
  pkg/otel/config.go
Due: updated-aperture

fix docs makefile macos (#470)
  docs/Makefile
Due: updated-aperture-docs

Disable ext_authz request body buffering by default (#480)
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/get-started/installation/agent/envoy/istio.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
Due: updated-aperture-docs

Update OTEL to 0.60.0 (#477)
  go.mod
  go.sum
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/loggingexporter/otlptext/databuffer.go
  pkg/otelcollector/loggingexporter/otlptext/logs.go
  pkg/otelcollector/loggingexporter/testdata/log.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/rollupprocessor/rollup_processor.go
  pkg/policies/controlplane/policy.go
Due: updated-aperture

remove CertPath key from server TLS config (#493)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/configmaps_test.go
  operator/controllers/controller_config_test.tpl
  operator/controllers/controller_reconciler.go
  pkg/net/tlsconfig/server.go
Due: updated-aperture, updated-aperture-docs

Update accepted/incoming concurrency port names (#497)
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
Due: updated-aperture

Update README.md (#484)
  README.md
Due: none

rename some server tls config fields (#498)
  README.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_config_test.tpl
  operator/controllers/configmaps_test.go
  operator/controllers/controller_config_test.tpl
  operator/controllers/controller_reconciler.go
  pkg/net/tlsconfig/server.go
Due: updated-aperture, updated-aperture-docs

Documentation Improvements (#467)
  .pre-commit-config.yaml
  docs/Makefile
  docs/content/cloud/_category_.yml
  docs/content/cloud/cloud.md
  docs/content/cloud/plugin.md
  docs/content/concepts/_category_.yml
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/policy.md
  docs/content/concepts/policy/resources.md
  docs/content/get-started/_category_.yml
  docs/content/get-started/installation/agent/_category_.yml
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/controller.md
  docs/content/reference/_category_.yml
  docs/content/reference/configuration/_category_.yml
  docs/content/references/_category_.yml
  docs/content/references/configuration/_category_.yml
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/content/references/configuration/policies.md
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/values.yaml
Due: updated-aperture-docs

Playground doc improvements (#472)
  README.md
  docs/content/assets/img/starttraffic.png
  docs/content/assets/img/starttrafficbig.png
  docs/content/get-started/playground.md
Due: updated-aperture-docs

Update playground docs (#508)
  docs/content/get-started/blueprints.md
  docs/content/get-started/playground.md
Due: updated-aperture-docs

Use interface for Reading, TickInfo in runtime package (#501)
  pkg/policies/controlplane/components/actuators/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/controlplane/components/arithmetic-combinator.go
  pkg/policies/controlplane/components/constant.go
  pkg/policies/controlplane/components/controller/controller-component.go
  pkg/policies/controlplane/components/controller/controller-state-read-api.go
  pkg/policies/controlplane/components/controller/controller.go
  pkg/policies/controlplane/components/controller/gradient.go
  pkg/policies/controlplane/components/controller/gradient_test.go
  pkg/policies/controlplane/components/decider.go
  pkg/policies/controlplane/components/decider_test.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/controlplane/components/ema_test.go
  pkg/policies/controlplane/components/extrapolator.go
  pkg/policies/controlplane/components/max.go
  pkg/policies/controlplane/components/min.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/components/sqrt.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/reading/reading.go
  pkg/policies/controlplane/reading/reading_test.go
  pkg/policies/controlplane/runtime/circuit-api.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/runtime/port-to-value.go
  pkg/policies/controlplane/runtime/reading.go
  pkg/policies/controlplane/runtime/reading_test.go
  pkg/policies/controlplane/runtime/runtime_suite_test.go
  pkg/policies/controlplane/runtime/tick-info.go
Due: updated-aperture

Documentation improvements (#500)
  .pre-commit-config.yaml
  README.md
  docs/Makefile
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.mmd
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_1.mmd
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_2.mmd
  docs/content/assets/gen/service.md_2.mmd.svg
  docs/content/cloud/plugin.md
  docs/content/introduction.md
  docs/tools/mermaid/md_to_mmd.sh
  docs/tools/mermaid/mermaid-theme.json
  scripts/precommit/generate_config_markdown.sh
  scripts/precommit/generate_docs.sh
  scripts/precommit/generate_mermaid.sh
  scripts/precommit/generate_swagger.sh
Due: updated-aperture-docs

fix mermaid generator on macOS (#510)
  docs/tools/mermaid/md_to_mmd.sh
Due: updated-aperture-docs

update mermaid theme (#512)
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_2.mmd.svg
  docs/tools/mermaid/mermaid-theme.json
Due: updated-aperture-docs

Peers package unit testing (#511)
  pkg/peers/peers_suite_test.go
  pkg/peers/peers_test.go
  pkg/status/status_suite_test.go
Due: updated-aperture

add link to explainer video in readme (#514)
  README.md
  docs/content/assets/gen/architecture_simple.mmd
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/introduction.md
Due: updated-aperture-docs

Upgraded minimum Kubernetes version to 1.23 (#519)
  docs/content/get-started/supported-platforms.md
Due: updated-aperture-docs

Added details on how to provide custom config for Agent and Controller in docs (#475)
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
Due: updated-aperture-docs

Fix tests on main (#520)
  pkg/flowcontrol/envoy/authz_test.go
  pkg/flowcontrol/envoy/baggage/baggage_suite_test.go
  pkg/otelcollector/enrichmentprocessor/processor_metrics_test.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture

Split scraping metrics for FN plugin (#481)
  pkg/otel/config.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

update envoy filter docs (#522)
  docs/content/get-started/installation/agent/envoy/istio.md
Due: updated-aperture-docs
