Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Due: none

Add pgsql scenario (#3125)
  blueprints/concurrency-limiting/base/config.libsonnet
  blueprints/concurrency-limiting/base/gen/definitions.json
  blueprints/concurrency-limiting/base/gen/values.yaml
  blueprints/concurrency-scheduling/base/config.libsonnet
  blueprints/concurrency-scheduling/base/gen/definitions.json
  blueprints/concurrency-scheduling/base/gen/values.yaml
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/config.libsonnet
  blueprints/rate-limiting/base/gen/definitions.json
  blueprints/rate-limiting/base/gen/values.yaml
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/guides/assets/managing-quotas/policy.yaml
  docs/content/reference/aperture-cli/policies/assets/raw_values.yaml
  docs/content/reference/blueprints/concurrency-limiting/base.md
  docs/content/reference/blueprints/concurrency-scheduling/base.md
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/blueprints/rate-limiting/base.md
  pkg/scheduler/wfq.go
  playground/Tiltfile
  playground/scenarios/concurrency-limiter/load-generator/test.js
  playground/scenarios/concurrency-limiter/metadata.json
  playground/scenarios/concurrency-limiter/policies/concurrency-limiting-cr.yaml
  playground/scenarios/concurrency-limiter/policies/concurrency-limiting.yaml
  playground/scenarios/concurrency-scheduler/policies/concurrency-scheduler-cr.yaml
  playground/scenarios/postgres-concurrency/load-generator/test.js
  playground/scenarios/postgres-concurrency/metadata.json
  playground/scenarios/postgres-concurrency/policies/concurrency-scheduling-cr.yaml
  playground/scenarios/postgres-concurrency/policies/concurrency-scheduling.yaml
  playground/scenarios/postgres-concurrency/values.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/tanka/apps/aperture-go-example/mixins.libsonnet
  playground/tanka/lib/apps/aperture-sdk-example/aperture-sdk-example.libsonnet
  sdks/aperture-go/Dockerfile.manual
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/examples/manual/init.sql
  sdks/aperture-go/examples/manual/main.go
  sdks/aperture-go/sdk/flow.go
Due: updated-aperture, updated-aperture-docs

Add Forms to Concurrency Guides and update sdk version to latest (#3123)
  docs/content/guides/assets/concurrency-quota-management/concurrency-scheduling-test.png
  docs/content/guides/assets/mistral/graph.mmd
  docs/content/guides/assets/mistral/graph.mmd.md5sum
  docs/content/guides/assets/mistral/graph.mmd.svg
  docs/content/guides/assets/mistral/policy.yaml
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limit-test.png
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd.md5sum
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-concurrency-limiting/values.yaml
  docs/content/guides/concurrency-quota-management.md
  docs/content/guides/per-user-concurrency-limiting.md
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
Due: updated-aperture-docs

Improve docs (#3128)
  README.md
  docs/content/concepts/flow-lifecycle.md
  docs/content/guides/assets/concurrency-control-and-prioritization/concurrency-scheduling-test.png
  docs/content/guides/assets/concurrency-control-and-prioritization/concurrency-scheduling.mmd
  docs/content/guides/assets/concurrency-control-and-prioritization/concurrency-scheduling.mmd.md5sum
  docs/content/guides/assets/concurrency-control-and-prioritization/concurrency-scheduling.mmd.svg
  docs/content/guides/assets/concurrency-control-and-prioritization/graph.mmd
  docs/content/guides/assets/concurrency-control-and-prioritization/graph.mmd.md5sum
  docs/content/guides/assets/concurrency-control-and-prioritization/graph.mmd.svg
  docs/content/guides/assets/concurrency-control-and-prioritization/policy.yaml
  docs/content/guides/assets/concurrency-control-and-prioritization/queue.png
  docs/content/guides/assets/concurrency-control-and-prioritization/request-metrics.png
  docs/content/guides/assets/concurrency-control-and-prioritization/validate.sh
  docs/content/guides/assets/concurrency-control-and-prioritization/values.yaml
  docs/content/guides/assets/concurrency-control-and-prioritization/workloads.png
  docs/content/guides/concurrency-control-and-prioritization.md
  docs/content/introduction.md
  docs/content/reference/aperture-cli/configure-cli.md
  docs/content/reference/cloud-ui/personal-access-tokens.md
Due: updated-aperture-docs

Change grafana port to 3333 (#3129)
  playground/README.md
  playground/Tiltfile
Due: none

Add Mistral Guide and Assets (#3127)
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/aperture-for-infra/guides/api-quota-management/api-quota-management.md
  docs/content/guides/api-quota-management.md
  docs/content/guides/assets/mistral/after-aperture.png
  docs/content/guides/assets/mistral/before-aperture.png
  docs/content/guides/assets/mistral/mistral-policy.png
  docs/content/guides/assets/mistral/mistral-queue.png
  docs/content/guides/assets/mistral/mistral.mmd
  docs/content/guides/assets/mistral/mistral.mmd.md5sum
  docs/content/guides/assets/mistral/mistral.mmd.svg
  docs/content/guides/assets/mistral/policy.yaml
  docs/content/guides/assets/mistral/validate.sh
  docs/content/guides/assets/mistral/values.yaml
  docs/content/guides/concurrency-control-and-prioritization.md
  docs/content/guides/mistral.md
  docs/content/guides/per-user-concurrency-limiting.md
  docs/content/guides/per-user-rate-limiting.md
Due: updated-aperture-docs

Update load generator target duration and primary key constraint (#3131)
  playground/scenarios/postgres-concurrency/load-generator/test.js
  sdks/aperture-go/examples/manual/init.sql
Due: none

Update mistral guide (#3133)
  docs/content/guides/mistral.md
Due: updated-aperture-docs

readme: add concurrency limiting announcement (#3132)
  README.md
Due: none

fix pre-commit (#3136)
  api/buf.lock
Due: none

Fairness (#3134)
  .github/styles/config/vocabularies/FluxNinja/accept.txt
  .github/styles/config/vocabularies/FluxNinja/reject.txt
  .pre-commit-config.yaml
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/scheduler.libsonnet
  dashboards/grafana/dashboards/summary/scheduler/rows-fn.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/content/reference/observability/prometheus-metrics/agent.md
  docs/gen/policy/policy.yaml
  go.mod
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/request.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
Due: updated-aperture, updated-aperture-docs

Keep reference to the storage client so that we can close it during Stop() (#3135)
  pkg/objectstorage/object-storage.go
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
Due: updated-aperture

Update Go SDK examples go mod on API version change (#3138)
  .circleci/scripts/update_api_go_sdk.sh
Due: none

New dashboard panel: tokens adjusted to maintain fairness (#3139)
  api/aperture/policy/private/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol_vtproto.pb.go
  dashboards/grafana/dashboards/summary/concurrency-scheduler/rows.libsonnet
  dashboards/grafana/dashboards/summary/load-actuator/rows.libsonnet
  dashboards/grafana/dashboards/summary/quota-scheduler/rows.libsonnet
  dashboards/grafana/dashboards/summary/scheduler/rows-fn.libsonnet
  pkg/policies/controlplane/components/flowcontrol/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/load-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/quota-scheduler.go
Due: updated-aperture

Update API Version in Go SDK
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Due: none

update github readme (#3141)
  README.md
Due: none

Use io.ReadAll() and add more persistence-related logs (#3140)
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/persistent-dmap.go
Due: updated-aperture

Add Fairness label key code examples (#3148)
  docs/content/code-snippets.json
  sdks/aperture-js/example/ui_snippets.ts
Due: updated-aperture-docs

Document fairness (#3143)
  docs/content/concepts/concurrency-limiter.md
  docs/content/concepts/rate-limiter.md
  docs/content/concepts/scheduler.md
Due: updated-aperture-docs

Engine tests (#3142)
  .gitignore
  pkg/dmap-funcs/concurrency-limiter/concurrency-limiter_test.go
  pkg/dmap-funcs/concurrency-limiter/iface.go
  pkg/dmap-funcs/rate-limiter/lazy-sync/lazy-sync.go
  pkg/policies/flowcontrol/actuators/concurrency-limiter/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/engine_test.go
Due: updated-aperture

Fix pre-commit (#3150)
  api/buf.lock
Due: none

Add accept words for blog (#3151)
  .github/styles/config/vocabularies/FluxNinja/accept.txt
  cmd/aperture-agent/config/types.go
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
Due: updated-aperture, updated-aperture-docs

Fix pre-commit (#3152)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: none

Docs: Minor improvement fairness concept (#3153)
  docs/content/concepts/scheduler.md
Due: updated-aperture-docs

Remove circuit diagram and replace with open ai request prioritization (#3154)
  docs/content/guides/assets/openai/request-prioritization.png
  docs/content/guides/openai.md
Due: updated-aperture-docs

Rate limiter throttle (#3155)
  pkg/dmap-funcs/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/dmap-funcs/rate-limiter/rate-limiter_test.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
Due: updated-aperture

Update buf lock (#3156)
  api/buf.lock
Due: none

update Aperture introduction (#3157)
  .pre-commit-config.yaml
  README.md
  api/buf.lock
  docs/content/code-snippets.json
  docs/content/concepts/cache.md
  docs/content/get-started/assets/rate-limiter-blueprint-dark.png
  docs/content/get-started/assets/rate-limiter-blueprint-light.png
  docs/content/get-started/assets/rate-limiter-dark.png
  docs/content/get-started/assets/rate-limiter-dashboard-dark.png
  docs/content/get-started/assets/rate-limiter-dashboard-light.png
  docs/content/get-started/assets/rate-limiter-light.png
  docs/content/get-started/assets/rate_limiter_blueprint.png
  docs/content/get-started/get-started.md
  docs/content/introduction.md
  sdks/aperture-js/example/basic_usage.ts
Due: updated-aperture-docs

Fix type issues and wrong field in aperture-py (#3158)
  sdks/aperture-py/README.md
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/example/manual_flow.py
  sdks/aperture-py/poetry.lock
  sdks/aperture-py/pyproject.toml
Due: none

Update buf.lock (#3159)
  api/buf.lock
Due: none

Add Agent Group processor to FN pipeline (#3160)
  extensions/fluxninja/otel/provide.go
Due: none

Fix order of job groups and otel tests (#3161)
  api/buf.lock
  extensions/fluxninja/otel/otel_test.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
Due: updated-aperture

Remove unused codecov (#3163)
  .circleci/continue-workflows.yml
  README.md
Due: none
