Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Update Rejected Tokens Panel With New Metric (#2819)
  blueprints/grafana/panels/total_rejected_tokens.libsonnet
Due: none

Update controller on blueprints update (#2810)
  .circleci/continue-workflows.yml
Due: none

update deprecated version to 3.0.0 (#2822)
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

refactor get agents (#2815)
  pkg/agent-functions/agents/agents.go
  pkg/peers/peers.go
  pkg/policies/paths/paths.go
Due: updated-aperture

Add method and sub-commands to archive policy and blueprints using aperturectl (#2824)
  api/aperture/cloud/v1/blueprints.proto
  api/aperture/cloud/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/cloud/v1/blueprints.pb.go
  api/gen/proto/go/aperture/cloud/v1/blueprints.pb.gw.go
  api/gen/proto/go/aperture/cloud/v1/blueprints_grpc.pb.go
  api/gen/proto/go/aperture/cloud/v1/policy.pb.go
  api/gen/proto/go/aperture/cloud/v1/policy_grpc.pb.go
  cmd/aperturectl/cmd/cloud/blueprints/archive.go
  cmd/aperturectl/cmd/cloud/dynamicconfig/root.go
  cmd/aperturectl/cmd/cloud/policy/apply.go
  cmd/aperturectl/cmd/cloud/policy/archive.go
  cmd/aperturectl/cmd/cloud/policy/root.go
  cmd/aperturectl/cmd/cloud/utils/controller.go
  cmd/aperturectl/cmd/dynamicconfig/root.go
  cmd/aperturectl/cmd/policy/apply.go
  cmd/aperturectl/cmd/policy/root.go
  cmd/aperturectl/cmd/utils/controller-client.go
  cmd/aperturectl/cmd/utils/controller.go
  cmd/aperturectl/cmd/utils/decisions.go
  cmd/aperturectl/cmd/utils/dynamic-config.go
  cmd/aperturectl/cmd/utils/policies.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
Due: updated-aperture, updated-aperture-docs

Register archive sub-command (#2825)
  cmd/aperturectl/cmd/cloud/blueprints/archive.go
  cmd/aperturectl/cmd/cloud/blueprints/root.go
  cmd/aperturectl/cmd/cloud/policy/root.go
  docs/content/reference/aperturectl/cloud/blueprints/archive/archive.md
  docs/content/reference/aperturectl/cloud/blueprints/blueprints.md
  docs/content/reference/aperturectl/cloud/policy/archive/archive.md
  docs/content/reference/aperturectl/cloud/policy/policy.md
Due: updated-aperture, updated-aperture-docs

Add cloud dynamicconfig subcommand (#2827)
  api/buf.lock
  blueprints/auto-scaling/pod-auto-scaler/gen/dynamic-config-definitions.json
  blueprints/auto-scaling/pod-auto-scaler/gen/dynamic-config-values.yaml
  blueprints/blueprint-assets-generator.py
  blueprints/load-ramping/base/gen/dynamic-config-definitions.json
  blueprints/load-ramping/base/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/average-latency/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/average-latency/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/elasticsearch/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/elasticsearch/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/java-gc-generic/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/java-gc-generic/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/java-gc-k8s/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/java-gc-k8s/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/postgresql/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/postgresql/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/promql/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/promql/gen/dynamic-config-values.yaml
  blueprints/quota-scheduling/base/gen/dynamic-config-definitions.json
  blueprints/quota-scheduling/base/gen/dynamic-config-values.yaml
  blueprints/rate-limiting/base/gen/dynamic-config-definitions.json
  blueprints/rate-limiting/base/gen/dynamic-config-values.yaml
  cmd/aperturectl/cmd/cloud/dynamicconfig/apply.go
  cmd/aperturectl/cmd/cloud/dynamicconfig/delete.go
  cmd/aperturectl/cmd/cloud/dynamicconfig/get.go
  cmd/aperturectl/cmd/cloud/dynamicconfig/root.go
  cmd/aperturectl/cmd/dynamicconfig/get.go
  cmd/aperturectl/cmd/utils/dynamic-config.go
  docs/content/reference/aperturectl/cloud/dynamic-config/apply/apply.md
  docs/content/reference/aperturectl/cloud/dynamic-config/delete/delete.md
  docs/content/reference/aperturectl/cloud/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/cloud/dynamic-config/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/cloud/dynamic-config/get/get.md
Due: updated-aperture, updated-aperture-docs

Add option to set timeouts in individual flows in go sdk (#2821)
  sdks/aperture-go/example/main.go
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
Due: none

Add option to set timeouts in individual flows in java sdk (#2820)
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/standalone-traffic-flow-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/ApertureSDKWrapper.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaClientAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaServerAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/netty/NettyServerAdvice.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClientBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPServiceBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClientBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCServiceBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlowRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlowRequestBuilder.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/NettyUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
Due: none

agent group flag for introspeciton commands (#2826)
  api/aperture/cmd/v1/cmd.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.json.go
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.validate.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_vtproto.pb.go
  cmd/aperturectl/cmd/agents.go
  cmd/aperturectl/cmd/cloud/agents.go
  cmd/aperturectl/cmd/cloud/discovery/entities.go
  cmd/aperturectl/cmd/discovery/entities.go
  cmd/aperturectl/cmd/utils/agents.go
  cmd/aperturectl/cmd/utils/controller-client.go
  cmd/aperturectl/cmd/utils/discovery.go
  docs/content/reference/aperturectl/agents/agents.md
  docs/content/reference/aperturectl/cloud/agents/agents.md
  docs/content/reference/aperturectl/cloud/discovery/entities/entities.md
  docs/content/reference/aperturectl/discovery/entities/entities.md
  pkg/agent-functions/agents/agents.go
  pkg/cmd/controller.go
Due: updated-aperture, updated-aperture-docs

Add error for invalid BoolVariable (#2829)
  pkg/config/koanf-unmarshaller_test.go
  pkg/config/unmarshaller.go
Due: updated-aperture

Rename api key to agent api key in fluxninja plugin config (#2814)
  docs/agent.md
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/self-hosting/agent.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/fluxninja.md
  docs/controller.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  extensions/fluxninja/heartbeats/heartbeats.go
  extensions/fluxninja/heartbeats/peers-watcher.go
  extensions/fluxninja/heartbeats/provide.go
  extensions/fluxninja/otel/otel_test.go
  extensions/fluxninja/otel/provide.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-agent/templates/agent-deployment.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/controller/config_test.tpl
  operator/controllers/utils.go
  operator/controllers/utils_test.go
Due: updated-aperture-docs

add openai quota scheduler guides (#2781)
  blueprints/jsonnetfile.json
  blueprints/jsonnetfile.lock.json
  cmd/aperturectl/cmd/cloud/utils/controller.go
  docs/content/get-started/installation/configure-cli.md
  docs/content/guides/api-quota-management/assets/openai/flow-analytics-dark.png
  docs/content/guides/api-quota-management/assets/openai/flow-analytics-light.png
  docs/content/guides/api-quota-management/assets/openai/priorities-dark.png
  docs/content/guides/api-quota-management/assets/openai/priorities-light.png
  docs/content/guides/api-quota-management/assets/openai/token-rate-dark.png
  docs/content/guides/api-quota-management/assets/openai/token-rate-light.png
  docs/content/guides/api-quota-management/openai.md
  docs/content/integrations/sdk/java/auto-instrumentation.md
  playground/tanka/jsonnetfile.json
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/consts.ts
Due: updated-aperture, updated-aperture-docs

Make uri non-mandatory field in blueprints (#2830)
  api/buf.lock
  blueprints/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/blueprint-assets-generator.py
  blueprints/load-ramping/base/gen/definitions.json
  blueprints/load-ramping/base/gen/values.yaml
  blueprints/load-scheduling/average-latency/gen/definitions.json
  blueprints/load-scheduling/average-latency/gen/values.yaml
  blueprints/load-scheduling/elasticsearch/gen/definitions.json
  blueprints/load-scheduling/elasticsearch/gen/values.yaml
  blueprints/load-scheduling/java-gc-generic/gen/definitions.json
  blueprints/load-scheduling/java-gc-generic/gen/values.yaml
  blueprints/load-scheduling/java-gc-k8s/gen/definitions.json
  blueprints/load-scheduling/java-gc-k8s/gen/values.yaml
  blueprints/load-scheduling/postgresql/gen/definitions.json
  blueprints/load-scheduling/postgresql/gen/values.yaml
  blueprints/load-scheduling/promql/gen/definitions.json
  blueprints/load-scheduling/promql/gen/values.yaml
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/gen/definitions.json
  blueprints/rate-limiting/base/gen/values.yaml
  cmd/aperturectl/cmd/blueprints/generate.go
  docs/content/get-started/policies/assets/raw_values.yaml
  docs/content/get-started/policies/assets/values.yaml
  docs/content/guides/api-quota-management/openai.md
Due: updated-aperture, updated-aperture-docs

aperture-js: minor update to the constructor (#2831)
  docs/content/guides/api-quota-management/openai.md
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: updated-aperture-docs

bump buf version (#2832)
  .tool-versions
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
  test/harness/etcd.go
Due: none

Java SDK: use address argument instead of host and port (#2833)
  docs/content/integrations/sdk/java/armeria.md
  docs/content/integrations/sdk/java/auto-instrumentation.md
  docs/content/integrations/sdk/java/manual.md
  docs/content/integrations/sdk/java/netty.md
  docs/content/integrations/sdk/java/springboot.md
  docs/content/integrations/sdk/java/tomcat.md
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/SpringBootApp.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/controller/AppController.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/standalone-traffic-flow-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/tomcat-example/src/main/webapp/WEB-INF/web.xml
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
Due: updated-aperture-docs

Fix pre-commit on main (#2835)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: none

Update java SDK version to v2.20 (#2834)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/version.gradle.kts
Due: none

Add support for multiple agent CR in operator (#2836)
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-agent/templates/operator-rbac.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/agent_suite_test.go
  operator/controllers/agent/clusterrole.go
  operator/controllers/agent/configmaps.go
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/deployment.go
  operator/controllers/agent/deployment_test.go
  operator/controllers/agent/reconciler.go
  operator/controllers/agent/reconciler_test.go
  operator/controllers/agent/serviceaccount.go
  operator/controllers/agent/services.go
  operator/controllers/controller/clusterrole.go
  operator/controllers/controller/reconciler_test.go
  operator/controllers/controller/serviceaccount.go
  operator/controllers/mutatingwebhook/agent_pod.go
  operator/controllers/mutatingwebhook/clusterrole.go
  operator/controllers/mutatingwebhook/clusterrole_test.go
  operator/controllers/mutatingwebhook/mutating_webhook_handler.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
  operator/main.go
Due: none

Move GradientController to top-level components (#2838)
  blueprints/grafana/dashboard_group.libsonnet
  blueprints/main.libsonnet
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/circuitfactory/component-factory_test.go
  pkg/policies/controlplane/components/controller/controller-component.go
  pkg/policies/controlplane/components/controller/controller.go
  pkg/policies/controlplane/components/controller/gradient.go
  pkg/policies/controlplane/components/controller/gradient_test.go
  pkg/policies/controlplane/components/gradient-controller.go
  pkg/policies/controlplane/components/pid-controller.go
Due: updated-aperture

Update load scheduler docs (#2837)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/scheduler/load-scheduler.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

Dashboards fix (#2839)
  blueprints/grafana/actuator_library.libsonnet
  cmd/aperturectl/cmd/blueprints/generate.go
Due: updated-aperture

Add function to create generate and apply command (#2840)
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/validate.sh
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/values.yaml
  docs/content/guides/api-quota-management/inter-service-rate-limiting.md
  docs/content/guides/api-quota-management/openai.md
  docs/content/guides/blueprintsComponents.js
  docs/content/guides/classifying-workloads/graphql-rate-limiting.md
  docs/content/guides/database-load-management/postgresql.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/guides/service-load-management/average-latency-feedback.md
Due: updated-aperture-docs

Add support for topologySpreadConstraint for agents (#2842)
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/deployment.go
  operator/controllers/agent/deployment_test.go
Due: none

Bring back Signals Dashboard (#2843)
  blueprints/grafana/dashboard_group.libsonnet
  blueprints/grafana/panel_library.libsonnet
  blueprints/grafana/signals_dashboard.libsonnet
Due: none

Add support of deployment strategy in agent CR (#2844)
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/deployment.go
  operator/controllers/agent/deployment_test.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/deployment_test.go
Due: none

Fix link to spec.md (#2845)
  docs/content/concepts/scheduler/load-scheduler.md
Due: updated-aperture-docs

Reserve 'aperture-cloud' agent group for cloud agent (#2847)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/spec.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  docs/gen/policy/policy.yaml
  extensions/fluxninja/extconfig/extconfig.go
  operator/controllers/agent/deployment_test.go
  operator/controllers/agent/hook.go
  operator/controllers/agent/hook_test.go
  operator/controllers/agent/reconciler.go
  operator/controllers/agent/reconciler_test.go
  operator/controllers/mutatingwebhook/agent_pod.go
  operator/controllers/utils.go
  pkg/agent-info/agent-info.go
  pkg/utils/consts.go
Due: updated-aperture, updated-aperture-docs

Update cloud agent with aperture-agent (#2848)
  .circleci/continue-workflows.yml
  .opsninja.yaml
Due: none

Use proto representation of token bucket state and related structs (#2846)
  api/aperture/tokenbucket/v1/state.proto
  api/gen/proto/go/aperture/tokenbucket/v1/state.pb.go
  api/gen/proto/go/aperture/tokenbucket/v1/state.pb.json.go
  api/gen/proto/go/aperture/tokenbucket/v1/state.pb.validate.go
  api/gen/proto/go/aperture/tokenbucket/v1/state_vtproto.pb.go
  blueprints/grafana/signals_dashboard.libsonnet
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-agent/templates/agent-cr.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/deployment.go
  pkg/dist-cache/provider.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture

fix links in readme file (#2853)
  README.md
Due: none

Fix missing controllerInfo in Heartbeats (#2855)
  extensions/fluxninja/heartbeats/heartbeats.go
  extensions/fluxninja/heartbeats/provide.go
  extensions/fluxninja/otel/provide.go
  playground/Tiltfile
Due: none

Make the policy hash stable (#2790)
  api/aperture/policy/sync/v1/common_attributes.proto
  api/gen/proto/go/aperture/policy/sync/v1/common_attributes.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/provider.go
Due: updated-aperture, updated-aperture-docs

Upgrade Go to 1.21.3 (#2856)
  .circleci/continue-workflows.yml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/demo-app/go.mod
  playground/resources/demo-app/go.sum
  playground/resources/graphql-demo-app/Dockerfile
  playground/resources/graphql-demo-app/go.mod
  scripts/go_mod_tidy.sh
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture

Add ETCD Client getter (#2857)
  pkg/etcd/client/client.go
Due: updated-aperture

Fix missing actuators in children components (#2673)
  cmd/aperturectl/cmd/compile.go
  cmd/aperturectl/cmd/utils/utils.go
  docs/content/reference/aperturectl/compile/compile.md
  pkg/policies/controlplane/circuitfactory/tree.go
Due: updated-aperture, updated-aperture-docs

etcd fixes (#2859)
  extensions/fluxninja/heartbeats/heartbeats.go
  extensions/fluxninja/otel/otel_test.go
  extensions/fluxninja/otel/provide.go
  pkg/etcd/client/client.go
  pkg/peers/peers.go
Due: updated-aperture

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
