Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

update sidebar top level heading (#2037)
  docs/content/applying-policies/quota-scheduler/quota-scheduler.md
Due: updated-aperture-docs

update introduction with new description (#2038)
  docs/content/introduction.md
Due: updated-aperture-docs

update sampe app links and add middleware section (#2039)
  docs/content/integrations/flow-control/sdk/go/manual.md
  docs/content/integrations/flow-control/sdk/java/armeria.md
  docs/content/integrations/flow-control/sdk/java/manual.md
  docs/content/integrations/flow-control/sdk/java/netty.md
  docs/content/integrations/flow-control/sdk/java/springboot.md
  docs/content/integrations/flow-control/sdk/java/tomcat.md
  docs/content/integrations/flow-control/sdk/sdk.md
Due: updated-aperture-docs

add links (#2042)
  docs/content/get-started/get-started.md
  docs/content/integrations/flow-control/flow-control.md
Due: updated-aperture-docs

update with code links (#2043)
  docs/content/integrations/flow-control/sdk/java/armeria.md
  docs/content/integrations/flow-control/sdk/java/auto-instrumentation.md
  docs/content/integrations/flow-control/sdk/java/manual.md
  docs/content/integrations/flow-control/sdk/java/netty.md
  docs/content/integrations/flow-control/sdk/java/springboot.md
  docs/content/integrations/flow-control/sdk/java/tomcat.md
Due: updated-aperture-docs

Update applying policies doc (#2046)
  docs/content/applying-policies/applying-policies.md
  docs/content/applying-policies/quota-scheduler/external-rate-limiting.md
  docs/content/introduction.md
Due: updated-aperture-docs

Add inframeter for collecting jmx metrics from prometheus (#2035)
  playground/resources/java-demo-app/build.gradle.kts
  playground/resources/java-demo-app/src/main/resources/application.properties
  playground/resources/wavepool-generator/apps-v1.Deployment-wavepool-graphql-generator.yaml
  playground/scenarios/java-service-protection/metadata.json
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection.yaml
  playground/tanka/apps/java-demo-app/mixins.libsonnet
Due: none

Add support for workload name (#2045)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/schedulerworkload.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/actuators/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  playground/scenarios/workload-prioritization/load_generator
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization.yaml
Due: updated-aperture, updated-aperture-docs

Fixed issue of incorrect value of setpoint constant variable (#2054)
  pkg/policies/controlplane/components/variable.go
Due: updated-aperture

Fixed pre-commit (#2057)
  docs/tools/otel_collectors/template.md
Due: updated-aperture-docs

fix a typo (#2058)
  docs/content/get-started/setting-up-application/service-mesh-and-gateways.md
Due: updated-aperture-docs

Allow extensions to modify also dynamic parts of collector config (#2041)
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/agent/provider.go
  cmd/aperture-controller/controller/otel-component.go
  cmd/aperture-controller/controller/otel-config.go
  extensions/fluxninja/heartbeats/heartbeats.go
  extensions/fluxninja/otel/otel_test.go
  extensions/fluxninja/otel/provide.go
  pkg/otelcollector/config/builtin_config.go
  pkg/otelcollector/config/config-provider.go
  pkg/otelcollector/config/config.go
  pkg/otelcollector/config/config_test.go
  pkg/otelcollector/config/otelconfig_suite_test.go
  pkg/otelcollector/config/provider.go
  pkg/otelcollector/config/provider_test.go
  pkg/otelcollector/config/user_config.go
  pkg/otelcollector/config/zz_generated.deepcopy.go
  pkg/otelcollector/infra-meter/infra-meter.go
  pkg/otelcollector/otelcollector.go
  test/aperture_suite_test.go
Due: updated-aperture

wfq: refactor locking (#2062)
  pkg/policies/flowcontrol/actuators/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/actuators/regulator/regulator.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/limiter.go
  pkg/policies/mocks/mock_limiter.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/rate-limiter/iface.go
  pkg/rate-limiter/lazy-sync/lazy-sync.go
  pkg/rate-limiter/test/rate-limiter_test.go
  pkg/scheduler/global-token-bucket.go
  pkg/scheduler/load-multiplier-token-bucket.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/token-bucket.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
  pkg/scheduler/windowed-counter.go
Due: updated-aperture

global token bucket: decide based on deadline (#2063)
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture

Use custom PolicyMessage for passing policies to be wrapped (#2064)
  pkg/policies/controlplane/crwatcher/watcher.go
  pkg/policies/controlplane/iface/policy.go
  pkg/policies/controlplane/provider.go
Due: updated-aperture

Fixed typo in aperturectl log (#2065)
  cmd/aperturectl/cmd/utils/controller.go
Due: updated-aperture

Update olric to fluxninja-0.5 (#2068)
  api/aperture/distcache/v1/stats.proto
  api/gen/proto/go/aperture/distcache/v1/stats.pb.go
  api/gen/proto/go/aperture/distcache/v1/stats.pb.json.go
  api/gen/proto/go/aperture/distcache/v1/stats.pb.validate.go
  api/gen/proto/go/aperture/distcache/v1/stats_deepcopy.gen.go
  api/gen/proto/go/aperture/distcache/v1/stats_grpc.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  go.mod
  go.sum
  pkg/dist-cache/dist-cache-test-helpers.go
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
  pkg/policies/flowcontrol/actuators/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/engine.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/rate-limiter/lazy-sync/lazy-sync.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler.yaml
Due: updated-aperture, updated-aperture-docs

docs: remove Cards (#2069)
  docs/content/get-started/setting-up-application/manual-control-points.md
  docs/content/get-started/setting-up-application/middleware-insertions.md
  docs/content/get-started/setting-up-application/service-mesh-and-gateways.md
  docs/content/introduction.md
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler.yaml
Due: updated-aperture-docs

docs: fix mermaid generation script (#2070)
  README.md
  docs/tools/mermaid/generate_all.sh
Due: updated-aperture-docs

global token bucket: remove key lock (#2091)
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  go.mod
  go.sum
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/dist-cache/config/config.go
  pkg/dist-cache/provider.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture, updated-aperture-docs

Fix DistCache timeout error (#2095)
  pkg/dist-cache/provider.go
  pkg/dist-cache/service-discovery.go
Due: updated-aperture

Do not get stats in ProvideDistCache (#2096)
  pkg/dist-cache/provider.go
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler.yaml
Due: updated-aperture

Support policies metadata for policies created by api (#2098)
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/provider.go
  pkg/policies/paths/paths.go
Due: updated-aperture

Java SDK: Rename methods to be more descriptive (#2051)
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/RpcUtils.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/FlowDecision.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
Due: none

Java SDK: Add shouldRun() method to Flow classes (#2100)
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
Due: none

Java SDK: Creation of Aperture SDK without specifying Agent host/port (#2101)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
Due: none

Fixed the API generate issue (#2103)
  api/buf.gen.aperture-grpc-ecosystem.yaml
  api/buf.lock
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/ClassifierInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FluxMeterInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/DeniedHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/OkHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/SocketAddress.java
Due: none

Fix confirmation generation in service protection blueprint (#2105)
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/gen/definitions.json
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/gen/values-required.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/gen/values.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/gen/definitions.json
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/gen/values-required.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/gen/values.yaml
  blueprints/policies/service-protection/average-latency/gen/definitions.json
  blueprints/policies/service-protection/average-latency/gen/values-required.yaml
  blueprints/policies/service-protection/average-latency/gen/values.yaml
  blueprints/policies/service-protection/base/config-defaults.libsonnet
  blueprints/policies/service-protection/base/policy.libsonnet
  blueprints/policies/service-protection/promql/gen/definitions.json
  blueprints/policies/service-protection/promql/gen/values-required.yaml
  blueprints/policies/service-protection/promql/gen/values.yaml
  docs/content/reference/policies/bundled-blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection/average-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection/promql.md
Due: updated-aperture-docs

Java SDK: Add missing javadoc comments (#2102)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKException.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/FlowDecision.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/FlowStatus.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
Due: none

Java SDK: Add traffic flow builder and traffic flow example (#2019)
  .circleci/continue-workflows.yml
  sdks/aperture-java/dockerfiles/aperture-java-all/Dockerfile
  sdks/aperture-java/dockerfiles/trafficflow/Dockerfile
  sdks/aperture-java/examples/standalone-traffic-flow-example/build.gradle.kts
  sdks/aperture-java/examples/standalone-traffic-flow-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlowRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlowRequestBuilder.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/NettyUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
  sdks/aperture-java/settings.gradle.kts
Due: none

Add policy for jmx overload confirmation (#2048)
  blueprints/policies/auto-scaling/base/dashboard.libsonnet
  blueprints/policies/rate-limiting/dashboard.libsonnet
  blueprints/policies/service-protection/base/dashboard.libsonnet
  blueprints/policies/service-protection/jmx/README.md
  blueprints/policies/service-protection/jmx/bundle.libsonnet
  blueprints/policies/service-protection/jmx/config.libsonnet
  blueprints/policies/service-protection/jmx/dashboard.libsonnet
  blueprints/policies/service-protection/jmx/dynamic-config.libsonnet
  blueprints/policies/service-protection/jmx/gen/definitions.json
  blueprints/policies/service-protection/jmx/gen/dynamic-config-definitions.json
  blueprints/policies/service-protection/jmx/gen/dynamic-config-values-required.yaml
  blueprints/policies/service-protection/jmx/gen/dynamic-config-values.yaml
  blueprints/policies/service-protection/jmx/gen/values-required.yaml
  blueprints/policies/service-protection/jmx/gen/values.yaml
  blueprints/policies/service-protection/jmx/jmx.libsonnet
  blueprints/policies/service-protection/jmx/metadata.yaml
  blueprints/policies/service-protection/jmx/policy.libsonnet
  docs/content/reference/policies/bundled-blueprints/policies/service-protection/jmx.md
  playground/resources/java-demo-app/src/main/java/com/javademoapp/javademoapp/RequestController.java
  playground/scenarios/java-jmx-based-service-protection/dashboards/main.jsonnet
  playground/scenarios/java-jmx-based-service-protection/load-generator/test.js
  playground/scenarios/java-jmx-based-service-protection/metadata.json
  playground/scenarios/java-jmx-based-service-protection/policies/jmx-service-protection-cr.yaml
  playground/scenarios/java-jmx-based-service-protection/policies/jmx-service-protection.yaml
  playground/scenarios/java-jmx-based-service-protection/values.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection.yaml
  playground/tanka/charts/java-demo-app/templates/deployment.yaml
  playground/tanka/charts/java-demo-app/values.yaml
Due: updated-aperture-docs

Fix nfpm installer (#2112)
  .circleci/scripts/install_nfpm.sh
Due: none

Bump OTel Collector to `0.78.2` (#2108)
  go.mod
  go.sum
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/namespace/reconciler.go
  operator/main.go
Due: updated-aperture

Rework use cases side menu (#2109)
  docs/content/use-cases/feature-rollout/feature-rollout.md
  docs/content/use-cases/quota-scheduler/assets/with-external-api-calls-prioritization/values.yaml
  docs/content/use-cases/quota-scheduler/quota-scheduler.md
  docs/content/use-cases/service-protection/assets/workload-prioritization/policy.yaml
  docs/content/use-cases/service-protection/assets/workload-prioritization/values.yaml
  docs/content/use-cases/service-protection/service-protection.md
Due: updated-aperture-docs

docs: fix controller API docs (#2114)
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture, updated-aperture-docs
