Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Update Go modules
  go.mod
  go.sum
Due: updated-aperture

Some post-split changes to github and CI (#1)
  .circleci/continue-workflows.yml
  .github/CODEOWNERS
Due: none

Add .gitignore file (#3)
  .gitignore
Due: none

Update .gitignore (#7)
  .gitignore
Due: none

Always run install_go_tools hook (#6)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/scripts/asdf_install.sh
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .tool-versions
  Makefile
  go.mod
  go.sum
  scripts/fn_manage_tools.sh
  scripts/install_go_tools.sh
  tools/tools.go
Due: updated-aperture

add go mod checksum to circlci asdf cache (#9)
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

Add generate_api.sh script (#10)
  api/Makefile
  tools/githooks/generate_api.sh
Due: updated-aperture

Makefile targets (#12)
  .golangci.yaml
  Makefile
  api/Makefile
  scripts/go_build.sh
  scripts/go_build_plugins.sh
  scripts/go_generate.sh
  scripts/go_test.sh
Due: none

update proto (#14)
  api/gen/proto/go/aperture/classification/v1/extractor.pb.go
  api/gen/proto/go/aperture/classification/v1/ruleset.pb.go
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.go
  api/gen/proto/go/aperture/common/info/v1/info.pb.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.go
  api/gen/proto/go/aperture/common/status/v1/status.pb.go
  api/gen/proto/go/aperture/common/watchdog/v1/watchdog.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/openapiv2/v1/openapiv2.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/policy/decisions/v1/policydecisions.pb.go
  api/gen/proto/go/aperture/policy/language/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
Due: none

Update and add diagrams (#15)
  docs/Makefile
  docs/architecture/architecture-simple.mmd
  docs/architecture/architecture-simple.mmd.png
  docs/architecture/architecture-simple.mmd.svg
  docs/architecture/architecture.mmd.png
  docs/architecture/architecture.mmd.svg
  docs/architecture/mermaid-diagram-20220321211305.png
  docs/architecture/mermaid-diagram-20220321211308.svg
  docs/ratelimit/ratelimit.mmd
  docs/ratelimit/ratelimit.mmd.png
  docs/ratelimit/ratelimit.mmd.svg
  docs/traffic-flow/traffic.mmd
  docs/traffic-flow/traffic.mmd.png
  docs/traffic-flow/traffic.mmd.svg
Due: updated-aperture-docs

Install opsninja from fluxninja/aperture main branch (#17)
  .circleci/continue-workflows.yml
Due: none

Fix default CODEOWNERS rule (#16)
  .github/CODEOWNERS
Due: none

Added all the recent docs changes (#2)
  docs/aperture-tech-wip/aperture-api.md
  docs/aperture-tech-wip/architecture.md
  docs/aperture-tech-wip/architecture_donotdelete.md
  docs/aperture-tech-wip/commands-cli.md
  docs/aperture-tech-wip/get-started_old.md
  docs/aperture-tech/Architecture/Components/actuator.md
  docs/aperture-tech/Architecture/Components/aperture-agent.md
  docs/aperture-tech/Architecture/Components/aperture-controller.md
  docs/aperture-tech/Architecture/Components/circuit.md
  docs/aperture-tech/Architecture/Components/fluxmeter.md
  docs/aperture-tech/Architecture/Components/selector.md
  docs/aperture-tech/Architecture/Workflows/flowcontrol-loop.md
  docs/aperture-tech/Architecture/Workflows/telemetry.md
  docs/aperture-tech/Developers/cla.md
  docs/aperture-tech/Get Started/grafana-prometheus.md
  docs/aperture-tech/Introduction/aperture.md
  docs/aperture-tech/Overview/motivation.md
  docs/aperture-tech/Reference/Config-Spec/istio.md
  docs/aperture-tech/Setup/aperture-setup.md
  docs/aperture-tech/Setup/requirements.md
  docs/aperture-tech/Setup/supported-platforms.md
  docs/aperture-tech/Support/contact-support.md
  docs/aperture-tech/assets/img/architecture.png
  docs/aperture-tech/assets/img/circuit.png
  docs/aperture-tech/assets/img/flowchart.png
  docs/aperture-tech/assets/img/oaa.png
  docs/aperture-tech/commands-cli.md
  docs/aperture-tech/contact-support.md
  docs/aperture-tech/introduction.md
  docs/aperture-tech/motivation.md
  docs/aperture-tech/sidebars.json
  docs/aperture-tech/supported-platforms.md
Due: updated-aperture-docs

cache golangci-lint daily (#27)
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

cache go-build as well (#28)
  .circleci/continue-workflows.yml
Due: none

Add test for notifier pkg (#23)
  pkg/notifiers/notifier_test.go
Due: updated-aperture

Extract sentry plugin and register with updated panic handler (#29)
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/swagger.md
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/config/sentry-plugin/plugin-swagger.yaml
  pkg/config/config.go
  pkg/config/log.go
  pkg/discovery/kubernetes/kubernetes_discovery.go
  pkg/distcache/provider.go
  pkg/etcd/client/client.go
  pkg/etcd/watcher/watcher.go
  pkg/etcd/writer/writer.go
  pkg/filesystem/watcher/watcher.go
  pkg/jobs/multi-job.go
  pkg/log/log.go
  pkg/net/grpc/server.go
  pkg/net/http/server.go
  pkg/notifiers/tracker.go
  pkg/otelcollector/otelcollector.go
  pkg/panichandler/crash-writer.go
  pkg/panichandler/crash-writer_test.go
  pkg/panichandler/panic_suite_test.go
  pkg/panichandler/panichandler.go
  pkg/platform/platform.go
  pkg/policies/dataplane/engine.go
  pkg/watchdog/watchdog.go
  plugins/service/aperture-plugin-fluxninja/main.go
  plugins/service/aperture-plugin-fluxninja/pluginconfig/config-operations.go
  plugins/service/sentry-plugin/config-operations.go
  plugins/service/sentry-plugin/main.go
  plugins/service/sentry-plugin/sentry/sentry.go
  plugins/service/sentry-plugin/sentry/sentrywriter.go
Due: updated-aperture, updated-aperture-docs

add gotestsum (#30)
  .circleci/continue-workflows.yml
  Makefile
  go.mod
  go.sum
  scripts/go_test.sh
  tools/tools.go
Due: updated-aperture

readd race detection flag (#31)
  .circleci/continue-workflows.yml
  pkg/flowcontrol/scheduler/wfq_test.go
Due: updated-aperture

downgrade circleci instances to large (#32)
  .circleci/continue-workflows.yml
Due: none

add testname to gotestsum (#33)
  .circleci/continue-workflows.yml
  Makefile
Due: none

Remove redundant tools (#34)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .pre-commit-hooks.yaml
  go.mod
  go.sum
  scripts/fn_manage_tools.sh
  tools/tools.go
Due: updated-aperture

update golangci-lint script (#35)
  scripts/golangci_lint.sh
Due: none

update buf and nodejs (#37)
  .tool-versions
Due: none

Bump gocron to v1.16.1 (#38)
  go.mod
  go.sum
Due: updated-aperture

Circuit and Rate Limiter Job Group refactor (#36)
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  cmd/class/class.go
  docs/gen/config/aperture-controller/config-swagger.yaml
  docs/gen/config/aperture-controller/swagger.md
  pkg/config/log.go
  pkg/config/validator.go
  pkg/jobs/job-group.go
  pkg/jobs/provide.go
  pkg/log/adapter.go
  pkg/log/log.go
  pkg/net/grpc/client.go
  pkg/net/health/health.go
  pkg/net/http/client.go
  pkg/policies/apis/policyapi/policy-api.go
  pkg/policies/controlplane/component/promql.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/dataplane/actuator/rate/rate-limiter.go
  pkg/watchdog/watchdog.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
  plugins/service/sentry-plugin/sentry/sentry.go
  test/aperture_suite_test.go
Due: updated-aperture, updated-aperture-docs

Tag images built from main branch with latest (#40)
  .circleci/continue-workflows.yml
Due: none

Docs Structure (#41)
  docs/content/Architecture/Concepts/actuator.md
  docs/content/Architecture/Concepts/circuit.md
  docs/content/Architecture/Concepts/fluxmeter.md
  docs/content/Architecture/Concepts/selector.md
  docs/content/Setup/Components/aperture-agent.md
  docs/content/Setup/Components/aperture-controller.md
  docs/content/sidebars.json
Due: updated-aperture-docs

Update grpc-gateway plugin (#49)
  api/buf.gen.yaml
  api/buf.lock
  api/gen/proto/go/aperture/classification/v1/ruleset.pb.gw.go
  api/gen/proto/go/aperture/common/info/v1/info.pb.gw.go
  api/gen/proto/go/aperture/common/status/v1/status.pb.gw.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.gw.go
Due: none

Read controller id from etcd (#25)
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.json.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
Due: updated-aperture

move go mod tidy command to fn_manage_tools.sh (#52)
  Makefile
  scripts/fn_manage_tools.sh
Due: none

update golangci-lint (#53)
  .tool-versions
Due: none

set GOMAXPROCS (#54)
  .circleci/continue-workflows.yml
  scripts/go_build.sh
  scripts/go_build_plugins.sh
  scripts/go_generate.sh
  scripts/go_generate_swagger.sh
Due: none

update golang (#55)
  .tool-versions
Due: none

Create dependabot.yml (#56)
  .github/dependabot.yml
Due: none

Combine prs workflow for dependabot (#61)
  .github/workflows/combine-prs.yml
Due: none

Add Codecov badge (#62)
  README.md
Due: none

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
