Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Avoid calling RequestToInput when not needed (#2173)
  pkg/policies/flowcontrol/resources/classifier/classification-engine.go
  pkg/policies/flowcontrol/resources/classifier/classifier_test.go
  pkg/policies/flowcontrol/resources/classifier/input.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  pkg/policies/flowcontrol/service/checkhttp/request-to-input.go
  pkg/policies/flowcontrol/service/checkhttp/request-to-input_test.go
Due: updated-aperture

ci: Bump resource classes for agent/ctrl builds (#2155)
  .circleci/continue-workflows.yml
Due: none

Avoid deep copy in entity lookup (#2178)
  extensions/fluxninja/heartbeats/services_test.go
  pkg/discovery/entities/entities-service.go
  pkg/discovery/entities/entities.go
  pkg/discovery/entities/entities_test.go
  pkg/policies/flowcontrol/service-getter/service-getter.go
  pkg/policies/flowcontrol/service-getter/service-getter_test.go
  pkg/policies/flowcontrol/service/check/check_test.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp_test.go
  pkg/policies/flowcontrol/service/envoy/authz_test.go
Due: updated-aperture

Added metrics labels for flux meter and telemetry collectors (#2180)
  api/aperture/policy/sync/v1/flux_meter.proto
  api/aperture/policy/sync/v1/infra_meter.proto
  api/aperture/policy/sync/v1/telemetry_collector.proto
  api/gen/proto/go/aperture/policy/sync/v1/flux_meter.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/flux_meter.pb.validate.go
  api/gen/proto/go/aperture/policy/sync/v1/infra_meter.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/infra_meter.pb.json.go
  api/gen/proto/go/aperture/policy/sync/v1/infra_meter.pb.validate.go
  api/gen/proto/go/aperture/policy/sync/v1/telemetry_collector.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/telemetry_collector.pb.json.go
  api/gen/proto/go/aperture/policy/sync/v1/telemetry_collector.pb.validate.go
  blueprints/policies/feature-rollout/base/policy.libsonnet
  blueprints/policies/service-protection/average-latency/dashboard.libsonnet
  blueprints/policies/service-protection/average-latency/policy.libsonnet
  blueprints/policies/service-protection/jmx/dashboard.libsonnet
  blueprints/policies/service-protection/jmx/policy.libsonnet
  cmd/aperture-agent/agent/otel-config.go
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/infra-meter/infra-meter.go
  pkg/policies/controlplane/crwatcher/watcher.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/controlplane/resources/telemetry-collectors/telemetry-collectors.go
  pkg/policies/flowcontrol/resources/fluxmeter/flux-meter.go
  playground/scenarios/auto-scaling/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/feature-rollout/policies/feature-rollout-cr.yaml
  playground/scenarios/java-jmx-based-service-protection/policies/jmx-service-protection-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
Due: updated-aperture

Fix path filters for aperture build (#2184)
  .circleci/config.yml
Due: none

Add typescript to aperture-js SDK (#2187)
  sdks/aperture-js/.gitignore
  sdks/aperture-js/Dockerfile
  sdks/aperture-js/example/example.ts
  sdks/aperture-js/example/routes/connected.js
  sdks/aperture-js/example/routes/connected.ts
  sdks/aperture-js/example/routes/health.js
  sdks/aperture-js/example/routes/health.ts
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/consts.ts
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-js/sdk/types.ts
  sdks/aperture-js/sdk/utils.js
  sdks/aperture-js/sdk/utils.ts
  sdks/aperture-js/tsconfig.json
Due: none

Fixes in blueprints generator and auto-scaling defaults in service-protection (#2182)
  blueprints/blueprint-assets-generator.py
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/config.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/config.libsonnet
  blueprints/policies/service-protection/average-latency/bundle.libsonnet
  blueprints/policies/service-protection/average-latency/dashboard.libsonnet
  blueprints/policies/service-protection/average-latency/gen/definitions.json
  blueprints/policies/service-protection/average-latency/gen/values-required.yaml
  blueprints/policies/service-protection/average-latency/gen/values.yaml
  blueprints/policies/service-protection/average-latency/policy.libsonnet
  blueprints/policies/service-protection/base/config-defaults.libsonnet
  blueprints/policies/service-protection/base/dashboard.libsonnet
  blueprints/policies/service-protection/base/policy.libsonnet
  blueprints/policies/service-protection/jmx/bundle.libsonnet
  blueprints/policies/service-protection/jmx/gen/definitions.json
  blueprints/policies/service-protection/jmx/gen/values-required.yaml
  blueprints/policies/service-protection/jmx/gen/values.yaml
  blueprints/policies/service-protection/jmx/policy.libsonnet
  blueprints/policies/service-protection/postgresql/gen/definitions.json
  blueprints/policies/service-protection/postgresql/gen/values-required.yaml
  blueprints/policies/service-protection/postgresql/gen/values.yaml
  blueprints/policies/service-protection/promql/bundle.libsonnet
  blueprints/policies/service-protection/promql/dashboard.libsonnet
  blueprints/policies/service-protection/promql/gen/definitions.json
  blueprints/policies/service-protection/promql/gen/values-required.yaml
  blueprints/policies/service-protection/promql/gen/values.yaml
  blueprints/policies/service-protection/promql/policy.libsonnet
  docs/content/reference/blueprints/policies/service-protection/average-latency.md
  docs/content/reference/blueprints/policies/service-protection/jmx.md
  docs/content/reference/blueprints/policies/service-protection/postgresql.md
  docs/content/reference/blueprints/policies/service-protection/promql.md
Due: updated-aperture-docs

Fixed adding of kubeletstat infra_meter (#2189)
  blueprints/dashboards/flow-control/adaptive-load-scheduler/dashboard.libsonnet
  blueprints/policies/service-protection/base/config-defaults.libsonnet
  blueprints/policies/service-protection/postgresql/bundle.libsonnet
Due: none

change jsonnet to go-jsonnet (#2190)
  .circleci/continue-workflows.yml
  .tool-versions
Due: none

perf: Misc speedups in otelcollector processors (#2186)
  pkg/otelcollector/helpers.go
  pkg/otelcollector/helpers_test.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels_test.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/rollupprocessor/key.go
  pkg/otelcollector/rollupprocessor/key_test.go
  pkg/utils/helpers.go
Due: updated-aperture

Added use-case and scenario for auto scaling escalation (#2193)
  blueprints/dashboards/auto-scale/dashboard.libsonnet
  blueprints/policies/service-protection/base/dashboard.libsonnet
  blueprints/policies/service-protection/postgresql/bundle.libsonnet
  docs/content/get-started/policies/policies.md
  docs/content/use-cases/auto-scale/auto-scale.md
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/dashboard.png
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/graph.mmd
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/graph.mmd.md5sum
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/graph.mmd.svg
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/policy.yaml
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/validate.sh
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/values.yaml
  docs/content/use-cases/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
  playground/scenarios/service-protection-auto-scale-escalation/dashboards/main.jsonnet
  playground/scenarios/service-protection-auto-scale-escalation/load-generator/test.js
  playground/scenarios/service-protection-auto-scale-escalation/metadata.json
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale.yaml
Due: updated-aperture-docs

Fixes in blueprints (#2198)
  blueprints/blueprint-assets-generator.py
  blueprints/policies/auto-scaling/base/config-defaults.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/config.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/policies/feature-rollout/average-latency/gen/dynamic-config-definitions.json
  blueprints/policies/feature-rollout/average-latency/gen/dynamic-config-values.yaml
  blueprints/policies/feature-rollout/base/gen/definitions.json
  blueprints/policies/feature-rollout/base/gen/dynamic-config-definitions.json
  blueprints/policies/feature-rollout/base/gen/dynamic-config-values.yaml
  blueprints/policies/feature-rollout/base/gen/values.yaml
  blueprints/policies/quota-scheduler/gen/definitions.json
  blueprints/policies/quota-scheduler/gen/values.yaml
  blueprints/policies/rate-limiting/gen/definitions.json
  blueprints/policies/rate-limiting/gen/values.yaml
  blueprints/policies/service-protection/average-latency/gen/definitions.json
  blueprints/policies/service-protection/average-latency/gen/values.yaml
  blueprints/policies/service-protection/postgresql/bundle.libsonnet
  blueprints/policies/service-protection/postgresql/dashboard.libsonnet
  blueprints/policies/service-protection/postgresql/gen/definitions.json
  blueprints/policies/service-protection/postgresql/gen/values.yaml
  blueprints/policies/service-protection/postgresql/metadata.yaml
  blueprints/policies/service-protection/postgresql/postgresql.libsonnet
  blueprints/policies/service-protection/promql/dashboard.libsonnet
  blueprints/policies/service-protection/promql/gen/definitions.json
  blueprints/policies/service-protection/promql/gen/values.yaml
  docs/content/reference/blueprints/policies/auto-scaling/pod-auto-scaler.md
  docs/content/reference/blueprints/policies/feature-rollout/average-latency.md
  docs/content/reference/blueprints/policies/feature-rollout/base.md
  docs/content/reference/blueprints/policies/quota-scheduler.md
  docs/content/reference/blueprints/policies/rate-limiting.md
  docs/content/reference/blueprints/policies/service-protection/average-latency.md
  docs/content/reference/blueprints/policies/service-protection/postgresql.md
  docs/content/reference/blueprints/policies/service-protection/promql.md
Due: updated-aperture-docs

Fixed scenarios (#2200)
  playground/scenarios/service-protection-auto-scale-escalation/dashboards/main.jsonnet
Due: none

Updated list of available objects in blueprints main (#2201)
  blueprints/main.libsonnet
Due: none

Added step to copy tools-version (#2203)
  .circleci/config.yml
  .circleci/post-release.yaml
Due: none

Fixed ordering issue with asdf installation (#2206)
  .tool-versions
  scripts/install_asdf_tools.sh
Due: none

Replace ema with long term latency in average-latency blueprint (#2207)
  blueprints/jsonnetfile.lock.json
  blueprints/policies/service-protection/average-latency/config.libsonnet
  blueprints/policies/service-protection/average-latency/gen/definitions.json
  blueprints/policies/service-protection/average-latency/gen/values.yaml
  blueprints/policies/service-protection/average-latency/policy.libsonnet
  docs/content/reference/blueprints/policies/service-protection/average-latency.md
  playground/scenarios/basic-service-protection/load-generator/test.js
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/load-generator/test.js
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/demo-app-with-no-policy/load-generator/test.js
  playground/scenarios/feature-rollout/load-generator/test.js
  playground/scenarios/graphql-rate-limiting/load-generator/test.js
  playground/scenarios/java-service-protection/load-generator/test.js
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/load-generator/test.js
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/quota-scheduler/load-generator/test.js
  playground/scenarios/rabbitmq-queue-buildup/load-generator/test.js
  playground/scenarios/rate-limiting/load-generator/test.js
  playground/scenarios/service-protection-auto-scale-escalation/load-generator/test.js
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/load-generator/test.js
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/load-generator/test.js
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/load-generator/test.js
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload-prioritization/load-generator/test.js
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
  playground/tanka/jsonnetfile.lock.json
Due: updated-aperture-docs

Remove openai-review workflow action (#2208)
  .github/workflows/openai-review.yml
Due: none

Fix jsonnet-lib-gen script (#2209)
  blueprints/gen/v1/loadrampseriesloadrampinstance.libsonnet
  blueprints/gen/v1/quotascheduler.libsonnet
  blueprints/grafana/panel_library.libsonnet
  blueprints/grafana/signals_dashboard.libsonnet
  scripts/jsonnet-lib-gen.py
Due: none

Fix quota-scheduling doc (#2216)
  docs/content/reference/blueprints/quota-scheduling/quota-scheduling.md
Due: updated-aperture-docs

Fix load-scheduling use-case doc (#2217)
  docs/content/use-cases/load-scheduling/load-scheduling.md
Due: updated-aperture-docs

Fix load-scheduling use-case doc (#2218)
  docs/content/use-cases/load-scheduling/prioritization.md
  docs/content/use-cases/load-scheduling/protection.md
Due: updated-aperture-docs

Corrected path to policies.libsonnet (#2219)
  blueprints/main.libsonnet
Due: none

Updated version of tools (#2220)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  sdks/aperture-go/Dockerfile
Due: updated-aperture

Downgrade gcloud cli version to last working one (#2221)
  .tool-versions
Due: none

Allow additional unary/streaming server interceptors (#2223)
  pkg/net/grpc/server.go
Due: updated-aperture

Add vtproto gen files in go sdk (#2226)
  go.mod
  go.sum
  sdks/aperture-go/example/main.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_vtproto.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp_vtproto.pb.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
  sdks/aperture-go/sdk/middleware/utils.go
Due: updated-aperture

Create jsons for all the dashboards per policy in blueprint (#2229)
  blueprints/grafana/dashboard_group.libsonnet
  blueprints/load-ramping/base/bundle.libsonnet
  blueprints/load-scheduling/average-latency/bundle.libsonnet
  blueprints/load-scheduling/postgresql/bundle.libsonnet
  blueprints/load-scheduling/promql/bundle.libsonnet
  blueprints/quota-scheduling/base/bundle.libsonnet
  blueprints/rate-limiting/base/bundle.libsonnet
Due: none
