Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Renamed cloud to ARC and added plugin config example (#1116)
  api/aperture/policy/language/v1/classifier.proto
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  docs/content/arc/_category_.yml
  docs/content/arc/arc.md
  docs/content/arc/plugin.md
  docs/content/assets/diagrams/architecture/fluxninja.mmd
  docs/content/assets/diagrams/architecture/fluxninja.mmd.md5sum
  docs/content/assets/diagrams/architecture/fluxninja.mmd.png
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/get-started/installation/agent/bare_metal.md
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/content/references/configuration/policy.md
  docs/content/references/flow-events/flow-events.md
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/policy/policy.yaml
  manifests/charts/aperture-agent/templates/_helpers.tpl
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/templates/_helpers.tpl
  manifests/charts/aperture-controller/values.yaml
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  plugins/service/aperture-plugin-fluxninja/main.go
  plugins/service/aperture-plugin-fluxninja/pluginconfig/pluginconfig.go
Due: updated-aperture, updated-aperture-docs

Prepare for release v0.19.x (#1120)
  docs/content/introduction.md
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-docs

Corrected resource dependency in tilt file when only controller is started (#1121)
  playground/Tiltfile
Due: none

docs: validate documented policies even when they don't change (#1124)
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.jsonnet
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.yaml
  docs/tools/jsonnet/generate_jsonnet.sh
Due: updated-aperture-docs

update architecture diagrams (#1125)
  README.md
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.md5sum
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.png
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd
  docs/content/assets/diagrams/architecture/aperture.mmd.md5sum
  docs/content/assets/diagrams/architecture/aperture.mmd.png
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/architecture_simple.mmd
  docs/content/assets/diagrams/architecture/architecture_simple.mmd.md5sum
  docs/content/assets/diagrams/architecture/architecture_simple.mmd.png
  docs/content/assets/diagrams/architecture/architecture_simple.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd
  docs/content/assets/diagrams/architecture/fluxninja.mmd.md5sum
  docs/content/assets/diagrams/architecture/fluxninja.mmd.png
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/gen/introduction/architecture_simple.mmd.md5sum
  docs/content/assets/gen/introduction/architecture_simple.mmd.png
  docs/content/assets/gen/introduction/architecture_simple.mmd.svg
  docs/content/introduction.md
  docs/tools/mermaid/mermaid-theme.json
  go.mod
  go.sum
  pkg/alertmanager/client/client.go
  requirements.txt
  scripts/manage_tools.sh
Due: updated-aperture, updated-aperture-docs

update readme (#1126)
  README.md
Due: none

flowcontrol: preview http requests (#1130)
  .gitignore
  api/aperture/flowcontrol/preview/v1/preview.proto
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.gw.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview_deepcopy.gen.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview_grpc.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/flow-control/flow-classifier.md
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/label-preview.go
  pkg/policies/flowcontrol/iface/preview.go
  pkg/policies/flowcontrol/resources/classifier/classification-engine.go
  pkg/policies/flowcontrol/resources/classifier/classifier_test.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  pkg/policies/flowcontrol/service/preview/flow-preview-service.go
  pkg/policies/flowcontrol/service/preview/http-request-preview.go
  pkg/policies/flowcontrol/service/preview/label-preview.go
Due: updated-aperture, updated-aperture-docs

flowcontrol: allow passing flow label matcher in preview requests (#1131)
  api/aperture/flowcontrol/preview/v1/preview.proto
  api/aperture/policy/language/v1/selector.proto
  api/buf.gen.aperture.yaml
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/references/configuration/policy.md
  docs/content/tutorials/flow-control/workload-prioritization.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/service/preview/http-request-preview.go
  pkg/policies/flowcontrol/service/preview/label-preview.go
Due: updated-aperture, updated-aperture-docs

docs: add links to introspection APIs for flowcontrol preview (#1132)
  .gitignore
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-label.md
Due: updated-aperture-docs

tutorial: remove sink from overload detection turotial (#1133)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/lib/1.0/_gen/v1/alerter.libsonnet
  blueprints/lib/1.0/_gen/v1/alerterins.libsonnet
  blueprints/lib/1.0/_gen/v1/component.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  blueprints/lib/1.0/_gen/v1/sink.libsonnet
  blueprints/lib/1.0/_gen/v1/sinkins.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.jsonnet
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.md5sum
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.png
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.svg
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.yaml
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
  pkg/policies/controlplane/components/alerter.go
  pkg/policies/controlplane/components/sink.go
  pkg/policies/controlplane/validator.go
Due: updated-aperture, updated-aperture-docs

alerter: do not create load shed actuator alerts if no config provided (#1134)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/config.libsonnet
  blueprints/lib/1.0/blueprints/latency-gradient/policy.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.yaml
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.yaml
  docs/gen/policy/policy.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
Due: updated-aperture, updated-aperture-docs

Fix Control Point Cache provide (#1136)
  pkg/discovery/kubernetes/provide.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
Due: updated-aperture

Add getting started SDK docs (#1113)
  docs/content/get-started/flow-control/sdk/_category_.yml
  docs/content/get-started/flow-control/sdk/aperture-java.md
  docs/content/get-started/flow-control/sdk/aperture-js.md
  docs/content/get-started/flow-control/sdk/apeture-go.md
  docs/content/get-started/flow-control/sdk/go/_category_.yml
  docs/content/get-started/flow-control/sdk/go/manual.md
  docs/content/get-started/flow-control/sdk/java/_category_.yml
  docs/content/get-started/flow-control/sdk/java/manual.md
  docs/content/get-started/flow-control/sdk/java/middleware.md
  docs/content/get-started/flow-control/sdk/javascript/_category_.yml
  docs/content/get-started/flow-control/sdk/javascript/manual.md
  docs/content/get-started/flow-control/sdk/overview.md
Due: updated-aperture-docs

Change error on removing metrics to warn (#1117)
  pkg/policies/flowcontrol/actuators/concurrency/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/rate/rate-limiter.go
Due: updated-aperture

Enable race detection for agent and controller using `--race` flag in tilt dev environment (#922)
  .circleci/continue-workflows.yml
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  pkg/info/build.sh
  pkg/plugins/build.sh
  playground/Tiltfile
Due: updated-aperture

Added support for changing agent installation mode without re-creation of CR (#1089)
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/hook.go
  operator/controllers/agent/hook_test.go
  operator/controllers/agent/old_hook_test.tpl
  operator/controllers/agent/reconciler.go
  operator/controllers/agent/reconciler_test.go
  operator/controllers/constants.go
Due: updated-aperture-docs

Add resolve timeout to Concurrency Limiter alerts (#1142)
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/README.md
  blueprints/lib/1.0/blueprints/latency-gradient/config.libsonnet
  blueprints/lib/1.0/blueprints/latency-gradient/policy.libsonnet
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.yaml
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
Due: updated-aperture-docs

Replace Optimizer sub circuit logic with Integrator component (#1105)
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/policy.libsonnet
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.yaml
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
Due: updated-aperture-docs

Add README for sdk-validator (#1145)
  cmd/sdk-validator/README.md
Due: updated-aperture

Update license (#1095)
  LICENSE
  README.md
  docs/content/licensing-faq.md
Due: updated-aperture-docs

docs: restructure observability reference (#1152)
  docs/content/arc/plugin.md
  docs/content/get-started/policies/applying-policies.md
  docs/content/references/observability/_category_.yaml
  docs/content/references/observability/flow-metrics/_category_.yaml
  docs/content/references/observability/flow-metrics/flow-metrics.md
  docs/content/references/observability/prometheus-metrics/_category_.yaml
  docs/content/references/observability/prometheus-metrics/agent.md
  docs/content/references/observability/prometheus-metrics/common.md
  docs/content/references/observability/prometheus-metrics/controller.md
Due: updated-aperture-docs

Added dashboard for rate limit policy (#1143)
  blueprints/examples/rate-limiter/gen/dashboards/example.json
  blueprints/lib/1.0/blueprints/rate-limiter/README.md
  blueprints/lib/1.0/blueprints/rate-limiter/bundle.libsonnet
  blueprints/lib/1.0/blueprints/rate-limiter/config.libsonnet
  blueprints/lib/1.0/blueprints/rate-limiter/dashboard.libsonnet
  blueprints/lib/1.0/blueprints/rate-limiter/metadata.yaml
  blueprints/lib/1.0/blueprints/rate-limiter/rate-limiter.libsonnet
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

Add Aperture Instrumentation Agent (#1154)
  docs/content/get-started/flow-control/sdk/java/auto-instrumentation.md
  sdks/aperture-java/examples/netty-example/build.gradle.kts
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/HelloWorldHandler.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/standalone-example/build.gradle.kts
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/build.gradle.kts
  sdks/aperture-java/javaagent/src/main/java/com/fluxninja/aperture/instrumentation/ApertureInstrumentationAgent.java
  sdks/aperture-java/javaagent/src/main/java/com/fluxninja/aperture/instrumentation/InstrumentationModule.java
  sdks/aperture-java/javaagent/src/main/java/com/fluxninja/aperture/instrumentation/TransformerInstrumentation.java
  sdks/aperture-java/javaagent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaClientAdvice.java
  sdks/aperture-java/javaagent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaClientInstrumentation.java
  sdks/aperture-java/javaagent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaInstrumentationModule.java
  sdks/aperture-java/javaagent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaServerAdvice.java
  sdks/aperture-java/javaagent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaServerInstrumentation.java
  sdks/aperture-java/javaagent/src/main/java/com/fluxninja/aperture/instrumentation/netty/NettyInstrumentationModule.java
  sdks/aperture-java/javaagent/src/main/java/com/fluxninja/aperture/instrumentation/netty/NettyServerAdvice.java
  sdks/aperture-java/javaagent/src/main/java/com/fluxninja/aperture/instrumentation/netty/NettyServerInstrumentation.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/netty/build.gradle.kts
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/NettyUtils.java
  sdks/aperture-java/settings.gradle.kts
  sdks/aperture-java/version.gradle.kts
Due: updated-aperture-docs

Make java agent shadow jar maven-publishable (#1156)
  sdks/aperture-java/javaagent/build.gradle.kts
Due: none

Make `build.sh` work with `sh` (#1157)
  pkg/info/build.sh
Due: updated-aperture

Update query for rate limit dashboard (#1161)
  blueprints/examples/static-rate-limiting/gen/dashboards/example.json
  blueprints/lib/1.0/blueprints/static-rate-limiting/dashboard.libsonnet
Due: none

Add logical combinator components (#1159)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/lib/1.0/_gen/v1/and.libsonnet
  blueprints/lib/1.0/_gen/v1/andins.libsonnet
  blueprints/lib/1.0/_gen/v1/andouts.libsonnet
  blueprints/lib/1.0/_gen/v1/component.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  blueprints/lib/1.0/_gen/v1/inverter.libsonnet
  blueprints/lib/1.0/_gen/v1/inverterins.libsonnet
  blueprints/lib/1.0/_gen/v1/inverterouts.libsonnet
  blueprints/lib/1.0/_gen/v1/or.libsonnet
  blueprints/lib/1.0/_gen/v1/orins.libsonnet
  blueprints/lib/1.0/_gen/v1/orouts.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/components/logical.go
  pkg/policies/controlplane/components/logical_test.go
  pkg/policies/controlplane/components/tristate/tristate.go
Due: updated-aperture, updated-aperture-docs

Provide a proper link to java agent download (#1162)
  docs/content/get-started/flow-control/sdk/java/auto-instrumentation.md
Due: updated-aperture-docs

Added API for fetching stats from the olric cluster (#1158)
  api/aperture/distcache/v1/stats.proto
  api/buf.lock
  api/gen/proto/go/aperture/distcache/v1/stats.pb.go
  api/gen/proto/go/aperture/distcache/v1/stats.pb.gw.go
  api/gen/proto/go/aperture/distcache/v1/stats.pb.json.go
  api/gen/proto/go/aperture/distcache/v1/stats_deepcopy.gen.go
  api/gen/proto/go/aperture/distcache/v1/stats_grpc.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/distcache/provider.go
  pkg/distcache/stats-service.go
Due: updated-aperture, updated-aperture-docs

Change import file name from introduction.md to apertureVersion.js (#1160)
  blueprints/scripts/generate_all.sh
  docs/content/apertureVersion.js
  docs/content/concepts/flow-control/flow-control.md
  docs/content/get-started/flow-control/sdk/overview.md
  docs/content/get-started/installation/agent/bare_metal.md
  docs/content/get-started/policies/applying-policies.md
  docs/content/get-started/policies/blueprints.md
  docs/content/introduction.md
  docs/content/references/bundled-blueprints/latency-gradient-concurrency-limiting.md
  docs/content/references/bundled-blueprints/signals-dashboard.md
  docs/content/references/bundled-blueprints/static-rate-limiting.md
Due: updated-aperture-docs

Moved policy as a separate app under playground (#1166)
  playground/Tiltfile
  playground/tanka/apps/aperture-controller/mixins.libsonnet
  playground/tanka/apps/policy/main.jsonnet
  playground/tanka/apps/policy/mixins.libsonnet
  playground/tanka/jsonnetfile.json
  playground/tanka/jsonnetfile.lock.json
Due: none

Add Pulse Generator Component (#1163)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/lib/1.0/_gen/v1/component.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  blueprints/lib/1.0/_gen/v1/pulsegenerator.libsonnet
  blueprints/lib/1.0/_gen/v1/pulsegeneratorouts.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/components/pulse-generator.go
Due: updated-aperture, updated-aperture-docs

Add UT for PulseGenerator (#1168)
  pkg/policies/controlplane/components/pulse-generator_test.go
Due: updated-aperture

Add alerts channel to playgroud policy (#1170)
  playground/tanka/apps/policy/mixins.libsonnet
Due: none

Remove v so that links work on development docs (#1169)
  blueprints/scripts/generate_all.sh
  docs/content/apertureVersion.js
  docs/content/concepts/flow-control/flow-control.md
  docs/content/get-started/flow-control/sdk/overview.md
  docs/content/get-started/installation/agent/bare_metal.md
  docs/content/get-started/policies/applying-policies.md
  docs/content/get-started/policies/blueprints.md
  docs/content/references/bundled-blueprints/latency-gradient-concurrency-limiting.md
  docs/content/references/bundled-blueprints/signals-dashboard.md
  docs/content/references/bundled-blueprints/static-rate-limiting.md
Due: updated-aperture-docs

Changes for release v0.20.x (#1171)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

add RACE parameter for bare metal release CI (#1172)
  .circleci/post-release.yaml
Due: none

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
