Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

fix pre-commit issues (#1176)
  api/buf.lock
  blueprints/lib/1.0/blueprints/latency-gradient-concurrency-limiting/README.md
Due: none

docs: force generate mermaid diagrams (#1179)
  blueprints/examples/latency-gradient-concurrency-limiting/gen/graph/graph.dot
  blueprints/examples/latency-gradient-concurrency-limiting/gen/graph/graph.svg
  blueprints/examples/static-rate-limiting/gen/graph/graph.svg
  blueprints/scripts/generate_all.sh
  docs/content/tutorials/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.md5sum
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.png
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.svg
  docs/tools/jsonnet/generate_jsonnet.sh
Due: updated-aperture-docs

Add Holder component (#1180)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/lib/1.0/_gen/v1/component.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  blueprints/lib/1.0/_gen/v1/holder.libsonnet
  blueprints/lib/1.0/_gen/v1/holderins.libsonnet
  blueprints/lib/1.0/_gen/v1/holderouts.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/components/holder.go
  pkg/policies/controlplane/components/holder_test.go
Due: updated-aperture, updated-aperture-docs

docs: restructure some sections (#1184)
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/lib/1.0/blueprints/signals-dashboard/README.md
  docs/content/arc/arc.md
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/flow-control/_category_.yml
  docs/content/concepts/flow-control/components/_category_.yml
  docs/content/concepts/flow-control/components/concurrency-limiter.md
  docs/content/concepts/flow-control/components/rate-limiter.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/flow-selector.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/service.md
  docs/content/concepts/policy/_category_.yml
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/dynamic-configuration.md
  docs/content/concepts/policy/policy.md
  docs/content/concepts/policy/resources.md
  docs/content/references/bundled-blueprints/signals-dashboard.md
  docs/content/references/configuration/policy.md
  docs/content/tutorials/flow-control/concurrency-limiting/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/concurrency-limiting/workload-prioritization.md
  docs/content/tutorials/flow-control/rate-limiting/dynamic-rate-limiting.md
  docs/content/tutorials/flow-control/rate-limiting/static-rate-limiting.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

circleci: use xlarge instance for pre-commit job (#1185)
  .circleci/continue-workflows.yml
Due: none

Added field for agent installation mode in heartbeats (#1181)
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/discovery/kubernetes/provide.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
Due: updated-aperture, updated-aperture-docs

tests: Remove unconditional sleep in leak detector (#1186)
  pkg/utils/goleak.go
Due: updated-aperture

Add otel contrib receivers and processors to agent (#1174)
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-agent/agent/otel-contrib-components.go
  go.mod
  go.sum
  pkg/utils/goleak.go
Due: updated-aperture

fix menu titles and broken links (#1189)
  docs/content/concepts/integrations/_category_.yml
  docs/content/get-started/policies/blueprints/blueprints.md
  docs/content/get-started/policies/get-started-with-policy.md
  docs/content/tutorials/integrations/_category_.yml
Due: updated-aperture-docs

Remove min value from integrator component in latency-gradient policy (#1190)
  blueprints/examples/latency-gradient-concurrency-limiting/gen/graph/graph.dot
  blueprints/examples/latency-gradient-concurrency-limiting/gen/graph/graph.svg
  blueprints/examples/latency-gradient-concurrency-limiting/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient-concurrency-limiting/policy.libsonnet
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.yaml
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
Due: updated-aperture-docs

Update OTEL to v0.69 (#1194)
  cmd/aperture-agent/agent/provider.go
  go.mod
  go.sum
  pkg/otelcollector/rollupprocessor/processor_test.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

playground: listen on all interfaces (#1198)
  playground/Tiltfile
  playground/scripts/portforward.sh
Due: none

Add shadowJar option that prevents grpc failures in Java SDK (#1191)
  sdks/aperture-java/examples/armeria-example/build.gradle.kts
  sdks/aperture-java/examples/netty-example/build.gradle.kts
  sdks/aperture-java/examples/standalone-example/build.gradle.kts
  sdks/aperture-java/javaagent/build.gradle.kts
Due: none

SDK validator updates for auto-instrumentation testing (#1199)
  cmd/sdk-validator/main.go
  cmd/sdk-validator/validator/common.go
Due: updated-aperture

Update OTEL to v0.70 (#1200)
  go.mod
  go.sum
Due: updated-aperture

docs: improve integrations section
  docs/content/concepts/integrations/_category_.yml
  docs/content/concepts/integrations/flow-control/_category_.yml
  docs/content/concepts/policy/_category_.yml
  docs/content/get-started/_category_.yml
  docs/content/get-started/installation/_category_.yml
  docs/content/get-started/integrations/_category_.yml
  docs/content/get-started/integrations/flow-control/_category_.yaml
  docs/content/get-started/integrations/flow-control/envoy/_category_.yaml
  docs/content/get-started/integrations/flow-control/flow-control.md
  docs/content/get-started/integrations/flow-control/sdk/sdk.md
  docs/content/get-started/integrations/integrations.md
  docs/content/get-started/playground/playground.md
  docs/content/get-started/policies/_category_.yml
Due: updated-aperture-docs

docs: update sidebar (#1201)
  README.md
  docs/content/arc/arc.md
  docs/content/get-started/playground/playground.md
  docs/content/sidebars.json
  docs/content/support.md
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
  sdks/aperture-java/README.md
  sdks/aperture-java/javaagent/README.md
Due: updated-aperture, updated-aperture-docs

docs: add slug to intro page (#1202)
  docs/content/introduction.md
Due: updated-aperture-docs

docs: update links (#1204)
  README.md
  blueprints/README.md
  docs/content/concepts/integrations/flow-control/components/concurrency-limiter.md
  docs/content/concepts/integrations/flow-control/components/rate-limiter.md
  docs/content/concepts/integrations/flow-control/flow-classifier.md
  docs/content/get-started/policies/blueprints/blueprints.md
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/values.yaml
  playground/README.md
Due: updated-aperture-docs

blueprint: revert integrator from latency gradient policy (#1205)
  api/buf.lock
  blueprints/examples/latency-gradient-concurrency-limiting/gen/graph/graph.dot
  blueprints/examples/latency-gradient-concurrency-limiting/gen/graph/graph.svg
  blueprints/examples/latency-gradient-concurrency-limiting/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient-concurrency-limiting/policy.libsonnet
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.yaml
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
Due: updated-aperture-docs

Fix circuit UT (#1209)
  pkg/policies/controlplane/components/holder_test.go
  pkg/policies/controlplane/components/logical_test.go
  pkg/policies/controlplane/components/pulse-generator_test.go
  pkg/policies/controlplane/runtime/circuit_test.go
  pkg/policies/controlplane/runtime/ports.go
  pkg/policies/controlplane/sim/circuit_test.go
Due: updated-aperture

Make SDK validator reject Check requests from feature control points (#1208)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  cmd/sdk-validator/validator/common.go
Due: updated-aperture

Changes for release v0.21.x (#1210)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

Simplify circuit unit-tests by avoiding SignalID (#1212)
  pkg/policies/controlplane/components/holder_test.go
  pkg/policies/controlplane/components/logical_test.go
  pkg/policies/controlplane/components/pulse-generator_test.go
  pkg/policies/controlplane/runtime/circuit_test.go
  pkg/policies/controlplane/sim/circuit.go
  pkg/policies/controlplane/sim/circuit_test.go
  pkg/policies/controlplane/sim/components.go
Due: updated-aperture

remove extra ports from aimd concurrency controller (#1216)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/examples/latency-aimd-concurrency-limiting/gen/graph/graph.dot
  blueprints/examples/latency-aimd-concurrency-limiting/gen/graph/graph.svg
  blueprints/examples/latency-aimd-concurrency-limiting/gen/policies/example.yaml
  blueprints/lib/1.0/_gen/v1/aimdconcurrencycontroller.libsonnet
  blueprints/lib/1.0/_gen/v1/aimdconcurrencycontrollerouts.libsonnet
  blueprints/lib/1.0/policies/latency-aimd-concurrency-limiting/README.md
  blueprints/lib/1.0/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/lib/1.0/policies/latency-aimd-concurrency-limiting/policy.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/references/configuration/policy.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.yaml
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/dynamic-rate-limiting/dynamic-rate-limiting.yaml
  docs/gen/policy/policy.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/policies/controlplane/circuitfactory/aimd-concurrency-controller.go
Due: updated-aperture, updated-aperture-docs

Add `decision_type` label to `workload_requests_total` and `rate_limiter_counter` (#1203)
  docs/content/references/observability/prometheus-metrics/agent.md
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/flowcontrol/actuators/concurrency/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/rate/rate-limiter.go
Due: updated-aperture, updated-aperture-docs

Move OTEL specific config to `cmd/{agent,controller}` (#1215)
  Makefile
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/agent/zz_generated.deepcopy.go
  cmd/aperture-controller/controller.go
  cmd/aperture-controller/controller/otel-component.go
  cmd/aperture-controller/controller/otel-config.go
  cmd/aperture-controller/controller/zz_generated.deepcopy.go
  docs/Makefile
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/Dockerfile
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/api/common/common_types.go
  operator/api/common/zz_generated.deepcopy.go
  operator/api/controller/v1alpha1/controller_types.go
  operator/api/controller/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/services_test.go
  operator/controllers/controller/config_test.tpl
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/services_test.go
  operator/controllers/mutatingwebhook/agent_pod.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  pkg/otelcollector/config/builtin_config.go
  pkg/otelcollector/config/config.go
  pkg/otelcollector/config/user_config.go
  playground/Tiltfile
Due: updated-aperture, updated-aperture-docs

Add custom metrics to Agent's OTEL (#1222)
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/agent/zz_generated.deepcopy.go
  cmd/aperture-controller/controller/otel-config.go
  docs/content/references/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/otelcollector/config/user_config.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture, updated-aperture-docs

Allow providing arbitrary Labels in alerter (#1225)
  pkg/alerts/alerter.go
Due: updated-aperture

docs: Fix agent metrics docs after component index label rename (#1223)
  docs/content/references/observability/prometheus-metrics/agent.md
Due: updated-aperture-docs

Revamp concurrency units (#1188)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/examples/latency-aimd-concurrency-limiting/gen/dashboards/example.json
  blueprints/lib/1.0/policies/latency-aimd-concurrency-limiting/dashboard.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/content/references/observability/prometheus-metrics/agent.md
  docs/gen/policy/policy.yaml
  pkg/metrics/schema.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/flowcontrol/actuators/concurrency/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency/scheduler/scheduler.go
  pkg/policies/flowcontrol/actuators/concurrency/scheduler/token-bucket-load-multiplier.go
  pkg/policies/flowcontrol/actuators/concurrency/scheduler/wfq.go
  pkg/policies/flowcontrol/actuators/concurrency/scheduler/wfq_test.go
Due: updated-aperture, updated-aperture-docs

Remove grpc validator interceptor. (#1230)
  pkg/config/defaults.go
  pkg/net/grpc/server.go
  pkg/net/grpc/validator.go
  pkg/policies/flowcontrol/service/preview/http-request-preview.go
  pkg/policies/flowcontrol/service/preview/label-preview.go
Due: updated-aperture

aimd controller: change how we detect overload based on slope parameter (#1250)
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/aimd-concurrency-controller.go
Due: updated-aperture, updated-aperture-docs

docs: some tweaks (#1251)
  blueprints/lib/1.0/policies/latency-aimd-concurrency-limiting/README.md
  blueprints/lib/1.0/policies/latency-aimd-concurrency-limiting/policy.libsonnet
  blueprints/lib/1.0/policies/static-rate-limiting/policy.libsonnet
  docs/content/introduction.md
  docs/content/references/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
Due: updated-aperture-docs
