Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Unify OTEL ports with main server (#577)
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  go.mod
  go.sum
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/services.go
  operator/controllers/agent/services_test.go
  operator/controllers/constants.go
  operator/controllers/controller/config_test.tpl
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/services.go
  operator/controllers/controller/services_test.go
  operator/controllers/mutatingwebhook/agent_pod.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  pkg/otel/components.go
  pkg/otel/config.go
  pkg/otelcollector/otelcollector.go
Due: updated-aperture, updated-aperture-docs

Enable access to agent's controllerID (#576)
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.gw.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_grpc.pb.go
  docs/gen/policies/gen.yaml
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
Due: updated-aperture, updated-aperture-docs

rename WorkloadAndLabelMatcher to Workload (#580)
  .pre-commit-config.yaml
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/blueprints/latency-gradient/README.md
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/blueprints/latency-gradient/example/example.jsonnet
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/gen.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/scheduler.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/schedulerworkload.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/schedulerworkloadandlabelmatcher.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/schedulerworkloadparameters.libsonnet
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

Refactor logging (#581)
  cmd/circuit-compiler/main.go
  pkg/config/fxlogger.go
  pkg/config/log.go
  pkg/distcache/logwriter.go
  pkg/distcache/provider.go
  pkg/etcd/client/client.go
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/common/provide.go
  pkg/flowcontrol/envoy/authz.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/flowcontrol/envoy/provide.go
  pkg/jobs/job-group.go
  pkg/jobs/job-tracker.go
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/k8s/provide.go
  pkg/log/adapter.go
  pkg/log/log.go
  pkg/log/zap-adapter.go
  pkg/metrics/metrics.go
  pkg/notifiers/fx-driver.go
  pkg/otelcollector/helpers.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/otelcollector.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/actuators/rate/ratetracker/rate-tracker_test.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/resources/classifier/provide.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/status/provide.go
  pkg/status/registry.go
  pkg/status/status_test.go
  plugins/service/aperture-plugin-sentry/sentry/sentry.go
  plugins/service/aperture-plugin-sentry/sentry/sentrywriter.go
  tools/demo_app/app/app.go
Due: updated-aperture

Doc minor updates (#555)
  .prettierrc
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/blueprints/rate-limiter/README.md
  docs/Makefile
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/service.md
  docs/content/introduction.md
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Due: updated-aperture-docs

fix pre-commit issue (#586)
  README.md
  blueprints/CONTRIBUTING.md
  blueprints/README.md
  blueprints/libsonnet/README.md
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/resources.md
  docs/content/get-started/blueprints.md
  docs/content/get-started/playground.md
Due: updated-aperture-docs

FluxMeter documentations (#587)
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/assets/gen/architecture_simple.mmd
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Due: updated-aperture-docs

FluxMeter doc update (#588)
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Due: updated-aperture-docs

helm chart version change to v0.3.0-rc.2 (#590)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

Upgraded Helm charts versions to 0.3.0 (#592)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

Removed Ci pipeline to tag the aperture-go repo (#591)
  .circleci/post-release.yaml
Due: none

Allow construction of OTEL collector outside of k8s environment (#449)
  pkg/k8s/provide.go
  pkg/otel/config.go
Due: updated-aperture

Remove duplicate decider from latency-gradient blueprint (#594)
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
Due: none

Logging improvements (#597)
  pkg/log/log.go
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/components/actuators/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/components/actuators/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/iface/policy.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/validator.go
  pkg/policies/dataplane/actuators/concurrency/auto-tokens.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
Due: updated-aperture

Add logos to badges in README (#595)
  README.md
Due: none

Consecutiveness for Notion sync (#599)
  .github/workflows/issues-notion-sync.yml
Due: none

Post message on Slack webhook about notion sync failure (#601)
  .github/workflows/issues-notion-sync.yml
Due: none

use correct status registry for MultiJob (#600)
  api/gen/proto/go/aperture/common/watchdog/v1/watchdog.pb.go
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  pkg/jobs/job-group.go
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/jobs/provide.go
  pkg/policies/controlplane/components/promql.go
  pkg/watchdog/watchdog.go
Due: updated-aperture, updated-aperture-docs

fix precommit (#603)
  api/gen/proto/go/aperture/common/watchdog/v1/watchdog.pb.go
Due: none

Fix Selector documentation misprints (#607)
  api/aperture/common/selector/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Due: updated-aperture-docs

Document supported Istio and Envoy versions (#605)
  docs/content/get-started/installation/agent/envoy/istio.md
  docs/content/get-started/supported-platforms.md
Due: updated-aperture-docs

Refactor multi-job (#602)
  api/aperture/common/status/v1/status.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/status/v1/status.pb.go
  api/gen/proto/go/aperture/common/status/v1/status.pb.gw.go
  api/gen/proto/go/aperture/common/status/v1/status_grpc.pb.go
  pkg/jobs/job-group.go
  pkg/jobs/job-tracker.go
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/status/status-service.go
  pkg/watchdog/watchdog.go
Due: updated-aperture

Removed FOSSA from pre-commit and README (#610)
  .circleci/continue-workflows.yml
  README.md
Due: none

Move github notion sync branch to fluxninja (#612)
  .github/workflows/issues-notion-sync.yml
Due: none

Removed unused spec from controller chart (#613)
  manifests/charts/aperture-controller/templates/controller.yaml
Due: none

Test status updates in job testing (#606)
  pkg/jobs/jobs_test.go
Due: updated-aperture

Add job for generating and pushing to aperture-java repo (#604)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .pre-commit-config.yaml
  api/aperture/flowcontrol/v1/flowcontrol.proto
Due: none

Classification errors as attribute in OLAP telemetry (#616)
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture

Move workload latency metrics lifecycle to limiter (#609)
  pkg/otel/components.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/limiter.go
  pkg/policies/dataplane/iface/metrics-registry.go
  pkg/policies/dataplane/provide.go
  pkg/policies/dataplane/response-metrics-registry.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_limiter.go
  pkg/policies/mocks/mock_metrics-registry.go
  test/aperture_suite_test.go
Due: updated-aperture

Update license (#622)
  LICENSE.txt
Due: none

Consolidate otel and otelcollector package (#598)
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-agent/agent/provider.go
  cmd/aperture-controller/controller.go
  cmd/aperture-controller/controller/otel-component.go
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/api/common/common_types.go
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/services_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/services_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  pkg/otel/config.go
  pkg/otelcollector/config.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/rollup.go
  pkg/otelcollector/zz_generated.deepcopy.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
  test/aperture_suite_test.go
Due: updated-aperture, updated-aperture-docs

use tag version for the helm chart release (#621)
  .circleci/scripts/helm_release.sh
Due: none

Traces to Logs transforming pipeline (#623)
  cmd/aperture-agent/agent/otel-component.go
  go.mod
  go.sum
  pkg/otelcollector/config.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/tracestologsprocessor/config.go
  pkg/otelcollector/tracestologsprocessor/factory.go
  pkg/otelcollector/tracestologsprocessor/processor.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Add ControlPointInfo in CheckResponse (#625)
  pkg/policies/dataplane/engine.go
Due: updated-aperture

Actions native Concurrency instead of Consecutiveness (#648)
  .github/workflows/issues-notion-sync.yml
Due: none

Upgraded chart versions to v0.4.0 (#650)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

using our own pre-commit repo for circleci (#624)
  .pre-commit-config.yaml
Due: none

remove circleci pre-commit (#652)
  .pre-commit-config.yaml
Due: none
