Repository dataongunlaws/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Update OpenAI Guide (#3023)
  docs/content/guides/api-quota-management/openai.md
Due: updated-aperture-docs

Fix limit by label key (#3033)
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
Due: updated-aperture

Add Caching to introduction and readme (#3031)
  README.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/introduction.md
Due: updated-aperture-docs

Fix deprecation check script (#3035)
  scripts/check_deprecated.sh
Due: none

Add hit/delete metrics for each cache (#3034)
  api/go.mod
  go.mod
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/cache.go
Due: updated-aperture

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Due: none

Refactor code by removing unused properties and dependencies (#3036)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/ratelimiterparameters.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture-docs

Add Executable Examples in Typescript SDK (#3032)
  docs/content/code-snippets.json
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.md5sum
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/guides/assets/per-user-rate-limiting/rate-limit-test.png
  docs/content/guides/assets/per-user-rate-limiting/rate-limiter-graph.png
  docs/content/guides/assets/per-user-rate-limiting/validate.sh
  docs/content/guides/assets/per-user-rate-limiting/values.yaml
  docs/content/guides/per-user-rate-limiting.md
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
  sdks/aperture-js/example/quota_scheduler_example.ts
  sdks/aperture-js/example/rate_limit_example.ts
Due: updated-aperture-docs

Export CacheEntry members and fix a crash in SetResultCache (#3028)
  sdks/aperture-go/sdk/flow.go
Due: none

Ksohi/add quota scheduler guide (#3038)
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/api-quota-management/api-quota-management.md
  docs/content/guides/api-quota-management/assets/managing-quotas/managing-quotas.mmd
  docs/content/guides/api-quota-management/assets/managing-quotas/managing-quotas.mmd.md5sum
  docs/content/guides/api-quota-management/assets/managing-quotas/managing-quotas.mmd.svg
  docs/content/guides/assets/managing-quotas/graph.mmd
  docs/content/guides/assets/managing-quotas/graph.mmd.md5sum
  docs/content/guides/assets/managing-quotas/graph.mmd.svg
  docs/content/guides/assets/managing-quotas/managing-quotas.mmd
  docs/content/guides/assets/managing-quotas/managing-quotas.mmd.md5sum
  docs/content/guides/assets/managing-quotas/managing-quotas.mmd.svg
  docs/content/guides/assets/managing-quotas/policy.yaml
  docs/content/guides/assets/managing-quotas/queue.png
  docs/content/guides/assets/managing-quotas/quota-scheduling-test.png
  docs/content/guides/assets/managing-quotas/request-metrics.png
  docs/content/guides/assets/managing-quotas/validate.sh
  docs/content/guides/assets/managing-quotas/values.yaml
  docs/content/guides/assets/managing-quotas/workloads.png
  docs/content/guides/assets/openai/flow-analytics-dark.png
  docs/content/guides/assets/openai/flow-analytics-light.png
  docs/content/guides/assets/openai/priorities-dark.png
  docs/content/guides/assets/openai/priorities-light.png
  docs/content/guides/assets/openai/quota-scheduler-blueprint.png
  docs/content/guides/assets/openai/token-rate-dark.png
  docs/content/guides/assets/openai/token-rate-light.png
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd.md5sum
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd.svg
  docs/content/guides/openai.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/introduction.md
  docs/gen/policy/aperture.swagger.yaml
  sdks/aperture-js/example/quota_scheduler_example.ts
Due: updated-aperture-docs

Add Caching to Flow Lifecycle Concepts (#3039)
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.md5sum
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.svg
  docs/content/concepts/flow-lifecycle.md
  docs/content/guides/api-quota-management.md
  docs/content/guides/per-user-rate-limiting.md
Due: updated-aperture-docs

Fix pre-commit (#3040)
  api/buf.lock
  docs/gen/policy/aperture.swagger.yaml
Due: updated-aperture-docs

Add Caching Guide[WIP] (#3042)
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/assets/caching/caching.mmd
  docs/content/guides/assets/caching/caching.mmd.md5sum
  docs/content/guides/assets/caching/caching.mmd.svg
  docs/content/guides/assets/managing-quotas/policy.yaml
  docs/content/guides/assets/managing-quotas/quota-scheduling-test.png
  docs/content/guides/assets/managing-quotas/values.yaml
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/guides/assets/per-user-rate-limiting/rate-limit-test.png
  docs/content/guides/assets/per-user-rate-limiting/values.yaml
  docs/content/guides/caching.md
  docs/content/guides/per-user-rate-limiting.md
  sdks/aperture-js/example/caching_example.ts
  sdks/aperture-js/example/quota_scheduler_example.ts
  sdks/aperture-js/example/rate_limit_example.ts
Due: updated-aperture-docs

Fix README (#3043)
  README.md
Due: none

Update `match_expressions` deprecation version to `v3.0.0` (#3045)
  api/aperture/policy/language/v1/label_matcher.proto
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

Add Global Cache OLAP telemetry (#3041)
  docs/content/reference/observability/flow-metrics/flow-metrics.md
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels_test.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
  pkg/otelcollector/metricsprocessor/processor.go
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture, updated-aperture-docs

Docs: Minor formatting and link fixes (#3029)
  docs/content/concepts/advanced/agent-group.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
Due: updated-aperture-docs

Fix pre-commit (#3047)
  api/buf.lock
Due: none

Fix calendly link (#3048)
  docs/content/introduction.md
Due: updated-aperture-docs

Fix website product link (#3049)
  docs/content/get-started/get-started.md
  docs/content/introduction.md
Due: updated-aperture-docs

Add mermaid and explanation to openai guide (#3050)
  docs/content/guides/assets/openai/graph.mmd
  docs/content/guides/assets/openai/graph.mmd.md5sum
  docs/content/guides/assets/openai/graph.mmd.svg
  docs/content/guides/openai.md
Due: updated-aperture-docs

Fix pre-commit (#3051)
  api/buf.lock
Due: none

Add partition length metrics to Olric (#3053)
  pkg/dist-cache/dist-cache-metrics.go
  pkg/dist-cache/dist-cache.go
  pkg/metrics/schema.go
Due: updated-aperture

add snippets for ui docs (#3055)
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/per-user-rate-limiting.md
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-js/example/quota_scheduler_example.ts
  sdks/aperture-js/example/rate_limit_example.ts
  sdks/aperture-js/example/ui_snippets.ts
Due: updated-aperture-docs

sdks check should run (#3054)
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-py/aperture_sdk/flow.py
Due: none

Update SDK Docs (#3056)
  api/buf.lock
  docs/content/code-snippets.json
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/go.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/java.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/javascript/javascript.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
  docs/content/sdk/python/python.md
  sdks/aperture-csharp/Examples/Program.cs
  sdks/aperture-go/examples/manual_flow/main.go
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-js/example/quota_scheduler_example.ts
  sdks/aperture-js/example/ui_snippets.ts
  sdks/aperture-py/example/manual_flow.py
Due: updated-aperture-docs

Update UI Code Snippets (#3058)
  api/buf.lock
  sdks/aperture-js/example/ui_snippets.ts
Due: none

update generate snippets (#3059)
  docs/content/code-snippets.json
Due: updated-aperture-docs

Add release jobs for updates on production-saas cluster (#3061)
  .circleci/config.yml
Due: none

Enable Olric read repair (#3062)
  go.mod
  go.sum
  pkg/dist-cache/provider.go
Due: updated-aperture

Add counter panels to rate limiter dashboard (#3064)
  dashboards/grafana/dashboards/summary/rate-limiter/rows.libsonnet
Due: none

Update Guides (#3060)
  docs/content/code-snippets.json
  docs/content/guides/assets/managing-quotas/values.yaml
  docs/content/guides/assets/openai/graph.mmd
  docs/content/guides/assets/openai/graph.mmd.md5sum
  docs/content/guides/assets/openai/graph.mmd.svg
  docs/content/guides/assets/openai/policy.yaml
  docs/content/guides/assets/openai/validate.sh
  docs/content/guides/assets/openai/values1.yaml
  docs/content/guides/assets/openai/values2.yaml
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/guides/assets/per-user-rate-limiting/values.yaml
  docs/content/guides/openai.md
  sdks/aperture-js/example/ui_snippets.ts
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
